.IS2572 {
  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: block;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page input {
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    padding: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page-0 {
    width: 1200px;
    height: 1698px;
    background-image: url(page0.jpg);
  }

  .obj_1 {
    left: 37.5%;
    top: 8.363%;
    width: 51.33%;
    height: 1.119%;
    font-size: 12.000000px;
  }

  .obj_2 {
    left: 37.67%;
    top: 9.717%;
    width: 4.083%;
    height: 1.001%;
    font-size: 12.000000px;
  }

  .obj_3 {
    left: 41.67%;
    top: 9.717%;
    width: 8.583%;
    height: 1.001%;
    font-size: 12.000000px;
  }

  .obj_4 {
    left: 50.25%;
    top: 9.717%;
    width: 18.58%;
    height: 1.001%;
    font-size: 12.000000px;
  }

  .obj_5 {
    left: 46.83%;
    top: 10.72%;
    width: 19%;
    height: 1.001%;
    font-size: 12.000000px;
  }

  .obj_6 {
    left: 37.67%;
    top: 10.72%;
    width: 9.25%;
    height: 1.001%;
    font-size: 12.000000px;
  }

  .obj_7 {
    left: 48.83%;
    top: 21.08%;
    width: 11%;
    height: 1.001%;
    text-align: center;
    font-size: 12.000000px;
  }

  .obj_8 {
    left: 63.08%;
    top: 21.02%;
    width: 13.42%;
    height: 1.001%;
    text-align: center;
    font-size: 12.000000px;
  }

  .obj_9 {
    left: 13.58%;
    top: 21.14%;
    width: 15.5%;
    height: 0.9423%;
    font-size: 12.000000px;
  }

  .obj_10 {
    left: 47.33%;
    top: 24.79%;
    width: 12.42%;
    height: 1.178%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_11 {
    left: 74.83%;
    top: 24.91%;
    width: 14.17%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_12 {
    left: 47.25%;
    top: 27.27%;
    width: 12.58%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_13 {
    left: 47.25%;
    top: 28.68%;
    width: 12.58%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_14 {
    left: 74.83%;
    top: 27.44%;
    width: 14.17%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_15 {
    left: 74.75%;
    top: 28.74%;
    width: 14.25%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_16 {
    left: 47.25%;
    top: 26.09%;
    width: 12.5%;
    height: 1.178%;
    text-align: right;
  }

  .obj_17 {
    left: 74.83%;
    top: 26.21%;
    width: 14.17%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_18 {
    left: 74.83%;
    top: 30.04%;
    width: 14.25%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_19 {
    left: 74.75%;
    top: 31.33%;
    width: 14.25%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_20 {
    left: 74.75%;
    top: 32.63%;
    width: 14.25%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_21 {
    left: 74.75%;
    top: 37.81%;
    width: 14.42%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_22 {
    left: 74.83%;
    top: 39.1%;
    width: 14.17%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_23 {
    left: 74.83%;
    top: 40.46%;
    width: 14.17%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_24 {
    left: 74.83%;
    top: 41.7%;
    width: 14.17%;
    height: 1.178%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_25 {
    left: 74.83%;
    top: 44.35%;
    width: 14.17%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_26 {
    left: 74.83%;
    top: 43.05%;
    width: 14.33%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_27 {
    left: 58%;
    top: 49.29%;
    width: 13.5%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_28 {
    left: 74.75%;
    top: 49.29%;
    width: 14.33%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_29 {
    left: 74.75%;
    top: 50.47%;
    width: 14.25%;
    height: 1.178%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_30 {
    left: 58.08%;
    top: 53.18%;
    width: 13.42%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_31 {
    left: 58.08%;
    top: 54.42%;
    width: 13.33%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_32 {
    left: 74.83%;
    top: 54.48%;
    width: 14.17%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_33 {
    left: 74.83%;
    top: 53.18%;
    width: 14.08%;
    height: 1.178%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_34 {
    left: 74.83%;
    top: 55.83%;
    width: 14.33%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_35 {
    left: 75%;
    top: 57.07%;
    width: 14%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_36 {
    left: 74.75%;
    top: 58.19%;
    width: 14.25%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_37 {
    left: 74.83%;
    top: 59.66%;
    width: 14.08%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_38 {
    left: 74.83%;
    top: 60.95%;
    width: 14.17%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_39 {
    left: 74.83%;
    top: 62.31%;
    width: 14.33%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_40 {
    left: 74.83%;
    top: 63.55%;
    width: 14.17%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_41 {
    left: 74.83%;
    top: 64.84%;
    width: 14.25%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_42 {
    left: 37.67%;
    top: 66.2%;
    width: 51.5%;
    height: 1.001%;
  }

  .obj_43 {
    left: 74.83%;
    top: 67.49%;
    width: 14.33%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_44 {
    left: 74.83%;
    top: 68.67%;
    width: 14.17%;
    height: 1.178%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_45 {
    left: 74.83%;
    top: 72.08%;
    width: 14.33%;
    height: 1.178%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_46 {
    left: 74.83%;
    top: 73.44%;
    width: 14.17%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_47 {
    left: 74.83%;
    top: 74.73%;
    width: 14.17%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_48 {
    left: 74.83%;
    top: 76.03%;
    width: 14.08%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_49 {
    left: 74.83%;
    top: 77.27%;
    width: 14.17%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_50 {
    left: 74.67%;
    top: 78.68%;
    width: 14.33%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_51 {
    left: 74.75%;
    top: 79.86%;
    width: 14.33%;
    height: 1.178%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_52 {
    left: 74.75%;
    top: 81.33%;
    width: 14.25%;
    height: 1.001%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_53 {
    left: 74.75%;
    top: 82.51%;
    width: 14.25%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_54 {
    left: 74.75%;
    top: 83.86%;
    width: 14.25%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_55 {
    left: 74.67%;
    top: 85.16%;
    width: 14.33%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_56 {
    left: 74.83%;
    top: 86.45%;
    width: 14.17%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_57 {
    left: 74.83%;
    top: 87.75%;
    width: 14.25%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_58 {
    left: 74.83%;
    top: 89.05%;
    width: 14.25%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .pdf-page-1 {
    width: 1200px;
    height: 1698px;
    background-image: url(page1.jpg);
  }

  .obj_60 {
    left: 58.08%;
    top: 2.709%;
    width: 13.25%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_61 {
    left: 58.08%;
    top: 3.946%;
    width: 13.5%;
    height: 1.178%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_62 {
    left: 74.83%;
    top: 2.709%;
    width: 14.17%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_63 {
    left: 74.75%;
    top: 4.005%;
    width: 14.33%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_64 {
    left: 74.83%;
    top: 5.3%;
    width: 14.25%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_65 {
    left: 74.83%;
    top: 6.596%;
    width: 14.17%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_66 {
    left: 37.58%;
    top: 7.892%;
    width: 51.42%;
    height: 1.06%;
  }

  .obj_67 {
    left: 74.92%;
    top: 9.187%;
    width: 14.17%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_68 {
    left: 74.83%;
    top: 10.48%;
    width: 14.17%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_69 {
    left: 74.75%;
    top: 13.02%;
    width: 14.33%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_70 {
    left: 74.75%;
    top: 16.9%;
    width: 14.25%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_71 {
    left: 51.17%;
    top: 20.26%;
    width: 12.25%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_72 {
    left: 74.67%;
    top: 20.14%;
    width: 14.33%;
    height: 1.178%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_73 {
    left: 74.75%;
    top: 21.55%;
    width: 14.33%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_74 {
    left: 74.75%;
    top: 22.79%;
    width: 14.33%;
    height: 1.178%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_75 {
    left: 74.67%;
    top: 24.09%;
    width: 14.33%;
    height: 1.178%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_76 {
    left: 74.75%;
    top: 28.5%;
    width: 14.25%;
    height: 1.178%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_77 {
    left: 74.83%;
    top: 29.8%;
    width: 14.25%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_78 {
    left: 74.83%;
    top: 31.15%;
    width: 14.25%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_79 {
    left: 54.75%;
    top: 36.93%;
    width: 11.92%;
    height: 1.178%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_80 {
    left: 54.83%;
    top: 38.28%;
    width: 11.83%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_81 {
    left: 54.75%;
    top: 39.52%;
    width: 11.92%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_82 {
    left: 54.67%;
    top: 40.69%;
    width: 12%;
    height: 1.296%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_83 {
    left: 54.67%;
    top: 42.4%;
    width: 12.17%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_84 {
    left: 71.33%;
    top: 40.81%;
    width: 12.08%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_85 {
    left: 71.33%;
    top: 39.52%;
    width: 12.17%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_86 {
    left: 71.42%;
    top: 38.22%;
    width: 12%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_87 {
    left: 71.42%;
    top: 36.93%;
    width: 12%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_88 {
    left: 71.25%;
    top: 50.18%;
    width: 12.17%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_89 {
    left: 71.33%;
    top: 51.83%;
    width: 12.17%;
    height: 1.296%;
    text-align: right;
  }

  .obj_90 {
    left: 73.08%;
    top: 54.59%;
    width: 8.667%;
    height: 1.119%;
    text-align: right;
  }

  .obj_91 {
    left: 71.33%;
    top: 57.18%;
    width: 12.25%;
    height: 1.119%;
    text-align: right;
  }

  .obj_92 {
    left: 51.33%;
    top: 54.53%;
    width: 8.5%;
    height: 1.178%;
  }

  .obj_93 {
    left: 25.67%;
    top: 54.59%;
    width: 8.75%;
    height: 1.06%;
    text-align: right;
  }

  .obj_94 {
    left: 17%;
    top: 60.95%;
    width: 8.667%;
    height: 1.06%;
    font-size: 12.000000px;
  }

  .obj_95 {
    left: 34.17%;
    top: 60.95%;
    width: 9.667%;
    height: 1.06%;
    font-size: 12.000000px;
  }

  .obj_96 {
    left: 24%;
    top: 67.43%;
    width: 8.667%;
    height: 1.06%;
    text-align: right;
  }

  .obj_97 {
    left: 48.83%;
    top: 67.31%;
    width: 9.25%;
    height: 1.178%;
    font-size: 12.000000px;
  }

  .obj_98 {
    left: 74.83%;
    top: 67.43%;
    width: 8.667%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_99 {
    left: 16.92%;
    top: 62.07%;
    width: 2%;
    height: 1.237%;
    margin: 0px 0px 0px 0px;
  }

  .obj_100 {
    left: 16.92%;
    top: 63.49%;
    width: 2.083%;
    height: 1.296%;
    margin: 0px 0px 0px 0px;
  }

  .obj_101 {
    left: 37.5%;
    top: 62.13%;
    width: 2.083%;
    height: 1.296%;
    margin: 0px 0px 0px 0px;
  }

  .obj_102 {
    left: 71.92%;
    top: 44.58%;
    width: 11.5%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_103 {
    left: 71.92%;
    top: 45.88%;
    width: 11.5%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_104 {
    left: 72%;
    top: 47.17%;
    width: 11.42%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_105 {
    left: 72%;
    top: 48.47%;
    width: 11.42%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .pdf-page input {
    text-align: right;
    padding-right: 7px;
  }

  .pdf-page input.pde-form-field-text {
    text-align: left;
    padding-left: 7px;
  }
}

.pdf-input-text-align-left {
  text-align: start!important;
  padding-left: 5px!important;
}

