.form-tax-declaration-2035a {
  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: block;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page input {
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    padding: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page-0 {
    width: 1200px;
    height: 1697px;
    background-image: url(page0.jpg);
  }

  .obj_1 {
    left: 94.17%;
    top: 4.125%;
    width: 1.75%;
    height: 1.237%;
    margin: 0px 0px 0px 0px;
  }

  .obj_2 {
    left: 55.75%;
    top: 16.79%;
    width: 2.75%;
    height: 1.827%;
    margin: 0px 0px 0px 0px;
  }

  .obj_3 {
    left: 82.42%;
    top: 16.79%;
    width: 2.5%;
    height: 1.827%;
    margin: 0px 0px 0px 0px;
  }

  .obj_4 {
    left: 38.42%;
    top: 18.86%;
    width: 2.917%;
    height: 1.827%;
    margin: 0px 0px 0px 0px;
  }

  .obj_5 {
    left: 58.75%;
    top: 18.86%;
    width: 2.417%;
    height: 1.827%;
    margin: 0px 0px 0px 0px;
  }

  .obj_6 {
    left: 82.42%;
    top: 18.86%;
    width: 2.5%;
    height: 1.827%;
    margin: 0px 0px 0px 0px;
  }

  .obj_7 {
    left: 46.17%;
    top: 12.79%;
    width: 28.92%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_8 {
    left: 91.5%;
    top: 12.79%;
    width: 4.417%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_9 {
    left: 91.5%;
    top: 14.79%;
    width: 4.583%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_10 {
    left: 75.33%;
    top: 14.79%;
    width: 2.167%;
    height: 1.827%;
    margin: 0px 0px 0px 0px;
  }

  .obj_11 {
    left: 35.25%;
    top: 20.86%;
    width: 2.917%;
    height: 2.887%;
    margin: 0px 0px 0px 0px;
  }

  .obj_12 {
    left: 49.33%;
    top: 20.86%;
    width: 6.167%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_13 {
    left: 67.67%;
    top: 20.86%;
    width: 4.583%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_14 {
    left: 85.17%;
    top: 20.86%;
    width: 10.75%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_15 {
    left: 55.75%;
    top: 23.92%;
    width: 11.67%;
    height: 2.357%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_16 {
    left: 79.42%;
    top: 26.34%;
    width: 16.5%;
    height: 2.416%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_17 {
    left: 79.42%;
    top: 28.93%;
    width: 16.5%;
    height: 1.473%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_18 {
    left: 79.42%;
    top: 30.52%;
    width: 16.5%;
    height: 1.414%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_19 {
    left: 79.42%;
    top: 32.17%;
    width: 16.5%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_20 {
    left: 79.42%;
    top: 34.18%;
    width: 16.5%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_21 {
    left: 79.42%;
    top: 36.42%;
    width: 16.5%;
    height: 1.65%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_22 {
    left: 79.42%;
    top: 38.19%;
    width: 16.5%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_23 {
    left: 79.42%;
    top: 42.78%;
    width: 16.5%;
    height: 1.532%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_24 {
    left: 79.42%;
    top: 41.31%;
    width: 16.5%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_25 {
    left: 79.42%;
    top: 44.49%;
    width: 16.5%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_26 {
    left: 79.42%;
    top: 46.49%;
    width: 16.5%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_27 {
    left: 79.42%;
    top: 48.44%;
    width: 16.5%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_28 {
    left: 79.42%;
    top: 50.32%;
    width: 16.5%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_29 {
    left: 79.42%;
    top: 52.5%;
    width: 16.5%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_30 {
    left: 79.42%;
    top: 54.51%;
    width: 16.5%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_31 {
    left: 79.42%;
    top: 56.51%;
    width: 16.5%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_32 {
    left: 61.5%;
    top: 57.45%;
    width: 13%;
    height: 1.473%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_33 {
    left: 53.92%;
    top: 30.35%;
    width: 7.917%;
    height: 1.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_34 {
    left: 79.42%;
    top: 58.75%;
    width: 16.5%;
    height: 5.893%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_35 {
    left: 79.42%;
    top: 64.82%;
    width: 16.5%;
    height: 10.02%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_36 {
    left: 79.42%;
    top: 75.01%;
    width: 16.5%;
    height: 3.889%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_37 {
    left: 79.42%;
    top: 79.08%;
    width: 16.5%;
    height: 6.011%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_38 {
    left: 79.42%;
    top: 85.15%;
    width: 16.5%;
    height: 5.716%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_39 {
    left: 79.42%;
    top: 90.93%;
    width: 16.5%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_40 {
    left: 79.42%;
    top: 93.05%;
    width: 16.5%;
    height: 2.121%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_41 {
    left: 44.67%;
    top: 58.87%;
    width: 16.17%;
    height: 1.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_42 {
    left: 44.67%;
    top: 60.64%;
    width: 16.17%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_43 {
    left: 44.67%;
    top: 62.52%;
    width: 16.17%;
    height: 2.357%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_44 {
    left: 44.67%;
    top: 64.94%;
    width: 16.17%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_45 {
    left: 44.67%;
    top: 67.18%;
    width: 16.17%;
    height: 1.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_46 {
    left: 44.67%;
    top: 69%;
    width: 16.17%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_47 {
    left: 44.67%;
    top: 71.13%;
    width: 16.17%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_48 {
    left: 44.67%;
    top: 74.9%;
    width: 16.17%;
    height: 2.593%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_49 {
    left: 37.58%;
    top: 73.72%;
    width: 2.417%;
    height: 1.12%;
    margin: 0px 0px 0px 0px;
  }

  .obj_50 {
    left: 44.67%;
    top: 78.14%;
    width: 9.917%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_51 {
    left: 66.67%;
    top: 78.14%;
    width: 9.667%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_52 {
    left: 44.67%;
    top: 79.43%;
    width: 16.17%;
    height: 1.473%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_53 {
    left: 44.67%;
    top: 81.08%;
    width: 16.17%;
    height: 2.239%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_54 {
    left: 44.67%;
    top: 83.5%;
    width: 16.17%;
    height: 1.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_55 {
    left: 44.67%;
    top: 85.27%;
    width: 16.17%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_56 {
    left: 44.67%;
    top: 87.27%;
    width: 16.17%;
    height: 1.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_57 {
    left: 46.08%;
    top: 10.67%;
    width: 49.92%;
    height: 1.945%;
  }

  .obj_58 {
    left: 30.08%;
    top: 14.67%;
    width: 29.83%;
    height: 2.062%;
    font-size: 12.000000px;
  }

  .pdf-page input {
    text-align: right;
    padding-right: 7px;
  }

  .pdf-page input.pde-form-field-text {
    text-align: left;
    padding-left: 7px;
  }
}
