@import "assets/theme/overflow.scss";

.button {
  justify-content: flex-end;
  display: flex;
}

.accountingContainer {
  @extend .overflowContainer;

  display: block;

  background-color: white;
  margin-bottom: 20px;

  .header {
    @extend .overflowSticky;

    display: flex;

    margin-bottom: 1rem;

    .title {
      flex: 1;

      margin-top: auto;
      margin-bottom: auto;
    }
  }

  > div {
    padding: 20px;
  }

  .emptySlave {
    @extend .overflowSticky;

    margin: 0;
    padding: 20px;
  }
}

