@import "assets/colors/colors.scss";

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  padding: 20px 20px 0px 20px;
  border-radius: 0px 2px 2px 2px;
  box-shadow: 2px 2px 4px 0 $box-shadow;
  background-color: $white;
}

.stepperTabs {
  margin-right: 40px;
  cursor: pointer;
}

.stepperTabsSelected {
  border-bottom: 2px solid $color-primary;
  margin-top: 12px;
}

.stepperTabsNotSelected {
  border-bottom: 2px solid $white;
  margin-top: 12px;
}