.form-tax-declaration-2065bis {
  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: block;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page input {
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    padding: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page-0 {
    width: 1200px;
    height: 1697px;
    background-image: url(page0.jpg);
  }

  .obj_1 {
    left: 46.17%;
    top: 9.428%;
    width: 7.833%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_2 {
    left: 88.5%;
    top: 9.428%;
    width: 8.667%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_3 {
    left: 81.75%;
    top: 11.31%;
    width: 15.42%;
    height: 1.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_4 {
    left: 81.75%;
    top: 13.14%;
    width: 15.42%;
    height: 2.18%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_5 {
    left: 81.75%;
    top: 15.38%;
    width: 15.42%;
    height: 1.473%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_6 {
    left: 81.75%;
    top: 16.91%;
    width: 15.42%;
    height: 1.414%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_7 {
    left: 81.75%;
    top: 18.39%;
    width: 15.42%;
    height: 1.473%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_8 {
    left: 81.75%;
    top: 19.92%;
    width: 15.42%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_9 {
    left: 20.17%;
    top: 15.38%;
    width: 58.83%;
    height: 1.473%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_10 {
    left: 20.17%;
    top: 16.91%;
    width: 58.83%;
    height: 1.414%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_11 {
    left: 20.17%;
    top: 18.39%;
    width: 58.83%;
    height: 1.473%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_12 {
    left: 20.17%;
    top: 19.92%;
    width: 58.83%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_13 {
    left: 81.75%;
    top: 21.33%;
    width: 15.42%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_14 {
    left: 81.75%;
    top: 23.28%;
    width: 15.42%;
    height: 1.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_15 {
    left: 81.75%;
    top: 24.93%;
    width: 15.42%;
    height: 1.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_16 {
    left: 2.417%;
    top: 43.25%;
    width: 4.083%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_17 {
    left: 37.42%;
    top: 43.19%;
    width: 8.667%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_18 {
    left: 37.42%;
    top: 46.14%;
    width: 8.667%;
    height: 2.946%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_19 {
    left: 37.42%;
    top: 49.15%;
    width: 8.667%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_20 {
    left: 37.42%;
    top: 52.09%;
    width: 8.667%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_21 {
    left: 37.42%;
    top: 55.04%;
    width: 8.667%;
    height: 2.946%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_22 {
    left: 37.42%;
    top: 58.04%;
    width: 8.667%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_23 {
    left: 46.17%;
    top: 58.04%;
    width: 7.833%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_24 {
    left: 46.17%;
    top: 55.04%;
    width: 7.833%;
    height: 2.946%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_25 {
    left: 46.17%;
    top: 52.09%;
    width: 7.833%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_26 {
    left: 46.17%;
    top: 49.15%;
    width: 7.833%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_27 {
    left: 46.17%;
    top: 46.14%;
    width: 7.833%;
    height: 2.946%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_28 {
    left: 46.17%;
    top: 43.19%;
    width: 7.833%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_29 {
    left: 54.08%;
    top: 58.04%;
    width: 10.33%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_30 {
    left: 54.08%;
    top: 55.04%;
    width: 10.33%;
    height: 2.946%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_31 {
    left: 54.08%;
    top: 52.09%;
    width: 10.33%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_32 {
    left: 54.08%;
    top: 46.14%;
    width: 10.33%;
    height: 2.946%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_33 {
    left: 54.08%;
    top: 49.15%;
    width: 10.33%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_34 {
    left: 54.08%;
    top: 43.19%;
    width: 10.33%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_35 {
    left: 64.5%;
    top: 58.04%;
    width: 7.583%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_36 {
    left: 64.5%;
    top: 55.04%;
    width: 7.583%;
    height: 2.946%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_37 {
    left: 64.5%;
    top: 52.09%;
    width: 7.583%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_38 {
    left: 64.5%;
    top: 49.15%;
    width: 7.583%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_39 {
    left: 64.5%;
    top: 46.14%;
    width: 7.583%;
    height: 2.946%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_40 {
    left: 64.5%;
    top: 43.19%;
    width: 7.583%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_41 {
    left: 72.17%;
    top: 58.04%;
    width: 9.5%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_42 {
    left: 72.17%;
    top: 55.04%;
    width: 9.5%;
    height: 2.946%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_43 {
    left: 72.17%;
    top: 52.09%;
    width: 9.5%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_44 {
    left: 72.17%;
    top: 49.15%;
    width: 9.5%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_45 {
    left: 72.17%;
    top: 46.14%;
    width: 9.5%;
    height: 2.946%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_46 {
    left: 72.17%;
    top: 43.19%;
    width: 9.5%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_47 {
    left: 81.75%;
    top: 58.04%;
    width: 6.667%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_48 {
    left: 81.75%;
    top: 55.04%;
    width: 6.667%;
    height: 2.946%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_49 {
    left: 81.75%;
    top: 52.09%;
    width: 6.667%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_50 {
    left: 81.75%;
    top: 49.15%;
    width: 6.667%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_51 {
    left: 81.75%;
    top: 46.14%;
    width: 6.667%;
    height: 2.946%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_52 {
    left: 81.75%;
    top: 43.19%;
    width: 6.667%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_53 {
    left: 88.5%;
    top: 58.04%;
    width: 8.667%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_54 {
    left: 88.5%;
    top: 55.04%;
    width: 8.667%;
    height: 2.946%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_55 {
    left: 88.5%;
    top: 52.09%;
    width: 8.667%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_56 {
    left: 88.5%;
    top: 49.15%;
    width: 8.667%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_57 {
    left: 88.5%;
    top: 46.2%;
    width: 8.667%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_58 {
    left: 88.5%;
    top: 43.19%;
    width: 8.667%;
    height: 2.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_59 {
    left: 2.25%;
    top: 63.88%;
    width: 94.92%;
    height: 2.652%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_60 {
    left: 2.25%;
    top: 68%;
    width: 94.92%;
    height: 4.243%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_61 {
    left: 43.5%;
    top: 75.6%;
    width: 10.5%;
    height: 2.829%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_62 {
    left: 43.5%;
    top: 78.49%;
    width: 10.5%;
    height: 2.77%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_63 {
    left: 86.08%;
    top: 75.6%;
    width: 11.08%;
    height: 1.414%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_64 {
    left: 86.08%;
    top: 79.91%;
    width: 11.08%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_65 {
    left: 86.08%;
    top: 78.49%;
    width: 11.08%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_66 {
    left: 86.08%;
    top: 77.08%;
    width: 11.08%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_67 {
    left: 6.583%;
    top: 43.25%;
    width: 3.917%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_68 {
    left: 10.58%;
    top: 43.25%;
    width: 4.75%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_69 {
    left: 15.5%;
    top: 43.25%;
    width: 21.83%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_70 {
    left: 2.417%;
    top: 44.67%;
    width: 9.583%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_71 {
    left: 12.08%;
    top: 44.61%;
    width: 25.33%;
    height: 1.473%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_72 {
    left: 2.333%;
    top: 46.2%;
    width: 4.083%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_73 {
    left: 6.583%;
    top: 46.26%;
    width: 3.833%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_74 {
    left: 10.5%;
    top: 46.2%;
    width: 4.833%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_75 {
    left: 15.42%;
    top: 46.2%;
    width: 21.83%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_76 {
    left: 2.333%;
    top: 47.61%;
    width: 9.583%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_77 {
    left: 12.08%;
    top: 47.55%;
    width: 25.33%;
    height: 1.532%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_78 {
    left: 2.417%;
    top: 49.15%;
    width: 4.083%;
    height: 1.414%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_79 {
    left: 6.583%;
    top: 49.2%;
    width: 3.917%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_80 {
    left: 10.58%;
    top: 49.15%;
    width: 4.75%;
    height: 1.414%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_81 {
    left: 15.5%;
    top: 49.15%;
    width: 21.83%;
    height: 1.414%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_82 {
    left: 2.417%;
    top: 50.56%;
    width: 9.583%;
    height: 1.414%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_83 {
    left: 12.08%;
    top: 50.56%;
    width: 25.33%;
    height: 1.473%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_84 {
    left: 2.417%;
    top: 52.09%;
    width: 4.083%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_85 {
    left: 6.583%;
    top: 52.15%;
    width: 3.917%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_86 {
    left: 10.58%;
    top: 52.09%;
    width: 4.75%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_87 {
    left: 15.5%;
    top: 52.09%;
    width: 21.83%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_88 {
    left: 2.417%;
    top: 53.51%;
    width: 9.583%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_89 {
    left: 12.08%;
    top: 53.51%;
    width: 25.33%;
    height: 1.473%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_90 {
    left: 2.333%;
    top: 55.1%;
    width: 4.083%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_91 {
    left: 6.583%;
    top: 55.16%;
    width: 3.833%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_92 {
    left: 10.5%;
    top: 55.1%;
    width: 4.833%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_93 {
    left: 15.42%;
    top: 55.1%;
    width: 21.83%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_94 {
    left: 2.333%;
    top: 56.51%;
    width: 9.583%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_95 {
    left: 12.08%;
    top: 56.51%;
    width: 25.33%;
    height: 1.473%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_96 {
    left: 2.333%;
    top: 58.04%;
    width: 4.083%;
    height: 1.414%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_97 {
    left: 6.583%;
    top: 58.1%;
    width: 3.833%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_98 {
    left: 10.5%;
    top: 58.04%;
    width: 4.833%;
    height: 1.414%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_99 {
    left: 15.42%;
    top: 58.04%;
    width: 21.83%;
    height: 1.414%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_100 {
    left: 2.333%;
    top: 59.52%;
    width: 9.583%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_101 {
    left: 12.08%;
    top: 59.46%;
    width: 25.33%;
    height: 1.473%;
    text-align: right;
    font-size: 12.000000px;
  }

  .pdf-page input {
    text-align: right;
    padding-right: 7px;
  }
}
