@import "assets/colors/colors.scss";

.ocr {
    .ocr__header__container {
        padding: 20px 20px;
        border-radius: 2px;
        box-shadow: 2px 2px 4px 0 $box-shadow;
        background-color: $white;
        margin-top: 0px;

        .ocr__header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 20px;
        }
    }

    .ocr__filesdropper__container {
        margin-top: 20px;
        padding: 20px 0px;
        border-radius: 2px;
        box-shadow: 2px 2px 4px 0 $box-shadow;
        background-color: $white;


        .ocr__filesdropper__container__item {
            padding: 0 20px;
        }
    }

    .ocr__files-informations {
        margin-top: 20px;
        padding: 30px 28px 40px 21px;
    }
}
