@import "assets/colors/colors.scss";

.toolbar {
  display: flex;
  justify-content: center;

  > * {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }

  .master {
    position: relative;

    span span::after {
      content: "";

      position: absolute;
      top: 6px;
      left: 6px;
      height: 7px;
      width: 20px;

      border: 2px solid $color-primary;
    }
  }

  .slave {
    position: relative;

    span span::after {
      content: "";

      position: absolute;
      top: 19px;
      left: 6px;
      height: 7px;
      width: 20px;

      border: 2px solid $color-primary;
    }
  }
}
