.container {
  padding: 18px 14px
}

.fieldContainer {
  width: 250px;
}

.selectionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 22px;
}

.modelFieldContainer {
  margin-left: 20px;
}
