@import "assets/colors/colors.scss";

.popoverSocieties {
  height: auto;
  width: 208px;
  padding-bottom:10px;
  padding-top:10px;
  padding-right: 5px;
  overflow: hidden;
}

.search {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 200px;
  margin-left: 8px;
  margin-right: 22px;
  margin-bottom: 5px;
}

.search_icon {
  color: rgba(0, 0, 0, 0.87);
  margin-top: 10px;
  margin-right: 5px;
}

.list {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 240px;
  overflow: auto;
}

.list_item {
  justify-content: flex-start;
  width: 190px;
  font-family: "basier_circleregular";
  font-size: 14px;
  display: flex;
  color: $black;
}

.no_item {
  font-family: "basier_circlemedium";
  justify-content: center;
  font-size: 16px;
  margin-left: 8px;
}

.avatar {
  width: 20px !important;
  height: 20px !important;
}

.societyId {
  color: $light-500-grey;
  flex: 1;
}

.societyName {
  flex: 2.5;
}
