.form-tax-declaration-2033g {
  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: block;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page input {
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    padding: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page-0 {
    width: 1200px;
    height: 1552px;
    background-image: url(page0.jpg);
  }

  .obj_1 {
    left: 86.25%;
    top: 6.894%;
    width: 2.167%;
    height: 1.74%;
    margin: 0px 0px 0px 0px;
  }

  .obj_2 {
    left: 18.42%;
    top: 21.91%;
    width: 9.083%;
    height: 1.611%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_3 {
    left: 38%;
    top: 21.91%;
    width: 50.08%;
    height: 1.611%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_4 {
    left: 28.42%;
    top: 23.78%;
    width: 16.42%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_5 {
    left: 76.58%;
    top: 24.1%;
    width: 11.5%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_6 {
    left: 17.75%;
    top: 26.03%;
    width: 4.667%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_7 {
    left: 22.67%;
    top: 26.03%;
    width: 4.5%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_8 {
    left: 37.33%;
    top: 26.03%;
    width: 5.083%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_9 {
    left: 42.58%;
    top: 26.16%;
    width: 45.58%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_10 {
    left: 22.17%;
    top: 28.22%;
    width: 9.25%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_11 {
    left: 40.67%;
    top: 28.22%;
    width: 30.17%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_12 {
    left: 76.25%;
    top: 28.22%;
    width: 11.83%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_13 {
    left: 18.42%;
    top: 31.12%;
    width: 9.083%;
    height: 1.546%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_14 {
    left: 38%;
    top: 31.12%;
    width: 50.08%;
    height: 1.546%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_15 {
    left: 76.58%;
    top: 33.25%;
    width: 11.5%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_16 {
    left: 76.25%;
    top: 37.44%;
    width: 11.83%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_17 {
    left: 42.58%;
    top: 35.31%;
    width: 45.58%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_18 {
    left: 40.67%;
    top: 37.44%;
    width: 30.17%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_19 {
    left: 37.33%;
    top: 35.18%;
    width: 5.083%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_20 {
    left: 28.42%;
    top: 32.99%;
    width: 16.42%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_21 {
    left: 17.75%;
    top: 35.24%;
    width: 4.667%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_22 {
    left: 22.67%;
    top: 35.24%;
    width: 4.5%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_23 {
    left: 22.17%;
    top: 37.44%;
    width: 9.25%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_24 {
    left: 18.5%;
    top: 40.34%;
    width: 9%;
    height: 1.611%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_25 {
    left: 38.08%;
    top: 40.34%;
    width: 50.08%;
    height: 1.611%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_26 {
    left: 76.58%;
    top: 42.46%;
    width: 11.58%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_27 {
    left: 76.33%;
    top: 46.65%;
    width: 11.83%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_28 {
    left: 42.58%;
    top: 44.39%;
    width: 45.67%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_29 {
    left: 40.67%;
    top: 46.65%;
    width: 30.17%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_30 {
    left: 37.42%;
    top: 44.39%;
    width: 5.083%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_31 {
    left: 28.5%;
    top: 42.2%;
    width: 16.42%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_32 {
    left: 17.83%;
    top: 44.46%;
    width: 4.583%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_33 {
    left: 22.67%;
    top: 44.46%;
    width: 4.583%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_34 {
    left: 22.25%;
    top: 46.65%;
    width: 9.167%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_35 {
    left: 18.58%;
    top: 49.42%;
    width: 9.083%;
    height: 1.546%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_36 {
    left: 38.17%;
    top: 49.42%;
    width: 50.08%;
    height: 1.546%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_37 {
    left: 76.75%;
    top: 51.55%;
    width: 11.5%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_38 {
    left: 76.42%;
    top: 55.73%;
    width: 11.83%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_39 {
    left: 42.67%;
    top: 53.61%;
    width: 45.67%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_40 {
    left: 40.83%;
    top: 55.73%;
    width: 30.17%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_41 {
    left: 37.5%;
    top: 53.48%;
    width: 5.083%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_42 {
    left: 28.58%;
    top: 51.22%;
    width: 16.42%;
    height: 1.997%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_43 {
    left: 17.92%;
    top: 53.54%;
    width: 4.667%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_44 {
    left: 22.83%;
    top: 53.54%;
    width: 4.5%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_45 {
    left: 22.33%;
    top: 55.73%;
    width: 9.25%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_46 {
    left: 18.58%;
    top: 58.7%;
    width: 9%;
    height: 1.546%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_47 {
    left: 38.17%;
    top: 58.7%;
    width: 50.08%;
    height: 1.546%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_48 {
    left: 76.67%;
    top: 60.82%;
    width: 11.58%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_49 {
    left: 76.33%;
    top: 65.01%;
    width: 11.92%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_50 {
    left: 42.67%;
    top: 62.89%;
    width: 45.58%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_51 {
    left: 40.75%;
    top: 65.01%;
    width: 30.17%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_52 {
    left: 37.5%;
    top: 62.76%;
    width: 5%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_53 {
    left: 28.5%;
    top: 60.5%;
    width: 16.5%;
    height: 1.997%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_54 {
    left: 17.92%;
    top: 62.82%;
    width: 4.583%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_55 {
    left: 22.75%;
    top: 62.82%;
    width: 4.583%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_56 {
    left: 22.33%;
    top: 65.01%;
    width: 9.167%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_57 {
    left: 18.5%;
    top: 67.78%;
    width: 9%;
    height: 1.546%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_58 {
    left: 38.08%;
    top: 67.78%;
    width: 50.08%;
    height: 1.546%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_59 {
    left: 76.58%;
    top: 69.97%;
    width: 11.58%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_60 {
    left: 76.33%;
    top: 74.1%;
    width: 11.83%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_61 {
    left: 42.58%;
    top: 71.97%;
    width: 45.67%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_62 {
    left: 40.67%;
    top: 74.1%;
    width: 30.17%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_63 {
    left: 37.42%;
    top: 71.91%;
    width: 5.083%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_64 {
    left: 28.5%;
    top: 69.65%;
    width: 16.42%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_65 {
    left: 17.83%;
    top: 71.97%;
    width: 4.583%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_66 {
    left: 22.67%;
    top: 71.97%;
    width: 4.583%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_67 {
    left: 22.25%;
    top: 74.1%;
    width: 9.167%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_68 {
    left: 18.25%;
    top: 76.93%;
    width: 9.083%;
    height: 1.546%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_69 {
    left: 37.83%;
    top: 76.93%;
    width: 50.08%;
    height: 1.546%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_70 {
    left: 76.42%;
    top: 79.06%;
    width: 11.5%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_71 {
    left: 76.08%;
    top: 83.25%;
    width: 11.83%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_72 {
    left: 42.42%;
    top: 81.12%;
    width: 45.58%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_73 {
    left: 40.5%;
    top: 83.25%;
    width: 30.17%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_74 {
    left: 37.17%;
    top: 80.99%;
    width: 5.083%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_75 {
    left: 28.25%;
    top: 78.8%;
    width: 16.42%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_76 {
    left: 17.58%;
    top: 81.06%;
    width: 4.667%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_77 {
    left: 22.5%;
    top: 81.06%;
    width: 4.5%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_78 {
    left: 22%;
    top: 83.25%;
    width: 9.25%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_79 {
    left: 18.42%;
    top: 86.21%;
    width: 9.083%;
    height: 1.546%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_80 {
    left: 38%;
    top: 86.21%;
    width: 50.08%;
    height: 1.546%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_81 {
    left: 76.58%;
    top: 88.34%;
    width: 11.5%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_82 {
    left: 76.25%;
    top: 92.46%;
    width: 11.83%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_83 {
    left: 42.58%;
    top: 90.34%;
    width: 45.58%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_84 {
    left: 40.67%;
    top: 92.46%;
    width: 30.17%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_85 {
    left: 37.33%;
    top: 90.27%;
    width: 5.083%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_86 {
    left: 28.42%;
    top: 88.02%;
    width: 16.42%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_87 {
    left: 17.75%;
    top: 90.34%;
    width: 4.667%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_88 {
    left: 22.67%;
    top: 90.34%;
    width: 4.5%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_89 {
    left: 22.17%;
    top: 92.46%;
    width: 9.25%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_90 {
    left: 25.58%;
    top: 12.31%;
    width: 63.5%;
    height: 1.611%;
  }

  .obj_91 {
    left: 31.83%;
    top: 16.75%;
    width: 57.25%;
    height: 1.74%;
  }

  .obj_92 {
    left: 15.92%;
    top: 16.75%;
    width: 9.083%;
    height: 1.74%;
  }

  .obj_93 {
    left: 72.75%;
    top: 10.12%;
    width: 16.25%;
    height: 1.611%;
  }

  .obj_94 {
    left: 17.67%;
    top: 9.665%;
    width: 14.33%;
    height: 1.997%;
  }

  .obj_95 {
    left: 52.83%;
    top: 18.94%;
    width: 5.167%;
    height: 1.804%;
  }

  .obj_96 {
    left: 17.5%;
    top: 14.69%;
    width: 4%;
    height: 1.482%;
    font-size: 12.000000px;
  }

  .obj_97 {
    left: 21.42%;
    top: 14.69%;
    width: 8.333%;
    height: 1.482%;
  }

  .obj_98 {
    left: 29.75%;
    top: 14.69%;
    width: 28.75%;
    height: 1.482%;
  }

  .pdf-page input {
    text-align: right;
    padding-right: 7px;
  }

  .pdf-page input.pde-form-field-text {
    text-align: left;
    padding-left: 7px;
  }
}
