@import "assets/theme/overflow.scss";

.container {
  @extend .overflowContainer;

  background-color: white;

  > div {
    padding: 20px;
  }

  .header {
    @extend .overflowSticky;

    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;

    .title {
      margin-right: auto;
    }

    .noPadding {
      min-height: 36px;
      min-width: 36px;

      padding: 2px;
    }

    > button {
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  .overflowContained {
    z-index: 2;
  }

  .buttonBar {
    @extend .overflowSticky;

    display: flex;
    justify-content: flex-end;

    z-index: 0;
    margin-top: 20px;
  }
}
