@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uzfapl');
  src:  url('fonts/icomoon.eot?uzfapl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uzfapl') format('truetype'),
    url('fonts/icomoon.woff?uzfapl') format('woff'),
    url('fonts/icomoon.svg?uzfapl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-support:before {
  content: "\e902";
}
.icon-upload:before {
  content: "\e901";
}
.icon-up:before {
  content: "\e900";
}
.icon-human:before {
  content: "\e95e";
}
.icon-smiley:before {
  content: "\e95b";
}
.icon-filter1:before {
  content: "\e95c";
}
.icon-lock:before {
  content: "\e95d";
}
.icon-Flag:before {
  content: "\e941";
}
.icon-download:before {
  content: "\e93b";
}
.icon-options:before {
  content: "\e93c";
}
.icon-list:before {
  content: "\e93d";
}
.icon-miniature:before {
  content: "\e93e";
}
.icon-files:before {
  content: "\e93f";
}
.icon-declarations:before {
  content: "\e940";
}
.icon-nav-left:before {
  content: "\e937";
}
.icon-delettrage:before {
  content: "\e921";
}
.icon-shortcuts1:before {
  content: "\e93a";
}
.icon-parametres:before {
  content: "\e90c";
}
.icon-tenue:before {
  content: "\e91a";
}
.icon-overview:before {
  content: "\e91b";
}
.icon-ecosysteme:before {
  content: "\e91c";
}
.icon-calculator:before {
  content: "\e91d";
}
.icon-oeil:before {
  content: "\e938";
}
.icon-lettrer:before {
  content: "\e939";
}
.icon-shortcuts:before {
  content: "\e935";
}
.icon-balance:before {
  content: "\e936";
}
.icon-nav1:before {
  content: "\e91f";
}
.icon-nav:before {
  content: "\e920";
}
.icon-archive:before {
  content: "\e934";
}
.icon-detach .path1:before {
  content: "\e931";
  color: rgb(0, 0, 0);
}
.icon-detach .path2:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-detach .path3:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(12, 3, 3);
}
.icon-link:before {
  content: "\e957";
}
.icon-receipt:before {
  content: "\e958";
}
.icon-attach:before {
  content: "\e922";
}
.icon-crm:before {
  content: "\e923";
}
.icon-exchanges:before {
  content: "\e924";
}
.icon-print:before {
  content: "\e925";
}
.icon-zoomin:before {
  content: "\e926";
}
.icon-A4:before {
  content: "\e927";
}
.icon-account-info:before {
  content: "\e928";
}
.icon-account-list:before {
  content: "\e929";
}
.icon-addcolumn:before {
  content: "\e92a";
}
.icon-alert:before {
  content: "\e92b";
}
.icon-arrow:before {
  content: "\e956";
}
.icon-attachment:before {
  content: "\e959";
}
.icon-autosaisie:before {
  content: "\e92c";
}
.icon-calendar:before {
  content: "\e92d";
}
.icon-check:before {
  content: "\e92e";
}
.icon-close:before {
  content: "\e92f";
}
.icon-comments:before {
  content: "\e930";
}
.icon-copy:before {
  content: "\e942";
}
.icon-deconnect:before {
  content: "\e943";
}
.icon-docs:before {
  content: "\e944";
}
.icon-edit:before {
  content: "\e945";
}
.icon-eye:before {
  content: "\e946";
}
.icon-Logo:before {
  content: "\e947";
}
.icon-minus:before {
  content: "\e955";
}
.icon-pencil:before {
  content: "\e95a";
}
.icon-plus:before {
  content: "\e948";
}
.icon-popup:before {
  content: "\e949";
}
.icon-progress:before {
  content: "\e94a";
}
.icon-refresh:before {
  content: "\e94b";
}
.icon-save:before {
  content: "\e94c";
}
.icon-scan:before {
  content: "\e94d";
}
.icon-search:before {
  content: "\e94e";
}
.icon-send:before {
  content: "\e94f";
}
.icon-split:before {
  content: "\e950";
}
.icon-stop-time:before {
  content: "\e951";
}
.icon-swap:before {
  content: "\e952";
}
.icon-trash:before {
  content: "\e954";
}
.icon-tri:before {
  content: "\e953";
}
.icon-A41:before {
  content: "\e961";
}
.icon-file-pdf-o:before {
  content: "\f1c1";
}
.icon-file-word-o:before {
  content: "\f1c2";
}
.icon-file-excel-o:before {
  content: "\f1c3";
}
.icon-file-powerpoint-o:before {
  content: "\f1c4";
}
.icon-file-image-o:before {
  content: "\f1c5";
}
.icon-file-photo-o:before {
  content: "\f1c5";
}
.icon-file-picture-o:before {
  content: "\f1c5";
}
.icon-file-archive-o:before {
  content: "\f1c6";
}
.icon-file-zip-o:before {
  content: "\f1c6";
}
.icon-file-audio-o:before {
  content: "\f1c7";
}
.icon-file-sound-o:before {
  content: "\f1c7";
}
.icon-file-movie-o:before {
  content: "\f1c8";
}
.icon-file-video-o:before {
  content: "\f1c8";
}
.icon-file-code-o:before {
  content: "\f1c9";
}
.icon-folder:before {
  content: "\e95f";
}
.icon-folder-open:before {
  content: "\e960";
}
.icon-folder1:before {
  content: "\e962";
}
.icon-folder-open1:before {
  content: "\e963";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-file-word:before {
  content: "\eae1";
}
.icon-file-excel:before {
  content: "\eae2";
}
