@import "assets/colors/colors.scss";

.dialogUser {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.dialogTitle {
  font-family: "basier_circlemedium";
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.32;
  letter-spacing: 0.4px;
  color: $black;
  margin-bottom: 25px;
}

.headContainer {
  display: flex;
  flex-direction: column;
  align-items: center
}

.formContainer {
  margin-bottom: 20px; 
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttonsSeparator {
  width: 10px;
}