.form-tax-declaration-2035-SUITE {
  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: block;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page input {
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    padding: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page-0 {
    width: 1200px;
    height: 1698px;
    background-image: url(page0.jpg);
  }

  .obj_1 {
    left: 14.17%;
    top: 9.482%;
    width: 44.92%;
    height: 1.531%;
    font-size: 12.000000px;
  }

  .obj_2 {
    left: 30.67%;
    top: 7.951%;
    width: 61%;
    height: 1.59%;
    font-size: 12.000000px;
  }

  .obj_3 {
    left: 23.75%;
    top: 12.49%;
    width: 22.42%;
    height: 1.649%;
    font-size: 12.000000px;
  }

  .obj_4 {
    left: 23.75%;
    top: 14.02%;
    width: 22.42%;
    height: 1.531%;
    font-size: 12.000000px;
  }

  .obj_5 {
    left: 46.08%;
    top: 14.08%;
    width: 22.5%;
    height: 1.472%;
    font-size: 12.000000px;
  }

  .obj_6 {
    left: 46.08%;
    top: 12.49%;
    width: 22.5%;
    height: 1.59%;
    font-size: 12.000000px;
  }

  .obj_7 {
    left: 68.5%;
    top: 14.08%;
    width: 23.33%;
    height: 1.413%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_8 {
    left: 39.67%;
    top: 18.55%;
    width: 6.5%;
    height: 2.532%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_9 {
    left: 20.5%;
    top: 18.61%;
    width: 6.583%;
    height: 2.356%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_10 {
    left: 58.92%;
    top: 18.61%;
    width: 6.5%;
    height: 2.415%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_11 {
    left: 52.58%;
    top: 20.85%;
    width: 12.92%;
    height: 4.005%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_12 {
    left: 85.08%;
    top: 18.55%;
    width: 6.667%;
    height: 2.415%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_13 {
    left: 85.08%;
    top: 20.97%;
    width: 6.75%;
    height: 3.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_14 {
    left: 36.58%;
    top: 45.17%;
    width: 9.583%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_15 {
    left: 4.583%;
    top: 32.45%;
    width: 12.83%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_16 {
    left: 17.5%;
    top: 32.45%;
    width: 9.5%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_17 {
    left: 27%;
    top: 32.45%;
    width: 9.5%;
    height: 1.943%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_18 {
    left: 36.58%;
    top: 32.45%;
    width: 9.583%;
    height: 1.943%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_19 {
    left: 46.17%;
    top: 32.45%;
    width: 9.333%;
    height: 1.943%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_20 {
    left: 55.75%;
    top: 32.45%;
    width: 2.917%;
    height: 1.943%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_21 {
    left: 58.67%;
    top: 32.45%;
    width: 6.75%;
    height: 1.943%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_22 {
    left: 65.33%;
    top: 32.45%;
    width: 13.5%;
    height: 1.943%;
    text-align: right;
  }

  .obj_23 {
    left: 78.75%;
    top: 32.45%;
    width: 13.08%;
    height: 1.943%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_24 {
    left: 4.583%;
    top: 34.51%;
    width: 12.83%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_25 {
    left: 17.5%;
    top: 34.51%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_26 {
    left: 27%;
    top: 34.51%;
    width: 9.5%;
    height: 2.002%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_27 {
    left: 36.58%;
    top: 34.51%;
    width: 9.583%;
    height: 2.002%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_28 {
    left: 46.17%;
    top: 34.51%;
    width: 9.333%;
    height: 2.002%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_29 {
    left: 55.75%;
    top: 34.51%;
    width: 2.917%;
    height: 2.002%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_30 {
    left: 58.67%;
    top: 34.51%;
    width: 6.667%;
    height: 2.002%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_31 {
    left: 65.33%;
    top: 34.51%;
    width: 13.5%;
    height: 2.002%;
    text-align: right;
  }

  .obj_32 {
    left: 78.75%;
    top: 34.51%;
    width: 13.08%;
    height: 2.002%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_33 {
    left: 4.583%;
    top: 36.69%;
    width: 12.83%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_34 {
    left: 17.5%;
    top: 36.69%;
    width: 9.5%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_35 {
    left: 27%;
    top: 36.69%;
    width: 9.5%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_36 {
    left: 36.58%;
    top: 36.69%;
    width: 9.583%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_37 {
    left: 46.17%;
    top: 36.69%;
    width: 9.333%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_38 {
    left: 55.75%;
    top: 36.69%;
    width: 2.917%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_39 {
    left: 58.67%;
    top: 36.69%;
    width: 6.667%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_40 {
    left: 65.33%;
    top: 36.69%;
    width: 13.5%;
    height: 1.943%;
  }

  .obj_41 {
    left: 78.75%;
    top: 36.69%;
    width: 13.08%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_42 {
    left: 4.583%;
    top: 38.81%;
    width: 12.83%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_43 {
    left: 4.583%;
    top: 40.93%;
    width: 12.83%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_44 {
    left: 17.5%;
    top: 38.81%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_45 {
    left: 17.5%;
    top: 40.93%;
    width: 9.5%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_46 {
    left: 27%;
    top: 38.81%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_47 {
    left: 27%;
    top: 40.93%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_48 {
    left: 36.58%;
    top: 38.81%;
    width: 9.583%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_49 {
    left: 36.58%;
    top: 40.93%;
    width: 9.583%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_50 {
    left: 46.17%;
    top: 38.81%;
    width: 9.333%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_51 {
    left: 46.17%;
    top: 40.93%;
    width: 9.333%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_52 {
    left: 55.75%;
    top: 38.81%;
    width: 2.917%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_53 {
    left: 55.75%;
    top: 40.93%;
    width: 2.917%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_54 {
    left: 58.67%;
    top: 38.81%;
    width: 6.667%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_55 {
    left: 58.67%;
    top: 40.93%;
    width: 6.667%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_56 {
    left: 65.33%;
    top: 38.81%;
    width: 13.5%;
    height: 2.002%;
  }

  .obj_57 {
    left: 65.33%;
    top: 40.93%;
    width: 13.5%;
    height: 2.002%;
  }

  .obj_58 {
    left: 78.75%;
    top: 38.81%;
    width: 13.08%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_59 {
    left: 78.75%;
    top: 40.93%;
    width: 13.08%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_60 {
    left: 4.583%;
    top: 43.05%;
    width: 12.83%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_61 {
    left: 4.583%;
    top: 45.17%;
    width: 12.83%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_62 {
    left: 17.5%;
    top: 43.05%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_63 {
    left: 17.5%;
    top: 45.17%;
    width: 9.5%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_64 {
    left: 27%;
    top: 43.05%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_65 {
    left: 27%;
    top: 45.17%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_66 {
    left: 36.58%;
    top: 43.05%;
    width: 9.583%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_67 {
    left: 46.17%;
    top: 43.05%;
    width: 9.333%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_68 {
    left: 46.17%;
    top: 45.17%;
    width: 9.333%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_69 {
    left: 55.75%;
    top: 43.05%;
    width: 2.917%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_70 {
    left: 55.75%;
    top: 45.17%;
    width: 2.917%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_71 {
    left: 58.67%;
    top: 43.05%;
    width: 6.667%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_72 {
    left: 58.67%;
    top: 45.17%;
    width: 6.75%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_73 {
    left: 65.33%;
    top: 43.05%;
    width: 13.5%;
    height: 2.002%;
  }

  .obj_74 {
    left: 65.33%;
    top: 45.17%;
    width: 13.5%;
    height: 2.002%;
  }

  .obj_75 {
    left: 78.75%;
    top: 43.05%;
    width: 13.08%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_76 {
    left: 78.75%;
    top: 45.17%;
    width: 13.08%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_77 {
    left: 4.583%;
    top: 47.35%;
    width: 12.83%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_78 {
    left: 4.583%;
    top: 49.47%;
    width: 12.83%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_79 {
    left: 17.5%;
    top: 47.35%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_80 {
    left: 17.5%;
    top: 49.47%;
    width: 9.5%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_81 {
    left: 27%;
    top: 47.35%;
    width: 9.5%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_82 {
    left: 27%;
    top: 49.47%;
    width: 9.5%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_83 {
    left: 36.58%;
    top: 47.35%;
    width: 9.583%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_84 {
    left: 36.58%;
    top: 49.47%;
    width: 9.583%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_85 {
    left: 46.17%;
    top: 47.35%;
    width: 9.333%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_86 {
    left: 46.17%;
    top: 49.47%;
    width: 9.333%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_87 {
    left: 55.75%;
    top: 47.35%;
    width: 2.917%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_88 {
    left: 55.75%;
    top: 49.47%;
    width: 2.917%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_89 {
    left: 58.67%;
    top: 47.35%;
    width: 6.667%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_90 {
    left: 58.67%;
    top: 49.47%;
    width: 6.75%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_91 {
    left: 65.33%;
    top: 47.35%;
    width: 13.5%;
    height: 1.943%;
  }

  .obj_92 {
    left: 65.33%;
    top: 49.47%;
    width: 13.5%;
    height: 1.943%;
  }

  .obj_93 {
    left: 78.75%;
    top: 47.35%;
    width: 13.08%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_94 {
    left: 78.75%;
    top: 49.47%;
    width: 13.08%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_95 {
    left: 4.583%;
    top: 51.65%;
    width: 12.83%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_96 {
    left: 4.583%;
    top: 53.77%;
    width: 12.83%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_97 {
    left: 17.5%;
    top: 51.65%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_98 {
    left: 17.5%;
    top: 53.77%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_99 {
    left: 27%;
    top: 51.65%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_100 {
    left: 27%;
    top: 53.77%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_101 {
    left: 36.58%;
    top: 51.65%;
    width: 9.583%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_102 {
    left: 36.58%;
    top: 53.77%;
    width: 9.583%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_103 {
    left: 46.17%;
    top: 51.65%;
    width: 9.333%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_104 {
    left: 46.17%;
    top: 53.77%;
    width: 9.333%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_105 {
    left: 55.75%;
    top: 51.65%;
    width: 2.917%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_106 {
    left: 55.75%;
    top: 53.77%;
    width: 2.917%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_107 {
    left: 58.67%;
    top: 51.65%;
    width: 6.667%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_108 {
    left: 58.67%;
    top: 53.77%;
    width: 6.75%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_109 {
    left: 65.33%;
    top: 51.65%;
    width: 13.5%;
    height: 2.002%;
  }

  .obj_110 {
    left: 65.33%;
    top: 53.77%;
    width: 13.5%;
    height: 2.002%;
  }

  .obj_111 {
    left: 78.75%;
    top: 51.65%;
    width: 13.08%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_112 {
    left: 78.75%;
    top: 53.77%;
    width: 13.08%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_113 {
    left: 4.583%;
    top: 55.89%;
    width: 12.83%;
    height: 2.061%;
    font-size: 12.000000px;
  }

  .obj_114 {
    left: 4.583%;
    top: 58.01%;
    width: 12.83%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_115 {
    left: 17.5%;
    top: 55.89%;
    width: 9.5%;
    height: 2.061%;
    font-size: 12.000000px;
  }

  .obj_116 {
    left: 17.5%;
    top: 58.01%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_117 {
    left: 27%;
    top: 55.89%;
    width: 9.5%;
    height: 2.061%;
    font-size: 12.000000px;
  }

  .obj_118 {
    left: 27%;
    top: 58.01%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_119 {
    left: 36.58%;
    top: 55.89%;
    width: 9.583%;
    height: 2.061%;
    font-size: 12.000000px;
  }

  .obj_120 {
    left: 36.58%;
    top: 58.01%;
    width: 9.583%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_121 {
    left: 46.17%;
    top: 55.89%;
    width: 9.333%;
    height: 2.061%;
    font-size: 12.000000px;
  }

  .obj_122 {
    left: 46.17%;
    top: 58.01%;
    width: 9.333%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_123 {
    left: 55.75%;
    top: 55.89%;
    width: 2.917%;
    height: 2.061%;
    font-size: 12.000000px;
  }

  .obj_124 {
    left: 55.75%;
    top: 58.01%;
    width: 2.917%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_125 {
    left: 58.67%;
    top: 55.89%;
    width: 6.667%;
    height: 2.061%;
    font-size: 12.000000px;
  }

  .obj_126 {
    left: 58.67%;
    top: 58.01%;
    width: 6.75%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_127 {
    left: 65.33%;
    top: 55.89%;
    width: 13.5%;
    height: 2.061%;
  }

  .obj_128 {
    left: 65.33%;
    top: 58.01%;
    width: 13.5%;
    height: 2.002%;
  }

  .obj_129 {
    left: 78.75%;
    top: 55.89%;
    width: 13.08%;
    height: 2.061%;
    font-size: 12.000000px;
  }

  .obj_130 {
    left: 78.75%;
    top: 58.01%;
    width: 13.08%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_131 {
    left: 4.583%;
    top: 60.19%;
    width: 12.83%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_132 {
    left: 4.583%;
    top: 62.31%;
    width: 12.83%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_133 {
    left: 17.5%;
    top: 60.19%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_134 {
    left: 17.5%;
    top: 62.31%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_135 {
    left: 27%;
    top: 60.19%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_136 {
    left: 27%;
    top: 62.31%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_137 {
    left: 36.58%;
    top: 60.19%;
    width: 9.583%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_138 {
    left: 36.58%;
    top: 62.31%;
    width: 9.583%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_139 {
    left: 46.17%;
    top: 60.19%;
    width: 9.333%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_140 {
    left: 46.17%;
    top: 62.31%;
    width: 9.333%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_141 {
    left: 55.75%;
    top: 60.19%;
    width: 2.917%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_142 {
    left: 55.75%;
    top: 62.31%;
    width: 2.917%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_143 {
    left: 58.67%;
    top: 60.19%;
    width: 6.667%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_144 {
    left: 58.67%;
    top: 62.31%;
    width: 6.75%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_145 {
    left: 65.33%;
    top: 60.19%;
    width: 13.5%;
    height: 2.002%;
  }

  .obj_146 {
    left: 65.33%;
    top: 62.31%;
    width: 13.5%;
    height: 2.002%;
  }

  .obj_147 {
    left: 78.75%;
    top: 60.19%;
    width: 13.08%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_148 {
    left: 78.75%;
    top: 62.31%;
    width: 13.08%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_149 {
    left: 4.583%;
    top: 64.43%;
    width: 12.83%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_150 {
    left: 4.583%;
    top: 66.55%;
    width: 12.83%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_151 {
    left: 17.5%;
    top: 64.43%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_152 {
    left: 17.5%;
    top: 66.55%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_153 {
    left: 27%;
    top: 64.43%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_154 {
    left: 27%;
    top: 66.55%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_155 {
    left: 36.58%;
    top: 64.43%;
    width: 9.583%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_156 {
    left: 36.58%;
    top: 66.55%;
    width: 9.583%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_157 {
    left: 46.17%;
    top: 64.43%;
    width: 9.333%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_158 {
    left: 46.17%;
    top: 66.55%;
    width: 9.333%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_159 {
    left: 55.75%;
    top: 64.43%;
    width: 2.917%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_160 {
    left: 55.75%;
    top: 66.55%;
    width: 2.917%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_161 {
    left: 58.67%;
    top: 64.43%;
    width: 6.667%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_162 {
    left: 58.67%;
    top: 66.55%;
    width: 6.75%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_163 {
    left: 65.33%;
    top: 64.43%;
    width: 13.5%;
    height: 2.002%;
  }

  .obj_164 {
    left: 65.33%;
    top: 66.55%;
    width: 13.5%;
    height: 2.002%;
  }

  .obj_165 {
    left: 78.75%;
    top: 64.43%;
    width: 13.08%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_166 {
    left: 78.75%;
    top: 66.55%;
    width: 13.08%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_167 {
    left: 4.583%;
    top: 68.73%;
    width: 12.83%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_168 {
    left: 4.583%;
    top: 70.85%;
    width: 12.83%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_169 {
    left: 17.5%;
    top: 68.73%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_170 {
    left: 17.5%;
    top: 70.85%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_171 {
    left: 27%;
    top: 68.73%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_172 {
    left: 27%;
    top: 70.85%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_173 {
    left: 36.58%;
    top: 68.73%;
    width: 9.583%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_174 {
    left: 36.58%;
    top: 70.85%;
    width: 9.583%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_175 {
    left: 46.17%;
    top: 68.73%;
    width: 9.333%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_176 {
    left: 46.17%;
    top: 70.85%;
    width: 9.333%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_177 {
    left: 55.75%;
    top: 68.73%;
    width: 2.917%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_178 {
    left: 55.75%;
    top: 70.85%;
    width: 2.917%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_179 {
    left: 58.67%;
    top: 68.73%;
    width: 6.667%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_180 {
    left: 58.67%;
    top: 70.85%;
    width: 6.75%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_181 {
    left: 65.33%;
    top: 68.73%;
    width: 13.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_182 {
    left: 65.33%;
    top: 70.85%;
    width: 13.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_183 {
    left: 78.75%;
    top: 68.73%;
    width: 13.08%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_184 {
    left: 78.75%;
    top: 70.85%;
    width: 13.08%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_185 {
    left: 4.583%;
    top: 73.03%;
    width: 12.83%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_186 {
    left: 4.583%;
    top: 75.15%;
    width: 12.83%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_187 {
    left: 17.5%;
    top: 73.03%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_188 {
    left: 17.5%;
    top: 75.15%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_189 {
    left: 27%;
    top: 73.03%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_190 {
    left: 27%;
    top: 75.15%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_191 {
    left: 36.58%;
    top: 73.03%;
    width: 9.583%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_192 {
    left: 36.58%;
    top: 75.15%;
    width: 9.583%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_193 {
    left: 46.17%;
    top: 73.03%;
    width: 9.333%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_194 {
    left: 46.17%;
    top: 75.15%;
    width: 9.333%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_195 {
    left: 55.75%;
    top: 73.03%;
    width: 2.917%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_196 {
    left: 55.75%;
    top: 75.15%;
    width: 2.917%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_197 {
    left: 58.67%;
    top: 73.03%;
    width: 6.667%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_198 {
    left: 58.67%;
    top: 75.15%;
    width: 6.667%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_199 {
    left: 65.33%;
    top: 73.03%;
    width: 13.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_200 {
    left: 65.33%;
    top: 75.15%;
    width: 13.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_201 {
    left: 78.75%;
    top: 73.03%;
    width: 13.08%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_202 {
    left: 78.75%;
    top: 75.15%;
    width: 13.08%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_203 {
    left: 4.583%;
    top: 77.27%;
    width: 12.83%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_204 {
    left: 4.583%;
    top: 79.45%;
    width: 12.83%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_205 {
    left: 17.5%;
    top: 77.27%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_206 {
    left: 17.5%;
    top: 79.45%;
    width: 9.5%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_207 {
    left: 27%;
    top: 77.27%;
    width: 9.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_208 {
    left: 27%;
    top: 79.45%;
    width: 9.5%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_209 {
    left: 36.58%;
    top: 77.27%;
    width: 9.583%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_210 {
    left: 36.58%;
    top: 79.45%;
    width: 9.583%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_211 {
    left: 46.17%;
    top: 77.27%;
    width: 9.333%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_212 {
    left: 46.17%;
    top: 79.45%;
    width: 9.333%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_213 {
    left: 55.75%;
    top: 77.27%;
    width: 2.917%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_214 {
    left: 55.75%;
    top: 79.45%;
    width: 2.917%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_215 {
    left: 58.67%;
    top: 77.27%;
    width: 6.667%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_216 {
    left: 58.67%;
    top: 79.45%;
    width: 6.75%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_217 {
    left: 65.33%;
    top: 77.27%;
    width: 13.5%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_218 {
    left: 65.33%;
    top: 79.45%;
    width: 13.5%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_219 {
    left: 78.75%;
    top: 77.27%;
    width: 13.08%;
    height: 2.002%;
    font-size: 12.000000px;
  }

  .obj_220 {
    left: 78.75%;
    top: 79.45%;
    width: 13.08%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_221 {
    left: 78.75%;
    top: 82.16%;
    width: 13%;
    height: 4.064%;
    font-size: 12.000000px;
  }

  .obj_222 {
    left: 27%;
    top: 86.16%;
    width: 9.667%;
    height: 1.472%;
    font-size: 12.000000px;
  }

  .obj_223 {
    left: 46.17%;
    top: 86.1%;
    width: 9.667%;
    height: 1.531%;
    font-size: 12.000000px;
  }

  .obj_224 {
    left: 65.33%;
    top: 86.16%;
    width: 13.42%;
    height: 1.472%;
    font-size: 12.000000px;
  }

  .obj_225 {
    left: 78.83%;
    top: 86.16%;
    width: 13.08%;
    height: 1.531%;
    font-size: 12.000000px;
  }

  .obj_226 {
    left: 46.17%;
    top: 89.99%;
    width: 9.5%;
    height: 1.59%;
    font-size: 12.000000px;
  }

  .obj_227 {
    left: 78.75%;
    top: 89.99%;
    width: 12.92%;
    height: 1.59%;
    font-size: 12.000000px;
  }

  .obj_228 {
    left: 78.75%;
    top: 93.05%;
    width: 13.08%;
    height: 1.531%;
    font-size: 12.000000px;
  }

  .obj_229 {
    left: 78.67%;
    top: 91.58%;
    width: 13%;
    height: 1.472%;
    font-size: 12.000000px;
  }

  .pdf-page-1 {
    width: 1200px;
    height: 1698px;
    background-image: url(page1.jpg);
  }

  .obj_231 {
    left: 4.667%;
    top: 13.6%;
    width: 12.92%;
    height: 1.472%;
    font-size: 12.000000px;
  }

  .obj_232 {
    left: 17.5%;
    top: 13.6%;
    width: 7.833%;
    height: 1.59%;
    font-size: 12.000000px;
  }

  .obj_233 {
    left: 17.5%;
    top: 15.14%;
    width: 7.833%;
    height: 1.59%;
    font-size: 12.000000px;
  }

  .obj_234 {
    left: 4.667%;
    top: 15.08%;
    width: 12.83%;
    height: 1.59%;
    font-size: 12.000000px;
  }

  .obj_235 {
    left: 4.583%;
    top: 16.61%;
    width: 12.92%;
    height: 1.649%;
    font-size: 12.000000px;
  }

  .obj_236 {
    left: 4.667%;
    top: 18.08%;
    width: 12.83%;
    height: 1.649%;
    font-size: 12.000000px;
  }

  .obj_237 {
    left: 4.667%;
    top: 19.61%;
    width: 12.83%;
    height: 1.59%;
  }

  .obj_238 {
    left: 17.5%;
    top: 19.67%;
    width: 7.833%;
    height: 1.531%;
  }

  .obj_239 {
    left: 17.5%;
    top: 18.14%;
    width: 7.833%;
    height: 1.59%;
    font-size: 12.000000px;
  }

  .obj_240 {
    left: 17.5%;
    top: 16.61%;
    width: 7.833%;
    height: 1.59%;
    font-size: 12.000000px;
  }

  .obj_241 {
    left: 25.33%;
    top: 16.67%;
    width: 9.5%;
    height: 1.531%;
    font-size: 12.000000px;
  }

  .obj_242 {
    left: 25.33%;
    top: 13.55%;
    width: 9.5%;
    height: 1.59%;
    font-size: 12.000000px;
  }

  .obj_243 {
    left: 34.92%;
    top: 13.6%;
    width: 9.167%;
    height: 1.531%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_244 {
    left: 44%;
    top: 13.55%;
    width: 10.75%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_245 {
    left: 54.75%;
    top: 13.55%;
    width: 9.667%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_246 {
    left: 64.25%;
    top: 13.6%;
    width: 9.667%;
    height: 1.531%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_247 {
    left: 73.83%;
    top: 13.55%;
    width: 9.667%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_248 {
    left: 83.5%;
    top: 13.6%;
    width: 10.58%;
    height: 1.531%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_249 {
    left: 25.33%;
    top: 15.14%;
    width: 9.5%;
    height: 1.59%;
    font-size: 12.000000px;
  }

  .obj_250 {
    left: 34.92%;
    top: 15.08%;
    width: 9.167%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_251 {
    left: 44%;
    top: 15.08%;
    width: 10.75%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_252 {
    left: 54.75%;
    top: 15.14%;
    width: 9.667%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_253 {
    left: 64.25%;
    top: 15.08%;
    width: 9.667%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_254 {
    left: 73.83%;
    top: 15.08%;
    width: 9.667%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_255 {
    left: 83.5%;
    top: 15.08%;
    width: 10.58%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_256 {
    left: 34.92%;
    top: 16.61%;
    width: 9.167%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_257 {
    left: 44%;
    top: 16.61%;
    width: 10.75%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_258 {
    left: 54.75%;
    top: 16.61%;
    width: 9.667%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_259 {
    left: 64.25%;
    top: 16.61%;
    width: 9.667%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_260 {
    left: 73.83%;
    top: 16.61%;
    width: 9.667%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_261 {
    left: 83.5%;
    top: 16.67%;
    width: 10.58%;
    height: 1.531%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_262 {
    left: 25.33%;
    top: 18.08%;
    width: 9.5%;
    height: 1.649%;
    font-size: 12.000000px;
  }

  .obj_263 {
    left: 34.92%;
    top: 18.14%;
    width: 9.167%;
    height: 1.531%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_264 {
    left: 44%;
    top: 18.14%;
    width: 10.75%;
    height: 1.531%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_265 {
    left: 54.75%;
    top: 18.14%;
    width: 9.667%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_266 {
    left: 64.25%;
    top: 18.14%;
    width: 9.667%;
    height: 1.531%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_267 {
    left: 73.83%;
    top: 18.08%;
    width: 9.667%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_268 {
    left: 83.5%;
    top: 18.14%;
    width: 10.58%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_269 {
    left: 25.33%;
    top: 19.67%;
    width: 9.5%;
    height: 1.531%;
  }

  .obj_270 {
    left: 34.92%;
    top: 19.67%;
    width: 9.167%;
    height: 1.531%;
    text-align: right;
  }

  .obj_271 {
    left: 44%;
    top: 19.67%;
    width: 10.75%;
    height: 1.59%;
    text-align: right;
  }

  .obj_272 {
    left: 54.75%;
    top: 19.61%;
    width: 9.667%;
    height: 1.649%;
    text-align: right;
  }

  .obj_273 {
    left: 64.25%;
    top: 19.67%;
    width: 9.667%;
    height: 1.531%;
    text-align: right;
  }

  .obj_274 {
    left: 73.83%;
    top: 19.67%;
    width: 9.667%;
    height: 1.531%;
    text-align: right;
  }

  .obj_275 {
    left: 83.5%;
    top: 19.67%;
    width: 10.58%;
    height: 1.59%;
    text-align: right;
  }

  .obj_276 {
    left: 34.92%;
    top: 28.74%;
    width: 9.167%;
    height: 3.946%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_277 {
    left: 73.83%;
    top: 24.2%;
    width: 9.667%;
    height: 1.531%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_278 {
    left: 83.5%;
    top: 28.74%;
    width: 10.58%;
    height: 3.946%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_279 {
    left: 14.17%;
    top: 37.16%;
    width: 11.17%;
    height: 3.946%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_280 {
    left: 34.92%;
    top: 37.16%;
    width: 9.167%;
    height: 3.946%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_281 {
    left: 14.25%;
    top: 41.87%;
    width: 11.17%;
    height: 3.534%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_282 {
    left: 54.67%;
    top: 37.16%;
    width: 16.08%;
    height: 3.946%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_283 {
    left: 83.42%;
    top: 37.22%;
    width: 10.67%;
    height: 3.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_284 {
    left: 54.75%;
    top: 41.87%;
    width: 16%;
    height: 3.534%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_285 {
    left: 83.42%;
    top: 41.87%;
    width: 10.67%;
    height: 3.534%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_286 {
    left: 7.833%;
    top: 55.89%;
    width: 30.25%;
    height: 3.062%;
    font-size: 12.000000px;
  }

  .obj_287 {
    left: 38.08%;
    top: 55.89%;
    width: 3.25%;
    height: 3.062%;
    font-size: 12.000000px;
  }

  .obj_288 {
    left: 41.25%;
    top: 55.89%;
    width: 13.58%;
    height: 3.121%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_289 {
    left: 54.75%;
    top: 55.89%;
    width: 12.83%;
    height: 3.121%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_290 {
    left: 67.5%;
    top: 55.89%;
    width: 12.83%;
    height: 3.121%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_291 {
    left: 80.25%;
    top: 55.89%;
    width: 13.75%;
    height: 3.121%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_292 {
    left: 7.833%;
    top: 58.95%;
    width: 30.25%;
    height: 3.062%;
    font-size: 12.000000px;
  }

  .obj_293 {
    left: 38.08%;
    top: 58.95%;
    width: 3.25%;
    height: 3.062%;
    font-size: 12.000000px;
  }

  .obj_294 {
    left: 41.25%;
    top: 58.95%;
    width: 13.58%;
    height: 3.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_295 {
    left: 54.75%;
    top: 58.89%;
    width: 12.83%;
    height: 3.18%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_296 {
    left: 67.5%;
    top: 58.95%;
    width: 12.75%;
    height: 3.121%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_297 {
    left: 80.25%;
    top: 58.95%;
    width: 13.83%;
    height: 3.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_298 {
    left: 7.833%;
    top: 62.01%;
    width: 30.25%;
    height: 3.062%;
    font-size: 12.000000px;
  }

  .obj_299 {
    left: 38%;
    top: 62.01%;
    width: 3.333%;
    height: 3.004%;
    font-size: 12.000000px;
  }

  .obj_300 {
    left: 41.25%;
    top: 62.01%;
    width: 13.58%;
    height: 3.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_301 {
    left: 54.75%;
    top: 62.01%;
    width: 12.83%;
    height: 3.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_302 {
    left: 67.42%;
    top: 62.01%;
    width: 12.92%;
    height: 3.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_303 {
    left: 80.25%;
    top: 62.01%;
    width: 13.75%;
    height: 3.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_304 {
    left: 7.833%;
    top: 65.02%;
    width: 30.33%;
    height: 3.121%;
    font-size: 12.000000px;
  }

  .obj_305 {
    left: 38%;
    top: 65.02%;
    width: 3.333%;
    height: 3.062%;
    font-size: 12.000000px;
  }

  .obj_306 {
    left: 41.25%;
    top: 65.02%;
    width: 13.5%;
    height: 3.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_307 {
    left: 54.67%;
    top: 65.02%;
    width: 12.83%;
    height: 3.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_308 {
    left: 67.5%;
    top: 65.02%;
    width: 12.83%;
    height: 3.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_309 {
    left: 80.25%;
    top: 65.02%;
    width: 13.83%;
    height: 3.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_310 {
    left: 7.75%;
    top: 68.08%;
    width: 30.33%;
    height: 3.004%;
    font-size: 12.000000px;
  }

  .obj_311 {
    left: 38.08%;
    top: 68.02%;
    width: 3.25%;
    height: 3.062%;
    font-size: 12.000000px;
  }

  .obj_312 {
    left: 41.25%;
    top: 68.02%;
    width: 13.5%;
    height: 3.121%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_313 {
    left: 54.67%;
    top: 68.02%;
    width: 12.83%;
    height: 3.121%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_314 {
    left: 67.5%;
    top: 68.02%;
    width: 12.83%;
    height: 3.121%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_315 {
    left: 80.25%;
    top: 68.08%;
    width: 13.83%;
    height: 3.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_316 {
    left: 7.75%;
    top: 71.02%;
    width: 30.33%;
    height: 3.121%;
    font-size: 12.000000px;
  }

  .obj_317 {
    left: 38.08%;
    top: 71.08%;
    width: 3.25%;
    height: 3.062%;
    font-size: 12.000000px;
  }

  .obj_318 {
    left: 41.25%;
    top: 71.08%;
    width: 13.58%;
    height: 3.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_319 {
    left: 54.75%;
    top: 71.08%;
    width: 12.75%;
    height: 3.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_320 {
    left: 67.5%;
    top: 71.08%;
    width: 12.83%;
    height: 3.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_321 {
    left: 80.25%;
    top: 71.08%;
    width: 13.83%;
    height: 3.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_322 {
    left: 8%;
    top: 74.15%;
    width: 30.08%;
    height: 3.062%;
    font-size: 12.000000px;
  }

  .obj_323 {
    left: 38.08%;
    top: 74.15%;
    width: 3.25%;
    height: 3.062%;
    font-size: 12.000000px;
  }

  .obj_324 {
    left: 41.25%;
    top: 74.09%;
    width: 13.5%;
    height: 3.121%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_325 {
    left: 54.75%;
    top: 74.15%;
    width: 12.75%;
    height: 3.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_326 {
    left: 67.5%;
    top: 74.15%;
    width: 12.75%;
    height: 3.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_327 {
    left: 80.25%;
    top: 74.15%;
    width: 13.83%;
    height: 3.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_328 {
    left: 38%;
    top: 77.21%;
    width: 3.417%;
    height: 3.004%;
    font-size: 12.000000px;
  }

  .obj_329 {
    left: 41.25%;
    top: 77.15%;
    width: 13.58%;
    height: 3.121%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_330 {
    left: 80.25%;
    top: 77.15%;
    width: 13.83%;
    height: 3.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_331 {
    left: 4.667%;
    top: 21.2%;
    width: 12.83%;
    height: 1.531%;
    font-size: 12.000000px;
  }

  .obj_332 {
    left: 17.5%;
    top: 21.2%;
    width: 7.833%;
    height: 1.531%;
    font-size: 12.000000px;
  }

  .obj_333 {
    left: 25.33%;
    top: 21.2%;
    width: 9.5%;
    height: 1.531%;
    font-size: 12.000000px;
  }

  .obj_334 {
    left: 34.92%;
    top: 21.2%;
    width: 9.167%;
    height: 1.531%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_335 {
    left: 44%;
    top: 21.2%;
    width: 10.75%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_336 {
    left: 54.75%;
    top: 21.2%;
    width: 9.667%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_337 {
    left: 64.25%;
    top: 21.2%;
    width: 9.667%;
    height: 1.531%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_338 {
    left: 73.83%;
    top: 21.2%;
    width: 9.667%;
    height: 1.531%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_339 {
    left: 83.5%;
    top: 21.2%;
    width: 10.58%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_340 {
    left: 4.667%;
    top: 22.73%;
    width: 12.83%;
    height: 1.59%;
    font-size: 12.000000px;
  }

  .obj_341 {
    left: 17.5%;
    top: 22.73%;
    width: 7.833%;
    height: 1.59%;
    font-size: 12.000000px;
  }

  .obj_342 {
    left: 25.33%;
    top: 22.73%;
    width: 9.5%;
    height: 1.59%;
    font-size: 12.000000px;
  }

  .obj_343 {
    left: 34.92%;
    top: 22.73%;
    width: 9.167%;
    height: 1.531%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_344 {
    left: 44%;
    top: 22.73%;
    width: 10.75%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_345 {
    left: 54.75%;
    top: 22.67%;
    width: 9.667%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_346 {
    left: 64.25%;
    top: 22.67%;
    width: 9.667%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_347 {
    left: 73.83%;
    top: 22.67%;
    width: 9.667%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_348 {
    left: 83.5%;
    top: 22.67%;
    width: 10.58%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_349 {
    left: 4.667%;
    top: 22.67%;
    width: 12.83%;
    height: 1.649%;
    font-size: 12.000000px;
  }

  .obj_350 {
    left: 17.5%;
    top: 22.67%;
    width: 7.917%;
    height: 1.649%;
    font-size: 12.000000px;
  }

  .obj_351 {
    left: 25.33%;
    top: 22.67%;
    width: 9.583%;
    height: 1.649%;
    font-size: 12.000000px;
  }

  .obj_352 {
    left: 35%;
    top: 22.67%;
    width: 9.083%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_353 {
    left: 44.08%;
    top: 22.67%;
    width: 10.75%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .pdf-page input {
    text-align: right;
    padding-right: 7px;
  }

  .pdf-page input.pde-form-field-text {
    text-align: left;
    padding-left: 7px;
  }
}