.subContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.societyContainer {
  margin-right: 20px;
  width: 220px;
}

.societyInput {
  width: 150px;
}

.exerciceField {
  margin-left: 20px;
}
