@import "assets/colors/colors.scss";

.container {
  background-color: white;
  display: flex;
  flex: 1;
  min-height: 100vh;

  .half {
    display: flex;
    flex: 1;

    &.logo {
      align-items: center;
      background-color: black;
      justify-content: center;
    }

    &.form {
      display: flex;
      flex-direction: column;
      margin-top: auto;
      margin-bottom: auto;
      padding: 50px 50px 50px 130px;

      h1 {
        font-size: 22px;
        margin-bottom: 30px;
        text-align: left;
      }

      .inputs {
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
        width: 400px;

        .helper {
          margin: 20px 0;
          max-width: 400px;
        }

        .submitBtn {
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2),
          0 2px 2px 0 rgba(0, 0, 0, 0.14),
          0 3px 1px -2px rgba(0, 0, 0, 0.12);
        }

        .buttons {
          display: flex;

          .cancel {
            border-color: black;
            margin-right: 20px;
          }
        }
      }
    }
  }
}

.btnLink {
  border: none;
  background: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0 6px;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
  }
}
