@import "assets/colors/colors.scss";

.container {
  height: auto;
  overflow: hidden;
  border-radius: 0px 2px 2px 2px;
  box-shadow: 2px 2px 4px 0 $box-shadow;
  background-color: $white;
  padding: 20px;
}

.headerTitle {
  margin-top:20px;
  margin-left: 15px;
}

.headerRightButton {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  height: 34px;
  margin-top: 5px;
}

.table {
  margin : 0px 29px 0px 20px;
  overflow: auto;
  max-height: 800px;
  display: inline-block;
  table {
    width: auto;
  }
  th, td {
    padding: 8px 32px 8px 8px;
    max-width: 250px;
  }

  tr {
    td:first-child,
    th:first-child {
      padding: 8px;
    }
  }
}