.Field {
  max-width: 250px;
  width: 250px;
  margin-right: 20px;
}
.FieldBlocked {
  pointer-events: none;
}

.softwareFieldContainer {
  margin-left: 20px;
}

.informationField {
  width: 380px;
}

.row {
  display: flex;
  flex-direction: row;
  padding-left: 25px;
  align-items: flex-end;
}
