@import "assets/colors/colors.scss";

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  & > div, & > button {
    margin-right: 10px;
  }
}

.container {
  background-color: $white;
}

.stepperTabs {
  margin-right: 40px;
  cursor: pointer;
}

.stepperTabsSelected {
  border-bottom: 2px solid $color-primary;
  margin-top: 12px;
  transition: 0.3s ease all;
}

.stepperTabsNotSelected {
  border-bottom: 2px solid $white;
  margin-top: 12px;
}
