// Block****************************************************************************
.footerContainer {
    flex-direction: row;
}

// Element****************************************************************************
.container__separator {
    height: 18px;
}

.container__title {
    font-size: 16px;
    color: black;
    font-family: "basier_circlemedium"
}

.container__items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container__item {
    font-size: 16px;
}

// Modifier****************************************************************************
.container__item--cyanElement {
    font-size: 16px;
    color: cyan;
    font-family: "basier_circlesemibold"
}
.container__item--Element {
    font-size: 16px;
    color: black;
    font-family: "basier_circleregular"
}