@import 'assets/colors/colors.scss';

.row {
  align-items: flex-end;
  display: flex;
  margin: 20px 0;

  > div {
    margin-right: 20px;
  }
}
.filter {
  align-items: flex-end;
  display: flex;
  margin: 10px 0;
}

.associates {
  background-color: $white;
  padding: 20px;
}

.table {
  max-height: 700px;
  overflow: auto;
}

.container {
  justify-content: space-between;
}
