.container {
  padding: 20px;
  background-color: white;
}

.title {
  margin-bottom: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  height: 34px;
  align-items: center;
  justify-content: space-between;
}