.tax2065 {
  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: block;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page input {
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    padding: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page-0 {
    width: 1200px;
    height: 1698px;
    background-image: url(page0.jpg);
  }

  .obj_1 {
    left: 82.5%;
    top: 80.15%;
    width: 11.75%;
    height: 1.001%;
  }

  .obj_2 {
    left: 55.17%;
    top: 81.1%;
    width: 11.83%;
    height: 1.06%;
  }

  .obj_3 {
    left: 48.75%;
    top: 12.84%;
    width: 2.417%;
    height: 1.237%;
    margin: 0px 0px 0px 0px;
  }

  .obj_4 {
    left: 77.58%;
    top: 14.13%;
    width: 2.417%;
    height: 1.237%;
    margin: 0px 0px 0px 0px;
  }

  .obj_5 {
    left: 80.25%;
    top: 68.02%;
    width: 2.333%;
    height: 1.119%;
    margin: 0px 0px 0px 0px;
  }

  .obj_6 {
    left: 87.5%;
    top: 71.97%;
    width: 2.333%;
    height: 1.119%;
    margin: 0px 0px 0px 0px;
  }

  .obj_7 {
    left: 36.08%;
    top: 76.97%;
    width: 1.833%;
    height: 1.355%;
    margin: 0px 0px 0px 0px;
  }

  .obj_8 {
    left: 72.58%;
    top: 76.91%;
    width: 22.08%;
    height: 1.355%;
    font-size: 12.000000px;
  }

  .obj_9 {
    left: 46.17%;
    top: 28.86%;
    width: 21.08%;
    height: 1.119%;
    font-size: 12.000000px;
  }

  .obj_10 {
    left: 92.17%;
    top: 35.98%;
    width: 2.5%;
    height: 1.59%;
    margin: 0px 0px 0px 0px;
  }

  .obj_11 {
    left: 18.92%;
    top: 35.98%;
    width: 40.42%;
    height: 1.59%;
    font-size: 12.000000px;
  }

  .obj_12 {
    left: 38.58%;
    top: 38.81%;
    width: 10.08%;
    height: 1.472%;
  }

  .obj_13 {
    left: 38.58%;
    top: 40.34%;
    width: 10.08%;
    height: 1.531%;
  }

  .obj_14 {
    left: 70%;
    top: 38.81%;
    width: 10%;
    height: 1.472%;
  }

  .obj_15 {
    left: 85.17%;
    top: 38.81%;
    width: 9.5%;
    height: 1.472%;
  }

  .obj_16 {
    left: 28.67%;
    top: 43.23%;
    width: 9.917%;
    height: 1.237%;
  }

  .obj_17 {
    left: 16.42%;
    top: 45.23%;
    width: 9.667%;
    height: 1.237%;
  }

  .obj_18 {
    left: 38.58%;
    top: 45.23%;
    width: 10.08%;
    height: 1.237%;
    font-size: 12.000000px;
  }

  .obj_19 {
    left: 62.17%;
    top: 45.23%;
    width: 10.17%;
    height: 1.237%;
  }

  .obj_20 {
    left: 85.17%;
    top: 45.23%;
    width: 9.5%;
    height: 1.237%;
  }

  .obj_21 {
    left: 85.17%;
    top: 43.23%;
    width: 9.5%;
    height: 1.237%;
  }

  .obj_22 {
    left: 43.67%;
    top: 55.65%;
    width: 15.67%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_23 {
    left: 80.08%;
    top: 55.65%;
    width: 12%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_24 {
    left: 21.33%;
    top: 55.65%;
    width: 2.417%;
    height: 1.237%;
    margin: 0px 0px 0px 0px;
  }

  .obj_25 {
    left: 36.08%;
    top: 53.53%;
    width: 2.333%;
    height: 1.355%;
    margin: 0px 0px 0px 0px;
  }

  .obj_26 {
    left: 77.58%;
    top: 53.53%;
    width: 2.417%;
    height: 1.355%;
    margin: 0px 0px 0px 0px;
  }

  .obj_27 {
    left: 92.17%;
    top: 53.53%;
    width: 2.5%;
    height: 1.355%;
    margin: 0px 0px 0px 0px;
  }

  .obj_28 {
    left: 92.17%;
    top: 51.3%;
    width: 2.5%;
    height: 1.472%;
    margin: 0px 0px 0px 0px;
  }

  .obj_29 {
    left: 92.17%;
    top: 48.94%;
    width: 2.5%;
    height: 1.237%;
    margin: 0px 0px 0px 0px;
  }

  .obj_30 {
    left: 56.75%;
    top: 48.94%;
    width: 2.583%;
    height: 1.237%;
    margin: 0px 0px 0px 0px;
  }

  .obj_31 {
    left: 56.75%;
    top: 51.3%;
    width: 2.583%;
    height: 1.472%;
    margin: 0px 0px 0px 0px;
  }

  .obj_32 {
    left: 26.33%;
    top: 48.94%;
    width: 2.25%;
    height: 1.237%;
    margin: 0px 0px 0px 0px;
  }

  .obj_33 {
    left: 26.33%;
    top: 51.3%;
    width: 2.25%;
    height: 1.472%;
    margin: 0px 0px 0px 0px;
  }

  .obj_34 {
    left: 56.75%;
    top: 58.01%;
    width: 2.583%;
    height: 1.413%;
    margin: 0px 0px 0px 0px;
  }

  .obj_35 {
    left: 92.17%;
    top: 58.01%;
    width: 2.5%;
    height: 1.413%;
    margin: 0px 0px 0px 0px;
  }

  .obj_36 {
    left: 85.17%;
    top: 60.66%;
    width: 9.5%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_37 {
    left: 85.17%;
    top: 61.84%;
    width: 9.5%;
    height: 2.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_38 {
    left: 85.17%;
    top: 65.37%;
    width: 9.5%;
    height: 1.413%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_39 {
    left: 4.167%;
    top: 18.85%;
    width: 44.5%;
    height: 1.943%;
    font-size: 12.000000px;
  }

  .obj_40 {
    left: 14.08%;
    top: 20.85%;
    width: 32%;
    height: 1.237%;
    font-size: 12.000000px;
  }

  .obj_41 {
    left: 59.92%;
    top: 18.79%;
    width: 3.25%;
    height: 1.178%;
    font-size: 12.000000px;
  }

  .obj_42 {
    left: 63.08%;
    top: 18.79%;
    width: 10.75%;
    height: 1.178%;
    font-size: 12.000000px;
  }

  .obj_43 {
    left: 73.67%;
    top: 18.79%;
    width: 20.92%;
    height: 1.178%;
    font-size: 12.000000px;
  }

  .obj_44 {
    left: 67.08%;
    top: 19.85%;
    width: 10.17%;
    height: 1.178%;
    font-size: 12.000000px;
  }

  .obj_45 {
    left: 77.25%;
    top: 19.85%;
    width: 17.33%;
    height: 1.178%;
    font-size: 12.000000px;
  }

  .obj_46 {
    left: 63.33%;
    top: 23.56%;
    width: 10.67%;
    height: 1.355%;
    font-size: 12.000000px;
  }

  .obj_47 {
    left: 73.92%;
    top: 23.56%;
    width: 20.58%;
    height: 1.355%;
    font-size: 12.000000px;
  }

  .obj_48 {
    left: 67.17%;
    top: 24.79%;
    width: 10.08%;
    height: 1.296%;
    font-size: 12.000000px;
  }

  .obj_49 {
    left: 77.17%;
    top: 24.79%;
    width: 17.42%;
    height: 1.296%;
    font-size: 12.000000px;
  }

  .obj_50 {
    left: 59.67%;
    top: 23.56%;
    width: 3.833%;
    height: 1.355%;
    font-size: 12.000000px;
  }

  .obj_51 {
    left: 6.583%;
    top: 33.1%;
    width: 6.833%;
    height: 1.296%;
  }

  .obj_52 {
    left: 13.25%;
    top: 33.1%;
    width: 11.25%;
    height: 1.296%;
  }

  .obj_53 {
    left: 24.42%;
    top: 33.1%;
    width: 9.25%;
    height: 1.296%;
  }

  .obj_54 {
    left: 33.5%;
    top: 33.1%;
    width: 4.083%;
    height: 1.296%;
    font-size: 12.000000px;
  }

  .obj_55 {
    left: 4.167%;
    top: 31.27%;
    width: 44.5%;
    height: 1.767%;
    font-size: 12.000000px;
  }

  .obj_56 {
    left: 59.42%;
    top: 33.45%;
    width: 32.67%;
    height: 1.355%;
    font-size: 12.000000px;
  }

  .obj_57 {
    left: 19.17%;
    top: 10.13%;
    width: 11.5%;
    height: 1.237%;
    font-size: 12.000000px;
  }

  .obj_58 {
    left: 52.17%;
    top: 21.02%;
    width: 42.17%;
    height: 1.178%;
    font-size: 12.000000px;
  }

  .obj_59 {
    left: 4.417%;
    top: 64.37%;
    width: 4.333%;
    height: 1.237%;
  }

  .obj_60 {
    left: 54.83%;
    top: 90.87%;
    width: 39.58%;
    height: 1.472%;
  }

  .obj_61 {
    left: 38.58%;
    top: 10.19%;
    width: 12.58%;
    height: 1.237%;
    font-size: 12.000000px;
  }

  .obj_62 {
    left: 11.58%;
    top: 86.93%;
    width: 2.333%;
    height: 1.237%;
    margin: 0px 0px 0px 0px;
  }

  .obj_63 {
    left: 26.33%;
    top: 86.93%;
    width: 2.25%;
    height: 1.237%;
    margin: 0px 0px 0px 0px;
  }

  .obj_64 {
    left: 64.25%;
    top: 84.33%;
    width: 3.25%;
    height: 1.296%;
    font-size: 12.000000px;
  }

  .obj_65 {
    left: 67.33%;
    top: 84.33%;
    width: 6.917%;
    height: 1.296%;
    font-size: 12.000000px;
  }

  .obj_66 {
    left: 74%;
    top: 84.33%;
    width: 20.58%;
    height: 1.296%;
  }

  .obj_67 {
    left: 58.08%;
    top: 85.57%;
    width: 17.92%;
    height: 1.355%;
    font-size: 12.000000px;
  }

  .obj_68 {
    left: 18.58%;
    top: 84.33%;
    width: 2.917%;
    height: 1.296%;
  }

  .obj_69 {
    left: 21.33%;
    top: 84.33%;
    width: 6.833%;
    height: 1.296%;
  }

  .obj_70 {
    left: 28%;
    top: 84.33%;
    width: 20.5%;
    height: 1.296%;
  }

  .obj_71 {
    left: 4.417%;
    top: 85.57%;
    width: 9.25%;
    height: 1.296%;
  }

  .obj_72 {
    left: 13.58%;
    top: 85.57%;
    width: 15.58%;
    height: 1.296%;
  }

  .obj_73 {
    left: 78.42%;
    top: 85.69%;
    width: 16.25%;
    height: 1.178%;
  }

  .obj_74 {
    left: 32.33%;
    top: 85.69%;
    width: 16.17%;
    height: 1.178%;
    font-size: 12.000000px;
  }

  .obj_75 {
    left: 92.17%;
    top: 10.13%;
    width: 2%;
    height: 1.355%;
    margin: 0px 0px 0px 0px;
  }

  .obj_76 {
    left: 92.17%;
    top: 11.48%;
    width: 2%;
    height: 1.355%;
    margin: 0px 0px 0px 0px;
  }

  .obj_77 {
    left: 4.333%;
    top: 84.33%;
    width: 13%;
    height: 1.296%;
  }

  .obj_78 {
    left: 48.75%;
    top: 84.33%;
    width: 13.42%;
    height: 1.296%;
    font-size: 12.000000px;
  }

  .obj_79 {
    left: 48.83%;
    top: 85.57%;
    width: 9.25%;
    height: 1.296%;
    font-size: 12.000000px;
  }

  .obj_80 {
    left: 44.33%;
    top: 89.28%;
    width: 4.083%;
    height: 1.296%;
    font-size: 12.000000px;
  }

  .obj_81 {
    left: 35.17%;
    top: 89.28%;
    width: 9.25%;
    height: 1.296%;
    font-size: 12.000000px;
  }

  .obj_82 {
    left: 24%;
    top: 89.28%;
    width: 11.25%;
    height: 1.296%;
  }

  .obj_83 {
    left: 17.33%;
    top: 89.28%;
    width: 6.917%;
    height: 1.296%;
    font-size: 12.000000px;
  }

  .obj_84 {
    left: 14.58%;
    top: 89.28%;
    width: 2.917%;
    height: 1.296%;
    font-size: 12.000000px;
  }

  .obj_85 {
    left: 4.25%;
    top: 89.28%;
    width: 10.42%;
    height: 1.296%;
    font-size: 12.000000px;
  }

  .obj_86 {
    left: 70.42%;
    top: 73.2%;
    width: 24%;
    height: 1.296%;
    font-size: 12.000000px;
  }

  .obj_87 {
    left: 70.17%;
    top: 69.26%;
    width: 24.25%;
    height: 1.296%;
    font-size: 12.000000px;
  }

  .obj_88 {
    left: 67.17%;
    top: 70.55%;
    width: 27.58%;
    height: 1.355%;
    font-size: 12.000000px;
  }

  .obj_89 {
    left: 67.17%;
    top: 74.44%;
    width: 27.5%;
    height: 1.237%;
    font-size: 12.000000px;
  }

  .obj_90 {
    left: 33.67%;
    top: 90.64%;
    width: 15.08%;
    height: 1.355%;
    font-size: 12.000000px;
  }

  .obj_91 {
    left: 64.08%;
    top: 89.46%;
    width: 11.58%;
    height: 1.178%;
    font-size: 12.000000px;
  }

  .obj_92 {
    left: 75.67%;
    top: 89.46%;
    width: 18.92%;
    height: 1.178%;
    font-size: 12.000000px;
  }

  .obj_93 {
    left: 51.67%;
    top: 88.22%;
    width: 15.58%;
    height: 1.237%;
    font-size: 12.000000px;
  }

  .obj_94 {
    left: 70.33%;
    top: 88.1%;
    width: 24.08%;
    height: 1.413%;
    font-size: 12.000000px;
  }

  .obj_95 {
    left: 78.42%;
    top: 85.69%;
    width: 16.25%;
    height: 1.119%;
    font-size: 12.000000px;
  }

  .obj_96 {
    left: 74%;
    top: 84.28%;
    width: 20.58%;
    height: 1.355%;
    font-size: 12.000000px;
  }

  .obj_97 {
    left: 38.58%;
    top: 45.29%;
    width: 10.08%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_98 {
    left: 28.67%;
    top: 43.23%;
    width: 9.917%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_99 {
    left: 16.42%;
    top: 45.29%;
    width: 9.667%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_100 {
    left: 62.17%;
    top: 45.29%;
    width: 10.17%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_101 {
    left: 85.17%;
    top: 43.23%;
    width: 9.5%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_102 {
    left: 85.17%;
    top: 45.29%;
    width: 9.5%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_103 {
    left: 70%;
    top: 38.81%;
    width: 10%;
    height: 1.531%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_104 {
    left: 85.17%;
    top: 38.81%;
    width: 9.5%;
    height: 1.531%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_105 {
    left: 38.58%;
    top: 38.81%;
    width: 10.08%;
    height: 1.531%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_106 {
    left: 38.58%;
    top: 40.4%;
    width: 10.08%;
    height: 1.472%;
    text-align: right;
    font-size: 12.000000px;
  }

  .pdf-page input {
    text-align: right;
    padding-right: 7px;
  }

  .pdf-page input.pde-form-field-text {
    text-align: left;
    padding-left: 7px;
  }
}

