.decloyer-form {
  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: block;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page input {
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    padding: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page-0 {
    width: 1200px;
    height: 848px;
    background-image: url(page0.jpg);
  }

  .obj_1 {
    left: 87%;
    top: 16.63%;
    width: 8.167%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_2 {
    left: 2.25%;
    top: 33.25%;
    width: 7.583%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_3 {
    left: 10%;
    top: 33.25%;
    width: 7.25%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_4 {
    left: 2.25%;
    top: 37.38%;
    width: 7.583%;
    height: 4.009%;
    font-size: 12.000000px;
  }

  .obj_5 {
    left: 2.25%;
    top: 41.63%;
    width: 7.583%;
    height: 3.774%;
    font-size: 12.000000px;
  }

  .obj_6 {
    left: 2.25%;
    top: 45.64%;
    width: 7.583%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_7 {
    left: 2.25%;
    top: 49.65%;
    width: 7.583%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_8 {
    left: 2.25%;
    top: 54.01%;
    width: 7.583%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_9 {
    left: 2.25%;
    top: 58.25%;
    width: 7.583%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_10 {
    left: 2.25%;
    top: 62.5%;
    width: 7.583%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_11 {
    left: 2.25%;
    top: 66.86%;
    width: 7.583%;
    height: 4.009%;
    font-size: 12.000000px;
  }

  .obj_12 {
    left: 2.25%;
    top: 71.11%;
    width: 7.583%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_13 {
    left: 2.25%;
    top: 75.47%;
    width: 7.583%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_14 {
    left: 2.25%;
    top: 79.6%;
    width: 7.583%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_15 {
    left: 2.25%;
    top: 83.61%;
    width: 7.583%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_16 {
    left: 10%;
    top: 37.38%;
    width: 7.25%;
    height: 4.009%;
    font-size: 12.000000px;
  }

  .obj_17 {
    left: 10%;
    top: 41.63%;
    width: 7.25%;
    height: 3.774%;
    font-size: 12.000000px;
  }

  .obj_18 {
    left: 10%;
    top: 45.52%;
    width: 7.25%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_19 {
    left: 10%;
    top: 49.65%;
    width: 7.25%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_20 {
    left: 10%;
    top: 54.01%;
    width: 7.25%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_21 {
    left: 10%;
    top: 58.25%;
    width: 7.25%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_22 {
    left: 10%;
    top: 62.5%;
    width: 7.25%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_23 {
    left: 10%;
    top: 66.86%;
    width: 7.25%;
    height: 4.009%;
    font-size: 12.000000px;
  }

  .obj_24 {
    left: 10%;
    top: 71.11%;
    width: 7.25%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_25 {
    left: 10%;
    top: 75.47%;
    width: 7.25%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_26 {
    left: 10%;
    top: 83.61%;
    width: 7.25%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_27 {
    left: 10%;
    top: 79.6%;
    width: 7.25%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_28 {
    left: 17.42%;
    top: 33.25%;
    width: 12.83%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_29 {
    left: 17.42%;
    top: 37.38%;
    width: 12.83%;
    height: 4.009%;
    font-size: 12.000000px;
  }

  .obj_30 {
    left: 17.42%;
    top: 41.63%;
    width: 12.83%;
    height: 3.774%;
    font-size: 12.000000px;
  }

  .obj_31 {
    left: 17.42%;
    top: 45.52%;
    width: 12.83%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_32 {
    left: 17.42%;
    top: 49.65%;
    width: 12.83%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_33 {
    left: 17.42%;
    top: 54.01%;
    width: 12.83%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_34 {
    left: 17.42%;
    top: 58.25%;
    width: 12.83%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_35 {
    left: 17.42%;
    top: 62.5%;
    width: 12.83%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_36 {
    left: 17.42%;
    top: 66.86%;
    width: 12.83%;
    height: 4.009%;
    font-size: 12.000000px;
  }

  .obj_37 {
    left: 17.42%;
    top: 71.11%;
    width: 12.83%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_38 {
    left: 17.42%;
    top: 75.47%;
    width: 12.83%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_39 {
    left: 17.42%;
    top: 79.6%;
    width: 12.83%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_40 {
    left: 17.42%;
    top: 83.61%;
    width: 12.83%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_41 {
    left: 30.25%;
    top: 33.25%;
    width: 12%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_42 {
    left: 30.25%;
    top: 37.38%;
    width: 12%;
    height: 4.009%;
    font-size: 12.000000px;
  }

  .obj_43 {
    left: 30.25%;
    top: 41.63%;
    width: 12%;
    height: 3.774%;
    font-size: 12.000000px;
  }

  .obj_44 {
    left: 30.25%;
    top: 45.52%;
    width: 12%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_45 {
    left: 30.25%;
    top: 49.65%;
    width: 12%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_46 {
    left: 30.25%;
    top: 54.01%;
    width: 12%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_47 {
    left: 30.25%;
    top: 58.25%;
    width: 12%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_48 {
    left: 30.25%;
    top: 62.5%;
    width: 12%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_49 {
    left: 30.25%;
    top: 66.86%;
    width: 12%;
    height: 4.009%;
    font-size: 12.000000px;
  }

  .obj_50 {
    left: 30.25%;
    top: 71.11%;
    width: 12%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_51 {
    left: 30.25%;
    top: 75.47%;
    width: 12%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_52 {
    left: 30.25%;
    top: 79.6%;
    width: 12%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_53 {
    left: 30.25%;
    top: 83.61%;
    width: 12%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_54 {
    left: 42.33%;
    top: 33.25%;
    width: 12.67%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_55 {
    left: 42.33%;
    top: 37.38%;
    width: 12.67%;
    height: 4.009%;
    font-size: 12.000000px;
  }

  .obj_56 {
    left: 42.33%;
    top: 41.63%;
    width: 12.67%;
    height: 3.774%;
    font-size: 12.000000px;
  }

  .obj_57 {
    left: 42.33%;
    top: 45.52%;
    width: 12.67%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_58 {
    left: 42.33%;
    top: 49.65%;
    width: 12.67%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_59 {
    left: 42.33%;
    top: 54.01%;
    width: 12.67%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_60 {
    left: 42.33%;
    top: 58.25%;
    width: 12.67%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_61 {
    left: 42.33%;
    top: 62.5%;
    width: 12.67%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_62 {
    left: 42.33%;
    top: 66.86%;
    width: 12.67%;
    height: 4.009%;
    font-size: 12.000000px;
  }

  .obj_63 {
    left: 42.33%;
    top: 71.11%;
    width: 12.67%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_64 {
    left: 42.33%;
    top: 75.47%;
    width: 12.67%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_65 {
    left: 42.33%;
    top: 79.6%;
    width: 12.67%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_66 {
    left: 42.33%;
    top: 83.61%;
    width: 12.67%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_67 {
    left: 69.17%;
    top: 33.25%;
    width: 9.25%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_68 {
    left: 78.5%;
    top: 33.25%;
    width: 8.333%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_69 {
    left: 69.17%;
    top: 37.38%;
    width: 9.25%;
    height: 4.009%;
    font-size: 12.000000px;
  }

  .obj_70 {
    left: 69.17%;
    top: 41.63%;
    width: 9.25%;
    height: 3.774%;
    font-size: 12.000000px;
  }

  .obj_71 {
    left: 69.17%;
    top: 45.52%;
    width: 9.25%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_72 {
    left: 69.17%;
    top: 49.65%;
    width: 9.25%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_73 {
    left: 69.17%;
    top: 54.01%;
    width: 9.25%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_74 {
    left: 69.17%;
    top: 58.25%;
    width: 9.25%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_75 {
    left: 69.17%;
    top: 62.5%;
    width: 9.25%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_76 {
    left: 69.17%;
    top: 66.86%;
    width: 9.25%;
    height: 4.009%;
    font-size: 12.000000px;
  }

  .obj_77 {
    left: 69.17%;
    top: 71.11%;
    width: 9.25%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_78 {
    left: 69.17%;
    top: 75.47%;
    width: 9.25%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_79 {
    left: 69.17%;
    top: 79.6%;
    width: 9.25%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_80 {
    left: 69.17%;
    top: 83.61%;
    width: 9.25%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_81 {
    left: 78.5%;
    top: 37.38%;
    width: 8.333%;
    height: 4.009%;
    font-size: 12.000000px;
  }

  .obj_82 {
    left: 78.5%;
    top: 41.63%;
    width: 8.333%;
    height: 3.774%;
    font-size: 12.000000px;
  }

  .obj_83 {
    left: 78.5%;
    top: 45.52%;
    width: 8.333%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_84 {
    left: 78.5%;
    top: 49.65%;
    width: 8.333%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_85 {
    left: 78.5%;
    top: 54.01%;
    width: 8.333%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_86 {
    left: 78.5%;
    top: 58.25%;
    width: 8.333%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_87 {
    left: 78.5%;
    top: 62.5%;
    width: 8.333%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_88 {
    left: 78.5%;
    top: 66.86%;
    width: 8.333%;
    height: 4.009%;
    font-size: 12.000000px;
  }

  .obj_89 {
    left: 78.5%;
    top: 71.11%;
    width: 8.333%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_90 {
    left: 78.5%;
    top: 75.47%;
    width: 8.333%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_91 {
    left: 78.5%;
    top: 79.6%;
    width: 8.333%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_92 {
    left: 78.5%;
    top: 83.61%;
    width: 8.333%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_93 {
    left: 87%;
    top: 33.25%;
    width: 8.167%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_94 {
    left: 87%;
    top: 37.38%;
    width: 8.167%;
    height: 4.009%;
    font-size: 12.000000px;
  }

  .obj_95 {
    left: 87%;
    top: 41.63%;
    width: 8.167%;
    height: 3.774%;
    font-size: 12.000000px;
  }

  .obj_96 {
    left: 87%;
    top: 45.52%;
    width: 8.167%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_97 {
    left: 87%;
    top: 49.65%;
    width: 8.167%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_98 {
    left: 87%;
    top: 54.01%;
    width: 8.167%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_99 {
    left: 87%;
    top: 58.25%;
    width: 8.167%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_100 {
    left: 87%;
    top: 62.5%;
    width: 8.167%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_101 {
    left: 87%;
    top: 66.86%;
    width: 8.167%;
    height: 4.009%;
    font-size: 12.000000px;
  }

  .obj_102 {
    left: 87%;
    top: 71.11%;
    width: 8.167%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_103 {
    left: 87%;
    top: 75.47%;
    width: 8.167%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_104 {
    left: 87%;
    top: 79.6%;
    width: 8.167%;
    height: 3.892%;
    font-size: 12.000000px;
  }

  .obj_105 {
    left: 87%;
    top: 83.61%;
    width: 8.167%;
    height: 4.127%;
    font-size: 12.000000px;
  }

  .obj_106 {
    left: 55.17%;
    top: 33.25%;
    width: 7%;
    height: 2.123%;
    font-size: 12.000000px;
  }

  .obj_107 {
    left: 62.08%;
    top: 33.25%;
    width: 7.083%;
    height: 2.123%;
    font-size: 12.000000px;
  }

  .obj_108 {
    left: 55.17%;
    top: 35.14%;
    width: 7%;
    height: 2.005%;
    font-size: 12.000000px;
  }

  .obj_109 {
    left: 62.08%;
    top: 35.14%;
    width: 7.083%;
    height: 2.005%;
    font-size: 12.000000px;
  }

  .obj_110 {
    left: 55.17%;
    top: 37.38%;
    width: 7%;
    height: 2.241%;
    font-size: 12.000000px;
  }

  .obj_111 {
    left: 62.08%;
    top: 37.38%;
    width: 7.083%;
    height: 2.241%;
    font-size: 12.000000px;
  }

  .obj_112 {
    left: 55.17%;
    top: 39.39%;
    width: 7%;
    height: 2.005%;
    font-size: 12.000000px;
  }

  .obj_113 {
    left: 62.08%;
    top: 39.39%;
    width: 7.083%;
    height: 2.005%;
    font-size: 12.000000px;
  }

  .obj_114 {
    left: 55.17%;
    top: 43.63%;
    width: 7%;
    height: 2.005%;
    font-size: 12.000000px;
  }

  .obj_115 {
    left: 55.17%;
    top: 41.63%;
    width: 7%;
    height: 2.241%;
    font-size: 12.000000px;
  }

  .obj_116 {
    left: 62.08%;
    top: 41.63%;
    width: 7.083%;
    height: 2.241%;
    font-size: 12.000000px;
  }

  .obj_117 {
    left: 62.08%;
    top: 43.63%;
    width: 7.083%;
    height: 2.005%;
    font-size: 12.000000px;
  }

  .obj_118 {
    left: 55.17%;
    top: 47.64%;
    width: 7%;
    height: 2.005%;
    font-size: 12.000000px;
  }

  .obj_119 {
    left: 55.17%;
    top: 45.64%;
    width: 7%;
    height: 2.241%;
    font-size: 12.000000px;
  }

  .obj_120 {
    left: 62.08%;
    top: 45.64%;
    width: 7.083%;
    height: 2.241%;
    font-size: 12.000000px;
  }

  .obj_121 {
    left: 62.08%;
    top: 47.64%;
    width: 7.083%;
    height: 2.005%;
    font-size: 12.000000px;
  }

  .obj_122 {
    left: 55.17%;
    top: 51.65%;
    width: 7%;
    height: 2.005%;
    font-size: 12.000000px;
  }

  .obj_123 {
    left: 55.17%;
    top: 49.76%;
    width: 7%;
    height: 2.123%;
    font-size: 12.000000px;
  }

  .obj_124 {
    left: 62.08%;
    top: 49.76%;
    width: 7.083%;
    height: 2.123%;
    font-size: 12.000000px;
  }

  .obj_125 {
    left: 62.08%;
    top: 51.65%;
    width: 7.083%;
    height: 2.005%;
    font-size: 12.000000px;
  }

  .obj_126 {
    left: 55.17%;
    top: 56.13%;
    width: 7%;
    height: 1.887%;
    font-size: 12.000000px;
  }

  .obj_127 {
    left: 55.17%;
    top: 54.13%;
    width: 7%;
    height: 2.123%;
    font-size: 12.000000px;
  }

  .obj_128 {
    left: 62.08%;
    top: 54.13%;
    width: 7.083%;
    height: 2.123%;
    font-size: 12.000000px;
  }

  .obj_129 {
    left: 62.08%;
    top: 56.13%;
    width: 7.083%;
    height: 1.887%;
    font-size: 12.000000px;
  }

  .obj_130 {
    left: 55.17%;
    top: 60.38%;
    width: 7%;
    height: 2.005%;
    font-size: 12.000000px;
  }

  .obj_131 {
    left: 55.17%;
    top: 58.37%;
    width: 7%;
    height: 2.241%;
    font-size: 12.000000px;
  }

  .obj_132 {
    left: 62.08%;
    top: 58.37%;
    width: 7.083%;
    height: 2.241%;
    font-size: 12.000000px;
  }

  .obj_133 {
    left: 62.08%;
    top: 60.38%;
    width: 7.083%;
    height: 2.005%;
    font-size: 12.000000px;
  }

  .obj_134 {
    left: 55.17%;
    top: 64.74%;
    width: 7%;
    height: 1.887%;
    font-size: 12.000000px;
  }

  .obj_135 {
    left: 55.17%;
    top: 62.74%;
    width: 7%;
    height: 2.123%;
    font-size: 12.000000px;
  }

  .obj_136 {
    left: 62.08%;
    top: 62.74%;
    width: 7.083%;
    height: 2.123%;
    font-size: 12.000000px;
  }

  .obj_137 {
    left: 62.08%;
    top: 64.74%;
    width: 7.083%;
    height: 1.887%;
    font-size: 12.000000px;
  }

  .obj_138 {
    left: 55.17%;
    top: 68.87%;
    width: 7%;
    height: 2.005%;
    font-size: 12.000000px;
  }

  .obj_139 {
    left: 55.17%;
    top: 66.86%;
    width: 7%;
    height: 2.241%;
    font-size: 12.000000px;
  }

  .obj_140 {
    left: 62.08%;
    top: 66.86%;
    width: 7.083%;
    height: 2.241%;
    font-size: 12.000000px;
  }

  .obj_141 {
    left: 62.08%;
    top: 68.87%;
    width: 7.083%;
    height: 2.005%;
    font-size: 12.000000px;
  }

  .obj_142 {
    left: 55.17%;
    top: 73.23%;
    width: 7%;
    height: 1.887%;
    font-size: 12.000000px;
  }

  .obj_143 {
    left: 55.17%;
    top: 71.23%;
    width: 7%;
    height: 2.123%;
    font-size: 12.000000px;
  }

  .obj_144 {
    left: 62.08%;
    top: 71.23%;
    width: 7.083%;
    height: 2.123%;
    font-size: 12.000000px;
  }

  .obj_145 {
    left: 62.08%;
    top: 73.23%;
    width: 7.083%;
    height: 1.887%;
    font-size: 12.000000px;
  }

  .obj_146 {
    left: 55.17%;
    top: 77.48%;
    width: 7%;
    height: 2.005%;
    font-size: 12.000000px;
  }

  .obj_147 {
    left: 55.17%;
    top: 75.47%;
    width: 7%;
    height: 2.241%;
    font-size: 12.000000px;
  }

  .obj_148 {
    left: 62.08%;
    top: 75.47%;
    width: 7.083%;
    height: 2.241%;
    font-size: 12.000000px;
  }

  .obj_149 {
    left: 62.08%;
    top: 77.48%;
    width: 7.083%;
    height: 2.005%;
    font-size: 12.000000px;
  }

  .obj_150 {
    left: 55.17%;
    top: 81.6%;
    width: 7%;
    height: 2.005%;
    font-size: 12.000000px;
  }

  .obj_151 {
    left: 55.17%;
    top: 79.72%;
    width: 7%;
    height: 2.123%;
    font-size: 12.000000px;
  }

  .obj_152 {
    left: 62.08%;
    top: 79.72%;
    width: 7.083%;
    height: 2.123%;
    font-size: 12.000000px;
  }

  .obj_153 {
    left: 62.08%;
    top: 81.6%;
    width: 7.083%;
    height: 2.005%;
    font-size: 12.000000px;
  }

  .obj_154 {
    left: 55.17%;
    top: 85.85%;
    width: 7%;
    height: 1.887%;
    font-size: 12.000000px;
  }

  .obj_155 {
    left: 55.17%;
    top: 83.84%;
    width: 7%;
    height: 2.123%;
    font-size: 12.000000px;
  }

  .obj_156 {
    left: 62.08%;
    top: 83.84%;
    width: 7.083%;
    height: 2.123%;
    font-size: 12.000000px;
  }

  .obj_157 {
    left: 62.08%;
    top: 85.85%;
    width: 7.083%;
    height: 1.887%;
    font-size: 12.000000px;
  }

  //TODO Custom styles. Do not replace, after generate new styles from pdf
  .pdf-page input {
    text-align: right;
    padding-right: 7px;
  }

  .pdf-page input.pde-form-field-text {
    text-align: left;
    padding-left: 7px;
  }

  .auto-complete-field {
    padding-left: 7px;
    padding-right: 7px;
    overflow: hidden;
    white-space: nowrap;
  }
}
