@import "assets/colors/colors.scss";

.split:hover, .splitSelected {
  text-decoration: underline;
}

tr.endEntry:not(:last-child) td {
  position: relative;

  &::after {
    position: absolute;
    left: 0;
    bottom: -.5px;
    z-index: 1;

    height: 1px;
    width: 100%;

    content: "";
    background-color: #9b9b9b;
  }

  &:not(:last-child)::after {
    width: calc(100% + 2px);
  }
}

.flag {
  flex: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  .label {
    color: $color-error;
  }

  span.icon {
    font-size: 40px;
    color: $color-error;
    display: flex;
  }
}

.alert {
  flex: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  span.icon {
    font-size: 18px;
    color: $color-error;
    display: flex;
  }
}

