@import "assets/colors/colors.scss";

.docIcon {
  transition: 0.2s all ease;
  &_active {
  }
}

.docImage_Wrap {
  width: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: 0.3s all ease-in;
  position: relative;
  opacity: 0;
  .docImage {
    width: 100%;
    z-index: 1;
    transition: 0.2s all ease-in;
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: 0.2s all ease-in;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.47);
      &__icon {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &:hover {
    cursor: pointer;
    .docImage__background {
      opacity: 1;
    }
  }

  &_active {
    width: 45px;
    height: 60px;
    opacity: 1;
  }
}

.tableWrap {
  padding-bottom: 10px;
  overflow-x: auto;
  margin-bottom: 15px;
  td {
    > button {
      &:hover {
        background-color: transparent !important;
      }
    }
  }
}

.orangedHeader {
  p {
    color: $color-secondary;
  }

}

.LinkedTo {
  display: flex;
}
.linkedItem {
  padding: 2px 7px;
  font-size: 11px;
  &:hover {
    color: $color-primary;
  }
}

.LinkedToSelect {
  display: flex;
  align-items: center;
  span {
    color: $color-primary;
    margin-left: 3px;
  }
}

.tableCell {
  p {
    display: inline-block;
    max-width: 140px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

}

.table {
  transition: 0.2s all ease;
  th {
    span, p {
      font-family: basier_circlemedium;
      line-height: normal;
      font-stretch: normal;
      letter-spacing: normal;
    }
  }
  th:last-child, td:last-child {
    width: 100px !important;
    padding-right: 4px;
  }
  tr {
    &:hover {
      cursor: pointer;
    }
  }
  &_active {
    th:last-child, td:last-child {
      background-color: white;
    }
    tr:nth-child(2n) {
      td {
        background-color: #f4f4f4;
      }
    }
    tr:hover {
      td {
        background-color: #e3e3e3;
      }
    }
  }
}

@media screen and (max-width: 1590px) {
  .table {
    min-width: 1250px;
  }

  .tableWrap {
    overflow-x: scroll;
  }
}

.tableRowBtns {
  display: flex;
  button {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 32px;
    height: 32px;
  }
}