@import "assets/colors/colors.scss";

.container {
  height: auto;
  overflow: auto;
  border-radius: 0px 2px 2px 2px;
  box-shadow: 2px 2px 4px 0 $box-shadow;
  background-color: $white;
  padding: 10px;
}

.headerTitle {
  margin-top:15px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.headerUpButton {
  button {
    margin: 10px 10px;
    padding: 10px 10px;
    display: inline-block;
  }
}

.bottomTableButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;

}

.table {
  display: inline-block;
  padding: 15px; 
  table {
    width: auto;
  }
  th, td {
    max-width: 250px;
    overflow: hidden;
    padding: 8px 32px 8px 8px;
  }

  tr {
    td:first-child,
    th:first-child {
      padding: 8px;
    }
  }
}
