@import 'assets/colors/colors.scss';

.form {
  .row {
    background-color: $white;
    align-items: flex-end;
    display: flex;

    .field {
      width: 200px;
      margin-bottom: 4px;
      margin-right: 20px;

      &.extraMargin {
        margin-bottom: 8px;
      }

      &.xxl {
        width: 400px;
      }

      &.xl {
        width: 300px;
      }

      &.md {
        width: 160px;
      }

      &.sm {
        width: 60px;
      }

      &.xs {
        width: 40px;
      }
    }

    .lgContainer {
      margin-left: 20px;
    }
  }

  h6 {
    margin-top: 20px;
  }
}

.birthDate {
  display: flex;
  flex-direction: column;
}
