tr.headers {
  height: unset;
}

.pjContainer {
  margin: 20px 0px;
}

.chipsContainer {
  margin-top: 8px;

  > div {
    margin-right: 8px;
    margin-bottom: 8px;
  }
}
.diaryField {
  width: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.monthField {
  margin-left: 20px;
}

.yearField {
  margin-left: 20px;
}

.topFieldsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}