.form-tax-declaration-2059g {
  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: block;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page input {
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    padding: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page-0 {
    width: 1200px;
    height: 1697px;
    background-image: url(page0.jpg);
  }

  .obj_1 {
    left: 18.58%;
    top: 24.87%;
    width: 11.08%;
    height: 1.002%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_2 {
    left: 30.58%;
    top: 26.58%;
    width: 18.25%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_3 {
    left: 21.33%;
    top: 28.64%;
    width: 6%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_4 {
    left: 27.58%;
    top: 28.64%;
    width: 5.833%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_5 {
    left: 26.42%;
    top: 30.58%;
    width: 9%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_6 {
    left: 40.58%;
    top: 28.64%;
    width: 8.917%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_7 {
    left: 45%;
    top: 30.52%;
    width: 25.5%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_8 {
    left: 41.25%;
    top: 24.81%;
    width: 55.17%;
    height: 1.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_9 {
    left: 49.5%;
    top: 28.64%;
    width: 46.92%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_10 {
    left: 83.42%;
    top: 26.75%;
    width: 13%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_11 {
    left: 76.75%;
    top: 30.64%;
    width: 19.67%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_12 {
    left: 18.5%;
    top: 32.88%;
    width: 11.08%;
    height: 1.002%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_13 {
    left: 41.17%;
    top: 32.76%;
    width: 55.17%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_14 {
    left: 30.58%;
    top: 34.53%;
    width: 18.17%;
    height: 1.414%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_15 {
    left: 83.33%;
    top: 34.77%;
    width: 13.08%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_16 {
    left: 76.67%;
    top: 38.6%;
    width: 19.67%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_17 {
    left: 49.5%;
    top: 36.65%;
    width: 46.83%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_18 {
    left: 44.92%;
    top: 38.54%;
    width: 25.5%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_19 {
    left: 40.5%;
    top: 36.59%;
    width: 8.917%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_20 {
    left: 27.58%;
    top: 36.65%;
    width: 5.75%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_21 {
    left: 21.25%;
    top: 36.65%;
    width: 6.083%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_22 {
    left: 26.33%;
    top: 38.54%;
    width: 9%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_23 {
    left: 18.5%;
    top: 40.84%;
    width: 11.08%;
    height: 1.002%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_24 {
    left: 41.17%;
    top: 40.78%;
    width: 55.17%;
    height: 1.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_25 {
    left: 30.58%;
    top: 42.55%;
    width: 18.17%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_26 {
    left: 83.33%;
    top: 42.72%;
    width: 13.08%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_27 {
    left: 76.67%;
    top: 46.55%;
    width: 19.67%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_28 {
    left: 49.5%;
    top: 44.61%;
    width: 46.83%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_29 {
    left: 44.92%;
    top: 46.49%;
    width: 25.5%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_30 {
    left: 40.5%;
    top: 44.55%;
    width: 8.917%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_31 {
    left: 27.58%;
    top: 44.61%;
    width: 5.75%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_32 {
    left: 21.25%;
    top: 44.61%;
    width: 6.083%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_33 {
    left: 26.33%;
    top: 46.55%;
    width: 9%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_34 {
    left: 18.58%;
    top: 48.91%;
    width: 11.08%;
    height: 1.002%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_35 {
    left: 41.25%;
    top: 48.79%;
    width: 55.17%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_36 {
    left: 30.58%;
    top: 50.56%;
    width: 18.33%;
    height: 1.414%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_37 {
    left: 83.42%;
    top: 50.8%;
    width: 13.08%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_38 {
    left: 76.75%;
    top: 54.63%;
    width: 19.67%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_39 {
    left: 49.58%;
    top: 52.68%;
    width: 46.83%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_40 {
    left: 45.08%;
    top: 54.57%;
    width: 25.5%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_41 {
    left: 40.67%;
    top: 52.62%;
    width: 8.917%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_42 {
    left: 27.67%;
    top: 52.68%;
    width: 5.833%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_43 {
    left: 21.42%;
    top: 52.68%;
    width: 6%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_44 {
    left: 26.42%;
    top: 54.63%;
    width: 9.083%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_45 {
    left: 18.5%;
    top: 56.87%;
    width: 11.08%;
    height: 1.002%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_46 {
    left: 41.17%;
    top: 56.81%;
    width: 55.17%;
    height: 1.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_47 {
    left: 30.58%;
    top: 58.57%;
    width: 18.17%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_48 {
    left: 83.33%;
    top: 58.75%;
    width: 13.08%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_49 {
    left: 76.67%;
    top: 62.64%;
    width: 19.67%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_50 {
    left: 49.5%;
    top: 60.64%;
    width: 46.83%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_51 {
    left: 44.92%;
    top: 62.52%;
    width: 25.5%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_52 {
    left: 40.5%;
    top: 60.64%;
    width: 8.917%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_53 {
    left: 27.58%;
    top: 60.64%;
    width: 5.75%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_54 {
    left: 21.25%;
    top: 60.64%;
    width: 6.083%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_55 {
    left: 26.33%;
    top: 62.58%;
    width: 9%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_56 {
    left: 18.58%;
    top: 64.88%;
    width: 11.08%;
    height: 1.002%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_57 {
    left: 41.25%;
    top: 64.76%;
    width: 55.17%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_58 {
    left: 30.58%;
    top: 66.53%;
    width: 18.25%;
    height: 1.414%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_59 {
    left: 83.42%;
    top: 66.76%;
    width: 13%;
    height: 1.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_60 {
    left: 76.75%;
    top: 70.54%;
    width: 19.67%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_61 {
    left: 49.5%;
    top: 68.65%;
    width: 46.92%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_62 {
    left: 45%;
    top: 70.54%;
    width: 25.5%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_63 {
    left: 40.58%;
    top: 68.59%;
    width: 8.917%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_64 {
    left: 27.58%;
    top: 68.65%;
    width: 5.833%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_65 {
    left: 21.33%;
    top: 68.65%;
    width: 6%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_66 {
    left: 26.42%;
    top: 70.54%;
    width: 9%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_67 {
    left: 18.58%;
    top: 72.78%;
    width: 11.08%;
    height: 1.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_68 {
    left: 41.25%;
    top: 72.72%;
    width: 55.17%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_69 {
    left: 29%;
    top: 74.48%;
    width: 19.83%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_70 {
    left: 83.42%;
    top: 74.66%;
    width: 13%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_71 {
    left: 76.75%;
    top: 78.55%;
    width: 19.67%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_72 {
    left: 49.5%;
    top: 76.55%;
    width: 46.92%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_73 {
    left: 45%;
    top: 78.43%;
    width: 25.5%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_74 {
    left: 40.58%;
    top: 76.55%;
    width: 8.917%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_75 {
    left: 27.58%;
    top: 76.55%;
    width: 5.833%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_76 {
    left: 21.33%;
    top: 76.55%;
    width: 6%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_77 {
    left: 26.42%;
    top: 78.49%;
    width: 9%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_78 {
    left: 18.58%;
    top: 80.79%;
    width: 11.08%;
    height: 1.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_79 {
    left: 41.25%;
    top: 80.73%;
    width: 55.17%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_80 {
    left: 30.58%;
    top: 82.5%;
    width: 18.25%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_81 {
    left: 83.42%;
    top: 82.68%;
    width: 13%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_82 {
    left: 76.75%;
    top: 86.56%;
    width: 19.67%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_83 {
    left: 49.5%;
    top: 84.56%;
    width: 46.92%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_84 {
    left: 45%;
    top: 86.51%;
    width: 25.5%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_85 {
    left: 40.58%;
    top: 84.56%;
    width: 8.917%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_86 {
    left: 27.58%;
    top: 84.56%;
    width: 5.833%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_87 {
    left: 21.33%;
    top: 84.56%;
    width: 6%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_88 {
    left: 26.42%;
    top: 86.51%;
    width: 9%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_89 {
    left: 95.58%;
    top: 10.43%;
    width: 2.083%;
    height: 1.414%;
    margin: 0px 0px 0px 0px;
  }

  .obj_90 {
    left: 62.92%;
    top: 22.04%;
    width: 34.42%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_91 {
    left: 18.17%;
    top: 18.21%;
    width: 4.083%;
    height: 1.296%;
    font-size: 12.000000px;
  }

  .obj_92 {
    left: 22.17%;
    top: 18.21%;
    width: 8.583%;
    height: 1.296%;
  }

  .obj_93 {
    left: 30.83%;
    top: 18.21%;
    width: 41.42%;
    height: 1.296%;
  }

  .obj_94 {
    left: 17.67%;
    top: 20.39%;
    width: 27.58%;
    height: 1.237%;
    font-size: 12.000000px;
  }

  .obj_95 {
    left: 52.42%;
    top: 20.45%;
    width: 45%;
    height: 1.179%;
    font-size: 12.000000px;
  }

  .obj_96 {
    left: 29.58%;
    top: 16.21%;
    width: 68%;
    height: 1.237%;
    font-size: 12.000000px;
  }

  .obj_97 {
    left: 21.17%;
    top: 13.55%;
    width: 16.33%;
    height: 1.414%;
    font-size: 12.000000px;
  }

  .obj_98 {
    left: 65.75%;
    top: 13.44%;
    width: 28.58%;
    height: 1.591%;
    font-size: 12.000000px;
  }

  .pdf-page input {
    text-align: right;
    padding-right: 7px;
  }

  .pdf-page input.pde-form-field-text {
    text-align: left;
    padding-left: 7px;
  }
}
