@import "assets/colors/colors.scss";

span {
  &.isAmount {
    padding-right: 10px;
    text-align: right;
  }

  &.paddingLeft {
    padding-left: 10px;
  }

  &.isDisabled {
    color: $grey;
  }
}
