.tax2055 {
  .pdf-gray-bg {
    background-color: #AAA
  }

  .pdf-page {
    border-bottom: 1px solid #AAA
  }

  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #AAA
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: flex;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page input {
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-inner img {
    width: 100%
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%;
    position: absolute
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    margin: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page-1 {
    width: 1200px;
    height: 1697px;
    background-image: url(page0.jpg);
  }

  .pdf-obj-0-1 {
    margin: 0px 0px 0px 0px;
    left: 94.25%;
    top: 7.189%;
    width: 1.5%;
    height: 1.179%;
  }

  .pdf-obj-0-2 {
    font-size: 12.000000px;
    left: 32.75%;
    top: 17.32%;
    width: 14.17%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-3 {
    font-size: 12.000000px;
    left: 49.5%;
    top: 17.32%;
    width: 14.25%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-4 {
    font-size: 12.000000px;
    left: 66.5%;
    top: 17.32%;
    width: 14.17%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-5 {
    font-size: 12.000000px;
    left: 83.25%;
    top: 17.32%;
    width: 14.25%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-6 {
    font-size: 12.000000px;
    left: 32.75%;
    top: 19.45%;
    width: 14.17%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-7 {
    font-size: 12.000000px;
    left: 49.5%;
    top: 19.45%;
    width: 14.25%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-8 {
    font-size: 12.000000px;
    left: 66.5%;
    top: 19.45%;
    width: 14.17%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-9 {
    font-size: 12.000000px;
    left: 83.25%;
    top: 19.45%;
    width: 14.25%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-10 {
    font-size: 12.000000px;
    left: 32.75%;
    top: 21.57%;
    width: 14.17%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-11 {
    font-size: 12.000000px;
    left: 49.5%;
    top: 21.57%;
    width: 14.25%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-12 {
    font-size: 12.000000px;
    left: 66.5%;
    top: 21.57%;
    width: 14.17%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-13 {
    font-size: 12.000000px;
    left: 83.25%;
    top: 21.57%;
    width: 14.25%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-14 {
    font-size: 12.000000px;
    left: 32.75%;
    top: 23.69%;
    width: 14.17%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-15 {
    font-size: 12.000000px;
    left: 49.5%;
    top: 23.69%;
    width: 14.25%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-16 {
    font-size: 12.000000px;
    left: 66.5%;
    top: 23.69%;
    width: 14.17%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-17 {
    font-size: 12.000000px;
    left: 83.25%;
    top: 23.69%;
    width: 14.25%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-18 {
    font-size: 12.000000px;
    left: 32.75%;
    top: 25.81%;
    width: 14.17%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-19 {
    font-size: 12.000000px;
    left: 49.5%;
    top: 25.81%;
    width: 14.25%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-20 {
    font-size: 12.000000px;
    left: 66.5%;
    top: 25.81%;
    width: 14.17%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-21 {
    font-size: 12.000000px;
    left: 83.25%;
    top: 25.81%;
    width: 14.25%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-22 {
    font-size: 12.000000px;
    left: 32.75%;
    top: 27.87%;
    width: 14.17%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-23 {
    font-size: 12.000000px;
    left: 49.5%;
    top: 27.87%;
    width: 14.25%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-24 {
    font-size: 12.000000px;
    left: 66.5%;
    top: 27.87%;
    width: 14.17%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-25 {
    font-size: 12.000000px;
    left: 83.25%;
    top: 27.87%;
    width: 14.25%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-26 {
    font-size: 12.000000px;
    left: 32.75%;
    top: 29.99%;
    width: 14.17%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-27 {
    font-size: 12.000000px;
    left: 49.5%;
    top: 29.99%;
    width: 14.25%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-28 {
    font-size: 12.000000px;
    left: 66.5%;
    top: 29.99%;
    width: 14.17%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-29 {
    font-size: 12.000000px;
    left: 83.25%;
    top: 29.99%;
    width: 14.25%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-30 {
    font-size: 12.000000px;
    left: 32.75%;
    top: 32.17%;
    width: 14.17%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-31 {
    font-size: 12.000000px;
    left: 49.5%;
    top: 32.17%;
    width: 14.25%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-32 {
    font-size: 12.000000px;
    left: 66.5%;
    top: 32.17%;
    width: 14.17%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-33 {
    font-size: 12.000000px;
    left: 83.25%;
    top: 32.17%;
    width: 14.25%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-34 {
    font-size: 12.000000px;
    left: 32.75%;
    top: 34.3%;
    width: 14.17%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-35 {
    font-size: 12.000000px;
    left: 49.5%;
    top: 34.3%;
    width: 14.25%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-36 {
    font-size: 12.000000px;
    left: 66.5%;
    top: 34.3%;
    width: 14.17%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-37 {
    font-size: 12.000000px;
    left: 83.25%;
    top: 34.3%;
    width: 14.25%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-38 {
    font-size: 12.000000px;
    left: 32.75%;
    top: 36.42%;
    width: 14.17%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-39 {
    font-size: 12.000000px;
    left: 49.5%;
    top: 36.42%;
    width: 14.25%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-40 {
    font-size: 12.000000px;
    left: 66.5%;
    top: 36.42%;
    width: 14.17%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-41 {
    font-size: 12.000000px;
    left: 83.25%;
    top: 36.42%;
    width: 14.25%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-42 {
    font-size: 12.000000px;
    left: 32.75%;
    top: 38.54%;
    width: 14.17%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-43 {
    font-size: 12.000000px;
    left: 49.5%;
    top: 38.54%;
    width: 14.25%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-44 {
    font-size: 12.000000px;
    left: 66.5%;
    top: 38.54%;
    width: 14.17%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-45 {
    font-size: 12.000000px;
    left: 83.25%;
    top: 38.54%;
    width: 14.25%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-46 {
    font-size: 12.000000px;
    left: 32.75%;
    top: 40.66%;
    width: 14.17%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-47 {
    font-size: 12.000000px;
    left: 49.5%;
    top: 40.66%;
    width: 14.25%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-48 {
    font-size: 12.000000px;
    left: 66.5%;
    top: 40.66%;
    width: 14.17%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-49 {
    font-size: 12.000000px;
    left: 83.25%;
    top: 40.66%;
    width: 14.25%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-50 {
    font-size: 12.000000px;
    left: 32.75%;
    top: 42.84%;
    width: 14.17%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-51 {
    font-size: 12.000000px;
    left: 49.5%;
    top: 42.84%;
    width: 14.25%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-52 {
    font-size: 12.000000px;
    left: 66.5%;
    top: 42.84%;
    width: 14.17%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-53 {
    font-size: 12.000000px;
    left: 83.25%;
    top: 42.84%;
    width: 14.25%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-54 {
    font-size: 12.000000px;
    left: 15.42%;
    top: 53.39%;
    width: 9.833%;
    height: 2.121%;
    text-align: right;
  }

  .pdf-obj-0-55 {
    font-size: 12.000000px;
    left: 15.42%;
    top: 55.57%;
    width: 9.833%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-56 {
    font-size: 12.000000px;
    left: 15.42%;
    top: 57.69%;
    width: 9.833%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-57 {
    font-size: 12.000000px;
    left: 15.42%;
    top: 59.81%;
    width: 9.833%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-58 {
    font-size: 12.000000px;
    left: 15.42%;
    top: 61.93%;
    width: 9.833%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-59 {
    font-size: 12.000000px;
    left: 15.42%;
    top: 64.05%;
    width: 9.833%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-60 {
    font-size: 12.000000px;
    left: 15.42%;
    top: 66.23%;
    width: 9.833%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-61 {
    font-size: 12.000000px;
    left: 15.42%;
    top: 68.36%;
    width: 9.833%;
    height: 2.121%;
    text-align: right;
  }

  .pdf-obj-0-62 {
    font-size: 12.000000px;
    left: 15.42%;
    top: 70.65%;
    width: 9.833%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-63 {
    font-size: 12.000000px;
    left: 15.42%;
    top: 72.89%;
    width: 9.833%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-64 {
    font-size: 12.000000px;
    left: 15.42%;
    top: 75.13%;
    width: 9.833%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-65 {
    font-size: 12.000000px;
    left: 15.42%;
    top: 77.43%;
    width: 9.833%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-66 {
    font-size: 12.000000px;
    left: 15.42%;
    top: 79.55%;
    width: 9.833%;
    height: 3.005%;
    text-align: right;
  }

  .pdf-obj-0-67 {
    font-size: 12.000000px;
    left: 15.42%;
    top: 82.73%;
    width: 9.833%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-68 {
    font-size: 12.000000px;
    left: 15.42%;
    top: 84.91%;
    width: 18.25%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-69 {
    font-size: 12.000000px;
    left: 47.5%;
    top: 84.91%;
    width: 17.83%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-70 {
    font-size: 12.000000px;
    left: 79.25%;
    top: 84.91%;
    width: 18.25%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-71 {
    font-size: 12.000000px;
    left: 27.17%;
    top: 82.73%;
    width: 9.833%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-72 {
    font-size: 12.000000px;
    left: 27.17%;
    top: 77.43%;
    width: 9.833%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-73 {
    font-size: 12.000000px;
    left: 27.17%;
    top: 75.13%;
    width: 9.833%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-74 {
    font-size: 12.000000px;
    left: 27.17%;
    top: 72.89%;
    width: 9.833%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-75 {
    font-size: 12.000000px;
    left: 27.17%;
    top: 70.65%;
    width: 9.833%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-76 {
    font-size: 12.000000px;
    left: 27.17%;
    top: 68.36%;
    width: 9.833%;
    height: 2.121%;
    text-align: right;
  }

  .pdf-obj-0-77 {
    font-size: 12.000000px;
    left: 27.17%;
    top: 66.23%;
    width: 9.833%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-78 {
    font-size: 12.000000px;
    left: 27.17%;
    top: 64.05%;
    width: 9.833%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-79 {
    font-size: 12.000000px;
    left: 27.17%;
    top: 61.93%;
    width: 9.833%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-80 {
    font-size: 12.000000px;
    left: 27.17%;
    top: 59.81%;
    width: 9.833%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-81 {
    font-size: 12.000000px;
    left: 27.17%;
    top: 57.69%;
    width: 9.833%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-82 {
    font-size: 12.000000px;
    left: 27.17%;
    top: 55.57%;
    width: 9.833%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-83 {
    font-size: 12.000000px;
    left: 27.17%;
    top: 53.39%;
    width: 9.833%;
    height: 2.121%;
    text-align: right;
  }

  .pdf-obj-0-84 {
    font-size: 12.000000px;
    left: 39.08%;
    top: 77.43%;
    width: 9.833%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-85 {
    font-size: 12.000000px;
    left: 39.08%;
    top: 75.13%;
    width: 9.833%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-86 {
    font-size: 12.000000px;
    left: 39.08%;
    top: 72.89%;
    width: 9.833%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-87 {
    font-size: 12.000000px;
    left: 39.08%;
    top: 70.65%;
    width: 9.833%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-88 {
    font-size: 12.000000px;
    left: 39.08%;
    top: 68.36%;
    width: 9.833%;
    height: 2.121%;
    text-align: right;
  }

  .pdf-obj-0-89 {
    font-size: 12.000000px;
    left: 39.08%;
    top: 66.23%;
    width: 9.833%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-90 {
    font-size: 12.000000px;
    left: 39.08%;
    top: 64.05%;
    width: 9.833%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-91 {
    font-size: 12.000000px;
    left: 39.08%;
    top: 61.93%;
    width: 9.833%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-92 {
    font-size: 12.000000px;
    left: 39.08%;
    top: 59.81%;
    width: 9.833%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-93 {
    font-size: 12.000000px;
    left: 39.08%;
    top: 57.69%;
    width: 9.833%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-94 {
    font-size: 12.000000px;
    left: 39.08%;
    top: 55.57%;
    width: 9.833%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-95 {
    font-size: 12.000000px;
    left: 39.08%;
    top: 53.39%;
    width: 9.833%;
    height: 2.121%;
    text-align: right;
  }

  .pdf-obj-0-96 {
    font-size: 12.000000px;
    left: 39.08%;
    top: 82.73%;
    width: 9.833%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-97 {
    font-size: 12.000000px;
    left: 51.08%;
    top: 82.73%;
    width: 9.583%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-98 {
    font-size: 12.000000px;
    left: 62.92%;
    top: 82.73%;
    width: 9.667%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-99 {
    font-size: 12.000000px;
    left: 74.75%;
    top: 82.73%;
    width: 9.833%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-100 {
    font-size: 12.000000px;
    left: 86.67%;
    top: 82.73%;
    width: 10.83%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-101 {
    font-size: 12.000000px;
    left: 51.08%;
    top: 79.55%;
    width: 9.583%;
    height: 3.005%;
    text-align: right;
  }

  .pdf-obj-0-102 {
    font-size: 12.000000px;
    left: 51.08%;
    top: 77.43%;
    width: 9.583%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-103 {
    font-size: 12.000000px;
    left: 51.08%;
    top: 75.13%;
    width: 9.583%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-104 {
    font-size: 12.000000px;
    left: 51.08%;
    top: 72.89%;
    width: 9.583%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-105 {
    font-size: 12.000000px;
    left: 51.08%;
    top: 70.65%;
    width: 9.583%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-106 {
    font-size: 12.000000px;
    left: 51.08%;
    top: 68.36%;
    width: 9.583%;
    height: 2.121%;
    text-align: right;
  }

  .pdf-obj-0-107 {
    font-size: 12.000000px;
    left: 51.08%;
    top: 66.23%;
    width: 9.583%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-108 {
    font-size: 12.000000px;
    left: 51.08%;
    top: 64.05%;
    width: 9.583%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-109 {
    font-size: 12.000000px;
    left: 51.08%;
    top: 61.93%;
    width: 9.583%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-110 {
    font-size: 12.000000px;
    left: 51.08%;
    top: 59.81%;
    width: 9.583%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-111 {
    font-size: 12.000000px;
    left: 51.08%;
    top: 57.69%;
    width: 9.583%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-112 {
    font-size: 12.000000px;
    left: 51.08%;
    top: 55.57%;
    width: 9.583%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-113 {
    font-size: 12.000000px;
    left: 51.08%;
    top: 53.39%;
    width: 9.583%;
    height: 2.121%;
    text-align: right;
  }

  .pdf-obj-0-114 {
    font-size: 12.000000px;
    left: 62.92%;
    top: 77.43%;
    width: 9.667%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-115 {
    font-size: 12.000000px;
    left: 62.92%;
    top: 75.13%;
    width: 9.667%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-116 {
    font-size: 12.000000px;
    left: 62.92%;
    top: 72.89%;
    width: 9.667%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-117 {
    font-size: 12.000000px;
    left: 62.92%;
    top: 70.65%;
    width: 9.667%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-118 {
    font-size: 12.000000px;
    left: 62.92%;
    top: 68.36%;
    width: 9.667%;
    height: 2.121%;
    text-align: right;
  }

  .pdf-obj-0-119 {
    font-size: 12.000000px;
    left: 62.92%;
    top: 66.23%;
    width: 9.667%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-120 {
    font-size: 12.000000px;
    left: 62.92%;
    top: 64.05%;
    width: 9.667%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-121 {
    font-size: 12.000000px;
    left: 62.92%;
    top: 61.93%;
    width: 9.667%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-122 {
    font-size: 12.000000px;
    left: 62.92%;
    top: 59.81%;
    width: 9.667%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-123 {
    font-size: 12.000000px;
    left: 62.92%;
    top: 57.69%;
    width: 9.667%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-124 {
    font-size: 12.000000px;
    left: 62.92%;
    top: 55.57%;
    width: 9.667%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-125 {
    font-size: 12.000000px;
    left: 62.92%;
    top: 53.39%;
    width: 9.667%;
    height: 2.121%;
    text-align: right;
  }

  .pdf-obj-0-126 {
    font-size: 12.000000px;
    left: 74.75%;
    top: 77.43%;
    width: 9.833%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-127 {
    font-size: 12.000000px;
    left: 74.75%;
    top: 75.13%;
    width: 9.833%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-128 {
    font-size: 12.000000px;
    left: 74.75%;
    top: 72.89%;
    width: 9.833%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-129 {
    font-size: 12.000000px;
    left: 74.75%;
    top: 70.65%;
    width: 9.833%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-130 {
    font-size: 12.000000px;
    left: 74.75%;
    top: 68.36%;
    width: 9.833%;
    height: 2.121%;
    text-align: right;
  }

  .pdf-obj-0-131 {
    font-size: 12.000000px;
    left: 74.75%;
    top: 66.23%;
    width: 9.833%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-132 {
    font-size: 12.000000px;
    left: 74.75%;
    top: 64.05%;
    width: 9.833%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-133 {
    font-size: 12.000000px;
    left: 74.75%;
    top: 61.93%;
    width: 9.833%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-134 {
    font-size: 12.000000px;
    left: 74.75%;
    top: 59.81%;
    width: 9.833%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-135 {
    font-size: 12.000000px;
    left: 74.75%;
    top: 57.69%;
    width: 9.833%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-136 {
    font-size: 12.000000px;
    left: 74.75%;
    top: 55.57%;
    width: 9.833%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-137 {
    font-size: 12.000000px;
    left: 74.75%;
    top: 53.39%;
    width: 9.833%;
    height: 2.121%;
    text-align: right;
  }

  .pdf-obj-0-138 {
    font-size: 12.000000px;
    left: 86.67%;
    top: 79.55%;
    width: 10.83%;
    height: 3.005%;
    text-align: right;
  }

  .pdf-obj-0-139 {
    font-size: 12.000000px;
    left: 86.67%;
    top: 77.43%;
    width: 10.83%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-140 {
    font-size: 12.000000px;
    left: 86.67%;
    top: 75.13%;
    width: 10.83%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-141 {
    font-size: 12.000000px;
    left: 86.67%;
    top: 72.89%;
    width: 10.83%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-142 {
    font-size: 12.000000px;
    left: 86.67%;
    top: 70.65%;
    width: 10.83%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-143 {
    font-size: 12.000000px;
    left: 86.67%;
    top: 68.36%;
    width: 10.83%;
    height: 2.121%;
    text-align: right;
  }

  .pdf-obj-0-144 {
    font-size: 12.000000px;
    left: 86.67%;
    top: 66.23%;
    width: 10.83%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-145 {
    font-size: 12.000000px;
    left: 86.67%;
    top: 64.05%;
    width: 10.83%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-146 {
    font-size: 12.000000px;
    left: 86.67%;
    top: 61.93%;
    width: 10.83%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-147 {
    font-size: 12.000000px;
    left: 86.67%;
    top: 59.81%;
    width: 10.83%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-148 {
    font-size: 12.000000px;
    left: 86.67%;
    top: 57.69%;
    width: 10.83%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-149 {
    font-size: 12.000000px;
    left: 86.67%;
    top: 55.57%;
    width: 10.83%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-150 {
    font-size: 12.000000px;
    left: 86.67%;
    top: 53.39%;
    width: 10.83%;
    height: 2.121%;
    text-align: right;
  }

  .pdf-obj-0-151 {
    font-size: 12.000000px;
    left: 32.75%;
    top: 93.58%;
    width: 16.5%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-152 {
    font-size: 12.000000px;
    left: 49.5%;
    top: 93.58%;
    width: 14.25%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-153 {
    font-size: 12.000000px;
    left: 66.5%;
    top: 93.58%;
    width: 14.17%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-154 {
    font-size: 12.000000px;
    left: 83.25%;
    top: 93.58%;
    width: 14.25%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-155 {
    font-size: 12.000000px;
    left: 32.75%;
    top: 95.58%;
    width: 16.5%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-156 {
    font-size: 12.000000px;
    left: 49.5%;
    top: 95.58%;
    width: 14.25%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-157 {
    font-size: 12.000000px;
    left: 66.5%;
    top: 95.58%;
    width: 14.17%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-158 {
    font-size: 12.000000px;
    left: 83.25%;
    top: 95.58%;
    width: 14.25%;
    height: 2.062%;
    text-align: right;
  }

  .obj_159 {
    left: 19.17%;
    top: 6.718%;
    width: 70.42%;
    height: 1.768%;
    font-size: 12.000000px;
  }

  .pdf-page input {
    padding-right: 7px;
  }

  .pdf-page input.pde-form-field-text {
    text-align: left;
    padding-left: 7px;
  }
}
