.iframe {
  align-items: center;
  justify-content: center;
  min-width: 1100px;
  min-height: 600px;
  border: none;
  html::-webkit-scrollbar{
    background: black;
  }

  .footer {
    display: none;
  }
}
