@import "assets/colors/colors.scss";

.select {
  min-width: 60px;
}

div.input {
  padding-left: 6px;

  .text {
    justify-content: center;
  }
}

.icon {
  fill: $color-primary !important;
}

.disabled ~ .icon {
  fill: $grey !important;
}
