@import "assets/colors/colors.scss";

.popoverFlag {
  height: auto;
  width: 90px;
  padding-bottom:10px;
  padding-top:10px;
  padding-right: 5px;
  overflow: hidden;
}

.list {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 240px;
  overflow: auto;
  width: 100px;
}

.list_item {
  justify-content: flex-start;
  width: 190px;
  height: 26px;
  font-family: "basier_circleregular";
  font-size: 14px;
  color: $black;
}

.no_item {
  font-family: "basier_circlemedium";
  justify-content: center;
  font-size: 16px;
  margin-left: 8px;
}

