@import "assets/colors/colors.scss";

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  padding: 20px 20px 0;
  background-color: $white;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: 15px;
  & > div, & > button {
      margin-right: 10px;
  }
}

.error {
  position: absolute;
  bottom: -10px;
}
