@import "assets/colors/colors.scss";

.container {
  height: 36px;

  display: flex;
  flex-direction: row;
  align-items: center;

  overflow: hidden;

  .buttons {
    flex: 1;

    display: flex;
    flex-direction: row;
    align-items: center;

    overflow: auto hidden;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      height: 0;
      width: 0;
    }

    .button {
      flex: 0 0 auto;

      margin-left: 5px;
      padding-top: 5px;

      border-radius: 2px 2px 0 0;
      background-color: $lightNeutral;

      &:first-child {
        margin-left: 0;
      }

      &.selected {
        border-top: 1px solid $color-primary;
        background-color: $white;
      }

      .icon {
        margin-left: 5px;
      }
    }
  }

  .scrollBtn {
    width: 0;
    flex: 0 0 auto;

    transition: width 250ms ease;

    &.show {
      width: 50px;
    }

    button {
      display: block;

      margin: 0 auto;
      padding: 6px;
    }
  }
}

@-moz-document url-prefix() {
  .container .buttons {
    height: 48px;
    overflow-x: scroll;
    margin-bottom: -12px;
  }
}

div.infoBulle {
  padding: 4px 10px;

  border: none;
  border-radius: 2px;
  background-color: white;
  box-shadow: 1px 5px 7px 0 rgba(0, 0, 0, 0.08);

  color: #464545;
  font-weight: 500;
  font-family: 'basier_circlemedium';
}
