.form-tax-declaration-2033f {
  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: block;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page input {
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    padding: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page-0 {
    width: 1200px;
    height: 1552px;
    background-image: url(page0.jpg);
  }

  .obj_1 {
    left: 88.17%;
    top: 7.99%;
    width: 2.75%;
    height: 1.869%;
    margin: 0px 0px 0px 0px;
  }

  .obj_2 {
    left: 33.75%;
    top: 22.29%;
    width: 15.83%;
    height: 2.126%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_3 {
    left: 75.67%;
    top: 22.29%;
    width: 15.58%;
    height: 2.126%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_4 {
    left: 33.75%;
    top: 24.55%;
    width: 15.83%;
    height: 2.126%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_5 {
    left: 75.58%;
    top: 24.55%;
    width: 15.67%;
    height: 2.126%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_6 {
    left: 18.75%;
    top: 30.28%;
    width: 9.333%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_7 {
    left: 82.17%;
    top: 32.47%;
    width: 8.083%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_8 {
    left: 58.42%;
    top: 32.6%;
    width: 8.25%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_9 {
    left: 21.75%;
    top: 74.29%;
    width: 8.083%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_10 {
    left: 41.92%;
    top: 74.23%;
    width: 3.667%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_11 {
    left: 82.75%;
    top: 72.1%;
    width: 7.667%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_12 {
    left: 63.5%;
    top: 72.1%;
    width: 4.083%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_13 {
    left: 39%;
    top: 30.28%;
    width: 51.42%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_14 {
    left: 18.42%;
    top: 34.66%;
    width: 4.667%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_15 {
    left: 22.83%;
    top: 36.86%;
    width: 9.417%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_16 {
    left: 45.25%;
    top: 34.66%;
    width: 45.33%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_17 {
    left: 41.58%;
    top: 36.86%;
    width: 31%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_18 {
    left: 78.17%;
    top: 36.86%;
    width: 12.25%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_19 {
    left: 29.17%;
    top: 32.15%;
    width: 16.75%;
    height: 2.126%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_20 {
    left: 18.83%;
    top: 39.88%;
    width: 9.333%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_21 {
    left: 29.25%;
    top: 41.75%;
    width: 16.75%;
    height: 2.126%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_22 {
    left: 39.08%;
    top: 39.88%;
    width: 51.33%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_23 {
    left: 58.5%;
    top: 42.14%;
    width: 8.25%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_24 {
    left: 82.17%;
    top: 42.01%;
    width: 8.083%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_25 {
    left: 78.25%;
    top: 46.46%;
    width: 12.17%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_26 {
    left: 45.17%;
    top: 44.14%;
    width: 45.42%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_27 {
    left: 41.67%;
    top: 46.46%;
    width: 31%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_28 {
    left: 22.92%;
    top: 46.46%;
    width: 9.333%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_29 {
    left: 18.25%;
    top: 44.07%;
    width: 4.833%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_30 {
    left: 18.83%;
    top: 49.16%;
    width: 9.333%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_31 {
    left: 18.42%;
    top: 53.54%;
    width: 4.75%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_32 {
    left: 22.92%;
    top: 55.73%;
    width: 9.333%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_33 {
    left: 29.25%;
    top: 51.03%;
    width: 16.75%;
    height: 2.126%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_34 {
    left: 39.08%;
    top: 49.16%;
    width: 51.33%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_35 {
    left: 58.5%;
    top: 51.48%;
    width: 8.25%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_36 {
    left: 41.67%;
    top: 55.73%;
    width: 31%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_37 {
    left: 78.25%;
    top: 55.73%;
    width: 12.17%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_38 {
    left: 82.25%;
    top: 51.48%;
    width: 8.083%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_39 {
    left: 18.67%;
    top: 58.63%;
    width: 9.333%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_40 {
    left: 18.17%;
    top: 62.95%;
    width: 5.167%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_41 {
    left: 22.75%;
    top: 65.21%;
    width: 9.333%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_42 {
    left: 29.08%;
    top: 60.5%;
    width: 16.75%;
    height: 2.126%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_43 {
    left: 41.5%;
    top: 65.21%;
    width: 31%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_44 {
    left: 58.33%;
    top: 60.89%;
    width: 8.25%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_45 {
    left: 38.92%;
    top: 58.63%;
    width: 51.33%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_46 {
    left: 78.08%;
    top: 65.21%;
    width: 12.17%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_47 {
    left: 82.08%;
    top: 60.89%;
    width: 8.083%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_48 {
    left: 14.33%;
    top: 69.97%;
    width: 7.917%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_49 {
    left: 34.75%;
    top: 69.91%;
    width: 26.58%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_50 {
    left: 69.42%;
    top: 69.91%;
    width: 21%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_51 {
    left: 21.92%;
    top: 72.1%;
    width: 29.92%;
    height: 1.675%;
    text-align: right;
  }

  .obj_52 {
    left: 55.17%;
    top: 74.23%;
    width: 16.92%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_53 {
    left: 78.25%;
    top: 74.29%;
    width: 12%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_54 {
    left: 18.25%;
    top: 76.35%;
    width: 4.667%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_55 {
    left: 46.25%;
    top: 76.48%;
    width: 44.33%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_56 {
    left: 22.75%;
    top: 78.48%;
    width: 9.333%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_57 {
    left: 41.5%;
    top: 78.41%;
    width: 31%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_58 {
    left: 78.33%;
    top: 78.41%;
    width: 12.25%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_59 {
    left: 21.92%;
    top: 72.1%;
    width: 30%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_60 {
    left: 14.33%;
    top: 81.31%;
    width: 7.917%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_61 {
    left: 34.75%;
    top: 81.31%;
    width: 26.58%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_62 {
    left: 21.92%;
    top: 83.51%;
    width: 29.92%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_63 {
    left: 21.83%;
    top: 85.57%;
    width: 8%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_64 {
    left: 18.33%;
    top: 87.69%;
    width: 4.583%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_65 {
    left: 22.83%;
    top: 89.95%;
    width: 9.333%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_66 {
    left: 42.08%;
    top: 85.7%;
    width: 3.667%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_67 {
    left: 55.17%;
    top: 85.7%;
    width: 16.92%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_68 {
    left: 46.67%;
    top: 87.82%;
    width: 43.83%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_69 {
    left: 41.58%;
    top: 89.95%;
    width: 31%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_70 {
    left: 78.17%;
    top: 89.95%;
    width: 12.17%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_71 {
    left: 78.33%;
    top: 85.7%;
    width: 12%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_72 {
    left: 82.58%;
    top: 83.57%;
    width: 7.667%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_73 {
    left: 69.42%;
    top: 81.31%;
    width: 21%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_74 {
    left: 63.5%;
    top: 83.51%;
    width: 4.083%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_75 {
    left: 23.08%;
    top: 76.35%;
    width: 4.75%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_76 {
    left: 38.25%;
    top: 76.35%;
    width: 8%;
    height: 1.997%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_77 {
    left: 23%;
    top: 87.69%;
    width: 4.667%;
    height: 1.997%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_78 {
    left: 38.33%;
    top: 87.69%;
    width: 8%;
    height: 1.997%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_79 {
    left: 23.17%;
    top: 34.73%;
    width: 4.583%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_80 {
    left: 38.33%;
    top: 34.66%;
    width: 6.917%;
    height: 1.997%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_81 {
    left: 23.08%;
    top: 44.14%;
    width: 4.583%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_82 {
    left: 38.17%;
    top: 44.07%;
    width: 6.917%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_83 {
    left: 23.25%;
    top: 53.67%;
    width: 4.5%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_84 {
    left: 38.33%;
    top: 53.54%;
    width: 6.917%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_85 {
    left: 45.17%;
    top: 53.54%;
    width: 45.42%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_86 {
    left: 23.25%;
    top: 62.95%;
    width: 4.583%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_87 {
    left: 38.42%;
    top: 62.82%;
    width: 6.917%;
    height: 1.997%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_88 {
    left: 45.42%;
    top: 62.89%;
    width: 45.42%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_89 {
    left: 18.08%;
    top: 11.92%;
    width: 15%;
    height: 1.933%;
    font-size: 12.000000px;
  }

  .obj_90 {
    left: 74.58%;
    top: 11.86%;
    width: 16.83%;
    height: 1.933%;
    font-size: 12.000000px;
  }

  .obj_91 {
    left: 26.25%;
    top: 14.24%;
    width: 65.08%;
    height: 1.74%;
    font-size: 12.000000px;
  }

  .obj_92 {
    left: 32.67%;
    top: 18.81%;
    width: 58.67%;
    height: 1.675%;
    font-size: 12.000000px;
  }

  .obj_93 {
    left: 16.25%;
    top: 18.81%;
    width: 9.417%;
    height: 1.675%;
    font-size: 12.000000px;
  }

  .obj_94 {
    left: 18.08%;
    top: 16.75%;
    width: 4%;
    height: 1.482%;
    font-size: 12.000000px;
  }

  .obj_95 {
    left: 22%;
    top: 16.75%;
    width: 8.333%;
    height: 1.482%;
  }

  .obj_96 {
    left: 30.33%;
    top: 16.75%;
    width: 28.75%;
    height: 1.482%;
  }

  .pdf-page input {
    text-align: right;
    padding-right: 7px;
  }

  .pdf-page input.pde-form-field-text {
    text-align: left;
    padding-left: 7px;
  }
}
