.cellContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    &__leftItem {
        padding: 8px 0px 8px 0px;
        width: auto
    }

    &__rightItem {
        padding: 8px 0px 8px 0px
    }
}
