@import 'assets/colors/colors.scss';

.header {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-family: "basier_circlemedium";
  font-size: 22px;
}

.exercisesSelector {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.selector {
  flex: 1;
  display: flex;
  justify-content: center;
}

.refresh {
  min-width: 300px;
  height: 40px;
  background-color: $white;
  color: $black;
  font-size: 14px;
}

.arrowLeft,
.arrowRight,
.arrowRightDisable {
  width: 0;
  height: 0;
  margin-top: 4px;
  margin-left: 8px;
  margin-right: 8px;
  position: relative;
  cursor: pointer;
}

.arrowLeft {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid transparent;
  border-right: 6px solid $color-primary;
}

.arrowRight {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid $color-primary;
  border-right: 6px solid transparent;
}

.arrowRightDisable {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid $grey;
  border-right: 6px solid transparent;
}
