@import "assets/colors/colors.scss";

div.tooltip {
  padding: 4px 10px;

  border: none;
  border-radius: 2px;

  box-shadow: 1px 5px 7px 0 $box-shadow;

  color: #454545;
  background-color: $white;

  font-weight: 500;
  font-family: 'basier_circlemedium';
}

.stickyFooter {
  position: sticky;
  bottom: 0;
  background-color: $white;
}

.cell {
  border: 1px solid transparent;
  white-space: nowrap;

  &.stickyHeader {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: rgb(255, 255, 255);
  }

  &.focus:not(th):focus-within {
    border-color: #50e3c2;
  }

  &.error {
    border-color: $color-error;
  }

  &.numberCell {
    text-align: right;

    input {
      text-align: right;
    }
  }

  &.periodCell {
    min-width: 212px;
    text-align: center;
  }

  &.editableCell {
    min-width: 100px;
  }

  &.centeredCell {
    text-align: center;
  }

  &.cursorPointer{
    cursor: pointer;
  }

  &.iconCell {
    min-width: 0;
    text-align: center;
  }

  &.checkboxCell {
    width: 44px;
    min-width: 0;
    padding: 0 4px;

    &:focus-within {
      border-color: transparent;
    }
  }

  &.multilineCell {
    white-space: initial;
    word-break: break-all;
    min-width: 150px;
  }

  .autocomplete {
    height: 25px;
    cursor: pointer;

    div::before, // underlines
    div::after {
      display: none;
    }

    p {
      left: 0;
      font: inherit;
    }

    div {
      font: inherit;
    }

    > div { // AutoComplete-root
      min-width: 90px;
      height: 100%;

      > div { // css ?
        height: 100%;
        > div:first-of-type { // MuiFormControl-root
          height: 100%;
          > div { // MuiInput-root
            height: 100%;
          }
        }
      }
    }
  }

  .textField {
    width: 100%;
    margin: 0;

    input {
      padding: 0;
    }

    > div { // MuiInput-root
      font: inherit;
    }

    div::before, // underlines
    div::after {
      display: none;
    }
  }

  .fieldCell {
    width: 100%;
  }

  button {
    display: block;
    width: 100%;
    padding: 0;
    text-align: inherit;
  }

  input {
    padding: 0;
  }
}

.hasLink:hover {
  text-decoration: underline;
  cursor: pointer;
}
