div.dialog {
  width: 700px;
  max-width: 800px;
  position: relative;

  .row {
    display: flex;
    padding: 20px 0;
    align-items: flex-end;
  }

  .hiddenInput {
    display: none;
  }

  .payer, .selectWrap {
    min-width: 290px;
  }


  .total {
    min-width: 150px;
  }

  .col {
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 10px;
    }

    span {
      text-align: end;
    }

    input {
      &[type="number"] {
        text-align: end;
        border: none;
      }
    }

    &:first-child {
      margin-right: 10px;
    }
  }

  .amountLabel {
     margin-bottom: 10px;
     display: inline-block;
   }

  .amountWrap {
    padding: 0 10px 0 10px;

    input {
      border: none;
      text-align: end;
      min-height: 36px;
      padding: 0;
    }
  }

  .loading {
    display: flex;
    justify-content: center;
    padding: 100px 0;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .deleteBtn {
    padding: 4px;
    width: 40px;
    min-width: 10px;
  }
}
