.unstyleAppearance input[type="date"]::-webkit-calendar-picker-indicator,
.unstyleAppearance input[type="date"]::-webkit-inner-spin-button,
.unstyleAppearance input[type="date"]::-webkit-clear-button {
    display: none;
    -webkit-appearance: none;
} 