@import "assets/colors/colors.scss";

.commentContainer {
  padding: 14px 21px;
}

.mainComment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color .2s;
  cursor: pointer;
  padding: 1px 10px;
  margin-left: -10px;

  .message {
    flex-grow: 10;
  }

  .messageButton {
    opacity: 0.2;
    transition: opacity .1s;
    font-size: 20px;
    padding: 6px 0 6px 0;

    /* to display button with & without reaction counter same size */
    min-width: 30px; 
    justify-content: left;

    &.semiActive {
      opacity: 0.6;
      background-color: unset;
    }

    &.active {
      opacity: 1;
      background-color: unset;
    }

    &:hover {
      opacity: 1;
      background-color: unset;
    }
  }


  &:hover {
    background-color: $light-primary;
  }
}

.reaction {
  color: #9b9b9b;
  font-size: 20px;
  transform: translateY(-1px);
}

.historyComment {
  background-color: $light-grey;
}

div.button {
  display: flex;
  justify-content: space-between;

  border-radius: 0;
  padding: 12px;

  text-align: left;

  &:hover {
    background-color: $light-primary;
  }

  .editButton {
    margin: -6px;
  }
}

.content {
  > p {
    margin: 0;
  }
}
