.container {
  .paper {
    min-width: 600px;

    .title {
      h6 {
        font-size: 24px;
        text-align: center;
      }
    }

    .root {
      display: flex;
      flex-direction: column;
      align-items: center;

      > div {
        min-width: 400px;
      }

      .group {
        margin-bottom: 12px;
      }

      .checkbox, .radio {
        padding: 3px 9px 3px 0;
      }
    }

    .errorContainer {
      text-align: center;
    }

    .actions {
      justify-content: center;
    }
  }
}
