.CVAE1329DEF {
  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: block;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page input {
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    padding: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page-0 {
    width: 1200px;
    height: 1697px;
    background-image: url(page0.jpg);
  }

  .obj_1 {
    left: 49.42%;
    top: 16.74%;
    width: 41%;
    height: 6.895%;
    font-size: 12.000000px;
  }

  .obj_2 {
    left: 18.75%;
    top: 20.8%;
    width: 20.75%;
    height: 1.355%;
    font-size: 12.000000px;
  }

  .obj_3 {
    left: 18.75%;
    top: 22.27%;
    width: 20.75%;
    height: 1.296%;
    font-size: 12.000000px;
  }

  .obj_4 {
    left: 18.75%;
    top: 23.69%;
    width: 20.75%;
    height: 1.296%;
    font-size: 12.000000px;
  }

  .obj_5 {
    left: 18.75%;
    top: 25.04%;
    width: 20.75%;
    height: 2.593%;
    font-size: 12.000000px;
  }

  .obj_6 {
    left: 18.75%;
    top: 27.46%;
    width: 20.75%;
    height: 3.182%;
    font-size: 10.666667px;
  }

  .obj_7 {
    left: 18.75%;
    top: 31.53%;
    width: 20.75%;
    height: 1.355%;
    font-size: 12.000000px;
  }

  .obj_8 {
    left: 18.75%;
    top: 32.94%;
    width: 20.75%;
    height: 2.711%;
    font-size: 12.000000px;
  }

  .obj_9 {
    left: 49.17%;
    top: 41.25%;
    width: 24%;
    height: 2.18%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_10 {
    left: 49%;
    top: 45.85%;
    width: 24.17%;
    height: 2.239%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_11 {
    left: 39.83%;
    top: 50.8%;
    width: 3.417%;
    height: 1.827%;
    margin: 0px 0px 0px 0px;
  }

  .obj_12 {
    left: 7%;
    top: 58.28%;
    width: 13.58%;
    height: 1.591%;
    font-size: 12.000000px;
  }

  .obj_13 {
    left: 10.42%;
    top: 60.64%;
    width: 13.42%;
    height: 1.768%;
    font-size: 12.000000px;
  }

  .obj_14 {
    left: 16.67%;
    top: 63.05%;
    width: 22.25%;
    height: 1.827%;
    font-size: 12.000000px;
  }

  .obj_15 {
    left: 48.75%;
    top: 25.52%;
    width: 41.83%;
    height: 1.296%;
    font-size: 12.000000px;
  }

  .obj_16 {
    left: 48.75%;
    top: 27.17%;
    width: 11%;
    height: 1.061%;
    font-size: 12.000000px;
  }

  .obj_17 {
    left: 59.75%;
    top: 27.17%;
    width: 30.83%;
    height: 1.061%;
    font-size: 12.000000px;
  }

  .obj_18 {
    left: 48.75%;
    top: 28.17%;
    width: 41.92%;
    height: 2.121%;
    font-size: 12.000000px;
  }

  .obj_19 {
    left: 59%;
    top: 30.23%;
    width: 31.67%;
    height: 1.061%;
    font-size: 12.000000px;
  }

  .obj_20 {
    left: 48.75%;
    top: 30.23%;
    width: 10.25%;
    height: 1.061%;
    font-size: 12.000000px;
  }

  .obj_21 {
    left: 24.08%;
    top: 59.81%;
    width: 15.33%;
    height: 2.887%;
    font-size: 12.000000px;
  }

  .obj_22 {
    left: 2.167%;
    top: 70.6%;
    width: 93.33%;
    height: 13.55%;
  }

  .pdf-page-1 {
    width: 1200px;
    height: 1697px;
    background-image: url(page1.jpg);
  }

  .obj_24 {
    left: 51.25%;
    top: 8.603%;
    width: 33.75%;
    height: 2.121%;
    text-align: right;
  }

  .obj_25 {
    left: 51.58%;
    top: 11.61%;
    width: 33.58%;
    height: 2.121%;
    display: none;
    text-align: right;
    font-size: 13.333333px;
  }

  .obj_26 {
    left: 51.42%;
    top: 14.56%;
    width: 33.58%;
    height: 2.062%;
    display: none;
    text-align: right;
    font-size: 13.333333px;
  }

  .obj_27 {
    left: 73.75%;
    top: 47.14%;
    width: 9.25%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_28 {
    left: 82.58%;
    top: 47.08%;
    width: 3.583%;
    height: 1.768%;
    text-align: center;
    font-size: 14.666667px;
  }

  .obj_29 {
    left: 51.58%;
    top: 58.28%;
    width: 34.17%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_30 {
    left: 89.42%;
    top: 67.77%;
    width: 3.75%;
    height: 2.475%;
    font-size: 13.333333px;
    margin: 0px 0px 0px 0px;
  }

  .obj_31 {
    left: 51.25%;
    top: 71.48%;
    width: 34.58%;
    height: 2.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_32 {
    left: 51.25%;
    top: 93.69%;
    width: 34.75%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_33 {
    left: 51.42%;
    top: 11.55%;
    width: 33.75%;
    height: 2.121%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_34 {
    left: 51.42%;
    top: 14.5%;
    width: 33.75%;
    height: 2.121%;
    text-align: right;
    font-size: 12.000000px;
  }

  .pdf-page-2 {
    width: 1200px;
    height: 1697px;
    background-image: url(page2.jpg);
  }

  .obj_36 {
    left: 56.33%;
    top: 16.97%;
    width: 26.58%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_37 {
    left: 56.25%;
    top: 21.8%;
    width: 26.58%;
    height: 1.65%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_38 {
    left: 56.08%;
    top: 24.28%;
    width: 26.83%;
    height: 1.532%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_39 {
    left: 56.08%;
    top: 29.64%;
    width: 26.83%;
    height: 1.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_40 {
    left: 56.17%;
    top: 32.06%;
    width: 26.75%;
    height: 1.65%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_41 {
    left: 56.25%;
    top: 34.53%;
    width: 26.67%;
    height: 1.65%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_42 {
    left: 56.25%;
    top: 37.07%;
    width: 26.67%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_43 {
    left: 86.5%;
    top: 42.43%;
    width: 3.5%;
    height: 1.532%;
    font-size: 13.333333px;
    margin: 0px 0px 0px 0px;
  }

  .obj_44 {
    left: 56.25%;
    top: 45.26%;
    width: 26.67%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_45 {
    left: 56.08%;
    top: 47.73%;
    width: 26.83%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_46 {
    left: 56.25%;
    top: 50.27%;
    width: 26.67%;
    height: 1.65%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_47 {
    left: 56.25%;
    top: 52.8%;
    width: 26.67%;
    height: 1.65%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_48 {
    left: 56.17%;
    top: 68.06%;
    width: 26.83%;
    height: 1.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_49 {
    left: 56.25%;
    top: 70.6%;
    width: 26.75%;
    height: 1.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_50 {
    left: 56.17%;
    top: 73.19%;
    width: 26.83%;
    height: 1.65%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_51 {
    left: 56.17%;
    top: 75.84%;
    width: 26.83%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_52 {
    left: 56.17%;
    top: 84.33%;
    width: 26.83%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_53 {
    left: 56.17%;
    top: 86.8%;
    width: 26.83%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_54 {
    left: 56.33%;
    top: 89.51%;
    width: 26.67%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .pdf-page input {
    text-align: right;
    padding-right: 7px;
  }
}



