@import "assets/colors/colors.scss";

.societies-granting-table__header-label {
    font-size: 16px;
}
.societies-granting-table__body-label {
    font-size: 14px;
    width: 100px;
}

.societies-granting-table__body-label-modification {
    color: $color-primary;
    border-style: none;
    background-color: white;
    text-decoration: underline;
}

.societies-granting-table__body-label-deletion {
    color: $color-error;
    border-style: none;
    background-color: white;
}

