@import "assets/colors/colors.scss";

.dialog__group {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.group__title {
  font-family: "basier_circlemedium";
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.32;
  letter-spacing: 0.4px;
  color: $black;
  margin-bottom: 25px;
}

.group__list {
  overflow: auto;
  max-height: 250px;
}

.group__main-inputs {
  width: 296px;
}

.form__button {
  width: 100%;

  &-connect {
    margin-top: 20px !important;
  }
}

.checkbox__label {
  font-size: 12px;

  span {
    font-size: 12px;
  }
}