@import 'assets/colors/colors.scss';

.row {
  align-items: flex-end;
  display: flex;
  margin: 20px 0;

  > div {
    margin-right: 20px;
  }
}

.subsidiaries {
  background-color: $white;
  padding: 20px;
}

.table {
  height: auto;
  overflow: auto;
}

.container {
  justify-content: space-between;
}

.filter {
  align-items: flex-end;
  display: flex;
  margin: 10px 0;
}
