@import 'assets/colors/colors.scss';

.asc,
.desc {
  width: 0;
  height: 0;
  border-style: solid;
  position: relative;
  cursor: pointer;
  left: 8px;
}

.desc {
  border-color: $color-primary transparent transparent transparent;
  border-width: 7px 4px 0 4px;
}

.asc {
  border-color: transparent transparent $color-primary transparent;
  border-width: 0 4px 7px 4px;
  margin-bottom: 2px;
}

.container {
  display:grid;
}

.colorErrorDesc {
  border-color: $color-secondary transparent transparent transparent;
}
.colorErrorAsc {
  border-color: transparent transparent $color-secondary transparent;
}
