.form-tax-declaration-2035f {
  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: block;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page input {
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    padding: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page-0 {
    width: 1200px;
    height: 1697px;
    background-image: url(page0.jpg);
  }

  .obj_1 {
    left: 19.42%;
    top: 23.98%;
    width: 11.25%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_2 {
    left: 21.08%;
    top: 27.81%;
    width: 3.25%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_3 {
    left: 24.25%;
    top: 27.75%;
    width: 3.583%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_4 {
    left: 28.58%;
    top: 29.64%;
    width: 7%;
    height: 1.296%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_5 {
    left: 33%;
    top: 25.81%;
    width: 15.92%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_6 {
    left: 43%;
    top: 27.81%;
    width: 7.667%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_7 {
    left: 42.75%;
    top: 23.98%;
    width: 53.17%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_8 {
    left: 62.25%;
    top: 25.93%;
    width: 8.833%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_9 {
    left: 45.17%;
    top: 29.64%;
    width: 28.33%;
    height: 1.296%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_10 {
    left: 50.58%;
    top: 27.81%;
    width: 45.33%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_11 {
    left: 90%;
    top: 25.87%;
    width: 5.833%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_12 {
    left: 78.75%;
    top: 29.7%;
    width: 17.17%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_13 {
    left: 19.42%;
    top: 32.53%;
    width: 11.25%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_14 {
    left: 21.08%;
    top: 36.36%;
    width: 3.167%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_15 {
    left: 24.25%;
    top: 36.42%;
    width: 3.583%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_16 {
    left: 28.75%;
    top: 38.19%;
    width: 6.75%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_17 {
    left: 33%;
    top: 34.53%;
    width: 15.75%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_18 {
    left: 43.08%;
    top: 36.3%;
    width: 7.583%;
    height: 1.296%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_19 {
    left: 42.83%;
    top: 32.41%;
    width: 53.08%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_20 {
    left: 62.25%;
    top: 34.53%;
    width: 8.917%;
    height: 1.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_21 {
    left: 45.17%;
    top: 38.19%;
    width: 28.42%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_22 {
    left: 50.67%;
    top: 36.36%;
    width: 45.25%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_23 {
    left: 90.08%;
    top: 34.41%;
    width: 5.833%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_24 {
    left: 78.67%;
    top: 38.24%;
    width: 17.25%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_25 {
    left: 19.42%;
    top: 41.13%;
    width: 11.25%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_26 {
    left: 21%;
    top: 45.08%;
    width: 3.25%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_27 {
    left: 24.33%;
    top: 44.96%;
    width: 3.5%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_28 {
    left: 28.58%;
    top: 46.85%;
    width: 6.833%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_29 {
    left: 32.83%;
    top: 43.13%;
    width: 15.92%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_30 {
    left: 43%;
    top: 44.9%;
    width: 7.667%;
    height: 1.296%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_31 {
    left: 42.83%;
    top: 41.19%;
    width: 53%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_32 {
    left: 62.25%;
    top: 43.13%;
    width: 8.917%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_33 {
    left: 45.25%;
    top: 46.79%;
    width: 28.33%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_34 {
    left: 50.5%;
    top: 45.02%;
    width: 45.42%;
    height: 1.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_35 {
    left: 90.17%;
    top: 43.02%;
    width: 5.667%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_36 {
    left: 78.75%;
    top: 46.91%;
    width: 17.25%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_37 {
    left: 19.33%;
    top: 49.91%;
    width: 11.33%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_38 {
    left: 21%;
    top: 53.8%;
    width: 3.167%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_39 {
    left: 24.08%;
    top: 53.68%;
    width: 3.667%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_40 {
    left: 28.75%;
    top: 55.69%;
    width: 6.583%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_41 {
    left: 32.92%;
    top: 52.03%;
    width: 15.75%;
    height: 1.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_42 {
    left: 43.08%;
    top: 53.8%;
    width: 7.583%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_43 {
    left: 42.83%;
    top: 49.91%;
    width: 53.08%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_44 {
    left: 62.42%;
    top: 51.97%;
    width: 8.75%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_45 {
    left: 45.25%;
    top: 55.63%;
    width: 28.33%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_46 {
    left: 50.75%;
    top: 53.8%;
    width: 45.08%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_47 {
    left: 90%;
    top: 51.97%;
    width: 5.917%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_48 {
    left: 78.83%;
    top: 55.69%;
    width: 17.08%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_49 {
    left: 15.25%;
    top: 60.16%;
    width: 4.5%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_50 {
    left: 34.67%;
    top: 60.16%;
    width: 27%;
    height: 1.296%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_51 {
    left: 23.58%;
    top: 62.29%;
    width: 21.75%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_52 {
    left: 22.25%;
    top: 64.53%;
    width: 8.833%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_53 {
    left: 21.08%;
    top: 66.29%;
    width: 3.083%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_54 {
    left: 24.08%;
    top: 66.35%;
    width: 3.5%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_55 {
    left: 28.75%;
    top: 68.3%;
    width: 6.5%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_56 {
    left: 43%;
    top: 66.29%;
    width: 8.25%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_57 {
    left: 45.83%;
    top: 64.41%;
    width: 4.417%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_58 {
    left: 45.25%;
    top: 68.3%;
    width: 28.33%;
    height: 1.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_59 {
    left: 51.25%;
    top: 66.29%;
    width: 44.67%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_60 {
    left: 60.75%;
    top: 64.53%;
    width: 15.58%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_61 {
    left: 58.33%;
    top: 62.23%;
    width: 12.5%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_62 {
    left: 72%;
    top: 60.22%;
    width: 23.92%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_63 {
    left: 90.17%;
    top: 62.23%;
    width: 5.75%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_64 {
    left: 84.17%;
    top: 64.47%;
    width: 11.75%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_65 {
    left: 78.67%;
    top: 68.3%;
    width: 17.25%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_66 {
    left: 15.33%;
    top: 70.89%;
    width: 4.333%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_67 {
    left: 34.67%;
    top: 71.01%;
    width: 27.08%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_68 {
    left: 72.08%;
    top: 71.01%;
    width: 23.83%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_69 {
    left: 90.17%;
    top: 73.07%;
    width: 5.917%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_70 {
    left: 84.17%;
    top: 75.01%;
    width: 11.67%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_71 {
    left: 58.33%;
    top: 73.07%;
    width: 12.58%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_72 {
    left: 60.75%;
    top: 75.01%;
    width: 15.67%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_73 {
    left: 23.75%;
    top: 72.95%;
    width: 21.33%;
    height: 1.296%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_74 {
    left: 22.33%;
    top: 75.07%;
    width: 8.75%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_75 {
    left: 21.25%;
    top: 76.96%;
    width: 3.167%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_76 {
    left: 24.42%;
    top: 77.02%;
    width: 3.417%;
    height: 1.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_77 {
    left: 28.67%;
    top: 78.67%;
    width: 6.667%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_78 {
    left: 43.08%;
    top: 76.84%;
    width: 8.25%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_79 {
    left: 45.25%;
    top: 78.67%;
    width: 28.25%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_80 {
    left: 51.25%;
    top: 76.9%;
    width: 44.67%;
    height: 1.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_81 {
    left: 78.75%;
    top: 78.67%;
    width: 17.08%;
    height: 1.296%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_82 {
    left: 92.67%;
    top: 8.132%;
    width: 4.333%;
    height: 1.709%;
    margin: 0px 0px 0px 0px;
  }

  .obj_83 {
    left: 53.08%;
    top: 19.03%;
    width: 5.333%;
    height: 1.296%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_84 {
    left: 90.83%;
    top: 19.03%;
    width: 5.25%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_85 {
    left: 53.33%;
    top: 20.68%;
    width: 5.083%;
    height: 1.414%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_86 {
    left: 90.83%;
    top: 20.74%;
    width: 5.083%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_87 {
    left: 45.83%;
    top: 75.01%;
    width: 4.25%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_88 {
    left: 15.42%;
    top: 81.44%;
    width: 4.333%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_89 {
    left: 34.75%;
    top: 81.5%;
    width: 27%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_90 {
    left: 72.17%;
    top: 81.5%;
    width: 23.75%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_91 {
    left: 90.25%;
    top: 83.56%;
    width: 5.833%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_92 {
    left: 58.42%;
    top: 83.56%;
    width: 12.58%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_93 {
    left: 23.75%;
    top: 83.5%;
    width: 21.42%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_94 {
    left: 84.17%;
    top: 85.56%;
    width: 11.75%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_95 {
    left: 60.83%;
    top: 85.5%;
    width: 15.67%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_96 {
    left: 23.5%;
    top: 85.56%;
    width: 8.75%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_97 {
    left: 45.83%;
    top: 85.56%;
    width: 4.333%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_98 {
    left: 78.83%;
    top: 89.22%;
    width: 17.08%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_99 {
    left: 20.92%;
    top: 87.39%;
    width: 3.417%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_100 {
    left: 24.33%;
    top: 87.45%;
    width: 3.667%;
    height: 1.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_101 {
    left: 28.67%;
    top: 89.22%;
    width: 6.75%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_102 {
    left: 43.17%;
    top: 87.39%;
    width: 8.167%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_103 {
    left: 45.25%;
    top: 89.22%;
    width: 28.33%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_104 {
    left: 51.33%;
    top: 87.39%;
    width: 44.58%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_105 {
    left: 52.75%;
    top: 8.839%;
    width: 14.17%;
    height: 1.414%;
    font-size: 12.000000px;
  }

  .obj_106 {
    left: 68%;
    top: 10.9%;
    width: 28.92%;
    height: 1.355%;
    font-size: 12.000000px;
  }

  .obj_107 {
    left: 35.92%;
    top: 12.79%;
    width: 61%;
    height: 1.355%;
    font-size: 12.000000px;
  }

  .obj_108 {
    left: 22.75%;
    top: 14.67%;
    width: 4.167%;
    height: 1.355%;
    font-size: 12.000000px;
  }

  .obj_109 {
    left: 26.83%;
    top: 14.67%;
    width: 8.583%;
    height: 1.355%;
  }

  .obj_110 {
    left: 35.33%;
    top: 14.67%;
    width: 18.67%;
    height: 1.355%;
  }

  .obj_111 {
    left: 20.33%;
    top: 16.62%;
    width: 15.5%;
    height: 1.355%;
    font-size: 12.000000px;
  }

  .obj_112 {
    left: 50.17%;
    top: 16.62%;
    width: 46.75%;
    height: 1.355%;
    font-size: 12.000000px;
  }

  .pdf-page input {
    text-align: right;
    padding-right: 7px;
  }

  .pdf-page input.pde-form-field-text {
    text-align: left;
    padding-left: 7px;
  }
}
