@import 'assets/colors/colors.scss';

.row {
  align-items: flex-end;
  display: flex;
  margin: 20px 0;

  > div {
    margin-right: 20px;
  }
}

.subsidiaries {
  background-color: $white;
  padding: 20px;
  margin-bottom: 10px;
}

.table {
  height: auto;
}

.button {
  margin-top: 20px;
}
