@import "assets/colors/colors.scss";

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.container {
  padding: 20px;
  background-color: $white;
}

.headerButtonContainer {
  padding-top: 25px;
  display: flex;
  justify-content: flex-end;
}
