@import "assets/theme/scrollbtns.scss";

.cycles {
  background-color: white;
  margin-top: 2px;

  .tab {
    position: relative;
    min-width: 72px;

    .labelContainer {
      padding: 6px 12px 6px 18px;

      .tabLabel {
        display: inline-flex;
        justify-content: center;

        font-size: 12px;
        text-transform: none;
        white-space: nowrap;

        .label {
          margin-right: 6px;
        }

        .icon {
          margin-left: 4px;

          &:empty {
            margin-left: 0;
          }
        }
      }
    }
  }
}

button.textColor {
  color: black;
}
