@import "assets/colors/colors.scss";

.cardContainer {
    position: relative;

    padding-top: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

.emptyContainer {
    flex: 1;

    display: flex;

    p {
        margin: auto !important;
    }
}

.chartContainer {
    height: 260px;
    box-sizing: content-box;
}

.bound {
    position: absolute;
    left: 4px;
    right: 4px;

    display: flex;

    flex-direction: row;
    justify-content: flex-start;

    &.top {
        top: 19px;
    }

    &.bottom {
        bottom: 17px;
    }

    .text {
        font-size: 12px;
        color: #454545;
        margin-right: 10px;
        font-family: "basier_circlemedium"
    }

    .lane {
        flex: 1;

        margin-top: auto;
        margin-bottom: auto;

        border-top: 2px dashed $light-500-grey;
    }
}

.periodContainer {
    position: absolute;
    top: 0;
    right: 4px;

    display: flex;

    .previous {
        font-size: 14px;
        margin-right: 16px;
        color: grey;
        font-family: "basier_circlemedium"
    }

    .current {
        font-size: 14px;
        color: $color-primary;
        font-family: "basier_circlemedium"
    }
}
