// blocks*********************************
.root {
    height: 100%; 
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start; 
    align-items: flex-start 
}

.titleContainer {
    height: 24px;
    margin-bottom: 20px;
}

.textContainer {
    cursor: pointer;
}