.container {
  padding: 30px;
  width: 500px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.title {
  margin-top: 10px;
}

.buttonContainer {
  margin-top: 10px;
}