.accountDialog {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.blockInline {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.street, .city{
  display: flex;
  align-self: flex-end;
  margin-bottom: 8px;
  width: 150px;
  margin-right: 20px;
}