.new-user {
    padding: 20px;

    .new-user__form {
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        .new-user__form-field {
            width: 300px
        }

        .new-user__form-warning {
          margin-top: 16px;
        }
    }

    .new-user__form-radios {
        display: flex;
        flex-direction: row;
        padding: 0px;
        margin: 30px 0px 0px 0px
    }
}