.container {
  min-height: 250px;

  display: flex;
  flex-direction: column;

  padding: 20px;

  background-color: white;

  .header {
    display: flex;

    margin-bottom: 20px;

    h1 {
      flex: 1;
    }

    button {
      margin: -14px 0;
    }

    button:last-child {
      margin-right: -14px;
    }
  }

  .content {
    display: flex;

    .date {
      flex: 1;
      min-width: 130px;

      margin-right: 20px;
    }

    .options {
      flex: 4;
      margin-left: 40px;
    }
  }

  .progress {
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1;

    h4 {
      margin-left: 20px;
    }
  }
}
