div.dialog {
  overflow-y: unset;

  .title {
    position: relative;

    h1 {
      margin: 10px 0;

      font-size: 24px;
      text-align: center;
    }

    .close {
      position: absolute;
      top: 8px;
      right: 8px;
    }
  }

  .content {
    overflow-y: unset;

    .pickers {
      max-width: 300px;

      margin: 0 auto;

      .leftPicker {
        margin-right: 20px;
      }
    }

    .fieldContainer {
      width: 300px;
    }

    .autoCompleteContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      &:not(:first-child) {
        margin-top: 20px;
      }

      .fieldContainer {
        margin: 10px 0;
      }
    }
  }

  .footer {
    justify-content: center;

    margin-bottom: 24px;

    button {
      margin: 0 10px;
    }
  }
}
