.t_identif {
  .blackSpan {
    span {
      color: black !important;
    }
  }

  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: block;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page input {
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    padding: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page-0 {
    width: 1200px;
    height: 1697px;
    background-image: url(page0.jpg);
  }

  .obj_1 {
    left: 2.5%;
    top: 14.2%;
    width: 47.92%;
    height: 2.593%;
  }

  .obj_2 {
    left: 2.5%;
    top: 16.97%;
    width: 47.92%;
    height: 2.416%;
  }

  .obj_3 {
    left: 15%;
    top: 19.56%;
    width: 35.42%;
    height: 2.593%;
  }

  .obj_4 {
    left: 2.5%;
    top: 19.56%;
    width: 12.42%;
    height: 2.593%;
  }

  .obj_5 {
    left: 2.5%;
    top: 22.33%;
    width: 47.92%;
    height: 2.416%;
  }

  .obj_6 {
    left: 2.5%;
    top: 24.93%;
    width: 47.92%;
    height: 2.534%;
  }

  .obj_7 {
    left: 83.67%;
    top: 11.49%;
    width: 13.75%;
    height: 2.534%;
  }

  .obj_8 {
    left: 83.67%;
    top: 14.2%;
    width: 13.75%;
    height: 2.475%;
  }

  .obj_9 {
    left: 38.92%;
    top: 32.29%;
    width: 18.75%;
    height: 1.827%;
  }

  .obj_10 {
    left: 38.92%;
    top: 37.01%;
    width: 18.75%;
    height: 1.827%;
  }

  .obj_11 {
    left: 38.92%;
    top: 46.73%;
    width: 18.75%;
    height: 1.945%;
  }

  .obj_12 {
    left: 38.92%;
    top: 50.21%;
    width: 18.75%;
    height: 1.827%;
  }

  .obj_13 {
    left: 78.75%;
    top: 46.73%;
    width: 18.67%;
    height: 1.827%;
  }

  .obj_14 {
    left: 37.67%;
    top: 84.68%;
    width: 8.917%;
    height: 1.768%;
  }

  .obj_15 {
    left: 37.67%;
    top: 86.56%;
    width: 8.917%;
    height: 1.827%;
  }

  .obj_16 {
    left: 37.67%;
    top: 88.57%;
    width: 8.917%;
    height: 1.768%;
  }

  .obj_17 {
    left: 46.83%;
    top: 84.68%;
    width: 24.75%;
    height: 1.709%;
  }

  .obj_18 {
    left: 46.83%;
    top: 86.56%;
    width: 24.75%;
    height: 1.827%;
  }

  .obj_19 {
    left: 46.83%;
    top: 88.57%;
    width: 24.75%;
    height: 1.709%;
  }

  .obj_20 {
    left: 71.83%;
    top: 84.68%;
    width: 25.58%;
    height: 1.709%;
  }

  .obj_21 {
    left: 71.83%;
    top: 86.56%;
    width: 25.58%;
    height: 1.827%;
  }

  .obj_22 {
    left: 71.83%;
    top: 88.57%;
    width: 25.58%;
    height: 1.709%;
  }

  .obj_23 {
    left: 22%;
    top: 84.68%;
    width: 15.5%;
    height: 1.768%;
  }

  .obj_24 {
    left: 22%;
    top: 86.56%;
    width: 15.5%;
    height: 1.768%;
  }

  .obj_25 {
    left: 22%;
    top: 88.57%;
    width: 15.5%;
    height: 1.768%;
  }

  .pdf-page input {
    text-align: right;
    padding-right: 7px;
  }

  .pdf-page input.pde-form-field-text {
    text-align: left;
    padding-left: 7px;
  }

  .pdf-page input.pde-form-field-text-capital {
    text-transform: uppercase;
  }
}