@import "assets/colors/colors.scss";

.tableContainer {
  max-width: 900px;
  width: 100%;
  padding: 0;
}

.container {
  padding: 20px 20px 20px 0;
  background-color: $white;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
