@import "assets/colors/colors.scss";

.dialog {
  min-width: 600px;

  .header {
    position: relative;

    :global(.icon-alert) {
      display: inline-block;
      width: 100%;

      margin-top: 20px;

      color: $color-error !important;
      text-align: center;
    }

    .closeBtn {
      position: absolute;
      top: 14px;
      right: 14px;
    }
  }

  .question {
    max-width: 350px;
    margin: 0 auto 16px auto;

    text-align: center;
  }

  .actions {
    justify-content: center;

    margin: 16px 0 30px 0;
  }
}
