@import "assets/colors/colors.scss";

.container {
  height: auto;
  overflow: auto;
  border-radius: 0 2px 2px 2px;
  box-shadow: 2px 2px 4px 0 $box-shadow;
  background-color: $white;
  padding: 10px;
}

.headerTitle {
  margin-top:15px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.typeField {
  width: 220px;
  margin-right: 20px;
}

.codeField {
  width: 100px;
}

.filtersRow {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.importButtons {
  align-self: center;
}

.cegidFilter {
  display: flex;
}

.subContainer {
  margin-top: 26px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: auto;
}

.ebicsFilters {
  margin-top: 26px;
  display: flex;
  flex-direction: row;
  align-items: flex-start; 
  justify-content: flex-start;
  height: auto;
}

.assetsContainer {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 53px;
}

.exerciceContainer {
  margin-left: 20px;
}

.societyContainer {
  margin-right: 20px;
}

.exerciceInput, sinceImport {
  width: 210px;
}

.societyInput {
  width: 150px;
}

.ReduxRadioContainer {
  margin-left: 20px;
}

.filesContainer {
  margin-left: 20px;
}

.marginTop {
  margin-top: 15px;
}

.warning {
  color: $color-error;
}