.row {
  max-width: 300px;
  margin-bottom: 34px;
}

.rowOfFields {
  width: 100%;
  padding-right: 40px;
  display: flex;
  margin-bottom: 34px;
  div {
    max-width: 300px;
    width: 100%;
    margin-right: 20px;
  }
}

.alreadySelectedTitle {
  font-size: 13px;
}

.selectData {
  width: 300px;
}

.typeSelect {
  width: 100%;
}
