.form-refund {
  .pdf-page input::-webkit-outer-spin-button,
  .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
  }
  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3);
  }
  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3);
  }
  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden;
  }
  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
  }
  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none;
  }
  .pdf-page-text div {
    position: absolute;
    display: block;
  }
  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none;
  }
  .pdf-page .pdf-obj-fixed {
    display: block;
    position: absolute;
    box-sizing: border-box;
  }
  .pdf-page .ff-ss {
    font-family: sans-serif;
  }
  .pdf-page .ff-s {
    font-family: serif;
  }
  .pdf-page .ff-m {
    font-family: monospace;
  }
  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto;
  }
  .pdf-page .pdf-annot {
    pointer-events: auto;
  }
  .pdf-page textarea {
    resize: none;
    padding: 0;
  }
  .pdf-page input {
    padding: 0;
  }
  .pdf-page select {
    padding: 0;
  }
  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px;
  }
  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px;
  }
  .pdf-page.responsive input[type="checkbox"] {
    min-width: 20px;
  }
  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px;
  }
  .pdf-page.responsive {
    text-align: left;
  }
  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
  }
  .pdf-page.responsive .aleft {
    text-align: left;
  }
  .pdf-page.responsive .aright {
    text-align: right;
  }
  .pdf-page.responsive .acenter {
    text-align: center;
  }
  .pdf-page.responsive .atop {
    vertical-align: top;
  }
  .pdf-page.responsive .abottom {
    vertical-align: bottom;
  }
  .pdf-page.responsive .amiddle {
    vertical-align: middle;
  }
  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: 0.3em 0 0.7em 0;
    padding-right: 1px;
    max-width: 100%;
  }
  .pdf-page.responsive .pde-text {
    margin: 0.3em 0 0.7em 0;
  }
  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px;
  }
  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid;
  }
  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid;
  }
  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid;
  }
  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top;
  }
  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2;
  }
  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000;
  }
  .pdf-page.responsive .title {
    font-size: 250%;
  }
  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px;
  }
  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px;
  }
  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: 0.3em 0 0.7em 0;
  }
  .pdf-page.responsive table {
    font-size: 90%;
  }
  .pdf-page.responsive table p {
    font-size: inherit;
  }
  .pdf-page.responsive table .pde-text {
    margin: 0;
  }
  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%;
  }
  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain;
  }
  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%;
  }
  .pdf-page.responsive .pde-image img {
    max-width: 100%;
  }
  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .pdf-page.responsive .pde-rect-inner {
    padding: 5px;
  }
  .pdf-page h1,
  .pdf-page h2,
  .pdf-page h3,
  .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2;
  }
  .pdf-page.responsive h1 {
    font-size: 210%;
  }
  .pdf-page.responsive h2 {
    font-size: 180%;
  }
  .pdf-page.responsive h3 {
    font-size: 130%;
  }
  .pdf-page.responsive h4 {
    font-size: 120%;
  }
  .pdf-page.responsive small,
  .font_small {
    font-size: 80%;
  }
  .pdf-page.responsive.table h1,
  .pdf-page.responsive.table h2,
  .pdf-page.responsive.table h3,
  .pdf-page.responsive.table h4 {
    margin: 0;
  }
  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .pde-image-float {
    float: left;
    margin-right: 10px;
  }
  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
  .pdf-page-0 {
    width: 1200px;
    height: 1698px;
    background-image: url(page0.jpg);
  }
  .obj_1 {
    left: 30.25%;
    top: 15.43%;
    width: 60%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_2 {
    left: 30.17%;
    top: 18.08%;
    width: 4.083%;
    height: 1.296%;
    font-size: 12px;
  }
  .obj_3 {
    left: 34.17%;
    top: 18.08%;
    width: 8.583%;
    height: 1.296%;
    font-size: 12px;
  }
  .obj_4 {
    left: 42.75%;
    top: 18.08%;
    width: 18.67%;
    height: 1.296%;
    font-size: 12px;
  }
  .obj_5 {
    left: 30.25%;
    top: 19.32%;
    width: 9.25%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_6 {
    left: 39.33%;
    top: 19.32%;
    width: 19%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_7 {
    left: 14.75%;
    top: 31.33%;
    width: 23.67%;
    height: 1.413%;
    font-size: 12px;
  }
  .obj_8 {
    left: 88.67%;
    top: 31.45%;
    width: 2.5%;
    height: 1.119%;
    margin: 0px 0px 0px 0px;
  }
  .obj_9 {
    left: 12.33%;
    top: 46.7%;
    width: 4.583%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_10 {
    left: 17.67%;
    top: 46.7%;
    width: 4.5%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_11 {
    left: 22.92%;
    top: 46.7%;
    width: 7.167%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_12 {
    left: 30.83%;
    top: 46.7%;
    width: 7.167%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_13 {
    left: 38.83%;
    top: 46.7%;
    width: 7.167%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_14 {
    left: 46.67%;
    top: 46.7%;
    width: 9.75%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_15 {
    left: 57.17%;
    top: 46.7%;
    width: 9.833%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_16 {
    left: 67.75%;
    top: 46.7%;
    width: 7.167%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_17 {
    left: 75.83%;
    top: 46.7%;
    width: 9.667%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_18 {
    left: 86.25%;
    top: 46.7%;
    width: 7.167%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_19 {
    left: 12.33%;
    top: 48.17%;
    width: 4.583%;
    height: 1.296%;
    font-size: 12px;
  }
  .obj_20 {
    left: 17.67%;
    top: 48.17%;
    width: 4.5%;
    height: 1.296%;
    font-size: 12px;
  }
  .obj_21 {
    left: 22.92%;
    top: 48.17%;
    width: 7.167%;
    height: 1.296%;
    text-align: right;
    font-size: 12px;
  }
  .obj_22 {
    left: 30.83%;
    top: 48.17%;
    width: 7.167%;
    height: 1.296%;
    text-align: right;
    font-size: 12px;
  }
  .obj_23 {
    left: 38.75%;
    top: 48.17%;
    width: 7.167%;
    height: 1.296%;
    font-size: 12px;
  }
  .obj_24 {
    left: 46.67%;
    top: 48.17%;
    width: 9.75%;
    height: 1.296%;
    font-size: 12px;
  }
  .obj_25 {
    left: 57.17%;
    top: 48.17%;
    width: 9.833%;
    height: 1.296%;
    font-size: 12px;
  }
  .obj_26 {
    left: 67.75%;
    top: 48.17%;
    width: 7.167%;
    height: 1.296%;
    font-size: 12px;
  }
  .obj_27 {
    left: 75.67%;
    top: 48.17%;
    width: 9.833%;
    height: 1.296%;
    font-size: 12px;
  }
  .obj_28 {
    left: 86.25%;
    top: 48.17%;
    width: 7.167%;
    height: 1.296%;
    text-align: right;
    font-size: 12px;
  }
  .obj_29 {
    left: 12.33%;
    top: 49.71%;
    width: 4.583%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_30 {
    left: 17.67%;
    top: 49.71%;
    width: 4.5%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_31 {
    left: 23%;
    top: 49.59%;
    width: 7.167%;
    height: 1.296%;
    text-align: right;
    font-size: 12px;
  }
  .obj_32 {
    left: 30.83%;
    top: 49.71%;
    width: 7.167%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_33 {
    left: 38.75%;
    top: 49.71%;
    width: 7.167%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_34 {
    left: 46.67%;
    top: 49.71%;
    width: 9.75%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_35 {
    left: 57.17%;
    top: 49.71%;
    width: 9.833%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_36 {
    left: 67.75%;
    top: 49.71%;
    width: 7.167%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_37 {
    left: 75.67%;
    top: 49.71%;
    width: 9.833%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_38 {
    left: 86.25%;
    top: 49.71%;
    width: 7.167%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_39 {
    left: 12.33%;
    top: 51.24%;
    width: 4.583%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_40 {
    left: 17.58%;
    top: 51.24%;
    width: 4.583%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_41 {
    left: 22.92%;
    top: 51.24%;
    width: 7.167%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_42 {
    left: 30.83%;
    top: 51.24%;
    width: 7.167%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_43 {
    left: 38.75%;
    top: 51.24%;
    width: 7.167%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_44 {
    left: 46.67%;
    top: 51.24%;
    width: 9.75%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_45 {
    left: 57.33%;
    top: 51.24%;
    width: 9.833%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_46 {
    left: 67.75%;
    top: 51.24%;
    width: 7.167%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_47 {
    left: 75.67%;
    top: 51.24%;
    width: 9.833%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_48 {
    left: 86.25%;
    top: 51.24%;
    width: 7.167%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_49 {
    left: 12.33%;
    top: 52.71%;
    width: 4.583%;
    height: 1.296%;
    font-size: 12px;
  }
  .obj_50 {
    left: 17.67%;
    top: 52.71%;
    width: 4.5%;
    height: 1.296%;
    font-size: 12px;
  }
  .obj_51 {
    left: 22.92%;
    top: 52.71%;
    width: 7.167%;
    height: 1.296%;
    text-align: right;
    font-size: 12px;
  }
  .obj_52 {
    left: 30.83%;
    top: 52.77%;
    width: 7.167%;
    height: 1.178%;
    text-align: right;
    font-size: 12px;
  }
  .obj_53 {
    left: 38.83%;
    top: 52.71%;
    width: 7.167%;
    height: 1.178%;
    font-size: 12px;
  }
  .obj_54 {
    left: 46.67%;
    top: 52.71%;
    width: 9.75%;
    height: 1.296%;
    font-size: 12px;
  }
  .obj_55 {
    left: 57.17%;
    top: 52.71%;
    width: 9.833%;
    height: 1.296%;
    font-size: 12px;
  }
  .obj_56 {
    left: 67.75%;
    top: 52.71%;
    width: 7.167%;
    height: 1.296%;
    font-size: 12px;
  }
  .obj_57 {
    left: 75.67%;
    top: 52.71%;
    width: 9.833%;
    height: 1.296%;
    font-size: 12px;
  }
  .obj_58 {
    left: 86.25%;
    top: 52.71%;
    width: 7.167%;
    height: 1.296%;
    text-align: right;
    font-size: 12px;
  }
  .obj_59 {
    left: 12.33%;
    top: 54.24%;
    width: 4.583%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_60 {
    left: 17.67%;
    top: 54.24%;
    width: 4.5%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_61 {
    left: 23%;
    top: 54.3%;
    width: 7.167%;
    height: 1.296%;
    text-align: right;
    font-size: 12px;
  }
  .obj_62 {
    left: 30.83%;
    top: 54.24%;
    width: 7.167%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_63 {
    left: 38.75%;
    top: 54.24%;
    width: 7.167%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_64 {
    left: 46.67%;
    top: 54.24%;
    width: 9.75%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_65 {
    left: 57.08%;
    top: 54.24%;
    width: 9.833%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_66 {
    left: 67.75%;
    top: 54.24%;
    width: 7.167%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_67 {
    left: 75.67%;
    top: 54.24%;
    width: 9.833%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_68 {
    left: 86.25%;
    top: 54.24%;
    width: 7.167%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_69 {
    left: 12.33%;
    top: 55.77%;
    width: 4.583%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_70 {
    left: 17.67%;
    top: 55.77%;
    width: 4.5%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_71 {
    left: 22.92%;
    top: 55.77%;
    width: 7.167%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_72 {
    left: 30.83%;
    top: 55.77%;
    width: 7.167%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_73 {
    left: 38.75%;
    top: 55.77%;
    width: 7.167%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_74 {
    left: 46.67%;
    top: 55.77%;
    width: 9.75%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_75 {
    left: 57.17%;
    top: 55.77%;
    width: 9.833%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_76 {
    left: 67.75%;
    top: 55.77%;
    width: 7.167%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_77 {
    left: 75.67%;
    top: 55.77%;
    width: 9.833%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_78 {
    left: 86.25%;
    top: 55.77%;
    width: 7.167%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_79 {
    left: 12.33%;
    top: 57.24%;
    width: 4.583%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_80 {
    left: 17.67%;
    top: 57.24%;
    width: 4.5%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_81 {
    left: 22.92%;
    top: 57.24%;
    width: 7.167%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_82 {
    left: 30.83%;
    top: 57.24%;
    width: 7.167%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_83 {
    left: 38.75%;
    top: 57.24%;
    width: 7.167%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_84 {
    left: 46.67%;
    top: 57.24%;
    width: 9.75%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_85 {
    left: 57.17%;
    top: 57.24%;
    width: 9.833%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_86 {
    left: 67.75%;
    top: 57.24%;
    width: 7.167%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_87 {
    left: 75.67%;
    top: 57.24%;
    width: 9.833%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_88 {
    left: 86.25%;
    top: 57.24%;
    width: 7.167%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_89 {
    left: 12.25%;
    top: 58.78%;
    width: 4.5%;
    height: 1.296%;
    font-size: 12px;
  }
  .obj_90 {
    left: 17.67%;
    top: 58.78%;
    width: 4.5%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_91 {
    left: 22.92%;
    top: 58.78%;
    width: 7.167%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_92 {
    left: 30.83%;
    top: 58.78%;
    width: 7.167%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_93 {
    left: 38.75%;
    top: 58.78%;
    width: 7.167%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_94 {
    left: 46.67%;
    top: 58.78%;
    width: 9.75%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_95 {
    left: 57.17%;
    top: 58.78%;
    width: 9.833%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_96 {
    left: 67.75%;
    top: 58.78%;
    width: 7.167%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_97 {
    left: 75.67%;
    top: 58.78%;
    width: 9.833%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_98 {
    left: 86.25%;
    top: 58.78%;
    width: 7.167%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_99 {
    left: 12.33%;
    top: 60.42%;
    width: 4.583%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_100 {
    left: 17.67%;
    top: 60.42%;
    width: 4.5%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_101 {
    left: 22.92%;
    top: 60.42%;
    width: 7.167%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_102 {
    left: 30.83%;
    top: 60.42%;
    width: 7.167%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_103 {
    left: 38.75%;
    top: 60.42%;
    width: 7.167%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_104 {
    left: 46.67%;
    top: 60.42%;
    width: 9.75%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_105 {
    left: 57.17%;
    top: 60.42%;
    width: 9.833%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_106 {
    left: 67.75%;
    top: 60.42%;
    width: 7.167%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_107 {
    left: 75.67%;
    top: 60.42%;
    width: 9.833%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_108 {
    left: 86.25%;
    top: 60.42%;
    width: 7.167%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_109 {
    left: 41%;
    top: 72.79%;
    width: 23.83%;
    height: 1.119%;
    font-size: 12px;
  }
  .obj_110 {
    left: 12%;
    top: 79.86%;
    width: 10.5%;
    height: 1.178%;
    font-size: 12px;
  }
  .obj_111 {
    left: 22.5%;
    top: 79.86%;
    width: 8.083%;
    height: 1.178%;
    font-size: 12px;
  }
  .obj_112 {
    left: 30.5%;
    top: 79.86%;
    width: 23.75%;
    height: 1.178%;
    font-size: 12px;
  }
  .obj_113 {
    left: 54.08%;
    top: 79.86%;
    width: 10.83%;
    height: 1.178%;
    text-align: right;
    font-size: 12px;
  }
  .obj_114 {
    left: 12%;
    top: 80.98%;
    width: 10.5%;
    height: 1.001%;
    font-size: 12px;
  }
  .obj_115 {
    left: 22.5%;
    top: 80.98%;
    width: 8.083%;
    height: 1.001%;
    font-size: 12px;
  }
  .obj_116 {
    left: 30.5%;
    top: 80.98%;
    width: 23.75%;
    height: 1.001%;
    font-size: 12px;
  }
  .obj_117 {
    left: 54.08%;
    top: 80.98%;
    width: 10.83%;
    height: 1.001%;
    text-align: right;
    font-size: 12px;
  }
  .obj_118 {
    left: 12%;
    top: 81.86%;
    width: 10.5%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_119 {
    left: 22.5%;
    top: 81.86%;
    width: 8.083%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_120 {
    left: 30.5%;
    top: 81.86%;
    width: 23.75%;
    height: 1.237%;
    font-size: 12px;
  }
  .obj_121 {
    left: 54.08%;
    top: 81.86%;
    width: 10.83%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_122 {
    left: 12%;
    top: 82.92%;
    width: 10.5%;
    height: 1.06%;
    font-size: 12px;
  }
  .obj_123 {
    left: 22.5%;
    top: 82.92%;
    width: 8.083%;
    height: 1.06%;
    font-size: 12px;
  }
  .obj_124 {
    left: 30.5%;
    top: 82.92%;
    width: 23.75%;
    height: 1.06%;
    font-size: 12px;
  }
  .obj_125 {
    left: 54.08%;
    top: 82.92%;
    width: 10.83%;
    height: 1.06%;
    text-align: right;
    font-size: 12px;
  }
  .obj_126 {
    left: 12%;
    top: 83.92%;
    width: 10.5%;
    height: 1.06%;
    font-size: 12px;
  }
  .obj_127 {
    left: 22.58%;
    top: 83.92%;
    width: 8%;
    height: 1.06%;
    font-size: 12px;
  }
  .obj_128 {
    left: 30.5%;
    top: 83.92%;
    width: 23.75%;
    height: 1.06%;
    font-size: 12px;
  }
  .obj_129 {
    left: 54.08%;
    top: 83.92%;
    width: 10.83%;
    height: 1.06%;
    text-align: right;
    font-size: 12px;
  }
  .pdf-page-1 {
    width: 1200px;
    height: 1698px;
    background-image: url(page1.jpg);
  }
  .obj_131 {
    left: 49%;
    top: 6.478%;
    width: 23.75%;
    height: 1.237%;
  }
  .obj_132 {
    left: 12.08%;
    top: 16.02%;
    width: 10.5%;
    height: 1.06%;
  }
  .obj_133 {
    left: 22.58%;
    top: 16.02%;
    width: 7.917%;
    height: 1.06%;
  }
  .obj_134 {
    left: 30.5%;
    top: 16.02%;
    width: 8%;
    height: 1.06%;
  }
  .obj_135 {
    left: 38.25%;
    top: 16.02%;
    width: 24%;
    height: 1.06%;
  }
  .obj_136 {
    left: 62.33%;
    top: 16.02%;
    width: 10.42%;
    height: 1.06%;
    text-align: right;
    font-size: 12px;
  }
  .obj_137 {
    left: 12.08%;
    top: 16.96%;
    width: 10.5%;
    height: 1.001%;
  }
  .obj_138 {
    left: 22.58%;
    top: 16.96%;
    width: 7.917%;
    height: 1.001%;
  }
  .obj_139 {
    left: 30.5%;
    top: 16.96%;
    width: 8%;
    height: 1.001%;
  }
  .obj_140 {
    left: 38.25%;
    top: 16.96%;
    width: 24%;
    height: 1.001%;
  }
  .obj_141 {
    left: 62.33%;
    top: 16.96%;
    width: 10.42%;
    height: 1.001%;
    text-align: right;
    font-size: 12px;
  }
  .obj_142 {
    left: 12.08%;
    top: 17.9%;
    width: 10.5%;
    height: 1.178%;
  }
  .obj_143 {
    left: 22.58%;
    top: 17.9%;
    width: 7.917%;
    height: 1.178%;
  }
  .obj_144 {
    left: 30.5%;
    top: 17.9%;
    width: 8%;
    height: 1.178%;
  }
  .obj_145 {
    left: 38.25%;
    top: 17.9%;
    width: 24%;
    height: 1.178%;
  }
  .obj_146 {
    left: 62.33%;
    top: 17.9%;
    width: 10.42%;
    height: 1.178%;
    text-align: right;
    font-size: 12px;
  }
  .obj_147 {
    left: 12.08%;
    top: 19.02%;
    width: 10.5%;
    height: 1.001%;
  }
  .obj_148 {
    left: 22.58%;
    top: 19.02%;
    width: 7.917%;
    height: 1.001%;
  }
  .obj_149 {
    left: 30.5%;
    top: 19.02%;
    width: 8%;
    height: 1.001%;
  }
  .obj_150 {
    left: 38.25%;
    top: 19.02%;
    width: 24%;
    height: 1.001%;
  }
  .obj_151 {
    left: 62.33%;
    top: 19.02%;
    width: 10.42%;
    height: 1.001%;
    text-align: right;
    font-size: 12px;
  }
  .obj_152 {
    left: 12.08%;
    top: 19.91%;
    width: 10.5%;
    height: 1.178%;
  }
  .obj_153 {
    left: 22.58%;
    top: 19.91%;
    width: 7.917%;
    height: 1.178%;
  }
  .obj_154 {
    left: 30.5%;
    top: 19.91%;
    width: 8%;
    height: 1.178%;
  }
  .obj_155 {
    left: 38.25%;
    top: 19.91%;
    width: 24%;
    height: 1.178%;
  }
  .obj_156 {
    left: 62.33%;
    top: 19.91%;
    width: 10.42%;
    height: 1.178%;
    text-align: right;
    font-size: 12px;
  }
  .obj_157 {
    left: 12%;
    top: 40.58%;
    width: 10.58%;
    height: 1.06%;
  }
  .obj_158 {
    left: 22.67%;
    top: 40.58%;
    width: 7.833%;
    height: 1.06%;
    font-size: 12px;
  }
  .obj_159 {
    left: 30.5%;
    top: 40.58%;
    width: 8%;
    height: 1.06%;
    font-size: 12px;
  }
  .obj_160 {
    left: 38.33%;
    top: 40.58%;
    width: 8%;
    height: 1.06%;
    text-align: right;
    font-size: 12px;
  }
  .obj_161 {
    left: 46.42%;
    top: 40.58%;
    width: 7.833%;
    height: 1.06%;
    text-align: right;
    font-size: 12px;
  }
  .obj_162 {
    left: 12%;
    top: 41.58%;
    width: 10.58%;
    height: 1.06%;
    font-size: 12px;
  }
  .obj_163 {
    left: 12%;
    top: 42.58%;
    width: 10.58%;
    height: 1.001%;
    font-size: 12px;
  }
  .obj_164 {
    left: 12%;
    top: 43.64%;
    width: 10.58%;
    height: 1.001%;
    font-size: 12px;
  }
  .obj_165 {
    left: 12%;
    top: 44.64%;
    width: 10.58%;
    height: 1.001%;
    font-size: 12px;
  }
  .obj_166 {
    left: 22.67%;
    top: 41.58%;
    width: 7.833%;
    height: 1.06%;
    font-size: 12px;
  }
  .obj_167 {
    left: 22.67%;
    top: 42.58%;
    width: 7.833%;
    height: 1.001%;
    font-size: 12px;
  }
  .obj_168 {
    left: 22.67%;
    top: 43.64%;
    width: 7.833%;
    height: 1.001%;
    font-size: 12px;
  }
  .obj_169 {
    left: 22.67%;
    top: 44.64%;
    width: 7.833%;
    height: 1.001%;
    font-size: 12px;
  }
  .obj_170 {
    left: 30.5%;
    top: 41.58%;
    width: 8%;
    height: 1.06%;
    font-size: 12px;
  }
  .obj_171 {
    left: 30.5%;
    top: 42.58%;
    width: 8%;
    height: 1.001%;
    font-size: 12px;
  }
  .obj_172 {
    left: 30.5%;
    top: 43.64%;
    width: 8%;
    height: 1.001%;
    font-size: 12px;
  }
  .obj_173 {
    left: 30.5%;
    top: 44.64%;
    width: 8%;
    height: 1.001%;
    font-size: 12px;
  }
  .obj_174 {
    left: 38.33%;
    top: 41.58%;
    width: 8%;
    height: 1.06%;
    text-align: right;
    font-size: 12px;
  }
  .obj_175 {
    left: 38.33%;
    top: 42.58%;
    width: 8%;
    height: 1.001%;
    text-align: right;
    font-size: 12px;
  }
  .obj_176 {
    left: 38.33%;
    top: 43.64%;
    width: 8%;
    height: 1.001%;
    text-align: right;
    font-size: 12px;
  }
  .obj_177 {
    left: 38.33%;
    top: 44.64%;
    width: 8%;
    height: 1.001%;
    text-align: right;
    font-size: 12px;
  }
  .obj_178 {
    left: 46.42%;
    top: 41.58%;
    width: 7.833%;
    height: 1.06%;
    text-align: right;
    font-size: 12px;
  }
  .obj_179 {
    left: 46.42%;
    top: 42.58%;
    width: 7.833%;
    height: 1.001%;
    text-align: right;
    font-size: 12px;
  }
  .obj_180 {
    left: 46.42%;
    top: 43.64%;
    width: 7.833%;
    height: 1.001%;
    text-align: right;
    font-size: 12px;
  }
  .obj_181 {
    left: 46.42%;
    top: 44.64%;
    width: 7.833%;
    height: 1.001%;
    text-align: right;
    font-size: 12px;
  }
  .pdf-page input {
    text-align: right;
    padding-right: 7px;
  }

  .upper-case {
    text-transform: uppercase;
  }

  input[type="text"] {
    text-align: left;
    padding-left: 7px;
  }

}
