@import 'assets/colors/colors.scss';

.row {
  align-items: flex-end;
  display: flex;
  margin: 20px 0;

  > div {
    margin-right: 20px;
  }
}

.evaluationsElements {
  background-color: $white;
  padding: 10px 20px 20px 20px;
}

.switch {
  align-items: flex-end;
  display: flex;
}