.table {
  margin : 26px 29px 20px 20px;
  overflow: auto;
  display: inline-block;
  table {
    width: auto;
  }
  th, td {
    padding: 8px 32px 8px 8px;
    max-width: 250px;
  }

  tr {
    td:first-child,
    th:first-child {
      padding: 8px;
    }
  }
}