@import "assets/colors/colors.scss";

.oddRow {
  background-color: $light-grey !important;
}

table.tableFactory {
  border-collapse: separate;
  tbody tr {
    height: 32px;
    border-bottom: 1px solid black;

    &:hover {
      background-color: #e3e3e3;
    }

    &.selected {
      background-color: fade-out($color-primary, .86);

      &:hover {
        background-color: fade-out($color-primary, .86);
      }
    }

    &.addRow {
      background-color: fade-out($color-primary, .86);
      height: 32px;

      p {
        font-weight: 600;
        font-size: 12px;
        letter-spacing: .5px;
      }
    }
  }
  
  .addRowError {
    background-color: #ff8b1f;
  }
  
  .addRowCell {
    padding: 0 20px;
  }
  
  .addIcon {
    font-size: 14px !important; // TODO: Investigate passing props to BodyCells Icon instead
    margin-right: 3px;
  }
}

.scroll-container {
  position: relative;
  overflow-y: auto;
}

.stickyTable {
  thead th {
    position: sticky;
    top: 0;
    background-color: $white;
    z-index: 2;
  }

  tfoot td {
    position: sticky;
    bottom: 0;
    background-color: $white;
    z-index: 2;
  }
}