@import "assets/colors/colors.scss";

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  padding: 20px;
  border-radius: 0px 2px 2px 2px;
  box-shadow: 2px 2px 4px 0 $box-shadow;
  background-color: $white;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 20px;
  flex-wrap: wrap;
}

.buttons {
  margin-top: 20px;
}

.select {
  max-width: 150px;
}
