@import "assets/colors/colors.scss";

.cell {
  display: flex;
  justify-content: flex-start;

  .yellow {
    color: $color-tertiary !important;
  }

  .colorError {
    color: $color-secondary !important;
  }
}
