@import 'assets/colors/colors.scss';

.globalContainer {
  background-color: $white;
}

.bodyContainer {
  padding: 20px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px 20px 20px;
}

.row {
  background-color: $white;
  align-items: flex-end;
  display: flex;
  margin: 20px 0;

  > div {
    margin-right: 20px;
  }
}

.ownerCompanyRow {
  margin: 20px 0;
  padding: 10px;
  display: flex;
}
