.headerUp {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.headerTitle {
    margin-top:20px;
    margin-left: 15px;
}

.headerUpButton {
  margin-top: 8px;
  margin-right: 10px;
  width:280px;
  height:34px;
  font-size: 10px;
}

.filterButtons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}