@import "assets/colors/colors.scss";

.container {
  overflow: auto;
  border-radius: 0 2px 2px 2px;
  box-shadow: 2px 2px 4px 0 $box-shadow;
  background-color: $white;
  padding: 10px;
  height: 60%;

  .loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  div {
    margin-bottom: 20px;
  }
}

.headerTitle {
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.content {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  font-size: 1.1rem;

  .dinamicId {
    margin-bottom: 10px;
    input {
      width: 30px;
      font-size: inherit;
    }
    label {
      font-size: inherit;
    }
    span {
      position: relative;
      bottom: -20px;
      padding-left: 10px;
    }
  }

  .downloadLink {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;

    span {
      margin-left: 5px;
      font-weight: bold;
    }
  }

  .browserLink {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 1rem;
    width: 35%;

    .urlView {
      background-color: $scrollbar-border-color-secondary;
      padding: 5px;
      display: flex;
      justify-content: space-evenly;
      border-radius: 30px 0 0 30px;
      align-items: center;
      width: 20rem;
      opacity: 0.6;
    }
  }

  .downloadButton {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    height: 75px;
  }
}
