.container, .field {
  margin: 30px;
  align-self: center;
}

.field > *{
  margin-top: 20px;
  width: 360px;
}

.title {
  margin-top: 30px;
  text-align: center;
}

.table {
  margin: 10px;
  width: 400px;
  align-self: center;
}
