@import 'assets/colors/colors.scss';

.text {
  font-size: 12px;
}

.ok {
  color: $color-primary;
}

.ko {
  color: $color-error;
}

.running {
  color: $color-tertiary;
}

.to_do, .to_validate {
  color: $black;
}

.disabled {
  color: $grey;
}
