.root {
  min-height: 100vh;

  .panel {
    width: 350px;

    background-color: white;

    .title {
      margin: 1rem 0;
    }
  }
}

.iframe {
  width: 100%;
  min-height: 100%;
  border: none;
}

.overview-img {
  max-width: 100%;
}