$color-primary: #0bd1d1;
$light-primary: #ddfafa;
$color-secondary: #ff8b1f;
$color-tertiary: #f6c344;
$color-error: #fe3a5e;
$color-purple: #a177ff;
$light-red: rgba(254, 58, 94, 0.14);
$grey: #d0d0d0;
$white: #fff;
$black: #000;
$light-grey: #f4f4f4;
$light-500-grey: #9b9b9b;
$scrollbar-background: #e6e6e6;
$lightNeutral: #e3e3e3;
$lightDividerColor: #ededed;
$box-shadow: rgba(195, 195, 195, 0.11);
$light-cyan: #ecfefe;

$scrollbar-border-color-default: #fff !default;
$scrollbar-border-color-secondary: #f5f5f5;
