@import "assets/colors/colors.scss";

td {
  &.number {
    padding: 0;

    border-bottom: none;

    text-align: right;
  }

  &.total {
    margin-top: 1px;
    padding: 0 10px 0 0;

    border: solid 1px $color-primary;

    font-family: 'basier_circlemedium';
    font-weight: 500;
    text-align: right;
  }
}
