.form-tax-declaration-2050 {
  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: block;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page input {
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    padding: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page-0 {
    width: 1200px;
    height: 1697px;
    background-image: url(page0.jpg);
  }

  .obj_1 {
    left: 92.17%;
    top: 9.605%;
    width: 1.417%;
    height: 1.12%;
    margin: 0px 0px 0px 0px;
  }

  .obj_2 {
    left: 48.42%;
    top: 15.67%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_3 {
    left: 48.5%;
    top: 87.15%;
    width: 14.33%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_4 {
    left: 48.5%;
    top: 89.39%;
    width: 14.33%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_5 {
    left: 48.58%;
    top: 21.98%;
    width: 14.25%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_6 {
    left: 48.58%;
    top: 23.98%;
    width: 14.25%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_7 {
    left: 48.58%;
    top: 26.05%;
    width: 14.25%;
    height: 1.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_8 {
    left: 48.58%;
    top: 28.17%;
    width: 14.25%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_9 {
    left: 48.5%;
    top: 34.53%;
    width: 14.33%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_10 {
    left: 48.5%;
    top: 42.96%;
    width: 14.33%;
    height: 1.65%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_11 {
    left: 48.5%;
    top: 45.08%;
    width: 14.33%;
    height: 1.65%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_12 {
    left: 48.5%;
    top: 47.14%;
    width: 14.33%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_13 {
    left: 48.5%;
    top: 49.26%;
    width: 14.33%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_14 {
    left: 48.5%;
    top: 51.38%;
    width: 14.33%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_15 {
    left: 48.5%;
    top: 53.51%;
    width: 14.33%;
    height: 1.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_16 {
    left: 48.5%;
    top: 59.81%;
    width: 14.33%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_17 {
    left: 48.5%;
    top: 61.93%;
    width: 14.33%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_18 {
    left: 48.5%;
    top: 64.05%;
    width: 14.33%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_19 {
    left: 48.5%;
    top: 66.18%;
    width: 14.33%;
    height: 1.65%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_20 {
    left: 48.5%;
    top: 68.3%;
    width: 14.33%;
    height: 1.65%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_21 {
    left: 48.5%;
    top: 70.3%;
    width: 14.33%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_22 {
    left: 48.58%;
    top: 76.66%;
    width: 14.25%;
    height: 1.65%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_23 {
    left: 48.58%;
    top: 78.73%;
    width: 14.25%;
    height: 1.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_24 {
    left: 48.42%;
    top: 17.62%;
    width: 14.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_25 {
    left: 48.42%;
    top: 19.62%;
    width: 14.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_26 {
    left: 65.83%;
    top: 17.62%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_27 {
    left: 65.83%;
    top: 19.62%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_28 {
    left: 80.58%;
    top: 15.44%;
    width: 17.58%;
    height: 2.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_29 {
    left: 80.58%;
    top: 17.62%;
    width: 17.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_30 {
    left: 80.58%;
    top: 19.62%;
    width: 17.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_31 {
    left: 65.83%;
    top: 21.8%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_32 {
    left: 80.58%;
    top: 21.8%;
    width: 17.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_33 {
    left: 65.83%;
    top: 23.92%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_34 {
    left: 80.58%;
    top: 23.92%;
    width: 17.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_35 {
    left: 65.83%;
    top: 26.05%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_36 {
    left: 80.58%;
    top: 26.05%;
    width: 17.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_37 {
    left: 65.83%;
    top: 28.05%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_38 {
    left: 80.58%;
    top: 28.05%;
    width: 17.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_39 {
    left: 48.42%;
    top: 30.23%;
    width: 14.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_40 {
    left: 65.83%;
    top: 30.23%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_41 {
    left: 80.58%;
    top: 30.23%;
    width: 17.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_42 {
    left: 48.42%;
    top: 32.35%;
    width: 14.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_43 {
    left: 65.83%;
    top: 32.35%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_44 {
    left: 80.58%;
    top: 32.35%;
    width: 17.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_45 {
    left: 65.83%;
    top: 34.47%;
    width: 14.67%;
    height: 2.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_46 {
    left: 80.58%;
    top: 34.47%;
    width: 17.58%;
    height: 2.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_47 {
    left: 48.42%;
    top: 36.48%;
    width: 14.58%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_48 {
    left: 65.83%;
    top: 36.48%;
    width: 14.67%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_49 {
    left: 80.58%;
    top: 36.48%;
    width: 17.58%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_50 {
    left: 48.42%;
    top: 38.6%;
    width: 14.58%;
    height: 2.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_51 {
    left: 65.83%;
    top: 38.6%;
    width: 14.67%;
    height: 2.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_52 {
    left: 80.58%;
    top: 38.6%;
    width: 17.58%;
    height: 2.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_53 {
    left: 48.42%;
    top: 40.78%;
    width: 14.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_54 {
    left: 65.83%;
    top: 40.78%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_55 {
    left: 80.58%;
    top: 40.78%;
    width: 17.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_56 {
    left: 65.83%;
    top: 42.9%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_57 {
    left: 80.58%;
    top: 42.9%;
    width: 17.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_58 {
    left: 65.83%;
    top: 45.02%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_59 {
    left: 80.58%;
    top: 45.02%;
    width: 17.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_60 {
    left: 65.83%;
    top: 47.02%;
    width: 14.67%;
    height: 2.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_61 {
    left: 80.58%;
    top: 47.02%;
    width: 17.58%;
    height: 2.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_62 {
    left: 65.83%;
    top: 49.2%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_63 {
    left: 80.58%;
    top: 49.2%;
    width: 17.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_64 {
    left: 65.83%;
    top: 51.33%;
    width: 14.67%;
    height: 2.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_65 {
    left: 80.58%;
    top: 51.33%;
    width: 17.58%;
    height: 2.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_66 {
    left: 65.83%;
    top: 53.51%;
    width: 14.67%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_67 {
    left: 80.58%;
    top: 53.51%;
    width: 17.58%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_68 {
    left: 48.42%;
    top: 55.51%;
    width: 14.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_69 {
    left: 65.83%;
    top: 55.51%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_70 {
    left: 80.58%;
    top: 55.51%;
    width: 17.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_71 {
    left: 48.42%;
    top: 57.63%;
    width: 14.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_72 {
    left: 65.83%;
    top: 57.63%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_73 {
    left: 80.58%;
    top: 57.63%;
    width: 17.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_74 {
    left: 65.83%;
    top: 59.75%;
    width: 14.67%;
    height: 2.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_75 {
    left: 80.58%;
    top: 59.75%;
    width: 17.58%;
    height: 2.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_76 {
    left: 65.83%;
    top: 61.93%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_77 {
    left: 80.58%;
    top: 61.93%;
    width: 17.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_78 {
    left: 65.83%;
    top: 63.94%;
    width: 14.67%;
    height: 2.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_79 {
    left: 80.58%;
    top: 63.94%;
    width: 17.58%;
    height: 2.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_80 {
    left: 65.83%;
    top: 66.06%;
    width: 14.67%;
    height: 2.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_81 {
    left: 80.58%;
    top: 66.06%;
    width: 17.58%;
    height: 2.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_82 {
    left: 65.83%;
    top: 68.18%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_83 {
    left: 80.58%;
    top: 68.18%;
    width: 17.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_84 {
    left: 65.83%;
    top: 70.3%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_85 {
    left: 80.58%;
    top: 70.3%;
    width: 17.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_86 {
    left: 48.42%;
    top: 72.3%;
    width: 14.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_87 {
    left: 65.83%;
    top: 72.3%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_88 {
    left: 80.58%;
    top: 72.3%;
    width: 17.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_89 {
    left: 48.42%;
    top: 74.43%;
    width: 14.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_90 {
    left: 65.83%;
    top: 74.43%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_91 {
    left: 80.58%;
    top: 74.43%;
    width: 17.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_92 {
    left: 65.83%;
    top: 76.55%;
    width: 14.67%;
    height: 2.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_93 {
    left: 80.58%;
    top: 76.55%;
    width: 17.58%;
    height: 2.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_94 {
    left: 65.83%;
    top: 78.67%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_95 {
    left: 80.58%;
    top: 78.67%;
    width: 17.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_96 {
    left: 48.42%;
    top: 80.79%;
    width: 14.58%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_97 {
    left: 65.83%;
    top: 80.79%;
    width: 14.67%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_98 {
    left: 80.58%;
    top: 80.79%;
    width: 17.58%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_99 {
    left: 48.42%;
    top: 82.85%;
    width: 14.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_100 {
    left: 65.83%;
    top: 82.85%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_101 {
    left: 80.58%;
    top: 82.85%;
    width: 17.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_102 {
    left: 48.42%;
    top: 84.97%;
    width: 14.58%;
    height: 2.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_103 {
    left: 48.42%;
    top: 91.28%;
    width: 14.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_104 {
    left: 65.83%;
    top: 91.28%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_105 {
    left: 80.58%;
    top: 91.28%;
    width: 17.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_106 {
    left: 80.58%;
    top: 84.97%;
    width: 17.58%;
    height: 2.416%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_107 {
    left: 80.67%;
    top: 87.39%;
    width: 17.58%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_108 {
    left: 80.67%;
    top: 89.51%;
    width: 17.58%;
    height: 1.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_109 {
    left: 82.58%;
    top: 93.52%;
    width: 15.58%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_110 {
    left: 52%;
    top: 93.4%;
    width: 14.75%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_111 {
    left: 19.83%;
    top: 93.4%;
    width: 15%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_112 {
    left: 19.83%;
    top: 95.58%;
    width: 15%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_113 {
    left: 51.83%;
    top: 95.58%;
    width: 14.92%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_114 {
    left: 81.33%;
    top: 95.58%;
    width: 16.83%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_115 {
    left: 20.33%;
    top: 5.009%;
    width: 40.42%;
    height: 1.473%;
    font-size: 12.000000px;
  }

  .obj_116 {
    left: 17.17%;
    top: 6.953%;
    width: 4.167%;
    height: 1.414%;
    font-size: 12.000000px;
  }

  .obj_117 {
    left: 21.25%;
    top: 6.953%;
    width: 8.583%;
    height: 1.414%;
  }

  .obj_118 {
    left: 29.83%;
    top: 6.953%;
    width: 18.58%;
    height: 1.414%;
  }

  .obj_119 {
    left: 48.42%;
    top: 6.953%;
    width: 9.25%;
    height: 1.414%;
    font-size: 12.000000px;
  }

  .obj_120 {
    left: 57.5%;
    top: 6.953%;
    width: 14.25%;
    height: 1.414%;
    font-size: 12.000000px;
  }

  .obj_121 {
    left: 92.67%;
    top: 5.009%;
    width: 4.75%;
    height: 1.473%;
  }

  .obj_122 {
    left: 92.67%;
    top: 7.13%;
    width: 4.75%;
    height: 1.179%;
  }

  .obj_123 {
    left: 81.75%;
    top: 12.26%;
    width: 15.08%;
    height: 1.12%;
    font-size: 12.000000px;
  }

  .obj_124 {
    left: 14.75%;
    top: 9.252%;
    width: 39.83%;
    height: 1.827%;
    font-size: 12.000000px;
  }

  .pdf-page input {
    padding-right: 7px;
  }

  .pdf-page input.pde-form-field-text {
    text-align: left;
    padding-left: 7px;
  }
}