@import "assets/colors/colors.scss";

.tableUser__oddRow {
  display: flex;
  flex-direction: row;
  background-color: $white;
}

.tableUser__evenRow {
  display: flex;
  flex-direction: row;
  background-color: $light-grey;
}