@import "assets/colors/colors.scss";

.folderList {
  list-style: none;
  max-width: 150px;
  width: 100%;
  font-size: 15px;
  cursor: pointer;
  padding-left: 0;
  padding-right: 10px;
  height: 100%;
  margin: 0;
  overflow-y: auto;
  &:not(:first-child) {
    padding-left: 10px;
    border-left: 1px solid #e1e1e1;
  }
  li {
    padding: 2px 7px;
    margin-bottom: 6px;
    &.selected {
      background-color: $light-primary;
    }
    div {
      &:focus {
        outline: none;
      }
    }
  }
}

.folder {
  margin-right: 10px !important;
}

.finder {
  height: 100%;
}

.finderWrap {
  display: flex;
  height: 100%;
}

