@import "assets/colors/colors.scss";

.container {
  height: auto;
  padding: 20px 0;
  overflow: auto;
  border-radius: 0px 2px 2px 2px;
  box-shadow: 2px 2px 4px 0 $box-shadow;
  background-color: $white;
  display: flex;
  flex-direction: column;

  .is-editing {
    border: 'solid 1px #50e3c2';
  }

  .checkboxCell {
    width: 44px;
  }

  .autocompleteCell {
    width: 150px;
  }
  
  .numberCell {
    width: 150px;
  }
  
  .iconCell {
    width: 100px;
  }

  .tvaCodeCell {
    width: 84px;
  }

  .periodCell {
    width: 180px;
  }

  .footerCell {  
    p {
      font-weight: bold;
    }
  }

  .totalFooterCell {
    border: solid 1px #50e3c2;
    text-align: right;
  }

  .backgroundFooterCell {
    text-align: right;
    background-color: rgba(11, 209, 209, 0.14);
    font-weight: 600;
  }
}

.generateContainer {
  display: flex;
  justify-content: center;
}

.generateButton {
    padding: 0;
    text-align: inherit;
}

.table {
  margin : 26px 29px 20px 20px;
  table {
    border-collapse: separate;
    tbody {
        span {
          display: initial;
        }
      }
    }

  tr {
    height: auto;
  }
}

.footerButton {
  align-self: center
}