.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  margin-bottom: 30px;
}

.buttonContainer {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}
