.form-tax-declaration-2033c {
  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: block;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page input {
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    padding: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page-0 {
    width: 1200px;
    height: 1552px;
    background-image: url(page0.jpg);
  }

  .obj_1 {
    left: 28.58%;
    top: 14.11%;
    width: 10.75%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_2 {
    left: 41.42%;
    top: 14.11%;
    width: 11.08%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_3 {
    left: 54.67%;
    top: 14.11%;
    width: 10.75%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_4 {
    left: 67.75%;
    top: 14.11%;
    width: 11%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_5 {
    left: 79%;
    top: 14.11%;
    width: 12.67%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_6 {
    left: 89%;
    top: 7.023%;
    width: 1.583%;
    height: 1.289%;
    margin: 0px 0px 0px 0px;
  }

  .obj_7 {
    left: 28.5%;
    top: 16.04%;
    width: 10.75%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_8 {
    left: 41.42%;
    top: 16.04%;
    width: 11.08%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_9 {
    left: 54.67%;
    top: 16.04%;
    width: 10.75%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_10 {
    left: 67.75%;
    top: 16.04%;
    width: 11%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_11 {
    left: 79%;
    top: 16.04%;
    width: 12.67%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_12 {
    left: 28.5%;
    top: 17.85%;
    width: 10.75%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_13 {
    left: 41.42%;
    top: 17.85%;
    width: 11.08%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_14 {
    left: 54.67%;
    top: 17.85%;
    width: 10.75%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_15 {
    left: 67.75%;
    top: 17.85%;
    width: 11%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_16 {
    left: 79%;
    top: 17.85%;
    width: 12.67%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_17 {
    left: 28.5%;
    top: 31.12%;
    width: 10.75%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_18 {
    left: 28.5%;
    top: 29.25%;
    width: 10.75%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_19 {
    left: 28.5%;
    top: 27.38%;
    width: 10.75%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_20 {
    left: 28.5%;
    top: 25.45%;
    width: 10.75%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_21 {
    left: 28.5%;
    top: 23.58%;
    width: 10.75%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_22 {
    left: 28.5%;
    top: 21.65%;
    width: 10.75%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_23 {
    left: 28.5%;
    top: 19.78%;
    width: 10.75%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_24 {
    left: 41.42%;
    top: 31.12%;
    width: 11.08%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_25 {
    left: 41.42%;
    top: 29.25%;
    width: 11.08%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_26 {
    left: 41.42%;
    top: 27.38%;
    width: 11.08%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_27 {
    left: 41.42%;
    top: 25.45%;
    width: 11.08%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_28 {
    left: 41.42%;
    top: 23.58%;
    width: 11.08%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_29 {
    left: 41.42%;
    top: 21.65%;
    width: 11.08%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_30 {
    left: 41.42%;
    top: 19.78%;
    width: 11.08%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_31 {
    left: 54.67%;
    top: 31.12%;
    width: 10.75%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_32 {
    left: 54.67%;
    top: 29.25%;
    width: 10.75%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_33 {
    left: 54.67%;
    top: 27.38%;
    width: 10.75%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_34 {
    left: 54.67%;
    top: 25.45%;
    width: 10.75%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_35 {
    left: 54.67%;
    top: 23.58%;
    width: 10.75%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_36 {
    left: 54.67%;
    top: 21.65%;
    width: 10.75%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_37 {
    left: 54.67%;
    top: 19.78%;
    width: 10.75%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_38 {
    left: 67.75%;
    top: 31.12%;
    width: 11%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_39 {
    left: 67.75%;
    top: 29.25%;
    width: 11%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_40 {
    left: 67.75%;
    top: 27.38%;
    width: 11%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_41 {
    left: 67.75%;
    top: 25.45%;
    width: 11%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_42 {
    left: 67.75%;
    top: 23.58%;
    width: 11%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_43 {
    left: 67.75%;
    top: 21.65%;
    width: 11%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_44 {
    left: 67.75%;
    top: 19.78%;
    width: 11%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_45 {
    left: 79%;
    top: 31.12%;
    width: 12.67%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_46 {
    left: 79%;
    top: 29.25%;
    width: 12.67%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_47 {
    left: 79%;
    top: 27.38%;
    width: 12.67%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_48 {
    left: 79%;
    top: 25.45%;
    width: 12.67%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_49 {
    left: 79%;
    top: 23.58%;
    width: 12.67%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_50 {
    left: 79%;
    top: 21.65%;
    width: 12.67%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_51 {
    left: 79%;
    top: 19.78%;
    width: 12.67%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_52 {
    left: 35.25%;
    top: 50.32%;
    width: 12.5%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_53 {
    left: 35.25%;
    top: 48.45%;
    width: 12.5%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_54 {
    left: 35.25%;
    top: 46.59%;
    width: 12.5%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_55 {
    left: 35.25%;
    top: 44.52%;
    width: 12.5%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_56 {
    left: 35.25%;
    top: 42.65%;
    width: 12.5%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_57 {
    left: 35.25%;
    top: 40.79%;
    width: 12.5%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_58 {
    left: 35.25%;
    top: 38.85%;
    width: 12.5%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_59 {
    left: 35.25%;
    top: 36.98%;
    width: 12.5%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_60 {
    left: 49.83%;
    top: 50.32%;
    width: 12.67%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_61 {
    left: 49.83%;
    top: 48.45%;
    width: 12.67%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_62 {
    left: 49.83%;
    top: 46.59%;
    width: 12.67%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_63 {
    left: 49.83%;
    top: 44.52%;
    width: 12.67%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_64 {
    left: 49.83%;
    top: 42.65%;
    width: 12.67%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_65 {
    left: 49.83%;
    top: 40.79%;
    width: 12.67%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_66 {
    left: 49.83%;
    top: 38.85%;
    width: 12.67%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_67 {
    left: 49.83%;
    top: 36.98%;
    width: 12.67%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_68 {
    left: 64.67%;
    top: 50.32%;
    width: 12.5%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_69 {
    left: 64.67%;
    top: 48.45%;
    width: 12.5%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_70 {
    left: 64.67%;
    top: 46.59%;
    width: 12.5%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_71 {
    left: 64.67%;
    top: 44.52%;
    width: 12.5%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_72 {
    left: 64.67%;
    top: 42.65%;
    width: 12.5%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_73 {
    left: 64.67%;
    top: 40.79%;
    width: 12.5%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_74 {
    left: 64.67%;
    top: 38.85%;
    width: 12.5%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_75 {
    left: 64.67%;
    top: 36.98%;
    width: 12.5%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_76 {
    left: 79.33%;
    top: 50.32%;
    width: 12.33%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_77 {
    left: 79.33%;
    top: 48.45%;
    width: 12.33%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_78 {
    left: 79.33%;
    top: 46.59%;
    width: 12.33%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_79 {
    left: 79.33%;
    top: 44.52%;
    width: 12.33%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_80 {
    left: 79.33%;
    top: 42.65%;
    width: 12.33%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_81 {
    left: 79.33%;
    top: 40.79%;
    width: 12.33%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_82 {
    left: 79.33%;
    top: 38.85%;
    width: 12.33%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_83 {
    left: 79.33%;
    top: 36.98%;
    width: 12.33%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_84 {
    left: 24%;
    top: 54.51%;
    width: 13.25%;
    height: 4.446%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_85 {
    left: 39.5%;
    top: 54.51%;
    width: 11.5%;
    height: 4.446%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_86 {
    left: 51.08%;
    top: 54.51%;
    width: 13.33%;
    height: 4.446%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_87 {
    left: 64.67%;
    top: 54.51%;
    width: 13.42%;
    height: 4.446%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_88 {
    left: 80.33%;
    top: 54.51%;
    width: 11.33%;
    height: 4.446%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_89 {
    left: 24%;
    top: 59.15%;
    width: 13.25%;
    height: 4.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_90 {
    left: 37.33%;
    top: 59.15%;
    width: 13.67%;
    height: 4.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_91 {
    left: 51.08%;
    top: 59.15%;
    width: 13.33%;
    height: 4.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_92 {
    left: 64.67%;
    top: 59.15%;
    width: 13.42%;
    height: 4.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_93 {
    left: 78.33%;
    top: 59.15%;
    width: 13.33%;
    height: 4.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_94 {
    left: 13.33%;
    top: 68.04%;
    width: 9.75%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_95 {
    left: 13.33%;
    top: 85.05%;
    width: 9.75%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_96 {
    left: 13.33%;
    top: 83.18%;
    width: 9.75%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_97 {
    left: 13.33%;
    top: 81.31%;
    width: 9.75%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_98 {
    left: 13.33%;
    top: 79.38%;
    width: 9.75%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_99 {
    left: 13.33%;
    top: 77.51%;
    width: 9.75%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_100 {
    left: 13.33%;
    top: 75.58%;
    width: 9.75%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_101 {
    left: 13.33%;
    top: 73.71%;
    width: 9.75%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_102 {
    left: 13.33%;
    top: 71.84%;
    width: 9.75%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_103 {
    left: 13.33%;
    top: 69.91%;
    width: 9.75%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_104 {
    left: 23.33%;
    top: 85.05%;
    width: 9.5%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_105 {
    left: 23.33%;
    top: 83.18%;
    width: 9.5%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_106 {
    left: 23.33%;
    top: 81.31%;
    width: 9.5%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_107 {
    left: 23.33%;
    top: 79.38%;
    width: 9.5%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_108 {
    left: 23.33%;
    top: 77.51%;
    width: 9.5%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_109 {
    left: 23.33%;
    top: 75.58%;
    width: 9.5%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_110 {
    left: 23.33%;
    top: 73.71%;
    width: 9.5%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_111 {
    left: 23.33%;
    top: 71.84%;
    width: 9.5%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_112 {
    left: 23.33%;
    top: 69.91%;
    width: 9.5%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_113 {
    left: 23.33%;
    top: 68.04%;
    width: 9.5%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_114 {
    left: 33.08%;
    top: 85.05%;
    width: 9.583%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_115 {
    left: 33.08%;
    top: 83.18%;
    width: 9.583%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_116 {
    left: 33.08%;
    top: 81.31%;
    width: 9.583%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_117 {
    left: 33.08%;
    top: 79.38%;
    width: 9.583%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_118 {
    left: 33.08%;
    top: 77.51%;
    width: 9.583%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_119 {
    left: 33.08%;
    top: 75.58%;
    width: 9.583%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_120 {
    left: 33.08%;
    top: 73.71%;
    width: 9.583%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_121 {
    left: 33.08%;
    top: 71.84%;
    width: 9.583%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_122 {
    left: 33.08%;
    top: 69.91%;
    width: 9.583%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_123 {
    left: 33.08%;
    top: 68.04%;
    width: 9.583%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_124 {
    left: 42.92%;
    top: 85.05%;
    width: 9.583%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_125 {
    left: 42.92%;
    top: 83.18%;
    width: 9.583%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_126 {
    left: 42.92%;
    top: 81.31%;
    width: 9.583%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_127 {
    left: 42.92%;
    top: 79.38%;
    width: 9.583%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_128 {
    left: 42.92%;
    top: 77.51%;
    width: 9.583%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_129 {
    left: 42.92%;
    top: 75.58%;
    width: 9.583%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_130 {
    left: 42.92%;
    top: 73.71%;
    width: 9.583%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_131 {
    left: 42.92%;
    top: 71.84%;
    width: 9.583%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_132 {
    left: 42.92%;
    top: 69.91%;
    width: 9.583%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_133 {
    left: 42.92%;
    top: 68.04%;
    width: 9.583%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_134 {
    left: 52.75%;
    top: 85.05%;
    width: 9.583%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_135 {
    left: 52.75%;
    top: 83.18%;
    width: 9.583%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_136 {
    left: 52.75%;
    top: 81.31%;
    width: 9.583%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_137 {
    left: 52.75%;
    top: 79.38%;
    width: 9.583%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_138 {
    left: 52.75%;
    top: 77.51%;
    width: 9.583%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_139 {
    left: 52.75%;
    top: 75.58%;
    width: 9.583%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_140 {
    left: 52.75%;
    top: 73.71%;
    width: 9.583%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_141 {
    left: 52.75%;
    top: 71.84%;
    width: 9.583%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_142 {
    left: 52.75%;
    top: 69.91%;
    width: 9.583%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_143 {
    left: 52.75%;
    top: 68.04%;
    width: 9.583%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_144 {
    left: 62.58%;
    top: 85.05%;
    width: 9.667%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_145 {
    left: 62.58%;
    top: 83.18%;
    width: 9.667%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_146 {
    left: 62.58%;
    top: 81.31%;
    width: 9.667%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_147 {
    left: 62.58%;
    top: 79.38%;
    width: 9.667%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_148 {
    left: 62.58%;
    top: 77.51%;
    width: 9.667%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_149 {
    left: 62.58%;
    top: 75.58%;
    width: 9.667%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_150 {
    left: 62.58%;
    top: 73.71%;
    width: 9.667%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_151 {
    left: 62.58%;
    top: 71.84%;
    width: 9.667%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_152 {
    left: 62.58%;
    top: 69.91%;
    width: 9.667%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_153 {
    left: 62.58%;
    top: 68.04%;
    width: 9.667%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_154 {
    left: 72.5%;
    top: 85.05%;
    width: 9.417%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_155 {
    left: 72.5%;
    top: 83.18%;
    width: 9.417%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_156 {
    left: 72.5%;
    top: 81.31%;
    width: 9.417%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_157 {
    left: 72.5%;
    top: 79.38%;
    width: 9.417%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_158 {
    left: 72.5%;
    top: 77.51%;
    width: 9.417%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_159 {
    left: 72.5%;
    top: 75.58%;
    width: 9.417%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_160 {
    left: 72.5%;
    top: 73.71%;
    width: 9.417%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_161 {
    left: 72.5%;
    top: 71.84%;
    width: 9.417%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_162 {
    left: 72.5%;
    top: 69.91%;
    width: 9.417%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_163 {
    left: 72.5%;
    top: 68.04%;
    width: 9.417%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_164 {
    left: 82.17%;
    top: 85.05%;
    width: 9.5%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_165 {
    left: 82.17%;
    top: 83.18%;
    width: 9.5%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_166 {
    left: 82.17%;
    top: 81.31%;
    width: 9.5%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_167 {
    left: 82.17%;
    top: 79.38%;
    width: 9.5%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_168 {
    left: 82.17%;
    top: 77.51%;
    width: 9.5%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_169 {
    left: 82.17%;
    top: 75.58%;
    width: 9.5%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_170 {
    left: 82.17%;
    top: 73.71%;
    width: 9.5%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_171 {
    left: 82.17%;
    top: 71.84%;
    width: 9.5%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_172 {
    left: 82.17%;
    top: 68.04%;
    width: 9.5%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_173 {
    left: 82.17%;
    top: 69.91%;
    width: 9.5%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_174 {
    left: 15.5%;
    top: 86.92%;
    width: 7.583%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_175 {
    left: 25.25%;
    top: 86.92%;
    width: 7.583%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_176 {
    left: 35.25%;
    top: 86.92%;
    width: 7.417%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_177 {
    left: 45.08%;
    top: 86.92%;
    width: 7.417%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_178 {
    left: 54.67%;
    top: 86.92%;
    width: 7.667%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_179 {
    left: 64.5%;
    top: 86.92%;
    width: 7.75%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_180 {
    left: 74.5%;
    top: 86.92%;
    width: 7.417%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_181 {
    left: 84.25%;
    top: 86.92%;
    width: 7.417%;
    height: 1.74%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_182 {
    left: 35.25%;
    top: 88.85%;
    width: 7.417%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_183 {
    left: 54.67%;
    top: 88.85%;
    width: 7.667%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_184 {
    left: 64.5%;
    top: 88.85%;
    width: 7.75%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_185 {
    left: 74.5%;
    top: 88.85%;
    width: 7.417%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_186 {
    left: 84.25%;
    top: 88.85%;
    width: 7.417%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_187 {
    left: 74.5%;
    top: 90.72%;
    width: 7.417%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_188 {
    left: 54.67%;
    top: 92.65%;
    width: 7.667%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_189 {
    left: 64.5%;
    top: 92.65%;
    width: 7.75%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_190 {
    left: 74.5%;
    top: 92.65%;
    width: 7.417%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_191 {
    left: 84.25%;
    top: 92.65%;
    width: 7.417%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_192 {
    left: 41.33%;
    top: 7.539%;
    width: 43.42%;
    height: 1.224%;
    font-size: 12.000000px;
  }

  .pdf-page input {
    text-align: right;
    padding-right: 7px;
  }

  .pdf-page input.pde-form-field-text {
    text-align: left;
    padding-left: 7px;
  }
}