.Comment{
  display: inline-flex;
  width:100%;
}

.header {
  display: inline-flex
}

.header__text {
  margin-left: 5px
}

.comment_content {
  width: 100%;
}

.comment_content-edit {
  display: flex;
}

