.primeBoxContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.boxContainer {
  margin-left: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.box {
  margin: 4px;
}