.form-tax-declaration-2058a {
  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: block;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page input {
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    padding: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page-0 {
    width: 1200px;
    height: 1697px;
    background-image: url(page0.jpg);
  }

  .obj_1 {
    left: 77.75%;
    top: 5.657%;
    width: 2.083%;
    height: 1.296%;
    margin: 0px 0px 0px 0px;
  }

  .obj_2 {
    left: 83.42%;
    top: 7.307%;
    width: 14.92%;
    height: 1.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_3 {
    left: 83.42%;
    top: 9.252%;
    width: 14.92%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_4 {
    left: 67%;
    top: 92.28%;
    width: 13.67%;
    height: 1.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_5 {
    left: 83.42%;
    top: 92.28%;
    width: 14.92%;
    height: 1.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_6 {
    left: 67%;
    top: 88.57%;
    width: 13.67%;
    height: 1.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_7 {
    left: 83.42%;
    top: 90.34%;
    width: 14.92%;
    height: 1.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_8 {
    left: 67%;
    top: 84.91%;
    width: 13.67%;
    height: 1.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_9 {
    left: 83.42%;
    top: 86.68%;
    width: 14.92%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_10 {
    left: 83.42%;
    top: 82.97%;
    width: 14.92%;
    height: 1.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_11 {
    left: 83.42%;
    top: 81.08%;
    width: 14.92%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_12 {
    left: 83.42%;
    top: 78.31%;
    width: 14.92%;
    height: 2.593%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_13 {
    left: 70%;
    top: 78.31%;
    width: 9.333%;
    height: 2.593%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_14 {
    left: 37.75%;
    top: 78.31%;
    width: 11.5%;
    height: 2.593%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_15 {
    left: 70%;
    top: 74.66%;
    width: 10.67%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_16 {
    left: 25.83%;
    top: 74.66%;
    width: 8.667%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_17 {
    left: 25.83%;
    top: 72.89%;
    width: 8.667%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_18 {
    left: 25.83%;
    top: 71.01%;
    width: 8.667%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_19 {
    left: 25.83%;
    top: 69.18%;
    width: 8.667%;
    height: 1.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_20 {
    left: 49.5%;
    top: 72.89%;
    width: 8.5%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_21 {
    left: 49.5%;
    top: 71.01%;
    width: 8.5%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_22 {
    left: 49.5%;
    top: 69.18%;
    width: 8.5%;
    height: 1.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_23 {
    left: 70%;
    top: 72.89%;
    width: 10.67%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_24 {
    left: 70%;
    top: 71.01%;
    width: 10.67%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_25 {
    left: 70%;
    top: 69.18%;
    width: 10.67%;
    height: 1.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_26 {
    left: 83.42%;
    top: 76.55%;
    width: 14.92%;
    height: 1.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_27 {
    left: 83.42%;
    top: 69.18%;
    width: 14.92%;
    height: 1.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_28 {
    left: 83.42%;
    top: 67.3%;
    width: 14.92%;
    height: 1.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_29 {
    left: 83.42%;
    top: 65.53%;
    width: 14.92%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_30 {
    left: 83.42%;
    top: 63.41%;
    width: 14.92%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_31 {
    left: 83.42%;
    top: 61.64%;
    width: 14.92%;
    height: 1.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_32 {
    left: 83.42%;
    top: 59.69%;
    width: 14.92%;
    height: 1.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_33 {
    left: 70%;
    top: 63.41%;
    width: 9.333%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_34 {
    left: 83.42%;
    top: 57.81%;
    width: 14.92%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_35 {
    left: 83.42%;
    top: 56.04%;
    width: 14.92%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_36 {
    left: 83.42%;
    top: 54.27%;
    width: 14.92%;
    height: 1.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_37 {
    left: 83.42%;
    top: 52.33%;
    width: 14.92%;
    height: 1.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_38 {
    left: 83.42%;
    top: 50.44%;
    width: 14.92%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_39 {
    left: 83.42%;
    top: 48.67%;
    width: 14.92%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_40 {
    left: 83.42%;
    top: 46.79%;
    width: 14.92%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_41 {
    left: 83.42%;
    top: 44.96%;
    width: 14.92%;
    height: 1.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_42 {
    left: 83.42%;
    top: 43.08%;
    width: 14.92%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_43 {
    left: 83.42%;
    top: 41.19%;
    width: 14.92%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_44 {
    left: 83.42%;
    top: 39.42%;
    width: 14.92%;
    height: 1.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_45 {
    left: 83.42%;
    top: 35.36%;
    width: 14.92%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_46 {
    left: 69.83%;
    top: 37.36%;
    width: 10.83%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_47 {
    left: 69.83%;
    top: 35.36%;
    width: 10.83%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_48 {
    left: 83.42%;
    top: 33.47%;
    width: 14.92%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_49 {
    left: 83.42%;
    top: 31.64%;
    width: 14.92%;
    height: 1.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_50 {
    left: 83.42%;
    top: 29.76%;
    width: 14.92%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_51 {
    left: 83.42%;
    top: 27.99%;
    width: 14.92%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_52 {
    left: 83.42%;
    top: 26.1%;
    width: 14.92%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_53 {
    left: 83.42%;
    top: 24.16%;
    width: 14.92%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_54 {
    left: 83.42%;
    top: 22.27%;
    width: 14.92%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_55 {
    left: 83.42%;
    top: 20.39%;
    width: 14.92%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_56 {
    left: 59.58%;
    top: 24.16%;
    width: 21.08%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_57 {
    left: 45.67%;
    top: 37.36%;
    width: 10.83%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_58 {
    left: 45.67%;
    top: 35.36%;
    width: 10.83%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_59 {
    left: 25.67%;
    top: 24.16%;
    width: 19.42%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_60 {
    left: 83.42%;
    top: 16.68%;
    width: 14.92%;
    height: 1.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_61 {
    left: 83.42%;
    top: 11.02%;
    width: 14.92%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_62 {
    left: 71.5%;
    top: 18.56%;
    width: 9.167%;
    height: 1.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_63 {
    left: 71.5%;
    top: 16.68%;
    width: 9.167%;
    height: 1.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_64 {
    left: 71.5%;
    top: 14.67%;
    width: 7.667%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_65 {
    left: 71.5%;
    top: 12.91%;
    width: 9.167%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_66 {
    left: 71.5%;
    top: 11.02%;
    width: 9.167%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_67 {
    left: 36.25%;
    top: 18.56%;
    width: 8.833%;
    height: 1.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_68 {
    left: 36.25%;
    top: 16.68%;
    width: 8.833%;
    height: 1.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_69 {
    left: 36.25%;
    top: 14.67%;
    width: 8.833%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_70 {
    left: 36.25%;
    top: 12.91%;
    width: 8.833%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_71 {
    left: 36.25%;
    top: 11.02%;
    width: 8.833%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_72 {
    left: 84.58%;
    top: 6.011%;
    width: 13.17%;
    height: 1.061%;
    font-size: 12.000000px;
  }

  .obj_73 {
    left: 20.83%;
    top: 5.834%;
    width: 24.25%;
    height: 1.355%;
    font-size: 12.000000px;
  }

  .pdf-page input {
    text-align: right;
    padding-right: 7px;
  }

  .pdf-page input.pde-form-field-text {
    text-align: left;
    padding-left: 7px;
  }
}
