@import "assets/colors/colors.scss";

.tree_container {
  flex-basis: 25%;
  min-width: 230px;
  background-color: $light-cyan;
  padding: 0 0 20px 0 !important;
  max-height: 500px;
  overflow-y: auto;

  [class*="TreeListItem-noIconSpace"] {
    width: 0;
    padding-left: 14px;
  }
  ul:first-of-type {
    margin-left: 0;
  }

  ul {
    li {
      display: flex;
      align-items: flex-start;
      width: auto;
      button {
        margin-top: 3px;
      }
      span {
        white-space: normal;
      }
    }
  }

  &::-webkit-scrollbar-thumb {
    background: #0BD1D1;
  }
}
