@import "assets/colors/colors.scss";

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  padding: 20px;
  background-color: $white;
}

.headerButtonsContainer {
  display: flex;
  justify-content: flex-end;
  padding: 24px 0;
}
