@import "assets/colors/colors.scss";

.card {
    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: 340px;
    box-sizing: border-box;

    padding: 20px;
    border-radius: 2px;
    box-shadow: 2px 2px 4px 0 $box-shadow;
    background-color: $white;
}

.cardHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;

    .leftItem {
        font-size: 24px;
        color: black;
        font-family: 'basier_circlemedium';

        .icon {
            padding: 0;

            span {
                color: black;
            }
        }
    }

    .rightItem {
        font-size: 16px;
        color: $color-primary;
        font-family: 'basier_circlesemibold';
    }
}

.subtitle {
    font-size: 16px;
    color: $light-500-grey
}

.separator {
    height: 14px;
}
