@import 'assets/colors/colors.scss';

.files-dropper {
    border: 2px dashed $grey;
    border-radius: 2px;
    text-align: center;

    &__title {
        padding: 17px 0 8px;
        font-weight: normal;
    }
    &__item__icon {
        text-align: center;
        color: $color-primary;
    }

    &__item {
        padding: 35px;
        border-top: 2px dashed $grey;

        &__title {
            font-weight: 600;
        }

        &__links {
            // Fix css override priority...
            margin-top: 20px !important;

            &__item {
                font-weight: bold;
                color: $color-primary;
            }
            &__item_error {
              font-weight: bold;
              color: $color-secondary;
            }
        }

        input {
            width: 100%;
            box-sizing: border-box;
        }

        // Fix global issue
        a {
            display: inline;
        }
    }
}
