@import "assets/colors/colors.scss";

.container {
  height: auto;
  border-radius: 0px 2px 2px 2px;
  box-shadow: 2px 2px 4px 0 $box-shadow;
  background-color: $white;
}

.headerContainer {
  padding: 20px 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $white;
}

.tableContainer {
  margin-top: 10px;
  width: 100%;
  padding: 0 10px;
  overflow: hidden;
}

.headerUp {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.headerTitle {
  margin-top:20px;
  margin-left: 15px;
}

.headerUp-button {
  margin-top: 8px;
  margin-right: 10px;
  width:280px;
  height:34px;
  font-size: 10px;
}

.table {
  margin : 26px 29px 20px 20px;
  overflow: auto;
  display: inline-block;
  table {
    width: auto;
  }
  th, td {
    padding: 8px 32px 8px 8px;
    max-width: 250px;
  }

  tr {
    td:first-child,
    th:first-child {
      padding: 8px;
    }
  }
}
