.TVA3310 {
  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: block;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page input {
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    padding: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page-0 {
    width: 1200px;
    height: 1697px;
    background-image: url(page0.jpg);
  }

  .obj_1 {
    left: 62.25%;
    top: 16.79%;
    width: 17.83%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_2 {
    left: 80.42%;
    top: 16.79%;
    width: 17.08%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_3 {
    left: 62.25%;
    top: 20.98%;
    width: 17.83%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_4 {
    left: 62.25%;
    top: 22.98%;
    width: 17.83%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_5 {
    left: 62.25%;
    top: 25.04%;
    width: 17.83%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_6 {
    left: 62.25%;
    top: 29.23%;
    width: 17.83%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_7 {
    left: 62.25%;
    top: 31.17%;
    width: 17.83%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_8 {
    left: 62.25%;
    top: 33.24%;
    width: 17.83%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_9 {
    left: 62.25%;
    top: 35.24%;
    width: 17.83%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_10 {
    left: 62.25%;
    top: 37.42%;
    width: 17.83%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_11 {
    left: 62.25%;
    top: 41.43%;
    width: 17.83%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_12 {
    left: 62.25%;
    top: 43.49%;
    width: 17.83%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_13 {
    left: 62.25%;
    top: 45.61%;
    width: 17.83%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_14 {
    left: 62.25%;
    top: 47.55%;
    width: 17.83%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_15 {
    left: 80.42%;
    top: 47.55%;
    width: 17.08%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_16 {
    left: 80.42%;
    top: 45.61%;
    width: 17.08%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_17 {
    left: 80.42%;
    top: 43.49%;
    width: 17.08%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_18 {
    left: 80.42%;
    top: 41.43%;
    width: 17.08%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_19 {
    left: 80.42%;
    top: 37.42%;
    width: 17.08%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_20 {
    left: 80.42%;
    top: 35.24%;
    width: 17.08%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_21 {
    left: 80.42%;
    top: 33.24%;
    width: 17.08%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_22 {
    left: 80.42%;
    top: 31.17%;
    width: 17.08%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_23 {
    left: 80.42%;
    top: 29.23%;
    width: 17.08%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_24 {
    left: 80.42%;
    top: 25.04%;
    width: 17.08%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_25 {
    left: 80.42%;
    top: 22.98%;
    width: 17.08%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_26 {
    left: 80.42%;
    top: 20.98%;
    width: 17.08%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_27 {
    left: 59%;
    top: 52.09%;
    width: 17.83%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_28 {
    left: 4.583%;
    top: 61.64%;
    width: 90.67%;
    height: 2.357%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_29 {
    left: 4.583%;
    top: 64.23%;
    width: 90.67%;
    height: 2.534%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_30 {
    left: 4.583%;
    top: 67%;
    width: 90.67%;
    height: 2.357%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_31 {
    left: 4.583%;
    top: 69.59%;
    width: 90.67%;
    height: 2.534%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_32 {
    left: 4.583%;
    top: 72.25%;
    width: 90.67%;
    height: 2.475%;
    text-align: right;
    font-size: 12.000000px;
  }

  .pdf-page-1 {
    width: 1200px;
    height: 1698px;
    background-image: url(page1.jpg);
  }

  .obj_34 {
    left: 26.42%;
    top: 20.38%;
    width: 8.667%;
    height: 1.119%;
  }

  .obj_35 {
    left: 23.25%;
    top: 20.38%;
    width: 3.5%;
    height: 1.119%;
  }

  .obj_36 {
    left: 63.67%;
    top: 3.534%;
    width: 10.67%;
    height: 2.65%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_37 {
    left: 63.67%;
    top: 6.36%;
    width: 10.67%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_38 {
    left: 79.42%;
    top: 3.534%;
    width: 18.42%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_39 {
    left: 79.42%;
    top: 5.241%;
    width: 18.42%;
    height: 2.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_40 {
    left: 79.42%;
    top: 7.42%;
    width: 18.42%;
    height: 1.767%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_41 {
    left: 79.42%;
    top: 9.246%;
    width: 18.42%;
    height: 2.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_42 {
    left: 79.42%;
    top: 11.48%;
    width: 18.42%;
    height: 2.297%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_43 {
    left: 79.42%;
    top: 13.84%;
    width: 18.42%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_44 {
    left: 79.42%;
    top: 15.55%;
    width: 18.42%;
    height: 2.297%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_45 {
    left: 79.42%;
    top: 17.9%;
    width: 18.42%;
    height: 2.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_46 {
    left: 79.42%;
    top: 20.73%;
    width: 18.42%;
    height: 2.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_47 {
    left: 79.42%;
    top: 26.09%;
    width: 18.42%;
    height: 2.532%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_48 {
    left: 63.67%;
    top: 16.25%;
    width: 10.67%;
    height: 2.65%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_49 {
    left: 63.67%;
    top: 27.62%;
    width: 10.67%;
    height: 1.531%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_50 {
    left: 63.67%;
    top: 29.33%;
    width: 10.67%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_51 {
    left: 79.42%;
    top: 28.74%;
    width: 18.42%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_52 {
    left: 79.42%;
    top: 32.57%;
    width: 18.42%;
    height: 2.415%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_53 {
    left: 79.42%;
    top: 36.81%;
    width: 18.42%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_54 {
    left: 79.42%;
    top: 35.04%;
    width: 18.42%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_55 {
    left: 79.42%;
    top: 38.57%;
    width: 18.42%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_56 {
    left: 79.42%;
    top: 40.22%;
    width: 18.42%;
    height: 1.767%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_57 {
    left: 79.42%;
    top: 42.05%;
    width: 18.42%;
    height: 2.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_58 {
    left: 79.42%;
    top: 44.29%;
    width: 18.42%;
    height: 3.357%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_59 {
    left: 79.42%;
    top: 47.7%;
    width: 18.42%;
    height: 3.416%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_60 {
    left: 79.42%;
    top: 51.18%;
    width: 18.42%;
    height: 3.239%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_61 {
    left: 79.42%;
    top: 54.48%;
    width: 18.42%;
    height: 2.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_62 {
    left: 79.42%;
    top: 58.36%;
    width: 18.42%;
    height: 2.356%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_63 {
    left: 79.42%;
    top: 60.78%;
    width: 18.42%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_64 {
    left: 79.42%;
    top: 62.6%;
    width: 18.42%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_65 {
    left: 79.42%;
    top: 64.37%;
    width: 18.42%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_66 {
    left: 79.42%;
    top: 66.14%;
    width: 18.42%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_67 {
    left: 79.42%;
    top: 67.79%;
    width: 18.42%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_68 {
    left: 79.42%;
    top: 69.55%;
    width: 18.42%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_69 {
    left: 79.42%;
    top: 71.38%;
    width: 18.42%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_70 {
    left: 79.42%;
    top: 73.14%;
    width: 18.42%;
    height: 2.65%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_71 {
    left: 79.42%;
    top: 77.21%;
    width: 18.42%;
    height: 2.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_72 {
    left: 79.42%;
    top: 79.86%;
    width: 18.42%;
    height: 2.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_73 {
    left: 79.42%;
    top: 82.74%;
    width: 18.42%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_74 {
    left: 79.42%;
    top: 84.39%;
    width: 18.42%;
    height: 1.767%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_75 {
    left: 79.42%;
    top: 86.22%;
    width: 18.42%;
    height: 2.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_76 {
    left: 79.42%;
    top: 88.46%;
    width: 18.42%;
    height: 2.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_77 {
    left: 79.42%;
    top: 91.28%;
    width: 18.42%;
    height: 3.416%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_78 {
    left: 63.67%;
    top: 42.7%;
    width: 10.67%;
    height: 2.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_79 {
    left: 63.67%;
    top: 45.58%;
    width: 10.67%;
    height: 3.769%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_80 {
    left: 63.67%;
    top: 49.53%;
    width: 10.67%;
    height: 2.65%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_81 {
    left: 63.67%;
    top: 52.36%;
    width: 10.67%;
    height: 3.71%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_82 {
    left: 63.67%;
    top: 59.72%;
    width: 10.67%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_83 {
    left: 63.67%;
    top: 61.48%;
    width: 10.67%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_84 {
    left: 63.67%;
    top: 63.25%;
    width: 10.67%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_85 {
    left: 63.67%;
    top: 73.73%;
    width: 10.67%;
    height: 3.769%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_86 {
    left: 63.67%;
    top: 77.62%;
    width: 10.67%;
    height: 3.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_87 {
    left: 63.67%;
    top: 89.63%;
    width: 10.67%;
    height: 2.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_88 {
    left: 63.67%;
    top: 92.52%;
    width: 10.67%;
    height: 3.828%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_89 {
    left: 63.67%;
    top: 33.92%;
    width: 10.67%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_90 {
    left: 63.67%;
    top: 35.69%;
    width: 10.67%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .pdf-page-2 {
    width: 1200px;
    height: 1698px;
    background-image: url(page2.jpg);
  }

  .obj_92 {
    left: 79.42%;
    top: 5.241%;
    width: 18.42%;
    height: 2.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_93 {
    left: 79.42%;
    top: 7.42%;
    width: 18.42%;
    height: 1.767%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_94 {
    left: 79.42%;
    top: 11.37%;
    width: 18.42%;
    height: 2.415%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_95 {
    left: 79.42%;
    top: 13.84%;
    width: 18.42%;
    height: 2.238%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_96 {
    left: 79.42%;
    top: 18.02%;
    width: 18.42%;
    height: 2.238%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_97 {
    left: 79.42%;
    top: 20.26%;
    width: 18.42%;
    height: 1.767%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_98 {
    left: 79.42%;
    top: 22.08%;
    width: 18.42%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_99 {
    left: 79.42%;
    top: 23.85%;
    width: 18.42%;
    height: 3.357%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_100 {
    left: 79.42%;
    top: 27.33%;
    width: 18.42%;
    height: 2.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_101 {
    left: 79.42%;
    top: 29.56%;
    width: 18.42%;
    height: 2.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_102 {
    left: 63.67%;
    top: 12.72%;
    width: 10.67%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_103 {
    left: 63.67%;
    top: 14.49%;
    width: 10.67%;
    height: 2.65%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_104 {
    left: 63.67%;
    top: 19.2%;
    width: 10.67%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_105 {
    left: 63.67%;
    top: 20.97%;
    width: 10.67%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_106 {
    left: 63.67%;
    top: 26.21%;
    width: 10.67%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_107 {
    left: 63.67%;
    top: 27.97%;
    width: 10.67%;
    height: 2.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_108 {
    left: 63.67%;
    top: 30.86%;
    width: 10.67%;
    height: 2.65%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_109 {
    left: 79.42%;
    top: 32.39%;
    width: 18.42%;
    height: 4.005%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_110 {
    left: 79.42%;
    top: 36.45%;
    width: 18.42%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_111 {
    left: 79.42%;
    top: 38.22%;
    width: 18.42%;
    height: 3.475%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_112 {
    left: 79.42%;
    top: 41.76%;
    width: 18.42%;
    height: 2.238%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_113 {
    left: 79.42%;
    top: 44.05%;
    width: 18.42%;
    height: 2.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_114 {
    left: 79.42%;
    top: 48.41%;
    width: 18.42%;
    height: 2.473%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_115 {
    left: 79.42%;
    top: 50.94%;
    width: 18.42%;
    height: 2.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_116 {
    left: 79.42%;
    top: 55.65%;
    width: 18.42%;
    height: 2.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_117 {
    left: 79.42%;
    top: 58.54%;
    width: 18.42%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_118 {
    left: 79.42%;
    top: 62.49%;
    width: 18.42%;
    height: 2.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_119 {
    left: 79.42%;
    top: 65.25%;
    width: 18.42%;
    height: 2.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_120 {
    left: 79.42%;
    top: 70.26%;
    width: 18.42%;
    height: 2.415%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_121 {
    left: 79.42%;
    top: 72.79%;
    width: 18.42%;
    height: 3.357%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_122 {
    left: 79.42%;
    top: 76.21%;
    width: 18.42%;
    height: 3.828%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_123 {
    left: 79.42%;
    top: 82.57%;
    width: 18.42%;
    height: 2.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_124 {
    left: 79.42%;
    top: 85.22%;
    width: 18.42%;
    height: 2.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_125 {
    left: 63.75%;
    top: 40.58%;
    width: 10.58%;
    height: 7.42%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_126 {
    left: 63.67%;
    top: 49.88%;
    width: 10.67%;
    height: 4.358%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_127 {
    left: 63.67%;
    top: 63.72%;
    width: 10.67%;
    height: 2.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_128 {
    left: 63.67%;
    top: 66.61%;
    width: 10.67%;
    height: 2.65%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_129 {
    left: 63.67%;
    top: 71.08%;
    width: 10.67%;
    height: 2.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_130 {
    left: 63.67%;
    top: 73.97%;
    width: 10.67%;
    height: 3.828%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_131 {
    left: 63.67%;
    top: 77.86%;
    width: 10.67%;
    height: 3.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_132 {
    left: 63.67%;
    top: 83.57%;
    width: 10.67%;
    height: 2.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_133 {
    left: 63.67%;
    top: 86.45%;
    width: 10.67%;
    height: 2.65%;
    text-align: right;
    font-size: 12.000000px;
  }

  .pdf-page-3 {
    width: 1200px;
    height: 1698px;
    background-image: url(page3.jpg);
  }

  .obj_135 {
    left: 63.67%;
    top: 5.3%;
    width: 10.67%;
    height: 4.829%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_136 {
    left: 63.67%;
    top: 10.31%;
    width: 10.67%;
    height: 3.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_137 {
    left: 63.67%;
    top: 14.25%;
    width: 10.67%;
    height: 4.888%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_138 {
    left: 63.67%;
    top: 19.32%;
    width: 10.67%;
    height: 3.769%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_139 {
    left: 63.67%;
    top: 23.26%;
    width: 10.67%;
    height: 3.71%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_140 {
    left: 79.42%;
    top: 6.714%;
    width: 18.42%;
    height: 3.18%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_141 {
    left: 79.42%;
    top: 16.37%;
    width: 18.42%;
    height: 2.532%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_142 {
    left: 79.42%;
    top: 22.08%;
    width: 18.42%;
    height: 3.239%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_143 {
    left: 79.42%;
    top: 25.38%;
    width: 18.42%;
    height: 3.416%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_144 {
    left: 52.75%;
    top: 29.98%;
    width: 10.67%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_145 {
    left: 52.75%;
    top: 31.8%;
    width: 10.67%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_146 {
    left: 52.75%;
    top: 33.57%;
    width: 10.67%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_147 {
    left: 52.75%;
    top: 35.34%;
    width: 10.67%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_148 {
    left: 52.75%;
    top: 37.04%;
    width: 10.67%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_149 {
    left: 52.75%;
    top: 38.81%;
    width: 10.67%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_150 {
    left: 52.75%;
    top: 40.58%;
    width: 10.67%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_151 {
    left: 52.75%;
    top: 42.4%;
    width: 10.67%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_152 {
    left: 52.75%;
    top: 44.17%;
    width: 10.67%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_153 {
    left: 63.67%;
    top: 29.98%;
    width: 10.67%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_154 {
    left: 63.67%;
    top: 31.8%;
    width: 10.67%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_155 {
    left: 63.67%;
    top: 33.57%;
    width: 10.67%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_156 {
    left: 63.67%;
    top: 35.34%;
    width: 10.67%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_157 {
    left: 63.67%;
    top: 37.04%;
    width: 10.67%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_158 {
    left: 63.67%;
    top: 38.81%;
    width: 10.67%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_159 {
    left: 63.67%;
    top: 40.58%;
    width: 10.67%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_160 {
    left: 63.67%;
    top: 42.4%;
    width: 10.67%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_161 {
    left: 63.67%;
    top: 44.17%;
    width: 10.67%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_162 {
    left: 79.5%;
    top: 69.55%;
    width: 18.42%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_163 {
    left: 63.67%;
    top: 45.94%;
    width: 10.67%;
    height: 2.65%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_164 {
    left: 63.67%;
    top: 48.76%;
    width: 10.67%;
    height: 2.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_165 {
    left: 63.67%;
    top: 51.65%;
    width: 10.67%;
    height: 2.65%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_166 {
    left: 79.5%;
    top: 44.88%;
    width: 18.33%;
    height: 2.532%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_167 {
    left: 79.5%;
    top: 47.47%;
    width: 18.33%;
    height: 2.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_168 {
    left: 79.5%;
    top: 50.35%;
    width: 18.33%;
    height: 2.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_169 {
    left: 79.5%;
    top: 53.18%;
    width: 18.33%;
    height: 2.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_170 {
    left: 41.75%;
    top: 57.18%;
    width: 10.75%;
    height: 1.767%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_171 {
    left: 52.75%;
    top: 57.18%;
    width: 10.67%;
    height: 1.767%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_172 {
    left: 63.67%;
    top: 57.18%;
    width: 10.67%;
    height: 1.767%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_173 {
    left: 41.75%;
    top: 59.01%;
    width: 10.75%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_174 {
    left: 41.75%;
    top: 60.78%;
    width: 10.75%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_175 {
    left: 41.75%;
    top: 62.54%;
    width: 10.75%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_176 {
    left: 41.75%;
    top: 64.31%;
    width: 10.75%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_177 {
    left: 41.75%;
    top: 66.14%;
    width: 10.75%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_178 {
    left: 41.75%;
    top: 67.9%;
    width: 10.75%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_179 {
    left: 52.75%;
    top: 59.01%;
    width: 10.67%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_180 {
    left: 52.75%;
    top: 60.78%;
    width: 10.67%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_181 {
    left: 52.75%;
    top: 62.54%;
    width: 10.67%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_182 {
    left: 52.75%;
    top: 64.31%;
    width: 10.67%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_183 {
    left: 52.75%;
    top: 66.14%;
    width: 10.67%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_184 {
    left: 52.75%;
    top: 67.9%;
    width: 10.67%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_185 {
    left: 63.67%;
    top: 59.01%;
    width: 10.67%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_186 {
    left: 63.67%;
    top: 60.78%;
    width: 10.67%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_187 {
    left: 63.67%;
    top: 62.54%;
    width: 10.67%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_188 {
    left: 63.67%;
    top: 64.31%;
    width: 10.67%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_189 {
    left: 63.67%;
    top: 66.14%;
    width: 10.67%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_190 {
    left: 63.67%;
    top: 67.9%;
    width: 10.67%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .pdf-page input {
    text-align: right;
    padding-right: 7px;
  }

  .pdf-page input.pde-form-field-text {
    text-align: left;
    padding-left: 7px;
  }

  .pdf-page input.pde-form-field-text-capital {
    text-transform: uppercase;
    text-align: left;
    padding-left: 7px;
  }
}
