@import 'assets/colors/colors.scss';

.container {
  border: 1px solid $grey;
  margin: 10px;
  padding: 20px;
  width: 600px;
}

.headerContainer {
  display: flex;
  align-items: center;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
}

.iconContainer {
  display: flex;
  flex-direction: row;
}
