@import "assets/colors/colors.scss";

.dialog {
  min-width: 800px;

  .header {
    position: relative;

    :global(.icon-alert) {
      display: inline-block;
      width: 100%;

      margin-top: 20px;

      color: $color-error !important;
      text-align: center;
    }

    .closeBtn {
      position: absolute;
      top: 14px;
      right: 14px;
    }

    .headerTitle {
      text-align: left;
      font-size: 24px;
      font-weight: 500;
    }
  }

  .body {
    margin: 0 auto 10px auto;

    .line{
      display: flex;
      padding: 0 65px;
      justify-content: space-between;
    }
    .fields{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: calc(100% - 47px);
    }
  }

  .validator{
    padding: 0 65px;
    text-align: left;
    font-size: 12px;
  }

  .actions {
    padding: 0 65px;
    justify-content: start;

    margin: 16px 0 30px 0;

    .submit {
      color: white;
    }
  }
}
