@import "assets/colors/colors.scss";
@import "assets/theme/metrics.scss";

.expandBtn {
  background-color: $color-primary;
  color: white;

  border-radius: 2px;
}

.cellComment {
  width: 120px;
}

.cellPJ {
  width: 120px;
}

button.btn {
  padding: 6px;

  .badge {
    height: 14px;
    min-width: 14px;

    font-size: 10px;
  }
}

.cellNA {
  width: 50px;
}

.cellValid {
  width: 150px;

  .status {
    padding-left: 6px;
  }
  .ok p {
    color: $color-primary;
  }

  .ko p {
    color: $color-error;
  }

  .running p {
    color: $color-tertiary;
  }

  .to_do p, .to_validate p {
    color: $black;
  }
}
