.container {
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 220px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.textContainer, .header {
  text-align: center;
}

.header {
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 20px;
}