@import "assets/colors/colors.scss";

.stepperHeader {
  padding: 20px;
  padding-bottom: 0;
  background-color: $white;
}

.stepperTabs {
  margin-right: 40px;
  cursor: pointer;
}

.stepperTabsSelected {
  border-bottom: 2px solid $color-primary;
  margin-top: 12px;
}

.stepperTabsNotSelected {
  border-bottom: 2px solid $white;
  margin-top: 12px;
}

.titleBar {
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
}