@import "assets/colors/colors.scss";
@import "assets/theme/metrics.scss";

.container {
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 6px 6px 6px 20px;

    background-color: white;

    h1 {
      margin-right: 20px;
    }

    .switchContainer {
      display: flex;
      align-items: center;

      margin-right: 20px;

      .bar {
        background-color: $color-primary;
      }

      .switch {
        color: $color-primary;

        &.checked {
          color: $color-purple;

          + .bar {
            background-color: $color-purple;
          }
        }
      }
    }
  }

  .dadp {
    margin-top: 8px;

    .filters {
      padding: 20px;

      background-color: white;

      > div {
        display: flex;
        align-items: flex-end;
        @include flex-row-spacing(15px);

        > button {
          align-self: flex-start;
        }
      }
    }

    .cycles {
      background-color: white;
      margin-top: 2px;

      .tab {
        position: relative;
        min-width: 72px;

        .labelContainer {
          padding: 6px 12px 6px 18px;

          .icons {
            display: inline-flex;
            margin-left: 6px;
          }
        }
      }
    }
  }
}

.grow {
  flex: 1
}

button.textColor {
  color: black;
}

span.tabLabel {
  font-size: 12px;
  text-transform: none;
  white-space: nowrap;
}

@keyframes scroll-buttons {
  from {
    width: 0;
  }

  to {
    width: 56px;
  }
}

.scrollButtons {
  animation-name: scroll-buttons;
  animation-duration: 250ms;

  &:empty {
    width: 0;

    animation-direction: reverse;
  }
}
