@import "assets/colors/colors.scss";

// blocks***************************************************
.outer {
    opacity: 0.9;
    margin-left: 73px;
    transition: margin-left 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

.dialogContainer {
    overflow: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(5, 5, 5, 0.9);
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    box-sizing: border-box;
}

.listContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    min-height: 30vh;
    max-height: 70vh;
    min-width: 20vw;
}

// elements***************************************************
.dialogContainer__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dialogContainer__menu {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.listContainer__divider {
    margin-right: 30px;
    border-left: solid 1px rgba(70, 69, 69, 0.88);
}

.listContainer__bottomDivider {
    margin-top: 40px;
    border-bottom: solid 1px rgba(70, 69, 69, 0.88);
}

