@import 'assets/colors/colors.scss';

.clientUser {
  background-color: $white;
  padding: 20px;
}

.table {
  height: auto;
  width: 50%;
}

.buttons {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}

.userTypes {
  display: flex;
  justify-content: space-between;
  width: 28%;
  margin-bottom: 20px;
  flex-direction: column;
  > div {
    margin-bottom: 15px;
  }
}
