div.dialog {
  overflow-y: unset;

  .title {
    position: relative;

    h1 {
      margin: 10px 0;

      font-size: 24px;
      text-align: center;
    }

    .close {
      position: absolute;
      top: 8px;
      right: 8px;
    }
  }

  .footer {
    justify-content: center;

    margin-bottom: 24px;

    button {
      margin: 0 10px;
    }
  }

  .accountRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  .dateAndDaryRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  .totalAmountRow {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  .diaryField {
    margin-left: 20px;
  }
  .amountField {
    margin-left: 20px;
  }
  .totalAmountField {
    margin-right: 20px;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }

}
