@import "assets/colors/colors.scss";

.container {
  height: calc(100vh - 46px);
  overflow-y: hidden;

  display: flex;
  flex-direction: column;

  flex: 1;

  .tabs {
    margin-top: 2px;

    background-color: white;

    button.textColor {
      color: black;

      &.selected {
        color: $color-primary;
      }

      &.disabled {
        color: grey;
      }
    }

    span.tabLabel {
      font-size: 12px;
      text-transform: none;
      white-space: nowrap;
    }
  }

  .body {
    // flex: 1;
    overflow-y: auto;

    margin-top: 10px;
    margin-bottom: 10px;

    padding: 20px;

    background-color: white;
  }
}
