@import "assets/colors/colors.scss";

.total {
  text-align: center;
  width: 100%;
  display: flex;
  left: 50%;
  position: relative;
}

.total > * {
  padding: 5px;
}

.total > *:not(:first-of-type) {
  border: solid 1px $color-primary;
}

.number {
  text-align: right;
}

.headerCell {
  font-weight: bold;
}

.table > tbody > :nth-child(2n){
  background-color: $light-grey;
}
