@import "assets/colors/colors.scss";

.error {
  outline: #fe3a5e auto 5px;
}

div.tooltip {
  padding: 4px 10px;

  border: none;
  border-radius: 2px;

  box-shadow: 1px 5px 7px 0 $box-shadow;

  color: #454545;
  background-color: $white;

  font-weight: 500;
  font-family: 'basier_circlemedium';
}
