@import "assets/colors/colors.scss";

.container {
  background-color: $white;
  padding: 20px;
}

.row {
  display: grid;
  grid-template-columns: 40px 130px 130px 60px 120px 120px 48px 61px 131px 137px;
  grid-gap: 10px;
  align-items: flex-start;
  padding: 30px 0;
  border-bottom: 1px solid $lightDividerColor;
}

.categoryContainer {
  margin-top: 20px;
}

.categoryTitle {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.date {
  display: flex;
  flex-direction: column;
}

