.accountDialog {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.blockInline {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.marginTop {
  margin-top: 8px;
}

.checkbox {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: -10px;
}
