.form {
  display: flex;

  .control {
    flex: 1 0 max-content;

    .checkboxes {
      display: inline-flex;

      flex: 1;

      margin-top: 16px;

      .generate {
        flex: 1 0 max-content;
      }

      .details {
        flex: 3 0 max-content;
      }
    }
  }

  .submitBtn {
    flex: 2 0 max-content;

    margin: auto 20px;
  }
}
