.IS2571 {
  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: block;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page input {
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    padding: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page-0 {
    width: 1200px;
    height: 1698px;
    background-image: url(page0.jpg);
  }

  .obj_1 {
    left: 54.83%;
    top: 27.39%;
    width: 14.08%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_2 {
    left: 72.58%;
    top: 27.5%;
    width: 14.17%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_3 {
    left: 54.83%;
    top: 29.51%;
    width: 14.17%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_4 {
    left: 55%;
    top: 31.74%;
    width: 13.92%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_5 {
    left: 54.83%;
    top: 34.04%;
    width: 14.17%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_6 {
    left: 54.83%;
    top: 36.34%;
    width: 14.17%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_7 {
    left: 54.83%;
    top: 38.63%;
    width: 14.17%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_8 {
    left: 54.83%;
    top: 40.93%;
    width: 14.17%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_9 {
    left: 72.67%;
    top: 44.35%;
    width: 13.92%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_10 {
    left: 72.42%;
    top: 46.64%;
    width: 14.17%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_11 {
    left: 72.42%;
    top: 55.36%;
    width: 13.75%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_12 {
    left: 72.5%;
    top: 58.01%;
    width: 13.83%;
    height: 1.472%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_13 {
    left: 72.42%;
    top: 52.89%;
    width: 13.75%;
    height: 1.296%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_14 {
    left: 39.08%;
    top: 13.02%;
    width: 53%;
    height: 1.296%;
    font-size: 12.000000px;
  }

  .obj_15 {
    left: 48.25%;
    top: 16.43%;
    width: 19%;
    height: 1.001%;
  }

  .obj_16 {
    left: 39.08%;
    top: 15.43%;
    width: 4.167%;
    height: 1.001%;
  }

  .obj_17 {
    left: 39.17%;
    top: 16.43%;
    width: 9.25%;
    height: 1.001%;
  }

  .obj_18 {
    left: 43.17%;
    top: 15.43%;
    width: 8.583%;
    height: 1.001%;
    font-size: 12.000000px;
  }

  .obj_19 {
    left: 51.67%;
    top: 15.43%;
    width: 18.67%;
    height: 1.001%;
    font-size: 12.000000px;
  }

  .obj_20 {
    left: 89.92%;
    top: 27.56%;
    width: 2.25%;
    height: 1.767%;
    margin: 0px 0px 0px 0px;
  }

  .obj_21 {
    left: 90%;
    top: 46.94%;
    width: 2.25%;
    height: 1.708%;
    margin: 0px 0px 0px 0px;
  }

  .obj_22 {
    left: 15.58%;
    top: 69.61%;
    width: 9.917%;
    height: 1.178%;
    font-size: 12.000000px;
  }

  .obj_23 {
    left: 35.08%;
    top: 69.49%;
    width: 10.08%;
    height: 1.296%;
    font-size: 12.000000px;
  }

  .obj_24 {
    left: 23.42%;
    top: 78.98%;
    width: 9.917%;
    height: 1.237%;
    font-size: 12.000000px;
  }

  .obj_25 {
    left: 50.92%;
    top: 78.98%;
    width: 9.917%;
    height: 1.296%;
    font-size: 12.000000px;
  }

  .obj_26 {
    left: 78.33%;
    top: 78.86%;
    width: 10%;
    height: 1.296%;
    font-size: 12.000000px;
  }

  .obj_27 {
    left: 15.55%;
    top: 70.9%;
    width: 2.3%;
    height: 2.3%;
    margin: 0px 0px 0px 0px;
  }

  .obj_28 {
    left: 39.10%;
    top: 70.9%;
    width: 2.3%;
    height: 2.3%;
    margin: 0px 0px 0px 0px;
  }

  .obj_29 {
    left: 15.55%;
    top: 72.9%;
    width: 2.3%;
    height: 2.3%;
    margin: 0px 0px 0px 0px;
  }

  .obj_30 {
    left: 72.5%;
    top: 60.07%;
    width: 13.83%;
    height: 1.296%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_31 {
    left: 72.25%;
    top: 62.84%;
    width: 13.92%;
    height: 1.178%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_32 {
    left: 72.25%;
    top: 64.61%;
    width: 13.83%;
    height: 1.413%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_33 {
    left: 72.25%;
    top: 61.37%;
    width: 13.67%;
    height: 1.237%;
    font-size: 12.000000px;
  }

  .obj_34 {
    left: 50.92%;
    top: 19.61%;
    width: 11.83%;
    height: 1.119%;
    text-align: center;
    font-size: 12.000000px;
  }

  .obj_35 {
    left: 66.58%;
    top: 19.61%;
    width: 13.75%;
    height: 1.178%;
    text-align: center;
    font-size: 12.000000px;
  }

  .obj_36 {
    left: 11.75%;
    top: 19.61%;
    width: 17.83%;
    height: 1.119%;
  }

  .pdf-page-1 {
    width: 1200px;
    height: 1698px;
    background-image: url(page1.jpg);
  }

  .obj_38 {
    left: 80.42%;
    top: 74.2%;
    width: 11.67%;
    height: 1.826%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_39 {
    left: 80.58%;
    top: 72.03%;
    width: 11.58%;
    height: 1.885%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_40 {
    left: 80.33%;
    top: 70.73%;
    width: 11.67%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_41 {
    left: 80.58%;
    top: 62.78%;
    width: 11.58%;
    height: 1.531%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_42 {
    left: 80.42%;
    top: 56.48%;
    width: 11.58%;
    height: 1.413%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_43 {
    left: 80.5%;
    top: 46.41%;
    width: 11.5%;
    height: 2.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_44 {
    left: 80.5%;
    top: 42.82%;
    width: 11.5%;
    height: 1.885%;
    text-align: right;
  }

  .obj_45 {
    left: 80.5%;
    top: 40.81%;
    width: 11.5%;
    height: 1.826%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_46 {
    left: 80.5%;
    top: 38.81%;
    width: 11.5%;
    height: 1.826%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_47 {
    left: 80.5%;
    top: 36.75%;
    width: 11.58%;
    height: 1.885%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_48 {
    left: 80.5%;
    top: 34.63%;
    width: 11.5%;
    height: 2.002%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_49 {
    left: 80.5%;
    top: 32.63%;
    width: 11.5%;
    height: 1.943%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_50 {
    left: 80.5%;
    top: 30.51%;
    width: 11.5%;
    height: 2.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_51 {
    left: 59%;
    top: 13.6%;
    width: 11.5%;
    height: 1.767%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_52 {
    left: 72.58%;
    top: 13.6%;
    width: 5.583%;
    height: 1.767%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_53 {
    left: 80.42%;
    top: 13.6%;
    width: 11.58%;
    height: 1.767%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_54 {
    left: 59%;
    top: 15.55%;
    width: 11.5%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_55 {
    left: 72.58%;
    top: 15.55%;
    width: 5.75%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_56 {
    left: 80.33%;
    top: 15.55%;
    width: 11.67%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_57 {
    left: 59%;
    top: 17.31%;
    width: 11.5%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_58 {
    left: 72.58%;
    top: 17.31%;
    width: 5.583%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_59 {
    left: 80.42%;
    top: 17.31%;
    width: 11.58%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_60 {
    left: 59%;
    top: 19.08%;
    width: 11.5%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_61 {
    left: 72.58%;
    top: 19.08%;
    width: 5.75%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_62 {
    left: 80.25%;
    top: 19.08%;
    width: 11.83%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_63 {
    left: 58.83%;
    top: 20.85%;
    width: 11.67%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_64 {
    left: 72.5%;
    top: 20.97%;
    width: 5.917%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_65 {
    left: 80.42%;
    top: 20.85%;
    width: 11.58%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_66 {
    left: 80.42%;
    top: 22.67%;
    width: 11.58%;
    height: 2.415%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_67 {
    left: 80.42%;
    top: 25.27%;
    width: 11.67%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_68 {
    left: 80.42%;
    top: 27.03%;
    width: 11.58%;
    height: 1.767%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_69 {
    left: 58.75%;
    top: 55.01%;
    width: 11.92%;
    height: 0.9423%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_70 {
    left: 72.33%;
    top: 55.06%;
    width: 6.25%;
    height: 0.9423%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_71 {
    left: 80.25%;
    top: 55.06%;
    width: 12%;
    height: 0.8834%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_72 {
    left: 58.75%;
    top: 59.6%;
    width: 11.92%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_73 {
    left: 72.33%;
    top: 59.6%;
    width: 6.167%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_74 {
    left: 80.25%;
    top: 59.48%;
    width: 12%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_75 {
    left: 80.25%;
    top: 61.01%;
    width: 11.83%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .pdf-page input {
    text-align: right;
    padding-right: 7px;
  }

  .pdf-page input.pde-form-field-text {
    text-align: left;
    padding-left: 7px;
  }
}
.pdf-input-text-align-left {
  text-align: start!important;
  padding-left: 5px!important;
}
