@import "assets/colors/colors.scss";

.disableContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0;
  z-index: 10;
  background-color: $scrollbar-border-color-default;
  display: flex;
  justify-content: center;

  span{
    margin-top: 30px;
  }
}