.form-tax-declaration-2035 {
  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: block;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page input {
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    padding: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page-0 {
    width: 1200px;
    height: 1698px;
    background-image: url(page0.jpg);
  }

  .obj_1 {
    left: 29.67%;
    top: 11.13%;
    width: 50%;
    height: 1.59%;
    font-size: 12.000000px;
  }

  .obj_2 {
    left: 29.67%;
    top: 13.19%;
    width: 11%;
    height: 1.59%;
    font-size: 12.000000px;
  }

  .obj_3 {
    left: 29.67%;
    top: 14.66%;
    width: 50%;
    height: 2.12%;
    font-size: 12.000000px;
  }

  .obj_4 {
    left: 29.67%;
    top: 16.73%;
    width: 10.25%;
    height: 1.59%;
    font-size: 12.000000px;
  }

  .obj_5 {
    left: 39.92%;
    top: 16.73%;
    width: 39.75%;
    height: 1.59%;
    font-size: 12.000000px;
  }

  .obj_6 {
    left: 40.75%;
    top: 13.19%;
    width: 39%;
    height: 1.59%;
    font-size: 12.000000px;
  }

  .obj_7 {
    left: 15%;
    top: 26.56%;
    width: 36.33%;
    height: 1.767%;
    font-size: 12.000000px;
  }

  .obj_8 {
    left: 67%;
    top: 28.56%;
    width: 30.67%;
    height: 1.59%;
    font-size: 12.000000px;
  }

  .obj_9 {
    left: 63.75%;
    top: 26.62%;
    width: 33.83%;
    height: 1.649%;
    font-size: 12.000000px;
  }

  .obj_10 {
    left: 46.58%;
    top: 33.75%;
    width: 51.08%;
    height: 4.711%;
    font-size: 12.000000px;
  }

  .obj_11 {
    left: 32.33%;
    top: 38.34%;
    width: 65.25%;
    height: 2.532%;
    font-size: 12.000000px;
  }

  .obj_12 {
    left: 32.42%;
    top: 40.75%;
    width: 65.08%;
    height: 2.356%;
    font-size: 12.000000px;
  }

  .obj_13 {
    left: 22.17%;
    top: 43.05%;
    width: 32.67%;
    height: 2.473%;
    font-size: 12.000000px;
  }

  .obj_14 {
    left: 22.08%;
    top: 49.47%;
    width: 75.5%;
    height: 3.769%;
    font-size: 12.000000px;
  }

  .obj_15 {
    left: 74%;
    top: 42.99%;
    width: 23.58%;
    height: 2.415%;
    font-size: 12.000000px;
  }

  .obj_16 {
    left: 64.67%;
    top: 53.12%;
    width: 13.25%;
    height: 2.002%;
    text-align: center;
    font-size: 12.000000px;
  }

  .obj_17 {
    left: 49.42%;
    top: 53.24%;
    width: 13.17%;
    height: 2.002%;
    text-align: center;
    font-size: 12.000000px;
  }

  .obj_18 {
    left: 56.42%;
    top: 57.42%;
    width: 10.83%;
    height: 2.297%;
    font-size: 12.000000px;
  }

  .obj_19 {
    left: 77.92%;
    top: 57.42%;
    width: 19.58%;
    height: 2.473%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_20 {
    left: 77.83%;
    top: 62.49%;
    width: 19.75%;
    height: 2.356%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_21 {
    left: 77.92%;
    top: 64.9%;
    width: 19.67%;
    height: 2.356%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_22 {
    left: 77.75%;
    top: 67.26%;
    width: 19.67%;
    height: 2.297%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_23 {
    left: 77.92%;
    top: 74.5%;
    width: 19.67%;
    height: 3.592%;
  }

  .obj_24 {
    left: 77.83%;
    top: 80.51%;
    width: 19.67%;
    height: 3.416%;
  }

  .obj_25 {
    left: 51.25%;
    top: 80.45%;
    width: 12.33%;
    height: 3.475%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_26 {
    left: 51.17%;
    top: 74.56%;
    width: 12.5%;
    height: 3.534%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_27 {
    left: 25.5%;
    top: 74.56%;
    width: 10.5%;
    height: 3.534%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_28 {
    left: 25.5%;
    top: 80.51%;
    width: 10.5%;
    height: 3.416%;
    text-align: right;
    font-size: 12.000000px;
  }

  .pdf-page-1 {
    width: 1200px;
    height: 1698px;
    background-image: url(page1.jpg);
  }

  .obj_30 {
    left: 51.17%;
    top: 3.651%;
    width: 12.5%;
    height: 2.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_31 {
    left: 77.75%;
    top: 3.651%;
    width: 19.83%;
    height: 2.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_32 {
    left: 77.92%;
    top: 9.482%;
    width: 19.58%;
    height: 1.943%;
    text-align: center;
    font-size: 12.000000px;
  }

  .obj_33 {
    left: 77.75%;
    top: 13.49%;
    width: 19.83%;
    height: 1.943%;
    text-align: center;
    font-size: 12.000000px;
  }

  .obj_34 {
    left: 15.08%;
    top: 9.541%;
    width: 3.583%;
    height: 1.885%;
    margin: 0px 0px 0px 0px;
  }

  .obj_35 {
    left: 15%;
    top: 13.49%;
    width: 3.667%;
    height: 1.943%;
    margin: 0px 0px 0px 0px;
  }

  .obj_36 {
    left: 39.42%;
    top: 9.541%;
    width: 3.5%;
    height: 1.885%;
    margin: 0px 0px 0px 0px;
  }

  .obj_37 {
    left: 56.58%;
    top: 9.541%;
    width: 3.583%;
    height: 1.885%;
    margin: 0px 0px 0px 0px;
  }

  .obj_38 {
    left: 39.33%;
    top: 13.55%;
    width: 3.583%;
    height: 1.885%;
    margin: 0px 0px 0px 0px;
  }

  .obj_39 {
    left: 56.58%;
    top: 13.49%;
    width: 3.5%;
    height: 1.943%;
    margin: 0px 0px 0px 0px;
  }

  .obj_40 {
    left: 42.92%;
    top: 19.08%;
    width: 11.92%;
    height: 2.415%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_41 {
    left: 67%;
    top: 19.08%;
    width: 10.92%;
    height: 2.415%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_42 {
    left: 87.08%;
    top: 19.08%;
    width: 10.5%;
    height: 2.415%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_43 {
    left: 32.42%;
    top: 22.14%;
    width: 18.92%;
    height: 4.005%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_44 {
    left: 32.5%;
    top: 27.56%;
    width: 18.83%;
    height: 3.828%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_45 {
    left: 77.83%;
    top: 22.2%;
    width: 19.75%;
    height: 3.946%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_46 {
    left: 77.75%;
    top: 27.56%;
    width: 19.83%;
    height: 3.828%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_47 {
    left: 77.83%;
    top: 32.16%;
    width: 19.75%;
    height: 2.473%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_48 {
    left: 77.83%;
    top: 34.57%;
    width: 19.75%;
    height: 2.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_49 {
    left: 32.5%;
    top: 37.75%;
    width: 3.75%;
    height: 1.472%;
    margin: 0px 0px 0px 0px;
  }

  .obj_50 {
    left: 74%;
    top: 37.81%;
    width: 23.58%;
    height: 1.531%;
    font-size: 12.000000px;
  }

  .obj_51 {
    left: 18.5%;
    top: 39.63%;
    width: 3.667%;
    height: 1.649%;
    margin: 0px 0px 0px 0px;
  }

  .obj_52 {
    left: 39.33%;
    top: 39.63%;
    width: 3.75%;
    height: 1.649%;
    margin: 0px 0px 0px 0px;
  }

  .obj_53 {
    left: 28.5%;
    top: 46.82%;
    width: 11.5%;
    height: 1.59%;
    font-size: 12.000000px;
  }

  .obj_54 {
    left: 13%;
    top: 43.99%;
    width: 83.75%;
    height: 1.413%;
  }

  .obj_55 {
    left: 24.5%;
    top: 50.35%;
    width: 12.67%;
    height: 1.708%;
    font-size: 12.000000px;
  }

  .obj_56 {
    left: 6.5%;
    top: 50.47%;
    width: 15.25%;
    height: 1.59%;
    font-size: 12.000000px;
  }

  .obj_57 {
    left: 31.25%;
    top: 42.46%;
    width: 65%;
    height: 1.472%;
  }

  .obj_58 {
    left: 59.17%;
    top: 45.47%;
    width: 37.75%;
    height: 1.472%;
    font-size: 12.000000px;
  }

  .pdf-page input {
    text-align: right;
    padding-right: 7px;
  }

  .pdf-page input.pde-form-field-text {
    text-align: left;
    padding-left: 7px;
  }

  .pdf-page input.align-left {
    text-align: left;
  }
}
