@import "assets/colors/colors.scss";

.container {
  position: relative;

  .corner {
    position: absolute;
    top: 0; left: 0;
    z-index: 10;

    display: flex;
    align-items: center;

    padding: 8px 4px 4px 8px;

    border-bottom: 1px solid $grey;
    border-right: 1px solid $grey;
    border-bottom-right-radius: 4px;

    background-color: white;

    .checkbox {
      padding-right: 2px;
    }

    :global(.icon-attachment) {
      padding: 0;
    }
  }
}
