.form-tax-declaration-2035g {
  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: block;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page input {
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    padding: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page-0 {
    width: 1200px;
    height: 1697px;
    background-image: url(page0.jpg);
  }

  .obj_1 {
    left: 42.42%;
    top: 70.77%;
    width: 8.917%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_2 {
    left: 45.58%;
    top: 72.48%;
    width: 28.25%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_3 {
    left: 51.42%;
    top: 70.83%;
    width: 43.75%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_4 {
    left: 78.17%;
    top: 72.54%;
    width: 17%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_5 {
    left: 60.83%;
    top: 68.89%;
    width: 9%;
    height: 1.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_6 {
    left: 33.42%;
    top: 68.65%;
    width: 15.58%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_7 {
    left: 42.08%;
    top: 66.76%;
    width: 53.08%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_8 {
    left: 19.67%;
    top: 66.88%;
    width: 11.17%;
    height: 0.9428%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_9 {
    left: 29.08%;
    top: 63.7%;
    width: 6.667%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_10 {
    left: 21.25%;
    top: 61.99%;
    width: 3.417%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_11 {
    left: 24.58%;
    top: 61.99%;
    width: 3.333%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_12 {
    left: 42.42%;
    top: 61.81%;
    width: 8.917%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_13 {
    left: 45.5%;
    top: 63.7%;
    width: 28.42%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_14 {
    left: 51.25%;
    top: 61.76%;
    width: 43.92%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_15 {
    left: 78.17%;
    top: 63.7%;
    width: 17%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_16 {
    left: 60.92%;
    top: 60.05%;
    width: 8.833%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_17 {
    left: 33.33%;
    top: 59.93%;
    width: 15.75%;
    height: 1.414%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_18 {
    left: 42.17%;
    top: 57.93%;
    width: 53%;
    height: 1.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_19 {
    left: 19.75%;
    top: 57.93%;
    width: 11.08%;
    height: 1.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_20 {
    left: 29%;
    top: 54.8%;
    width: 6.75%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_21 {
    left: 21.25%;
    top: 53.15%;
    width: 3.25%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_22 {
    left: 24.5%;
    top: 53.21%;
    width: 3.333%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_23 {
    left: 42.42%;
    top: 52.98%;
    width: 8.917%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_24 {
    left: 45.5%;
    top: 54.8%;
    width: 28.33%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_25 {
    left: 51.33%;
    top: 53.03%;
    width: 43.75%;
    height: 1.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_26 {
    left: 78.17%;
    top: 54.92%;
    width: 17.17%;
    height: 1.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_27 {
    left: 60.83%;
    top: 51.27%;
    width: 9.083%;
    height: 1.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_28 {
    left: 33.25%;
    top: 51.09%;
    width: 15.83%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_29 {
    left: 42.25%;
    top: 49.03%;
    width: 52.83%;
    height: 1.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_30 {
    left: 19.75%;
    top: 48.91%;
    width: 11.08%;
    height: 1.414%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_31 {
    left: 29.08%;
    top: 46.14%;
    width: 6.667%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_32 {
    left: 21.25%;
    top: 44.31%;
    width: 3.25%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_33 {
    left: 60.83%;
    top: 33.77%;
    width: 8.917%;
    height: 1.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_34 {
    left: 33.42%;
    top: 33.71%;
    width: 15.75%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_35 {
    left: 42.08%;
    top: 31.64%;
    width: 53.08%;
    height: 1.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_36 {
    left: 19.83%;
    top: 31.64%;
    width: 11.08%;
    height: 0.9428%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_37 {
    left: 78.17%;
    top: 28.7%;
    width: 17%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_38 {
    left: 60.83%;
    top: 24.99%;
    width: 8.917%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_39 {
    left: 51.33%;
    top: 26.75%;
    width: 43.75%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_40 {
    left: 42.17%;
    top: 22.8%;
    width: 53%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_41 {
    left: 45.5%;
    top: 28.58%;
    width: 28.33%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_42 {
    left: 42.42%;
    top: 26.75%;
    width: 8.917%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_43 {
    left: 28.92%;
    top: 28.58%;
    width: 6.833%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_44 {
    left: 24.42%;
    top: 26.87%;
    width: 3.583%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_45 {
    left: 21.17%;
    top: 26.87%;
    width: 3.167%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_46 {
    left: 33.33%;
    top: 24.87%;
    width: 15.67%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_47 {
    left: 19.92%;
    top: 22.86%;
    width: 11.08%;
    height: 1.002%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_48 {
    left: 78.25%;
    top: 37.3%;
    width: 17.08%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_49 {
    left: 51.25%;
    top: 35.36%;
    width: 44%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_50 {
    left: 45.58%;
    top: 37.3%;
    width: 28.25%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_51 {
    left: 42.67%;
    top: 35.3%;
    width: 8.917%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_52 {
    left: 24.42%;
    top: 35.53%;
    width: 2.917%;
    height: 1.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_53 {
    left: 21.33%;
    top: 35.53%;
    width: 3.167%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_54 {
    left: 29%;
    top: 37.24%;
    width: 6.667%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_55 {
    left: 19.83%;
    top: 40.31%;
    width: 11.08%;
    height: 1.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_56 {
    left: 42.25%;
    top: 40.19%;
    width: 52.92%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_57 {
    left: 33.42%;
    top: 42.31%;
    width: 15.58%;
    height: 1.414%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_58 {
    left: 61%;
    top: 42.49%;
    width: 8.75%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_59 {
    left: 78.08%;
    top: 46.02%;
    width: 17.17%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_60 {
    left: 51.42%;
    top: 44.14%;
    width: 43.92%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_61 {
    left: 45.58%;
    top: 46.02%;
    width: 28.33%;
    height: 1.296%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_62 {
    left: 42.42%;
    top: 44.2%;
    width: 8.917%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_63 {
    left: 24.5%;
    top: 44.31%;
    width: 3.5%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_64 {
    left: 24.67%;
    top: 70.83%;
    width: 3.333%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_65 {
    left: 21.25%;
    top: 70.77%;
    width: 3.417%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_66 {
    left: 28.83%;
    top: 72.6%;
    width: 6.917%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_67 {
    left: 19.67%;
    top: 75.43%;
    width: 11.17%;
    height: 1.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_68 {
    left: 42.25%;
    top: 75.31%;
    width: 52.75%;
    height: 1.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_69 {
    left: 33.17%;
    top: 77.25%;
    width: 15.92%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_70 {
    left: 60.75%;
    top: 77.31%;
    width: 9%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_71 {
    left: 78.17%;
    top: 81.14%;
    width: 17.17%;
    height: 1.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_72 {
    left: 51.25%;
    top: 79.26%;
    width: 43.92%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_73 {
    left: 45.58%;
    top: 81.03%;
    width: 28.08%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_74 {
    left: 42.33%;
    top: 79.26%;
    width: 8.917%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_75 {
    left: 24.5%;
    top: 79.38%;
    width: 3.333%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_76 {
    left: 21.25%;
    top: 79.38%;
    width: 3.25%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_77 {
    left: 29%;
    top: 81.14%;
    width: 6.75%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_78 {
    left: 19.67%;
    top: 84.15%;
    width: 11.17%;
    height: 1.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_79 {
    left: 42.08%;
    top: 84.15%;
    width: 53.08%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_80 {
    left: 33.25%;
    top: 86.15%;
    width: 15.67%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_81 {
    left: 60.67%;
    top: 86.27%;
    width: 9.25%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_82 {
    left: 78.25%;
    top: 89.92%;
    width: 16.92%;
    height: 1.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_83 {
    left: 51.33%;
    top: 88.04%;
    width: 43.83%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_84 {
    left: 45.58%;
    top: 89.92%;
    width: 28.33%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_85 {
    left: 42.5%;
    top: 88.04%;
    width: 8.917%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_86 {
    left: 24.33%;
    top: 88.04%;
    width: 3.583%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_87 {
    left: 21.25%;
    top: 88.04%;
    width: 3.083%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_88 {
    left: 29%;
    top: 89.92%;
    width: 6.75%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_89 {
    left: 39.92%;
    top: 20.27%;
    width: 15.58%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_90 {
    left: 92.67%;
    top: 9.428%;
    width: 4.333%;
    height: 1.768%;
    margin: 0px 0px 0px 0px;
  }

  .obj_91 {
    left: 36.08%;
    top: 14.56%;
    width: 60.67%;
    height: 1.355%;
  }

  .obj_92 {
    left: 71.83%;
    top: 12.32%;
    width: 25.25%;
    height: 1.65%;
    font-size: 12.000000px;
  }

  .obj_93 {
    left: 53%;
    top: 10.14%;
    width: 14.5%;
    height: 1.532%;
    font-size: 12.000000px;
  }

  .obj_94 {
    left: 22.33%;
    top: 16.44%;
    width: 4.083%;
    height: 1.414%;
    font-size: 12.000000px;
  }

  .obj_95 {
    left: 26.33%;
    top: 16.44%;
    width: 8.667%;
    height: 1.414%;
  }

  .obj_96 {
    left: 34.92%;
    top: 16.44%;
    width: 18.67%;
    height: 1.414%;
  }

  .obj_97 {
    left: 20.33%;
    top: 18.39%;
    width: 15.5%;
    height: 1.355%;
    font-size: 12.000000px;
  }

  .obj_98 {
    left: 49.67%;
    top: 18.39%;
    width: 47.08%;
    height: 1.355%;
    font-size: 12.000000px;
  }

  .pdf-page input {
    text-align: right;
    padding-right: 7px;
  }

  .pdf-page input.pde-form-field-text {
    text-align: left;
    padding-left: 7px;
  }
}
