@import "assets/colors/colors.scss";

.container {
  height: 46px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  background-color: $lightNeutral;
}

.buttonContainer {
  margin-left: 20px;
}