// Animation
@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}

.animatedBackground {
  position: relative;
  height: 100%;
  min-height: 20px;

  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 8%, rgba(0, 0, 0, .05) 18%, rgba(255, 255, 255, 0) 33%);
  background-size: 804px 100%;
}

.container {
  width: 100%;
  height: 100%;

  background-color: #f6f6f6;
}
