.form-tax-declaration-2058c {
  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: block;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page input {
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    padding: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page-0 {
    width: 1200px;
    height: 1697px;
    background-image: url(page0.jpg);
  }

  .obj_1 {
    left: 94.92%;
    top: 9.016%;
    width: 1.5%;
    height: 1.237%;
    margin: 0px 0px 0px 0px;
  }

  .obj_2 {
    left: 41%;
    top: 10.9%;
    width: 10.17%;
    height: 3.359%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_3 {
    left: 82.92%;
    top: 10.9%;
    width: 15.25%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_4 {
    left: 41%;
    top: 14.44%;
    width: 10.17%;
    height: 3.536%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_5 {
    left: 82.92%;
    top: 13.02%;
    width: 15.25%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_6 {
    left: 41%;
    top: 18.15%;
    width: 10.17%;
    height: 3.123%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_7 {
    left: 82.92%;
    top: 15.03%;
    width: 15.25%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_8 {
    left: 41%;
    top: 21.45%;
    width: 10.17%;
    height: 2.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_9 {
    left: 82.92%;
    top: 17.32%;
    width: 15.25%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_10 {
    left: 82.92%;
    top: 19.45%;
    width: 15.25%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_11 {
    left: 82.92%;
    top: 21.57%;
    width: 15.25%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_12 {
    left: 82.92%;
    top: 25.63%;
    width: 15.25%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_13 {
    left: 68.33%;
    top: 25.63%;
    width: 11%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_14 {
    left: 82.92%;
    top: 27.75%;
    width: 15.25%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_15 {
    left: 82.92%;
    top: 29.88%;
    width: 15.25%;
    height: 2.239%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_16 {
    left: 82.92%;
    top: 32.29%;
    width: 15.25%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_17 {
    left: 82.92%;
    top: 34.3%;
    width: 15.25%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_18 {
    left: 82.92%;
    top: 36.42%;
    width: 15.25%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_19 {
    left: 82.92%;
    top: 38.54%;
    width: 15.25%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_20 {
    left: 82.92%;
    top: 40.66%;
    width: 15.25%;
    height: 2.121%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_21 {
    left: 82.92%;
    top: 42.84%;
    width: 15.25%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_22 {
    left: 68.33%;
    top: 34.3%;
    width: 11%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_23 {
    left: 68.33%;
    top: 42.84%;
    width: 11%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_24 {
    left: 82.92%;
    top: 45.14%;
    width: 15.25%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_25 {
    left: 68.33%;
    top: 49.38%;
    width: 11%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_26 {
    left: 82.92%;
    top: 47.26%;
    width: 15.25%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_27 {
    left: 82.92%;
    top: 51.5%;
    width: 15.25%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_28 {
    left: 82.92%;
    top: 49.38%;
    width: 15.25%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_29 {
    left: 82.92%;
    top: 53.62%;
    width: 15.25%;
    height: 2.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_30 {
    left: 82.92%;
    top: 55.69%;
    width: 15.25%;
    height: 2.18%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_31 {
    left: 82.92%;
    top: 60.05%;
    width: 15.25%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_32 {
    left: 82.92%;
    top: 58.04%;
    width: 15.25%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_33 {
    left: 85.75%;
    top: 62.29%;
    width: 9.417%;
    height: 2.121%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_34 {
    left: 43.75%;
    top: 64.53%;
    width: 14.5%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_35 {
    left: 95.42%;
    top: 64.58%;
    width: 2.75%;
    height: 1.827%;
    margin: 0px 0px 0px 0px;
  }

  .obj_36 {
    left: 85.75%;
    top: 66.59%;
    width: 9.417%;
    height: 2.121%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_37 {
    left: 85.75%;
    top: 68.89%;
    width: 9.417%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_38 {
    left: 32%;
    top: 71.13%;
    width: 14.92%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_39 {
    left: 58.25%;
    top: 71.13%;
    width: 13.75%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_40 {
    left: 82.75%;
    top: 71.13%;
    width: 15.42%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_41 {
    left: 58.25%;
    top: 73.13%;
    width: 13.75%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_42 {
    left: 82.75%;
    top: 73.13%;
    width: 15.42%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_43 {
    left: 58.25%;
    top: 75.13%;
    width: 13.75%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_44 {
    left: 82.67%;
    top: 75.13%;
    width: 15.33%;
    height: 2.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_45 {
    left: 58.25%;
    top: 77.25%;
    width: 13.75%;
    height: 2.121%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_46 {
    left: 82.75%;
    top: 77.25%;
    width: 15.42%;
    height: 2.121%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_47 {
    left: 44%;
    top: 79.43%;
    width: 2.917%;
    height: 1.945%;
    margin: 0px 0px 0px 0px;
  }

  .obj_48 {
    left: 71%;
    top: 79.49%;
    width: 27.17%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_49 {
    left: 32%;
    top: 75.13%;
    width: 14.92%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_50 {
    left: 20.75%;
    top: 8.427%;
    width: 69.25%;
    height: 1.591%;
    font-size: 12.000000px;
  }

  .pdf-page input {
    text-align: right;
    padding-right: 7px;
  }

  .pdf-page input.pde-form-field-text {
    text-align: left;
    padding-left: 7px;
  }
}
