.startEndDate {
  display: flex;
  align-items: center;

  .field {  
    margin: 0 8px;

    > div {
      font: inherit;
    }
  }

  &.isCell {
    .field {  
      input {
        width: 70px;
      }

      > div {
        &::before,
        &::after {
          display: none,
        }
      }
    }
  }
}
