.container {
  display: flex;

  .tab {
    height: 36.5px;
    width: 70px;

    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

    overflow: hidden;

    .loader {
      background-color: #e3e3e3;
    }

    &:not(:first-child) {
      margin-left: 5px;
    }
  }
}
