@import "assets/colors/colors.scss";

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 90px;
}

.attachmentTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    margin: 9px 0 0px 0;
    width: 100%;
}
