@import "assets/colors/colors.scss";

@mixin link($left, $right) {
    content: "";
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background-color: $color-primary;
    width: 50%;
    height: 4px;
    left: $left;
    right: $right;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90px;
    // flex-basis: 90px;
    // position: relative;

    &.left::after {
        @include link(null, 96%);
    }

    &.right::after {
        @include link(96%, null);
    }

    &.both::before {
        @include link(null, 96%);
    }
    &.both::after {
        @include link(96%, null);
    }
}

.attachmentTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    margin: 9px 0 0px 0;
    width: 100%;
}
