// blocks**************************************************************
.drawer {
    width: 240px;
    flex-shrink: 0;
    white-space: nowrap;
}

// elements**************************************************************
.drawer__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 38px;
    margin-bottom: 72px;
}

.itemContent {
    color: white;
    font-size: 12px;
    font-weight: 500;
    font-family: "basier_circlemedium";
}

// modifiers**************************************************************

.drawer__version {
  flex-grow: 1;
  flex-grow: 1;
  margin-bottom: 20px;

  color: #555555;
  align-items: center;


  font-size: 10px;

  & b {
    font-size: 12px;
  }

}
