@import 'assets/colors/colors.scss';

.ConnectorContainer {
  background-color: $white;
  padding: 20px;
}

.ConnectorHeader {
  display: flex;
  justify-content: space-between;
}

.buttonsRow {
  display: flex;
  justify-content: flex-end;
  margin-top: 28px;
}