.redux-picker-wrap {
  display: flex;
  height: 100%;

  .react-datepicker-wrapper {
    width: 100%;
    height: 100%;

    .react-datepicker__input-container {
      height: 100%;

      input {
        text-align: center;
        padding-left: 7px;
        box-sizing: border-box;
        background-color: rgba(210, 230, 250, 0.29);
        border: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
.error {
  outline: #fe3a5e auto 5px;
}
