@import "assets/colors/colors.scss";

.container {
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: $light-grey;
  margin : 26px 29px 20px 20px;
}

.selectedRows {
  padding-left: 10px;
}

.accountNumber {
  margin : 26px 29px 20px 20px;
}

.accountNumberField {
  width: 250px
}

.headerContainer {
  display: flex;
}

.dates {
  display: flex;
  color: $grey;
  margin: 38px 29px 20px 20px;

  > * {
    color: $grey;
    border-bottom-color: $grey;
  }
}

.dateGroup {
  width: 130px;

  &:not(:first-child) {
    margin-left: 20px;
  }
}