@import "assets/colors/colors.scss";

.container {
  height: auto;
  border-radius: 0 2px 2px 2px;
  box-shadow: 2px 2px 4px 0 $box-shadow;
  background-color: $white;
  display: flex;
  align-items: flex-start;
  overflow-y: inherit !important;
  flex: inherit !important;
  padding: 20px 20px 0;
}

.header_container {
  width: 100%;
}
