@import "assets/theme/scrollbtns.scss";

.pdfContainer {
  overflow-x: auto;

  .pdf {
    transform-origin: top left;
    min-width: 1200px;
  }
}

.tabs {
  position: sticky;
  background-color: #f5f5f5;
  z-index: 1;
  top: 190px;
}
