@import "assets/colors/colors.scss";

.container {
  height: auto;
  overflow: hidden;
  border-radius: 0 2px 2px 2px;
  box-shadow: 2px 2px 4px 0 $box-shadow;
  background-color: $white;
  padding: 20px;
}

.headerTitle {
  margin-top:20px;
  margin-left: 15px;
}

.headerRightButton {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  height: 34px;
  margin-top: 5px;
}
