@import "assets/colors/colors.scss";

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  background-color: $white;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: 15px;
  & > div, & > button {
      margin-right: 10px;
  }
}

.tablerow {
  display: flex;
  align-items: flex-start;
}

.tableButtons {
  margin-top: 27px;
  min-width: 200px;
  margin-left: 30px;
}

.error {
  position: absolute;
  bottom: -10px;
}
