.confirmation {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 20px;


  .confirmation__image {
      height: 124px;
      width: 124px;
      margin: 38px 0px 34px 0px;
  }

  .confirmation__title {
      margin-top: 40px;
      width: 280px;
  }

  .confirmation__buttons {
      display: flex;
      flex-direction: row;
      margin-top: 34px;

      .confirmation__buttons-divider {
          width: 20px;
      }
  }
}