@import "assets/colors/colors.scss";

.container {
  height: auto;
  padding: 20px 0;
  overflow: auto;
  border-radius: 0px 2px 2px 2px;
  box-shadow: 2px 2px 4px 0 $box-shadow;
  background-color: $white;
  display: flex;
  flex-direction: column;

  .is-editing {
    border: 'solid 1px #50e3c2';
  }

  .checkboxCell {
    width: 44px;
  }
  
  .numberCell {
    width: 150px;
  }
}

.table {
  margin : 26px 29px 20px 0;
  table {
    border-collapse: separate;
    tbody {
        span {
          display: initial;
        }
      }
    }

  tr {
    height: auto;
  }
}
