.fileList {
  list-style-type: none;
  margin: 0;
  padding: 0;

  & li {
    display: flex;
    margin-top: 20px;
  }
  & button {
    color: #000000;
    text-decoration: inherit;
    font-size: 14px;
    background: transparent;
    border: none;
    cursor:pointer;
    padding: 0;
    text-align: unset;
  }
  & .fileNameDate {
    margin-left: 14px;
  }
  & .filename {
    font-family: basier_circleregular;
    font-size: 14px;
  }
  & .icon {
    font-family: basier_circleregular;
    font-size: 24px;
    color: #9b9b9b;
    align-self: center;
  }
}
.fileNameDate {
  display: inline-flex;
  flex-direction: column;
}


a {
  color: inherit;
}
