.cardAccount {
}

.dialog {
}

.header {
  margin-top: 40px;
  margin-bottom: 10px;
}

.searchTextField {
}

.searchInput {
  background-color: #f1f1f1;
  width: 277px;

  padding-left: 10px;
}

.searchInputLabel {
  margin-left: 5px;
}

.searchInputButton {
  cursor: pointer;
  margin-right: 5px;
}

.gedItems {
  margin: 11px 0 0 0;
  border: solid 1px #d0d0d0;
  width: 560px;
  max-height: 370px;

  display: flex;
  flex-wrap: wrap;

  overflow: auto;
}

.gedItem {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > label {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px 20px 0 20px;

    & > img {
      width: 90px;
      height: 120px
    }

    & > div {
      margin-top: 5px;
      font-family: basier_circleregular;
      font-size: 12px;
    }

    & > input[type="checkbox"] {
      margin-top: 5px;
    }
  }
}

.buttonPanel {
  margin: 20px 0 40px 0;
  justify-content: center;
  display: flex;
}

.closeButton {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: flex-end; */

  position: absolute;
  right: 0px;
  top: 0px;
}

