@import "assets/theme/metrics.scss";
@import "assets/colors/colors.scss";

.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-height: calc(100vh - 60px);
  overflow: hidden;
  background-color: #ffffff;

  & hr {
    border: solid 1px #d0d0d0;
    width: 100%;
    border-style: solid none none none;
    /* margin-top: 10px; */
  }

}
.statusIcon {
  width: 100%;
  height: 100%;
}

.biggerCaption {
  font-size: 18px;
  margin-left: 0px;
}

.leftPanel {
  // flex-basis: 20%;
  min-width: 230px;
  max-width: 230px;
  background-color: $light-cyan;
  padding: 0 0 0px 0px !important;

  overflow-y: auto;
  overflow-x: hidden;

  @include scrollbars($light-cyan)
}

.leftSubheader {
}

.centralPanel {
  flex-basis: 50%;
  flex-grow: 50;
  padding: 0 0px 30px 20px;

  display: flex;
  flex-direction: column;
}

.centralPanel .messages {
  margin-top: 20px;
  margin-left: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  //max-height: 58vh;
}

.centralPanel .freeSpace {
  flex-grow: 10;
}

.centralHumanIcon {
  font-size: 20px;
  transform: translateY(-1px);
}

.roomInfo {
  display: flex;
}

.centralSubheader {
  margin-right: 20px;
}

.ellipsisCentralIcon {
  border: solid 1px #d0d0d0;
  padding: 0px 2px 0px 2px;
  height: 17px;
  width: 27px;
}

.ellipsisCentralIconChar:before {
  display: flex; /* to transform text */
  color: black;
  // transform: translateY(-1px);
  font-size: 16px;
}

.addButton {
  border-radius: 2px;
  box-sizing: border-box;
}

.addButtonChar:before {
  display: flex;
  height: 18px;
  width: 18px;
  border: solid 1px #07b4b4;
  justify-content: center;
  font-size: 15px;
}

.rightPanel {
  flex-basis: 30%;

  display: flex;
  align-content: flex-start;
  flex-direction: column;

  padding: 0 20px 20px 20px;
  border-left: solid 1px #d0d0d0;
  align-content: flex-start;

  max-width: 284px; 
};

.fileList {
  max-height: 170px;
  overflow-y: auto;
}

.attachments {
  display: flex;
  flex-direction: column;
  overflow: auto;

  padding-right: 10px;
}
.participants {
  padding-right: 10px;

  display: flex;
  flex-direction: column;
  overflow: auto;
};

.shiftIconUp {
  transform: translateY(-3px);
}

.participantList {
  margin-top: 5px;
  max-height: 220px;
  overflow: auto;

  & .avatar {
    width: 32px;
    height: 32px;
  }
}
.tags {
  padding-right: 10px;

  display: flex;
  flex-direction: column;
  // overflow: auto;
}
.smallLabel {
  margin-top: 10px;
}

.smallIcon {
  font-size: 24px;
}

.smallerIcon {
  font-size: 20px;
}

.biggerIcon {
  font-size: 32px;
}

.humanIcon {
  transform: translateY(-2px);
}
.addParticipants {
  font-family: basier_circleregular;
  font-size: 13px;
  margin: 10px 0 10px 0;
}
.messagesYesterdaySeparator {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  & hr {
    width: 30%;
    margin-left: 0;
    margin-right: 0;
  }
  margin-bottom: 10px;
}

.newMessage {
  margin-top: 20px;
  margin-right: 20px;
}

.messagesSpacer {
  flex-shrink: 5;
  flex-grow: 5;
}

.message {
  margin: 0 10px 0 0;
}

.foundItem {
  border-style: solid !important;
  border-color: #9ae8e8 !important;
}

.errors {
  
}

.highlight {
  background-color: #ffe56c;
}

.userQuickSearch {
  margin-right: initial;
}

.hiddenMessage {
  color: transparent;
}

.addParticipantsButton {
  text-align: left;

  margin-top: 19px;

  font-size: 13px;
  text-decoration: underline;
  font-family: basier_circleregular;
  color: black;

  cursor: pointer;
}

.addParticipantsButton:focus {
  outline:0;
}

.addParticipantsButton:disabled {
  cursor: not-allowed;
}

.link {
  display: initial;
  transition: 0.3s all ease;
  color: #0000EE;
  &:hover {
    text-decoration: underline;
  }
  &:visited { color: #551A8B; }
}
