.closeButton {
  color: red;
  position: absolute;
  right: 20px;
  top: 20px;
}

.header {
  margin: 39px;
  display: flex;
  justify-content: center;
}

.selectPeople {
}

.form {
  width: 500px;
  align-self: center;
}

.buttonPanel {
  margin-top: 30px;
  margin-bottom: 40px;
  justify-content: center;
  display: flex;

}
.button {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom:50px;
}

.button :nth-child(2) {
  margin-left: 10px;
}

.checkbox {
  font-size: 11px;
}

.checkboxLabel {
  margin-left: 33px;
  font-size: 12px;
}

.textInput {
  width: 450px;
  height: 60px;
  margin-top: 20px !important;
}

.attachmentList {
  /* list-style-type: none; */
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  min-height: 60px;
  & .attachmentItem {
    white-space: pre-wrap;
  }
  & .attachmentItem .attachment {
    color: #0bd1d1;
    background: rgba(11, 209, 209, 0.14);
    margin: 10px 6px 0px 0px;
    padding: 2px 5px 2px 5px;
    border-radius: 12px;
    font-family: basier_circleregular;
    font-size: 12px;
    font-weight: 500;
    & div {
      height: 16px;
      width: 16px;
    }
  }
}

.deleteIcon {
  background: #ddfafa;

  & span {
    font-size: 8px !important;
  }
}
