:root {
  --smile-popup-z-index: 1000;
  --popup-height: 275px;
  --popup-width: 215px;
}

.newMessage {
  position: relative;
  display: flex;
  flex-basis: 100%;

  border: solid 1px #d0d0d0;
  margin-left: 10px;  
}

.cursorNotAllowed {
  cursor: not-allowed !important;
}

.messageButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;

  padding: 14px 10px 12px 0px;
  cursor: pointer;
  color: #9b9b9b;
  font-family: basier_circlesemibold;
  font-size: 14px;
}

.attachButton {
  background: #0bd1d1;
  height: 40px;

  display: flex;
  flex-direction: row;
  padding: 5px 0px 0px 5px;
  justify-content: flex-start;  
  min-height: 40px;
  min-width: 40px;
  max-height: 40px;
  max-width: 40px;
  overflow: hidden;
  // height: 100%; /* leave button size on adding message lines */

  cursor: pointer;
}

.attachmentPlus {
  color: white;
  transform: translate(8px,3px);
  font-size: 10px;
}

.attachmentClip {
  flex-direction: row;
  color: #9b9b9b;
  transform: translate(0px, 7px);
}

.messageButton:not(:first-child) > span {
  padding-left: 0px;
}


.editable:focus {
  outline: 0px solid transparent;
}

.editable {
  margin-right: -77px;
  padding: 12px;
  padding-right: 80px;
  flex-basis: 100%;

  max-height: 45vh;
  overflow: auto;
  word-break: break-all;
}

.editable:empty:before {
  content: attr(placeholder);
  color: #61666b;
  font-size: 14px;
}

.smilePopup {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  top: calc(0px - var(--popup-height) - 10px);
  height: var(--popup-height);

  box-shadow: 1px 5px 7px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;

  z-index: var(--smile-popup-z-index);

  .smiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 185px;    
    height: 250px;
    padding: 5px;
    overflow-y: auto;
  }

  .smileGroups {
    display: flex;
    padding: 2px;
    justify-content: space-around;

    & > div {
      margin-top: 2px;
      margin-bottom: 3px;
      padding: 2px 2px 2px 2px;
    }

    & .active {
      background: #E9EBEE;
    }


    & img {
      width: 16px;
      height: 16px;
      margin: 0 auto;
      vertical-align: middle;
    }
    
    
  }

  div > img {
    width: 25px;
    height: 25px;
    margin: 1px 2px;
  }

}

.imagePopup {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  top: calc(0px - var(--popup-height) - 10px); 
  height: var(--popup-height);
  width: var(--popup-width);

  box-shadow: 1px 5px 7px 0 rgba(0, 0, 0, 0.08);
  border: solid 1px #d0d0d0;
  background-color: #ffffff;

  z-index: var(--smile-popup-z-index);

  & > * {
    margin: 5px;
  }

  .searchInput {
    height: 33px;
    background: rgba(0,0,0, 0.05);
    text-indent: 8px; /* left placeholder padding fix */
    border: none;
    border-radius: 2px;

    width: 80%;
    padding-left: 5%;
    padding-right: 15%;
  }

  .searchInput::placeholder {
    font-family: basier_circleregular;
    font-size: 12px;
  }

  .imageSearchIcon {
    position: absolute;
    color: #d0d0d0 !important;
    margin: 8px;
    right: 10px;
  }

  & > img {
    height: 110px;
    object-fit: cover;
  }
  .images {
    display: flex;
    flex-wrap: wrap;
    width: 150px;    
    height: 205px;
    padding: 5px;
    overflow-y: auto;
  }

}

.hidden {
  visibility: hidden;
}

.popupCloser {
  position: fixed;
  background: rgba(0,0,0, 0.1);
  width: 100vw;
  height: 100vh;
  left: 0vw;
  top: 0vh;
  z-index: calc(var(--smile-popup-z-index) - 10);
}  

.smile {
  width: 1em;
  text-align: right; /* to show cursor */
  color: rgba(0, 0, 0, 0); /* don't show text smile */
  background-repeat: no-repeat;
  background-size: contain;
  /* vertical-align: middle; */
  display: inline-block; /* make icons like ♥ full-sized */
}

// <img> in message 
.image {
  width: 90%;
}

.imagesMenuList {
  overflow-y: scroll;  /* always scroll to avoid blinking when enter filter */
}

.selectedMenuItem {
  background: #ddfafa;
}
