.participantList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  & li {
    display: flex;
    margin-top: 9px;
  }
}

.avatar {
  margin-left: 0 !important;
  width: 32px !important;
  height: 32px !important;
}

.avatarWithoutImage {
  background-color: attr(data-color) !important;
}

.name {
  font-family: basier_circleregular;
  font-size: 14px;
  align-self: center;
  margin-left: 10px;
}
