.main {
  display: flex;
  min-height: 38px;
  border: solid 1px #d0d0d0;
  margin-top: 5px;
  margin-right: 20px;
}


button {
  background: unset;
  border: none;
  // width: 23px;
  // xpadding: 5px 5px 5px 5px;
  font-family: basier_circleregular;
  font-size: 22px;
}  

.arrowButton:disabled {
  color: #d0d0d0
}

input {
  flex-grow: 10;
  padding: 5px;
  font-size: 14px;
  border-style: none none none solid;
  border-color: #d0d0d0;
  border-width: 1px;
}

.findButton {
  font-size: 14px;
  color: #9b9b9b;
}

.active {
  color: #0bd1d1;
}

.iconButton {
  display: flex;
}
