.closeButton {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 8px;
}

.header {
  margin: 39px 0 0 0;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
  font-family: basier_circleregular;
}

.selectPeople {

}

.dialog {
  width: 700px;
  height: 300px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0 50px;

  /* margin-left: 20px; */
  margin-top: 10px;

  & > div {
    flex-grow: 0;
  }
}

.buttonPanel {
  margin-top: 10px;
  margin-bottom: 30px;
  justify-content: center;
  display: flex;

}
.button {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom:50px;
}

.button :nth-child(2) {
  margin-left: 10px;
}

.checkbox {
  font-size: 11px;
}

.checkboxLabel {
  margin-left: 33px;
  font-size: 12px;
}

.textInput {
  flex-grow: 0;
  width: 100%;
  margin-top: 50px;
}

.participantList {
  /* list-style-type: none; */
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  min-height: 60px;
  & .participantItem {
    white-space: pre-wrap;
  }
  & .participantItem .participant {
    color: #0bd1d1;
    background: rgba(11, 209, 209, 0.14);
    margin: 10px 6px 0px 0px;
    padding: 5px 10px 5px 10px;
    border-radius: 12px;
    font-family: basier_circleregular;
    font-size: 12px;
    & div {
      height: 16px;
      width: 16px;
    }
  }
}
               
.deleteIcon {
  background: #ddfafa;

  & span {
    font-size: 8px !important; 
  }
}


.dropdownOption {
  display: flex;
  flex-direction: row;
  align-items: center;

  & img {
    width: 32px;
    height: 32px;
  }
}

.personInfo {
  font-family: basier_circleregular;
  font-size: 14px;
  padding-left: 10px;
  
  & .name {
    font-weight: bold;
  }
  & info {
    
  }

  & div {
    height: 18px;
  }
}
