.subheader {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  min-height: min-content;
}

.subheaderCaption {
  font-family: basier_circlemedium;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  flex-grow: 10;
  margin-left: 12px;
  align-self: center;
}

.subheaderIcon {
  flex-basis: 14px;
  margin-left: 5px;
  display: flex;
  align-items: center;
}
