.tagList {
  display: flex;
  flex-wrap: wrap;

  max-height: 100px;
  overflow: auto;
  
  padding: 0px;
  margin: 0px;

  & span .tag {
    color: #0bd1d1;
    background: rgba(11, 209, 209, 0.14);
    margin: 5px 0 5px 5px;
    padding: 5px 10px 0px 10px;
    border-radius: 12px;
    font-family: basier_circleregular;
    font-size: 12px;
  }
}
               
