.expandButton {
  border-radius: 2px;
  background-color: #0bd1d1;
  min-width: 14px;
  min-height: 14px;
  max-width: 14px;
  max-height: 14px;
  box-shadow: none;
  padding: 0px;

  color: white;

  display: flex;
  justify-content: center;
  line-height: 1em;  

  font-family: basier_circlemedium;
  font-weight: 500;
  font-size: 14px;
}

.expandButton:focus {
  outline: none;
}
                     

.addButton {
  display: flex;
  justify-content: center;

  border-radius: 2px;
  color: #07b4b4;
  border: solid 1px #07b4b4;
  background-color: rgba(0,0,0,0);
  min-width: unset; // set by own but not mui style
  box-sizing: content-box;
  box-shadow: none;
  padding: 0;
  margin: 0;

  width: 18px;
  height: 18px;

  line-height: 18px;

  font-size: 15px;
  font-weight: 500;  
}
.iconButton {
  box-sizing: border-box;
  box-shadow: none;
  padding: 0;
  margin: 0;
}
.listItem {
  display: flex;
  align-items: center;
  // justify-content: space-between;

  padding: 6px 0px 6px 10px;

  width: calc(100% - 10px);
}

.noIconSpace {
  width: 14px;
  height: 14px;
}

.text {
  flex: 1 1 auto;
  display: flex;

  white-space: nowrap;

  font-size: 14px;
  font-family: basier_circleregular;
  font-weight: 400;
  line-height: 1.5;

  padding: 0 0 0 10px;

  width: 72%;
}

.isBold {
  font-weight: bold;
}

.titleText {
  overflow: hidden;
  text-overflow: ellipsis;
}

.titleCounter {
}

.activeItem {
  background: #9ae8e8
}
.lockIcon {
  width: 14px;
  height: 14px;
  color: #0bd1d1;
  font-weight: bold;
  font-size: 27px;
  transform: translate(-16px, -6px);

  width: 14px;
  color: #0bd1d1;
  height: 14px;
  font-size: 27px;
  transform: translate(-16px,-6px);
  font-weight: bold;  
}
