@import 'assets/colors/colors.scss';

.companies-monitoring {
  min-width: 1024px;
  padding: 20px;
  border-radius: 0px 2px 2px 2px;
  box-shadow: 2px 2px 4px 0 $box-shadow;
  background-color: $white;

  .companies-monitoring__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .companies-monitoring__header__buttons {
      display: flex;
      align-items: flex-start;

      .companies-monitoring__header__buttons__history {
        margin-right: 10px;
        height: 42px;
      }
    }
  }

  .companies-monitoring__history-filters {
    margin-top: 17px;
    display: flex;

    .companies-monitoring__history-filters__checkboxes,
    .companies-monitoring__history-filters__flexbox-hack {
      flex: 1;
    }

    .companies-monitoring__history-filters___checkboxes__checkbox-label {
      margin-left: 0;
    }

    .companies-monitoring__history-filters__year__control-left,
    .companies-monitoring__history-filters__year__control-right,
    .companies-monitoring__history-filters__year__control-right_disable {
      width: 0;
      height: 0;
      border-style: solid;
      position: relative;
      display: inline-block;
      cursor: pointer;
      margin: 0 10px;
    }

    .companies-monitoring__history-filters__year__control-right,
    .companies-monitoring__history-filters__year__control-right_disable {
      border-width: 4px 0 4px 8px;
    }

    .companies-monitoring__history-filters__year__control-right {
      border-color: transparent transparent transparent $color-primary;
    }

    .companies-monitoring__history-filters__year__control-right_disable {
      border-color: transparent transparent transparent $grey;
    }

    .companies-monitoring__history-filters__year__control-left {
      border-width: 4px 8px 4px 0;
      border-color: transparent $color-primary transparent transparent;
    }
  }

  .companies-monitoring__table {
    height: 860px;
    overflow: auto;
  }
}