@import "assets/theme/metrics.scss";

.row {
  display: flex;
  align-items: center;

  &.fields {
    align-items: flex-end;

    margin-bottom: 10px;

    @include flex-row-spacing(20px);

    > * {
      flex: 1;
    }

    .leftDate {
      margin-right: 20px;
    }
  }

  .grow {
    flex: 1;
  }

  .toggleFilter {
    margin-right: 8px;
  }

  .reset {
    flex-direction: column;
    display: flex;
    align-self: flex-start;

    margin-top: 8px;
    margin-bottom: auto;
    margin-left: 20px;
    & > button {
      margin-bottom: 10px;
    }
  }
}
