div.dialog {
  position: relative;
  min-width: 500px;

  .title {
    font-size: 24px;
  }

  .close {
    position: absolute;
    top: 12px;
    right: 12px;
  }

  .actions {
    justify-content: flex-start;

    padding: 0 16px 16px 16px;
  }

  .VAT {
    width: 150px;
  }
}
