@import "assets/colors/colors.scss";

// variables
$spacing: 20px; // ecart entre les cards

// style
.container {
  .title {
    margin: 0 $spacing $spacing $spacing;
  }

  .row {
    margin: 0 (-$spacing)/2;

    > * {
      padding: 0 $spacing/2 $spacing $spacing/2;
    }
  }
}
