.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 5px;
  margin-right: 5px;
  // align-items: center;
  max-height: 52px;
}

.textContainer {
  width: 244px;
}

.inputContainer {
  margin-left: 12px;
  display: flex;
  align-items: flex-end;
}