.datePickerCell {

  > div { // MuiInput-root
    font: inherit;
  
    &::before,
    &::after { // underline
      display: none;
    }
  }

  input {
    width: 75px;
    padding: 0;
  }

  button {
    display: none;
  }

  p {
    display: none;
  }
}
