@import "assets/colors/colors.scss";
@import "assets/fonts/fonts.scss";

.container {
  display: flex;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.text {
  font-size: 12px;
  color: $light-500-grey
}

.margin {
  margin-right: 8px;
}

.bold {
  font-weight: 500;
  color: $black;
  font-family: $font-bold;
}