.content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.footer {
  justify-content: center;
  display: flex;
  margin: 15px 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.form{
  display: flex;
}

.formControl {
  width: 75%;
  margin-top: 20px;
}
