@import 'assets/colors/colors.scss';

.in-progress span, .time-out span, .count span {
  color: $white;
  width: 24px;
  height: 24px;
  position: initial;
  margin-right: 3px;
}

.ok {
  cursor: default;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: -0.3px;
}

.okClickable {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: -0.3px;
}

.badgeClickable, .errorClickable {
  width: 26px;
  cursor: pointer;
}

.badge, .error {
  width: 26px;
  cursor: default;
}

.container {
  display: flex;
}

.time-out span {
  background-color: $color-error;
  transform: scale(1);
  border-radius: 12px;
}

.in-progress span {
  background-color: $color-tertiary;
  transform: scale(1);
  border-radius: 12px;
}

.count span {
  background-color: $color-primary;
  transform: scale(1);
  border-radius: 12px;
}

.pjs span {
  background-color: $color-primary;
  color: $white;
  z-index: 0;
}

.entry_pjs span {
  background-color: black;
  color: $white;
}
