@import "assets/colors/colors.scss";
@import "assets/theme/metrics.scss";

.container {
  margin-top: 20px;

  .documents {
    @include flex-row-spacing(20px);
    @include flex-column-spacing(20px);

    position: relative;
    min-height: 220px;

    display: flex;
    flex-wrap: wrap;

    margin-top: 10px;
    margin-bottom: 10px;

    .loader {
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
    }
  }
}
