@import "assets/colors/colors.scss";

.arrowDown,
.arrowUp {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-top: 6px;
  font-size: 18px;
  overflow: unset;
  position: relative;
  cursor: pointer;
}

.iconRow {
  padding-top: 10px;
}

.arrowUp { 
  border-top: 4px solid transparent;
  border-bottom: 4px solid $color-primary; 
  border-left: 4px solid transparent;
  border-right: 4px solid transparent; 
}

.arrowDown {
  border-top: 4px solid $color-primary;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent; 
}

.taskCell {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.rowTitle {
  font-family: 'basier_circlesemiregular';
  color: $black;
}

.headerCellTask {
  width: 133px;
  height: 32px;
  background-color: $white;
}

.headerSortIcon {
  color: $color-primary;
  height: 20px;
  width: 20px;
  margin-top: 10px;
  margin-left: 25px;
}

.headerCellMonth {
  width: 84px;
  height: 31px;
  background-color: $white;
}

.bodyCellTask {
  width: 133px;
  height: 32px;
}

.bodyWrapRollIcon {
  display: flex;
  flex:1;
  justify-content: flex-end;
  color: $black;
}

.bodyCellMonth {
  width: 84px;
  height: 31px;
}

.bodyCellMonthChip {
  background-color: $light-red;
}

.rowParent {
  margin-left: 5px;
}

.rowChildLevel1 {
  margin-left: 25px;
}

.rowChildLevel2 {
  margin-left: 50px;
}