@import 'assets/colors/colors.scss';

.currentEditions {
  padding: 20px;
  border-radius: 0px 2px 2px 2px;
  box-shadow: 2px 2px 4px 0 $box-shadow;
  background-color: $white;
  margin-top: 0px;
}

.controls {
  display: flex;
  justify-content: flex-end;
}