@import "assets/colors/colors.scss";

.half {
  display: flex;
  flex: 1;
  padding: 12% 0;

  .content {
    width: 50%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    display: flex;

    .AlertIcon {
      display: flex;
      background: #ffcfd8;
      border-radius: 50%;
      width: 61px;
      height: 61px;
      justify-content: center;
      align-items: center;
    }

    h1 {
      font-size: 22px;
      font-weight: 600;
      text-align: center;
      font-family: BasierCircle, serif;
    }

    .message {
      color: #4a4a4a;
      font-size: 14px;
      text-align: center;
    }

    .submitBtn {
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12);
    }
  }
}
