@import "assets/colors/colors.scss";

.container {
  height: auto;
  overflow: hidden;
  border-radius: 0px 2px 2px 2px;
  box-shadow: 2px 2px 4px 0 $box-shadow;
  background-color: $white;
}

.headerUp {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.headerTitle {
  margin-top:20px;
  margin-left: 15px;
}

.headerUp-button {
  margin-top: 8px;
  margin-right: 10px;
  width:280px;
  height:34px;
  font-size: 10px;
}
