@import 'assets/colors/colors.scss';
.ribDialogHeader {
  display: flex;
  justify-content: space-between;
}

.ribRow {
  background-color: $white;
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
  margin: 0;

  > div {
    margin-right: 20px;
  }
}

.button {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom:50px;
}

.button :nth-child(2) {
  margin-left: 10px;
}

.error {
  display: block;
  width: 200px;
}