.form-ca-annual-3517 {
  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: block;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page input {
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    padding: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page-0 {
    width: 1200px;
    height: 1698px;
    background-image: url(page0.jpg);
  }

  .obj_1 {
    left: 19.67%;
    top: 14.72%;
    width: 12.92%;
    height: 1.119%;
  }

  .obj_2 {
    left: 24.75%;
    top: 62.66%;
    width: 10.42%;
    height: 1.06%;
  }

  .obj_3 {
    left: 39.33%;
    top: 57.36%;
    width: 8.5%;
    height: 1.355%;
  }

  .obj_4 {
    left: 39.33%;
    top: 59.13%;
    width: 34.25%;
    height: 1.296%;
  }

  .obj_5 {
    left: 39.33%;
    top: 62.6%;
    width: 34.25%;
    height: 2.179%;
  }

  .obj_6 {
    left: 39.33%;
    top: 65.19%;
    width: 34.25%;
    height: 1.355%;
  }

  .obj_7 {
    left: 2.667%;
    top: 66.96%;
    width: 36.08%;
    height: 1.296%;
  }

  .obj_8 {
    left: 46.67%;
    top: 20.61%;
    width: 50.08%;
    height: 1.472%;
    font-size: 12.000000px;
  }

  .obj_9 {
    left: 46.75%;
    top: 25.56%;
    width: 9.25%;
    height: 1.06%;
    font-size: 12.000000px;
  }

  .obj_10 {
    left: 46.67%;
    top: 24.56%;
    width: 4.167%;
    height: 1.06%;
    font-size: 12.000000px;
  }

  .obj_11 {
    left: 50.67%;
    top: 24.56%;
    width: 8.583%;
    height: 1.06%;
    font-size: 12.000000px;
  }

  .obj_12 {
    left: 59.25%;
    top: 24.56%;
    width: 18.58%;
    height: 1.06%;
    font-size: 12.000000px;
  }

  .obj_13 {
    left: 55.75%;
    top: 25.56%;
    width: 19%;
    height: 1.06%;
    font-size: 12.000000px;
  }

  .obj_14 {
    left: 31.42%;
    top: 37.4%;
    width: 29.17%;
    height: 1.06%;
    font-size: 12.000000px;
  }

  .obj_15 {
    left: 59.08%;
    top: 11.96%;
    width: 9.833%;
    height: 1.119%;
    font-size: 12.000000px;
  }

  .obj_16 {
    left: 71.33%;
    top: 11.9%;
    width: 10.33%;
    height: 1.119%;
    font-size: 12.000000px;
  }

  .obj_17 {
    left: 92.5%;
    top: 44.94%;
    width: 2.333%;
    height: 1.413%;
    margin: 0;
  }

  .pdf-page-1 {
    width: 1200px;
    height: 1698px;
    background-image: url(page1.jpg);
  }

  .obj_19 {
    left: 18.92%;
    top: 1.885%;
    width: 78.5%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_20 {
    left: 39.67%;
    top: 5.3%;
    width: 9.583%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_21 {
    left: 39.58%;
    top: 9.835%;
    width: 9.583%;
    height: 2.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_22 {
    left: 39.58%;
    top: 6.36%;
    width: 9.667%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_23 {
    left: 39.58%;
    top: 12.72%;
    width: 9.583%;
    height: 2.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_24 {
    left: 39.58%;
    top: 8.186%;
    width: 9.667%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_25 {
    left: 87.17%;
    top: 5.3%;
    width: 9.75%;
    height: 2.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_26 {
    left: 87.17%;
    top: 12.01%;
    width: 9.833%;
    height: 2.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_27 {
    left: 59.58%;
    top: 20.61%;
    width: 18.25%;
    height: 1.296%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_28 {
    left: 78.83%;
    top: 20.61%;
    width: 18%;
    height: 1.296%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_29 {
    left: 59.58%;
    top: 21.97%;
    width: 18.25%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_30 {
    left: 78.83%;
    top: 21.97%;
    width: 18%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_31 {
    left: 59.58%;
    top: 23.62%;
    width: 18.33%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_32 {
    left: 78.83%;
    top: 23.62%;
    width: 18.08%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_33 {
    left: 59.58%;
    top: 25.38%;
    width: 18.33%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_34 {
    left: 78.83%;
    top: 25.38%;
    width: 18.08%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_35 {
    left: 59.58%;
    top: 29.33%;
    width: 18.42%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_36 {
    left: 78.83%;
    top: 29.33%;
    width: 18.08%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_37 {
    left: 59.58%;
    top: 30.62%;
    width: 18.33%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_38 {
    left: 78.83%;
    top: 30.62%;
    width: 18.08%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_39 {
    left: 59.58%;
    top: 32.39%;
    width: 18.33%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_40 {
    left: 78.83%;
    top: 32.39%;
    width: 18%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_41 {
    left: 59.58%;
    top: 36.34%;
    width: 18.33%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_42 {
    left: 78.83%;
    top: 36.34%;
    width: 18.08%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_43 {
    left: 59.58%;
    top: 37.63%;
    width: 18.25%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_44 {
    left: 78.83%;
    top: 37.63%;
    width: 18.08%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_45 {
    left: 59.58%;
    top: 41.34%;
    width: 18.25%;
    height: 1.413%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_46 {
    left: 78.83%;
    top: 41.34%;
    width: 18%;
    height: 1.413%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_47 {
    left: 59.58%;
    top: 42.82%;
    width: 18.17%;
    height: 2.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_48 {
    left: 78.83%;
    top: 42.82%;
    width: 18%;
    height: 2.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_49 {
    left: 59.58%;
    top: 45.7%;
    width: 18.17%;
    height: 2.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_50 {
    left: 78.83%;
    top: 45.7%;
    width: 18%;
    height: 2.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_51 {
    left: 59.58%;
    top: 48.53%;
    width: 18.08%;
    height: 2.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_52 {
    left: 78.83%;
    top: 48.53%;
    width: 18%;
    height: 2.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_53 {
    left: 59.58%;
    top: 51.41%;
    width: 18.08%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_54 {
    left: 78.83%;
    top: 51.41%;
    width: 18%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_55 {
    left: 59.58%;
    top: 53.18%;
    width: 18.08%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_56 {
    left: 78.83%;
    top: 53.18%;
    width: 18%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_57 {
    left: 59.58%;
    top: 54.95%;
    width: 18.08%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_58 {
    left: 78.83%;
    top: 54.95%;
    width: 18%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_59 {
    left: 36.42%;
    top: 56.3%;
    width: 14.33%;
    height: 2.297%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_60 {
    left: 78.83%;
    top: 59.13%;
    width: 18.08%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_61 {
    left: 78.83%;
    top: 62.6%;
    width: 18.08%;
    height: 1.178%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_62 {
    left: 78.83%;
    top: 63.84%;
    width: 18.08%;
    height: 1.767%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_63 {
    left: 78.83%;
    top: 65.67%;
    width: 18.08%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_64 {
    left: 79%;
    top: 68.2%;
    width: 17.92%;
    height: 1.001%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_65 {
    left: 78.92%;
    top: 73.56%;
    width: 18%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_66 {
    left: 78.83%;
    top: 77.03%;
    width: 18.08%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_67 {
    left: 79.08%;
    top: 75.32%;
    width: 17.83%;
    height: 1.001%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_68 {
    left: 79.08%;
    top: 80.74%;
    width: 17.75%;
    height: 1.178%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_69 {
    left: 78.75%;
    top: 85.69%;
    width: 18.17%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_70 {
    left: 79%;
    top: 84.28%;
    width: 17.92%;
    height: 1.178%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_71 {
    left: 48.83%;
    top: 87.63%;
    width: 9.917%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_72 {
    left: 78.83%;
    top: 89.16%;
    width: 18.08%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_73 {
    left: 78.83%;
    top: 91.28%;
    width: 18.08%;
    height: 1.178%;
    text-align: right;
    font-size: 12.000000px;
  }

  .pdf-page-2 {
    width: 1200px;
    height: 1698px;
    background-image: url(page2.jpg);
  }

  .obj_75 {
    left: 26.83%;
    top: 67.79%;
    width: 8.667%;
    height: 1.119%;
  }

  .obj_76 {
    left: 23.67%;
    top: 67.79%;
    width: 3.5%;
    height: 1.119%;
  }

  .obj_77 {
    left: 81.25%;
    top: 5.241%;
    width: 15%;
    height: 1.178%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_78 {
    left: 81%;
    top: 6.36%;
    width: 15.25%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_79 {
    left: 81%;
    top: 10.54%;
    width: 15.17%;
    height: 2.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_80 {
    left: 15%;
    top: 12.66%;
    width: 12.33%;
    height: 1.119%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_81 {
    left: 29.75%;
    top: 12.72%;
    width: 11.58%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_82 {
    left: 15.08%;
    top: 13.9%;
    width: 12.33%;
    height: 1.472%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_83 {
    left: 29.67%;
    top: 13.9%;
    width: 11.67%;
    height: 1.413%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_84 {
    left: 18.83%;
    top: 15.72%;
    width: 8.5%;
    height: 1.531%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_85 {
    left: 33.08%;
    top: 15.84%;
    width: 8.25%;
    height: 1.413%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_86 {
    left: 81.17%;
    top: 19.55%;
    width: 15.08%;
    height: 1.531%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_87 {
    left: 81.33%;
    top: 23.14%;
    width: 14.92%;
    height: 1.296%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_88 {
    left: 81.25%;
    top: 21.44%;
    width: 15%;
    height: 1.472%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_89 {
    left: 66.67%;
    top: 28.56%;
    width: 8.833%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_90 {
    left: 81.08%;
    top: 28.62%;
    width: 15.58%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_91 {
    left: 81%;
    top: 29.68%;
    width: 15.67%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_92 {
    left: 66.67%;
    top: 32.16%;
    width: 8.833%;
    height: 2.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_93 {
    left: 81%;
    top: 31.86%;
    width: 15.67%;
    height: 1.885%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_94 {
    left: 66.67%;
    top: 35.04%;
    width: 8.833%;
    height: 2.65%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_95 {
    left: 81%;
    top: 34.63%;
    width: 15.58%;
    height: 1.885%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_96 {
    left: 81%;
    top: 36.57%;
    width: 15.58%;
    height: 2.297%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_97 {
    left: 66.67%;
    top: 42.4%;
    width: 8.833%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_98 {
    left: 81%;
    top: 41.52%;
    width: 15.58%;
    height: 1.826%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_99 {
    left: 66.67%;
    top: 44.17%;
    width: 8.833%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_100 {
    left: 81%;
    top: 43.46%;
    width: 15.58%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_101 {
    left: 66.67%;
    top: 48.76%;
    width: 8.833%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_102 {
    left: 81%;
    top: 47.82%;
    width: 15.58%;
    height: 2.002%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_103 {
    left: 66.67%;
    top: 50.41%;
    width: 8.833%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_104 {
    left: 81%;
    top: 49.88%;
    width: 15.58%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_105 {
    left: 66.67%;
    top: 52.24%;
    width: 8.833%;
    height: 2.65%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_106 {
    left: 81%;
    top: 51.88%;
    width: 15.58%;
    height: 1.943%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_107 {
    left: 66.67%;
    top: 55.06%;
    width: 8.833%;
    height: 2.65%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_108 {
    left: 81%;
    top: 54.65%;
    width: 15.58%;
    height: 2.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_109 {
    left: 66.67%;
    top: 57.89%;
    width: 8.833%;
    height: 3.769%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_110 {
    left: 81%;
    top: 58.42%;
    width: 15.58%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_111 {
    left: 66.67%;
    top: 61.84%;
    width: 8.833%;
    height: 2.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_112 {
    left: 81%;
    top: 61.72%;
    width: 15.58%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_113 {
    left: 81%;
    top: 63.9%;
    width: 15.58%;
    height: 1.826%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_114 {
    left: 81%;
    top: 66.43%;
    width: 15.58%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_115 {
    left: 81%;
    top: 69.26%;
    width: 15.67%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_116 {
    left: 81%;
    top: 71.55%;
    width: 15.67%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_117 {
    left: 81%;
    top: 75.03%;
    width: 15.58%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_118 {
    left: 81%;
    top: 73.38%;
    width: 15.58%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_119 {
    left: 81%;
    top: 78.45%;
    width: 15.58%;
    height: 1.767%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_120 {
    left: 66.67%;
    top: 79.21%;
    width: 8.833%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_121 {
    left: 81%;
    top: 80.27%;
    width: 15.5%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_122 {
    left: 66.67%;
    top: 80.86%;
    width: 8.833%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_123 {
    left: 81%;
    top: 82.04%;
    width: 15.5%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_124 {
    left: 81%;
    top: 83.69%;
    width: 15.5%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_125 {
    left: 81%;
    top: 86.34%;
    width: 15.5%;
    height: 1.943%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_126 {
    left: 66.67%;
    top: 86.22%;
    width: 8.833%;
    height: 3.71%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_127 {
    left: 81%;
    top: 89.4%;
    width: 15.58%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_128 {
    left: 81%;
    top: 91.17%;
    width: 15.58%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_129 {
    left: 81%;
    top: 92.93%;
    width: 15.67%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_130 {
    left: 81%;
    top: 94.64%;
    width: 15.67%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .pdf-page-3 {
    width: 1200px;
    height: 1698px;
    background-image: url(page3.jpg);
  }

  .obj_132 {
    left: 66.67%;
    top: 3.534%;
    width: 8.833%;
    height: 2.65%;
  }

  .obj_133 {
    left: 66.67%;
    top: 6.36%;
    width: 8.833%;
    height: 2.709%;
  }

  .obj_134 {
    left: 81%;
    top: 2.886%;
    width: 15.83%;
    height: 2.238%;
  }

  .obj_135 {
    left: 81%;
    top: 5.889%;
    width: 15.83%;
    height: 2.061%;
  }

  .obj_136 {
    left: 81%;
    top: 11.13%;
    width: 15.75%;
    height: 1.943%;
  }

  .obj_137 {
    left: 81%;
    top: 13.13%;
    width: 15.67%;
    height: 1.767%;
  }

  .obj_138 {
    left: 81%;
    top: 23.79%;
    width: 15.75%;
    height: 2.002%;
  }

  .obj_139 {
    left: 66.67%;
    top: 24.79%;
    width: 8.833%;
    height: 1.472%;
  }

  .obj_140 {
    left: 81%;
    top: 25.85%;
    width: 15.75%;
    height: 2.179%;
  }

  .obj_141 {
    left: 66.67%;
    top: 26.44%;
    width: 8.833%;
    height: 2.709%;
  }

  .obj_142 {
    left: 81%;
    top: 29.92%;
    width: 15.92%;
    height: 2.179%;
  }

  .obj_143 {
    left: 66.67%;
    top: 31.1%;
    width: 8.833%;
    height: 1.59%;
  }

  .obj_144 {
    left: 81%;
    top: 32.16%;
    width: 15.83%;
    height: 2.297%;
  }

  .obj_145 {
    left: 66.67%;
    top: 32.86%;
    width: 8.833%;
    height: 2.65%;
  }

  .obj_146 {
    left: 81%;
    top: 34.57%;
    width: 15.83%;
    height: 2.65%;
  }

  .obj_147 {
    left: 66.67%;
    top: 35.69%;
    width: 8.833%;
    height: 2.709%;
  }

  .obj_148 {
    left: 81%;
    top: 39.1%;
    width: 15.92%;
    height: 2.238%;
  }

  .obj_149 {
    left: 81%;
    top: 41.4%;
    width: 15.83%;
    height: 1.59%;
  }

  .obj_150 {
    left: 81%;
    top: 44.64%;
    width: 15.75%;
    height: 1.943%;
  }

  .obj_151 {
    left: 66.67%;
    top: 45.41%;
    width: 8.833%;
    height: 7.479%;
  }

  .obj_152 {
    left: 81%;
    top: 46.64%;
    width: 15.83%;
    height: 2.179%;
  }

  .obj_153 {
    left: 81%;
    top: 49.65%;
    width: 15.92%;
    height: 2.061%;
  }

  .obj_154 {
    left: 66.67%;
    top: 54.59%;
    width: 8.833%;
    height: 4.535%;
  }

  .obj_155 {
    left: 81%;
    top: 53.59%;
    width: 15.83%;
    height: 2.12%;
  }

  .obj_156 {
    left: 81%;
    top: 55.77%;
    width: 15.83%;
    height: 2.179%;
  }

  .obj_157 {
    left: 81%;
    top: 59.42%;
    width: 15.92%;
    height: 2.002%;
  }

  .obj_158 {
    left: 81%;
    top: 62.96%;
    width: 15.92%;
    height: 1.943%;
  }

  .obj_159 {
    left: 66.67%;
    top: 68.85%;
    width: 9%;
    height: 1.708%;
  }

  .obj_160 {
    left: 66.67%;
    top: 63.25%;
    width: 8.833%;
    height: 2.709%;
  }

  .obj_161 {
    left: 55.75%;
    top: 68.85%;
    width: 10.83%;
    height: 1.708%;
  }

  .obj_162 {
    left: 55.75%;
    top: 70.61%;
    width: 10.83%;
    height: 1.708%;
  }

  .obj_163 {
    left: 55.75%;
    top: 74.09%;
    width: 10.83%;
    height: 1.708%;
  }

  .obj_164 {
    left: 55.75%;
    top: 72.38%;
    width: 10.83%;
    height: 1.708%;
  }

  .obj_165 {
    left: 55.75%;
    top: 75.8%;
    width: 10.83%;
    height: 1.708%;
  }

  .obj_166 {
    left: 55.75%;
    top: 79.39%;
    width: 10.83%;
    height: 1.708%;
  }

  .obj_167 {
    left: 55.75%;
    top: 77.56%;
    width: 10.83%;
    height: 1.708%;
  }

  .obj_168 {
    left: 55.75%;
    top: 81.1%;
    width: 10.83%;
    height: 1.708%;
  }

  .obj_169 {
    left: 55.75%;
    top: 82.92%;
    width: 10.83%;
    height: 1.708%;
  }

  .obj_170 {
    left: 66.67%;
    top: 18.37%;
    width: 8.833%;
    height: 1.649%;
  }

  .obj_171 {
    left: 81%;
    top: 17.26%;
    width: 15.67%;
    height: 2.12%;
  }

  .obj_172 {
    left: 66.67%;
    top: 20.2%;
    width: 8.833%;
    height: 2.65%;
  }

  .obj_173 {
    left: 81%;
    top: 19.43%;
    width: 15.58%;
    height: 2.356%;
  }

  .obj_174 {
    left: 81%;
    top: 84.04%;
    width: 15.83%;
    height: 2.238%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_175 {
    left: 66.67%;
    top: 70.67%;
    width: 9%;
    height: 1.708%;
  }

  .obj_176 {
    left: 66.67%;
    top: 72.38%;
    width: 9%;
    height: 1.708%;
    font-size: 12.000000px;
  }

  .obj_177 {
    left: 66.75%;
    top: 74.15%;
    width: 9%;
    height: 1.708%;
  }

  .obj_178 {
    left: 66.75%;
    top: 75.8%;
    width: 9%;
    height: 1.708%;
  }

  .obj_179 {
    left: 66.75%;
    top: 77.62%;
    width: 8.917%;
    height: 1.708%;
    font-size: 12.000000px;
  }

  .obj_180 {
    left: 66.75%;
    top: 79.33%;
    width: 8.917%;
    height: 1.708%;
    font-size: 12.000000px;
  }

  .obj_181 {
    left: 66.58%;
    top: 81.1%;
    width: 9%;
    height: 1.708%;
    font-size: 12.000000px;
  }

  .obj_182 {
    left: 66.75%;
    top: 82.92%;
    width: 8.917%;
    height: 1.708%;
    font-size: 12.000000px;
  }

  .obj_183 {
    left: 81%;
    top: 65.61%;
    width: 15.92%;
    height: 2.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_184 {
    left: 55.75%;
    top: 87.51%;
    width: 10.83%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_185 {
    left: 66.67%;
    top: 87.51%;
    width: 8.833%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_186 {
    left: 55.75%;
    top: 89.28%;
    width: 10.83%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_187 {
    left: 66.67%;
    top: 89.28%;
    width: 8.833%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_188 {
    left: 55.75%;
    top: 91.11%;
    width: 10.83%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_189 {
    left: 66.67%;
    top: 91.11%;
    width: 8.833%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_190 {
    left: 55.75%;
    top: 92.82%;
    width: 10.83%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_191 {
    left: 66.67%;
    top: 92.82%;
    width: 8.833%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_192 {
    left: 55.75%;
    top: 94.46%;
    width: 10.83%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_193 {
    left: 66.67%;
    top: 94.46%;
    width: 8.833%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .pdf-page-4 {
    width: 1200px;
    height: 1698px;
    background-image: url(page4.jpg);
  }

  .obj_195 {
    left: 66.67%;
    top: 17.55%;
    width: 8.833%;
    height: 2.709%;
  }

  .obj_196 {
    left: 80.92%;
    top: 17.43%;
    width: 15.92%;
    height: 1.767%;
  }

  .obj_197 {
    left: 66.67%;
    top: 20.38%;
    width: 8.833%;
    height: 2.709%;
  }

  .obj_198 {
    left: 80.92%;
    top: 20.32%;
    width: 15.92%;
    height: 1.767%;
  }

  .obj_199 {
    left: 66.67%;
    top: 23.26%;
    width: 8.833%;
    height: 2.65%;
  }

  .obj_200 {
    left: 80.83%;
    top: 23.14%;
    width: 16.08%;
    height: 1.767%;
  }

  .obj_201 {
    left: 80.83%;
    top: 25.91%;
    width: 16.08%;
    height: 1.767%;
  }

  .obj_202 {
    left: 81%;
    top: 41.17%;
    width: 15.92%;
    height: 1.296%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_203 {
    left: 45.33%;
    top: 28.86%;
    width: 10.33%;
    height: 1.708%;
    text-align: right;
  }

  .obj_204 {
    left: 45.33%;
    top: 30.62%;
    width: 10.33%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_205 {
    left: 45.33%;
    top: 32.39%;
    width: 10.33%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_206 {
    left: 45.33%;
    top: 34.1%;
    width: 10.33%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_207 {
    left: 45.33%;
    top: 35.87%;
    width: 10.33%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_208 {
    left: 45.33%;
    top: 37.63%;
    width: 10.33%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_209 {
    left: 45.33%;
    top: 39.4%;
    width: 10.33%;
    height: 1.708%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_210 {
    left: 55.75%;
    top: 28.92%;
    width: 10.83%;
    height: 1.59%;
    text-align: right;
  }

  .obj_211 {
    left: 55.75%;
    top: 30.68%;
    width: 10.83%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_212 {
    left: 55.75%;
    top: 32.45%;
    width: 10.83%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_213 {
    left: 55.75%;
    top: 34.16%;
    width: 10.83%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_214 {
    left: 55.75%;
    top: 35.92%;
    width: 10.83%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_215 {
    left: 55.75%;
    top: 37.69%;
    width: 10.83%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_216 {
    left: 55.75%;
    top: 39.46%;
    width: 10.83%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_217 {
    left: 66.67%;
    top: 28.92%;
    width: 8.833%;
    height: 1.59%;
    text-align: right;
  }

  .obj_218 {
    left: 66.67%;
    top: 30.68%;
    width: 8.833%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_219 {
    left: 66.67%;
    top: 32.45%;
    width: 8.833%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_220 {
    left: 66.67%;
    top: 34.16%;
    width: 8.833%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_221 {
    left: 66.67%;
    top: 35.92%;
    width: 8.833%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_222 {
    left: 66.67%;
    top: 37.69%;
    width: 8.833%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_223 {
    left: 66.67%;
    top: 39.46%;
    width: 8.833%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_224 {
    left: 55.75%;
    top: 1.708%;
    width: 10.83%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_225 {
    left: 66.67%;
    top: 1.708%;
    width: 8.833%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_226 {
    left: 55.75%;
    top: 3.534%;
    width: 10.83%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_227 {
    left: 66.67%;
    top: 3.534%;
    width: 8.833%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_228 {
    left: 55.75%;
    top: 5.3%;
    width: 10.83%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_229 {
    left: 66.67%;
    top: 5.3%;
    width: 8.833%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_230 {
    left: 55.75%;
    top: 7.008%;
    width: 10.83%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_231 {
    left: 66.67%;
    top: 7.008%;
    width: 8.833%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_232 {
    left: 55.75%;
    top: 8.775%;
    width: 10.83%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_233 {
    left: 66.67%;
    top: 8.775%;
    width: 8.833%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_234 {
    left: 55.75%;
    top: 10.48%;
    width: 10.83%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_235 {
    left: 66.67%;
    top: 10.54%;
    width: 8.833%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_236 {
    left: 55.75%;
    top: 12.31%;
    width: 10.83%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_237 {
    left: 66.67%;
    top: 12.31%;
    width: 8.833%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_238 {
    left: 55.75%;
    top: 14.02%;
    width: 10.83%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_239 {
    left: 66.67%;
    top: 14.02%;
    width: 8.833%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_240 {
    left: 66.67%;
    top: 15.78%;
    width: 8.833%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_241 {
    left: 55.75%;
    top: 15.78%;
    width: 10.83%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_242 {
    left: 86%;
    top: 44.52%;
    width: 10.42%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_243 {
    left: 85.92%;
    top: 46.17%;
    width: 10.58%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_244 {
    left: 85.92%;
    top: 56.12%;
    width: 10.5%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_245 {
    left: 85.83%;
    top: 59.78%;
    width: 10.58%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_246 {
    left: 39.17%;
    top: 51.83%;
    width: 10.67%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_247 {
    left: 39.17%;
    top: 49%;
    width: 10.67%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_248 {
    left: 39.17%;
    top: 46.17%;
    width: 10.67%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_249 {
    left: 39.17%;
    top: 44.52%;
    width: 10.67%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_250 {
    left: 38.75%;
    top: 55.71%;
    width: 7.583%;
    height: 1.413%;
    font-size: 12.000000px;
  }

  .obj_251 {
    left: 14.75%;
    top: 55.65%;
    width: 7.5%;
    height: 1.472%;
    font-size: 12.000000px;
  }

  .obj_252 {
    left: 29.5%;
    top: 55.77%;
    width: 1.917%;
    height: 1.119%;
    margin: 0;
  }

  .obj_253 {
    left: 6.75%;
    top: 55.77%;
    width: 1.833%;
    height: 1.119%;
    margin: 0;
  }

  .pdf-page input {
    text-align: right;
    padding-right: 7px;
  }

  .pdf-page input.pde-form-field-text {
    text-align: left;
    padding-left: 7px;
  }
}