.CVAE1329AC {
  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: block;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page input {
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    padding: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page-0 {
    width: 1200px;
    height: 1697px;
    background-image: url(page0.jpg);
  }

  .obj_1 {
    left: 18.33%;
    top: 23.22%;
    width: 20.33%;
    height: 1.296%;
  }

  .obj_2 {
    left: 18.33%;
    top: 24.63%;
    width: 20.25%;
    height: 1.296%;
    font-size: 12.000000px;
  }

  .obj_3 {
    left: 18.33%;
    top: 25.93%;
    width: 20.25%;
    height: 2.593%;
    font-size: 12.000000px;
  }

  .obj_4 {
    left: 18.33%;
    top: 28.46%;
    width: 20.25%;
    height: 2.887%;
    font-size: 10.666667px;
  }

  .obj_5 {
    left: 18.33%;
    top: 32.23%;
    width: 20.25%;
    height: 1.355%;
    font-size: 12.000000px;
  }

  .obj_6 {
    left: 18.33%;
    top: 33.53%;
    width: 20.25%;
    height: 2.711%;
    font-size: 12.000000px;
  }

  .obj_7 {
    left: 48.08%;
    top: 17.86%;
    width: 42.67%;
    height: 6.895%;
    font-size: 12.000000px;
  }

  .obj_8 {
    left: 42%;
    top: 41.72%;
    width: 2.833%;
    height: 1.591%;
    margin: 0px 0px 0px 0px;
  }

  .obj_9 {
    left: 63.75%;
    top: 41.66%;
    width: 2.833%;
    height: 1.591%;
    margin: 0px 0px 0px 0px;
  }

  .obj_10 {
    left: 42.33%;
    top: 45.55%;
    width: 21.42%;
    height: 2.357%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_11 {
    left: 6.833%;
    top: 57.87%;
    width: 14.17%;
    height: 1.532%;
    font-size: 12.000000px;
  }

  .obj_12 {
    left: 10.25%;
    top: 60.11%;
    width: 11.5%;
    height: 1.768%;
    font-size: 12.000000px;
  }

  .obj_13 {
    left: 16.33%;
    top: 62.46%;
    width: 18.5%;
    height: 1.768%;
    font-size: 12.000000px;
  }

  .obj_14 {
    left: 48.25%;
    top: 27.52%;
    width: 11.08%;
    height: 1.002%;
    font-size: 12.000000px;
  }

  .obj_15 {
    left: 59.25%;
    top: 27.52%;
    width: 30.92%;
    height: 1.002%;
    font-size: 12.000000px;
  }

  .obj_16 {
    left: 48.25%;
    top: 28.46%;
    width: 42%;
    height: 2.062%;
    font-size: 12.000000px;
  }

  .obj_17 {
    left: 58.5%;
    top: 30.52%;
    width: 31.75%;
    height: 1.061%;
    font-size: 12.000000px;
  }

  .obj_18 {
    left: 48.25%;
    top: 30.52%;
    width: 10.25%;
    height: 1.061%;
    font-size: 12.000000px;
  }

  .obj_19 {
    left: 18.08%;
    top: 21.74%;
    width: 20.67%;
    height: 1.473%;
    font-size: 12.000000px;
  }

  .obj_20 {
    left: 48.25%;
    top: 25.81%;
    width: 41.83%;
    height: 1.296%;
    font-size: 12.000000px;
  }

  .obj_21 {
    left: 22.17%;
    top: 59.4%;
    width: 16.25%;
    height: 3.005%;
    font-size: 12.000000px;
  }

  .obj_22 {
    left: 2.25%;
    top: 70.65%;
    width: 93.67%;
    height: 14.38%;
    font-size: 12.000000px;
  }

  .pdf-page-1 {
    width: 1200px;
    height: 1697px;
    background-image: url(page1.jpg);
  }

  .obj_24 {
    left: 51.33%;
    top: 8.839%;
    width: 31.42%;
    height: 2.416%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_25 {
    left: 51.17%;
    top: 12.55%;
    width: 31.42%;
    height: 2.416%;
    display: none;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_26 {
    left: 51.33%;
    top: 16.09%;
    width: 31.42%;
    height: 2.416%;
    display: none;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_27 {
    left: 66.42%;
    top: 48.56%;
    width: 14.17%;
    height: 2.475%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_28 {
    left: 51.42%;
    top: 60.05%;
    width: 31%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_29 {
    left: 86.92%;
    top: 69.59%;
    width: 3.417%;
    height: 2.062%;
    margin: 0px 0px 0px 0px;
  }

  .obj_30 {
    left: 51.67%;
    top: 73.13%;
    width: 30.92%;
    height: 2.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_31 {
    left: 51.42%;
    top: 93.16%;
    width: 34.5%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_32 {
    left: 51.5%;
    top: 12.55%;
    width: 31.25%;
    height: 2.475%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_33 {
    left: 51.42%;
    top: 15.91%;
    width: 31.25%;
    height: 2.652%;
    text-align: right;
    font-size: 12.000000px;
  }

  .pdf-page-2 {
    width: 1200px;
    height: 1697px;
    background-image: url(page2.jpg);
  }

  .obj_35 {
    left: 47.92%;
    top: 25.28%;
    width: 35.5%;
    height: 2.18%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_36 {
    left: 47.83%;
    top: 28.23%;
    width: 35.58%;
    height: 2.121%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_37 {
    left: 48%;
    top: 31.11%;
    width: 35.42%;
    height: 2.18%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_38 {
    left: 48%;
    top: 34.24%;
    width: 35.5%;
    height: 2.18%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_39 {
    left: 48%;
    top: 41.25%;
    width: 35.42%;
    height: 2.121%;
    display: none;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_40 {
    left: 47.83%;
    top: 43.96%;
    width: 35.67%;
    height: 2.121%;
    display: none;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_41 {
    left: 54.67%;
    top: 46.73%;
    width: 35.58%;
    height: 2.121%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_42 {
    left: 87.33%;
    top: 52.86%;
    width: 3.083%;
    height: 1.827%;
    margin: 0px 0px 0px 0px;
  }

  .obj_43 {
    left: 54.92%;
    top: 55.57%;
    width: 35.42%;
    height: 2.18%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_44 {
    left: 87%;
    top: 62.23%;
    width: 3.333%;
    height: 1.886%;
    margin: 0px 0px 0px 0px;
  }

  .obj_45 {
    left: 54.67%;
    top: 65%;
    width: 35.75%;
    height: 2.239%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_46 {
    left: 55.08%;
    top: 72.78%;
    width: 35.42%;
    height: 2.18%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_47 {
    left: 55%;
    top: 81.08%;
    width: 35.25%;
    height: 2.18%;
    text-align: right;
  }

  .obj_48 {
    left: 47.67%;
    top: 43.9%;
    width: 35.83%;
    height: 2.18%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_49 {
    left: 47.75%;
    top: 41.07%;
    width: 35.75%;
    height: 2.357%;
    text-align: right;
    font-size: 12.000000px;
  }

  .pdf-page input {
    text-align: right;
    padding-right: 7px;
  }
}
