.version {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: flex-end;
  white-space: normal;

  max-width: 40ch;
  align-self: center;

  color: #bcbcbc;

  cursor: default;

  & b {
    font-size: 12px;
  }

  & hr {
    width: 95%;
    color: #555555;
    /* border: solid 1px; */
    margin-top: 0px;
    margin-bottom: 1px;

    border: none;
    height: 1px;
    background-color: #555555;
  }

  & .groupTitle {
    margin-top: 3px;
  }

  .unknown {
    color: DarkRed;
  }
}
