.tax2053 {
  .pdf-gray-bg {
    background-color: #AAA
  }

  .pdf-page {
    border-bottom: 1px solid #AAA
  }

  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #AAA
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: flex;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page input {
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-inner img {
    width: 100%
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%;
    position: absolute
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    margin: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page-1 {
    width: 1200px;
    height: 1697px;
    background-image: url(page0.jpg);
  }

  .pdf-obj-0-1 {
    margin: 0px 0px 0px 0px;
    left: 93.92%;
    top: 10.43%;
    width: 1.583%;
    height: 1.179%;
  }

  .pdf-obj-0-2 {
    font-size: 12.000000px;
    left: 83.33%;
    top: 15.44%;
    width: 14.42%;
    height: 2.121%;
    text-align: right;
  }

  .pdf-obj-0-3 {
    font-size: 12.000000px;
    left: 83.33%;
    top: 17.56%;
    width: 14.33%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-4 {
    font-size: 12.000000px;
    left: 83.42%;
    top: 19.45%;
    width: 14.33%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-5 {
    font-size: 12.000000px;
    left: 83.58%;
    top: 21.39%;
    width: 14.17%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-6 {
    font-size: 12.000000px;
    left: 83.33%;
    top: 23.51%;
    width: 14.33%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-7 {
    font-size: 12.000000px;
    left: 83.33%;
    top: 25.4%;
    width: 14.5%;
    height: 2.121%;
    text-align: right;
  }

  .pdf-obj-0-8 {
    font-size: 12.000000px;
    left: 83.58%;
    top: 27.52%;
    width: 14.33%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-9 {
    font-size: 12.000000px;
    left: 83.5%;
    top: 29.64%;
    width: 14.33%;
    height: 2.121%;
    text-align: right;
  }

  .pdf-obj-0-10 {
    font-size: 12.000000px;
    left: 83.42%;
    top: 31.76%;
    width: 14.5%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-11 {
    font-size: 12.000000px;
    left: 83.33%;
    top: 33.53%;
    width: 14.58%;
    height: 2.121%;
    text-align: right;
  }

  .pdf-obj-0-12 {
    font-size: 12.000000px;
    left: 83.42%;
    top: 35.65%;
    width: 14.25%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-13 {
    font-size: 12.000000px;
    left: 83.42%;
    top: 37.77%;
    width: 14.25%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-14 {
    font-size: 12.000000px;
    left: 83.42%;
    top: 39.78%;
    width: 14.25%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-15 {
    font-size: 12.000000px;
    left: 83.42%;
    top: 41.78%;
    width: 14.33%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-16 {
    font-size: 12.000000px;
    left: 83.42%;
    top: 43.78%;
    width: 14.42%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-17 {
    font-size: 12.000000px;
    left: 83.42%;
    top: 45.9%;
    width: 14.42%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-18 {
    font-size: 12.000000px;
    left: 83.5%;
    top: 47.91%;
    width: 14.25%;
    height: 2.121%;
    text-align: right;
  }

  .pdf-obj-0-19 {
    font-size: 12.000000px;
    left: 83.42%;
    top: 50.03%;
    width: 14.42%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-20 {
    font-size: 12.000000px;
    left: 83.42%;
    top: 51.97%;
    width: 14.33%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-21 {
    font-size: 12.000000px;
    left: 83.33%;
    top: 54.04%;
    width: 14.42%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-22 {
    font-size: 12.000000px;
    left: 83.5%;
    top: 56.16%;
    width: 14.25%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-23 {
    font-size: 12.000000px;
    left: 83.58%;
    top: 58.22%;
    width: 14.33%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-24 {
    font-size: 12.000000px;
    left: 83.58%;
    top: 60.28%;
    width: 14.17%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-25 {
    font-size: 12.000000px;
    left: 83.5%;
    top: 62.17%;
    width: 14.33%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-26 {
    font-size: 12.000000px;
    left: 83.58%;
    top: 64.41%;
    width: 14.25%;
    height: 1.827%;
    text-align: right;
  }

  .pdf-obj-0-27 {
    font-size: 12.000000px;
    left: 83.42%;
    top: 66.18%;
    width: 14.33%;
    height: 1.709%;
    text-align: right;
  }

  .pdf-obj-0-28 {
    font-size: 12.000000px;
    left: 83.42%;
    top: 68.06%;
    width: 14.25%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-29 {
    font-size: 12.000000px;
    left: 83.42%;
    top: 70.01%;
    width: 14.25%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-30 {
    font-size: 12.000000px;
    left: 83.58%;
    top: 72.01%;
    width: 14.08%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-31 {
    font-size: 12.000000px;
    left: 55.92%;
    top: 74.19%;
    width: 6.333%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-32 {
    font-size: 12.000000px;
    left: 73.17%;
    top: 74.13%;
    width: 7.917%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-33 {
    font-size: 12.000000px;
    left: 9.833%;
    top: 78.31%;
    width: 59.42%;
    height: 1.591%;
    text-align: right;
  }

  .pdf-obj-0-34 {
    font-size: 12.000000px;
    left: 9.917%;
    top: 80.02%;
    width: 59.17%;
    height: 1.886%;
    text-align: right;
  }

  .pdf-obj-0-35 {
    font-size: 12.000000px;
    left: 9.917%;
    top: 81.85%;
    width: 59.25%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-36 {
    font-size: 12.000000px;
    left: 9.833%;
    top: 83.79%;
    width: 59.25%;
    height: 1.827%;
    text-align: right;
  }

  .pdf-obj-0-37 {
    font-size: 12.000000px;
    left: 69.17%;
    top: 78.26%;
    width: 14.25%;
    height: 1.768%;
    text-align: right;
  }

  .pdf-obj-0-38 {
    font-size: 12.000000px;
    left: 69.08%;
    top: 79.96%;
    width: 14.33%;
    height: 1.827%;
    text-align: right;
  }

  .pdf-obj-0-39 {
    font-size: 12.000000px;
    left: 69.08%;
    top: 81.85%;
    width: 14.25%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-40 {
    font-size: 12.000000px;
    left: 69%;
    top: 83.85%;
    width: 14.33%;
    height: 1.709%;
    text-align: right;
  }

  .pdf-obj-0-41 {
    font-size: 12.000000px;
    left: 83.33%;
    top: 78.2%;
    width: 14.33%;
    height: 1.709%;
    text-align: right;
  }

  .pdf-obj-0-42 {
    font-size: 12.000000px;
    left: 83.33%;
    top: 79.96%;
    width: 14.42%;
    height: 1.827%;
    text-align: right;
  }

  .pdf-obj-0-43 {
    font-size: 12.000000px;
    left: 83.5%;
    top: 81.79%;
    width: 14.33%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-44 {
    font-size: 12.000000px;
    left: 83.42%;
    top: 83.85%;
    width: 14.42%;
    height: 1.768%;
    text-align: right;
  }

  .pdf-obj-0-45 {
    font-size: 12.000000px;
    left: 9.833%;
    top: 87.8%;
    width: 59.17%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-46 {
    font-size: 12.000000px;
    left: 9.917%;
    top: 89.69%;
    width: 59.08%;
    height: 2.121%;
    text-align: right;
  }

  .pdf-obj-0-47 {
    font-size: 12.000000px;
    left: 9.833%;
    top: 91.81%;
    width: 59.33%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-48 {
    font-size: 12.000000px;
    left: 9.833%;
    top: 93.81%;
    width: 59.17%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-49 {
    font-size: 12.000000px;
    left: 69%;
    top: 87.8%;
    width: 14.33%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-50 {
    font-size: 12.000000px;
    left: 69.08%;
    top: 89.81%;
    width: 14.42%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-51 {
    font-size: 12.000000px;
    left: 69.08%;
    top: 91.81%;
    width: 14.42%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-52 {
    font-size: 12.000000px;
    left: 69.17%;
    top: 93.93%;
    width: 14.33%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-53 {
    font-size: 12.000000px;
    left: 83.42%;
    top: 87.86%;
    width: 14.25%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-54 {
    font-size: 12.000000px;
    left: 83.42%;
    top: 89.69%;
    width: 14.25%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-55 {
    font-size: 12.000000px;
    left: 83.42%;
    top: 91.81%;
    width: 14.25%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-56 {
    font-size: 12.000000px;
    left: 83.5%;
    top: 93.81%;
    width: 14.25%;
    height: 2.004%;
    text-align: right;
  }

  .obj_57 {
    left: 22.92%;
    top: 9.605%;
    width: 65.17%;
    height: 1.768%;
    font-size: 12.000000px;
  }

  .pdf-page input {
    padding-right: 7px;
  }

  .pdf-page input.pde-form-field-text {
    text-align: left;
    padding-left: 7px;
  }
}
