.pdfContainer {
  overflow-x: auto;

  .pdf {
    transform-origin: top left;
    min-width: 1200px;
  }
}

.cycleHeaderWrap {
  position: sticky;
  top: 46px;
  z-index: 1;
}

.tabs {
  background-color: #f5f5f5;
}
