div.dialog {
  position: relative;
  min-width: 800px;

  .title {
    font-size: 24px;
  }

  .close {
    position: absolute;
    top: 12px;
    right: 12px;
  }

  .tab {
    font-size: 14px;
    font-family: basier_circlemedium;
    text-transform: none;
  }

  .content {
    margin: 0 12px;
  }

  .actions {
    justify-content: flex-start;

    padding: 0 16px 16px 16px;
  }
}
