.form-tax-declaration-2059f {
  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: block;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page input {
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
     text-align: center
   }

  .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    padding: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page input {
    text-align: right;
    padding-right: 7px;
  }

  .pdf-page input.pde-form-field-text {
    text-align: left;
    padding-left: 7px;
  }

  .pdf-page-0 {
    width: 1200px;
    height: 1697px;
    background-image: url(page0.jpg);
  }

  .obj_1 {
    left: 95.67%;
    top: 10.78%;
    width: 2.25%;
    height: 1.591%;
    margin: 0px 0px 0px 0px;
  }

  .obj_2 {
    left: 18.58%;
    top: 34.77%;
    width: 11.25%;
    height: 1.179%;
    font-size: 12.000000px;
  }

  .obj_3 {
    left: 21.42%;
    top: 38.66%;
    width: 6.083%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_4 {
    left: 27.42%;
    top: 38.6%;
    width: 6.083%;
    height: 1.237%;
    font-size: 12.000000px;
  }

  .obj_5 {
    left: 26.5%;
    top: 40.54%;
    width: 8.833%;
    height: 1.237%;
    font-size: 12.000000px;
  }

  .obj_6 {
    left: 30.25%;
    top: 36.54%;
    width: 18.42%;
    height: 1.591%;
    font-size: 12.000000px;
  }

  .obj_7 {
    left: 40.67%;
    top: 38.54%;
    width: 7.583%;
    height: 1.355%;
    font-size: 12.000000px;
  }

  .obj_8 {
    left: 41.33%;
    top: 34.77%;
    width: 55.17%;
    height: 1.179%;
    font-size: 12.000000px;
  }

  .obj_9 {
    left: 66.58%;
    top: 36.77%;
    width: 4.833%;
    height: 1.12%;
    font-size: 12.000000px;
  }

  .obj_10 {
    left: 45.08%;
    top: 40.54%;
    width: 25.25%;
    height: 1.237%;
    font-size: 12.000000px;
  }

  .obj_11 {
    left: 48.17%;
    top: 38.66%;
    width: 48.25%;
    height: 1.12%;
    font-size: 12.000000px;
  }

  .obj_12 {
    left: 87.67%;
    top: 36.65%;
    width: 8.667%;
    height: 1.414%;
    font-size: 12.000000px;
  }

  .obj_13 {
    left: 76.75%;
    top: 40.54%;
    width: 19.67%;
    height: 1.179%;
    font-size: 12.000000px;
  }

  .obj_14 {
    left: 18.58%;
    top: 43.31%;
    width: 11.25%;
    height: 1.179%;
    font-size: 12.000000px;
  }

  .obj_15 {
    left: 21.42%;
    top: 47.26%;
    width: 6.083%;
    height: 1.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_16 {
    left: 27.42%;
    top: 47.14%;
    width: 6.083%;
    height: 1.296%;
    font-size: 12.000000px;
  }

  .obj_17 {
    left: 26.5%;
    top: 49.15%;
    width: 8.833%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_18 {
    left: 30.25%;
    top: 45.14%;
    width: 18.42%;
    height: 1.591%;
    font-size: 12.000000px;
  }

  .obj_19 {
    left: 40.67%;
    top: 47.14%;
    width: 7.583%;
    height: 1.355%;
    font-size: 12.000000px;
  }

  .obj_20 {
    left: 41.33%;
    top: 43.31%;
    width: 55.17%;
    height: 1.179%;
    font-size: 12.000000px;
  }

  .obj_21 {
    left: 66.58%;
    top: 45.32%;
    width: 4.833%;
    height: 1.179%;
    font-size: 12.000000px;
  }

  .obj_22 {
    left: 45.08%;
    top: 49.15%;
    width: 25.25%;
    height: 1.237%;
    font-size: 12.000000px;
  }

  .obj_23 {
    left: 48.17%;
    top: 47.26%;
    width: 48.25%;
    height: 1.061%;
    font-size: 12.000000px;
  }

  .obj_24 {
    left: 87.67%;
    top: 45.26%;
    width: 8.667%;
    height: 1.355%;
    font-size: 12.000000px;
  }

  .obj_25 {
    left: 76.75%;
    top: 49.15%;
    width: 19.67%;
    height: 1.179%;
    font-size: 12.000000px;
  }

  .obj_26 {
    left: 18.67%;
    top: 52.03%;
    width: 11.25%;
    height: 1.179%;
    font-size: 12.000000px;
  }

  .obj_27 {
    left: 21.5%;
    top: 55.92%;
    width: 6.083%;
    height: 1.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_28 {
    left: 27.5%;
    top: 55.8%;
    width: 6.167%;
    height: 1.296%;
    font-size: 12.000000px;
  }

  .obj_29 {
    left: 26.58%;
    top: 57.81%;
    width: 8.917%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_30 {
    left: 30.33%;
    top: 53.8%;
    width: 18.42%;
    height: 1.591%;
    font-size: 12.000000px;
  }

  .obj_31 {
    left: 40.75%;
    top: 55.8%;
    width: 7.583%;
    height: 1.355%;
    font-size: 12.000000px;
  }

  .obj_32 {
    left: 41.42%;
    top: 52.03%;
    width: 55.17%;
    height: 1.179%;
    font-size: 12.000000px;
  }

  .obj_33 {
    left: 66.67%;
    top: 54.04%;
    width: 4.833%;
    height: 1.12%;
    font-size: 12.000000px;
  }

  .obj_34 {
    left: 45.17%;
    top: 57.81%;
    width: 25.25%;
    height: 1.237%;
    font-size: 12.000000px;
  }

  .obj_35 {
    left: 48.25%;
    top: 55.92%;
    width: 48.25%;
    height: 1.061%;
    font-size: 12.000000px;
  }

  .obj_36 {
    left: 87.75%;
    top: 53.92%;
    width: 8.667%;
    height: 1.414%;
    font-size: 12.000000px;
  }

  .obj_37 {
    left: 76.92%;
    top: 57.81%;
    width: 19.58%;
    height: 1.179%;
    font-size: 12.000000px;
  }

  .obj_38 {
    left: 18.5%;
    top: 60.58%;
    width: 11.25%;
    height: 1.179%;
    font-size: 12.000000px;
  }

  .obj_39 {
    left: 21.33%;
    top: 64.47%;
    width: 6.083%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_40 {
    left: 27.33%;
    top: 64.41%;
    width: 6.167%;
    height: 1.237%;
    font-size: 12.000000px;
  }

  .obj_41 {
    left: 26.42%;
    top: 66.41%;
    width: 8.917%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_42 {
    left: 30.17%;
    top: 62.4%;
    width: 18.42%;
    height: 1.532%;
    font-size: 12.000000px;
  }

  .obj_43 {
    left: 40.58%;
    top: 64.41%;
    width: 7.583%;
    height: 1.179%;
    font-size: 12.000000px;
  }

  .obj_44 {
    left: 41.25%;
    top: 60.58%;
    width: 55.17%;
    height: 1.179%;
    font-size: 12.000000px;
  }

  .obj_45 {
    left: 66.5%;
    top: 62.58%;
    width: 4.833%;
    height: 1.12%;
    font-size: 12.000000px;
  }

  .obj_46 {
    left: 45%;
    top: 66.41%;
    width: 25.25%;
    height: 1.179%;
    font-size: 12.000000px;
  }

  .obj_47 {
    left: 48.08%;
    top: 64.47%;
    width: 48.25%;
    height: 1.12%;
    font-size: 12.000000px;
  }

  .obj_48 {
    left: 87.58%;
    top: 62.52%;
    width: 8.667%;
    height: 1.414%;
    font-size: 12.000000px;
  }

  .obj_49 {
    left: 76.75%;
    top: 66.41%;
    width: 19.58%;
    height: 1.179%;
    font-size: 12.000000px;
  }

  .obj_50 {
    left: 14.42%;
    top: 71.42%;
    width: 8.667%;
    height: 1.237%;
    font-size: 12.000000px;
  }

  .obj_51 {
    left: 37.67%;
    top: 71.42%;
    width: 28.33%;
    height: 1.296%;
    font-size: 12.000000px;
  }

  .obj_52 {
    left: 22.25%;
    top: 73.13%;
    width: 32.5%;
    height: 1.237%;
    font-size: 12.000000px;
  }

  .obj_53 {
    left: 22.33%;
    top: 75.25%;
    width: 8.75%;
    height: 1.061%;
    font-size: 12.000000px;
  }

  .obj_54 {
    left: 21.42%;
    top: 77.14%;
    width: 5.833%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_55 {
    left: 27.33%;
    top: 77.14%;
    width: 6.917%;
    height: 1.12%;
    font-size: 12.000000px;
  }

  .obj_56 {
    left: 26.33%;
    top: 79.08%;
    width: 8.917%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_57 {
    left: 40.42%;
    top: 77.02%;
    width: 8.167%;
    height: 1.179%;
    font-size: 12.000000px;
  }

  .obj_58 {
    left: 44%;
    top: 75.25%;
    width: 4.333%;
    height: 1.12%;
    font-size: 12.000000px;
  }

  .obj_59 {
    left: 45.08%;
    top: 79.14%;
    width: 25.33%;
    height: 1.061%;
    font-size: 12.000000px;
  }

  .obj_60 {
    left: 48.67%;
    top: 77.14%;
    width: 47.75%;
    height: 1.179%;
    font-size: 12.000000px;
  }

  .obj_61 {
    left: 57.83%;
    top: 75.13%;
    width: 12.67%;
    height: 1.179%;
    font-size: 12.000000px;
  }

  .obj_62 {
    left: 66.67%;
    top: 73.31%;
    width: 4.667%;
    height: 1.179%;
    font-size: 12.000000px;
  }

  .obj_63 {
    left: 75.5%;
    top: 71.54%;
    width: 20.92%;
    height: 1.179%;
    font-size: 12.000000px;
  }

  .obj_64 {
    left: 87.67%;
    top: 73.31%;
    width: 8.833%;
    height: 1.179%;
    font-size: 12.000000px;
  }

  .obj_65 {
    left: 76.83%;
    top: 75.19%;
    width: 19.58%;
    height: 1.179%;
    font-size: 12.000000px;
  }

  .obj_66 {
    left: 76.83%;
    top: 79.08%;
    width: 19.58%;
    height: 1.237%;
    font-size: 12.000000px;
  }

  .obj_67 {
    left: 14.5%;
    top: 81.91%;
    width: 8.583%;
    height: 1.179%;
    font-size: 12.000000px;
  }

  .obj_68 {
    left: 37.67%;
    top: 81.85%;
    width: 28.42%;
    height: 1.237%;
    font-size: 12.000000px;
  }

  .obj_69 {
    left: 75.58%;
    top: 81.97%;
    width: 20.83%;
    height: 1.12%;
    font-size: 12.000000px;
  }

  .obj_70 {
    left: 87.67%;
    top: 83.74%;
    width: 8.917%;
    height: 1.179%;
    font-size: 12.000000px;
  }

  .obj_71 {
    left: 76.92%;
    top: 85.62%;
    width: 19.5%;
    height: 1.179%;
    font-size: 12.000000px;
  }

  .obj_72 {
    left: 66.75%;
    top: 83.74%;
    width: 4.667%;
    height: 1.179%;
    font-size: 12.000000px;
  }

  .obj_73 {
    left: 57.92%;
    top: 85.56%;
    width: 12.67%;
    height: 1.179%;
    font-size: 12.000000px;
  }

  .obj_74 {
    left: 22.33%;
    top: 83.56%;
    width: 32.42%;
    height: 1.296%;
    font-size: 12.000000px;
  }

  .obj_75 {
    left: 22.33%;
    top: 85.62%;
    width: 8.833%;
    height: 1.12%;
    font-size: 12.000000px;
  }

  .obj_76 {
    left: 21.42%;
    top: 87.63%;
    width: 5.917%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_77 {
    left: 27.42%;
    top: 87.63%;
    width: 6.917%;
    height: 1.061%;
    font-size: 12.000000px;
  }

  .obj_78 {
    left: 26.33%;
    top: 89.51%;
    width: 9%;
    height: 1.179%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_79 {
    left: 40.5%;
    top: 87.51%;
    width: 8.167%;
    height: 1.179%;
  }

  .obj_80 {
    left: 45.17%;
    top: 89.57%;
    width: 25.33%;
    height: 1.12%;
    font-size: 12.000000px;
  }

  .obj_81 {
    left: 48.67%;
    top: 87.63%;
    width: 47.75%;
    height: 1.12%;
    font-size: 12.000000px;
  }

  .obj_82 {
    left: 76.92%;
    top: 89.51%;
    width: 19.5%;
    height: 1.237%;
    font-size: 12.000000px;
  }

  .obj_83 {
    left: 44%;
    top: 85.56%;
    width: 4.333%;
    height: 1.12%;
    font-size: 12.000000px;
  }

  .obj_84 {
    left: 30%;
    top: 19.39%;
    width: 67.92%;
    height: 1.12%;
    font-size: 12.000000px;
    text-align: left !important;
  }

  .obj_85 {
    left: 18%;
    top: 24.1%;
    width: 27.5%;
    height: 1.237%;
    text-align: left !important;
  }

  .obj_86 {
    left: 52%;
    top: 24.16%;
    width: 45.67%;
    height: 1.296%;
    text-align: left !important;
  }

  .obj_87 {
    left: 18.5%;
    top: 21.69%;
    width: 4.083%;
    height: 1.237%;
    font-size: 12.000000px;
    padding-left: 5px !important;
    text-align: left !important;
  }

  .obj_88 {
    left: 22.5%;
    top: 21.69%;
    width: 8.583%;
    height: 1.237%;
    text-align: left !important;
  }

  .obj_89 {
    left: 31.17%;
    top: 21.69%;
    width: 18.58%;
    height: 1.237%;
    text-align: left !important;
  }

  .obj_92 {
    left: 69%;
    top: 16.85%;
    width: 28.58%;
    height: 1.532%;
    font-size: 12.000000px;
    text-align: center !important;
  }

  .obj_93 {
    left: 21.17%;
    top: 17.03%;
    width: 16.33%;
    height: 1.296%;
    font-size: 12.000000px;
  }

  .obj_94 {
    left: 54%;
    top: 26.93%;
    width: 4.333%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_95 {
    left: 54%;
    top: 29.82%;
    width: 4.333%;
    height: 1.709%;
    text-align: right;
  }

  .obj_96 {
    left: 93%;
    top: 26.93%;
    width: 4.5%;
    height: 1.709%;
    text-align: right;
  }

  .obj_97 {
    left: 93%;
    top: 29.82%;
    width: 4.5%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

}

