.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow: auto;

  [contenteditable=true]:empty:before{
    content: attr(placeholder);
    color: rgba(0, 0, 0, 0.54);
    padding: 2px;
    display: block; /* For Firefox */
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
  input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
  }
  input[type=date]::-webkit-datetime-edit:invalid {
    color: rgba(0, 0, 0, 0.54);
  }
  input {
    font-family: 'basier_circleregular';
    font-size: 12px;
    width: 100%;
    border: none;
    outline-width: 0;
  }
}

.page {
  min-height: 903px;
  display: flex;
  flex-direction: column;
  padding-right: 25px;
}

.editor {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: solid 1px #d0d0d0;
  padding: 30px;
}

.footer {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letterHeader {
  display: flex;
  flex-direction: row;
  min-height: 327px;
}

.letterHeaderLeft {
  width: 318px;
}

.letterHeaderRight {
  flex: 1;
}

.letterEditor {
  flex: 1;
  max-height: 100%;
}

.letterObject {
  min-height: 32px;
  padding-left: 2px;
  border: 1px dashed #d0d0d0;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.letterFooter {
  height: 80px;
}

.logo {
  width: 150px;
  height: 80px;
}

.dashed {
  margin-top: 34px;
  border: 1px dashed #d0d0d0;
}

.smallText {
  font-size: 9px;
  font-family: 'basier_circleregular';
}

.destInfo {
  margin-top: 10px;
  min-height: 107px;
  border: 1px dashed #d0d0d0;
}

.date {
  margin-top: 34px;
  height: 28px;
  border: 1px dashed #d0d0d0;
  margin-bottom: 8px;
  padding-right: 2px;
  display: flex;
  align-items: center;
}