@import "assets/colors/colors.scss";

.container {
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: $light-grey;
  margin : 26px 29px 20px 0;
}

.selectedRows {
  padding-left: 10px;
}

.accountNumber {
  margin : 26px 29px 20px 20px;
}

.accountNumberField {
  width: 250px
}