.tax2035E {
  input {
    padding: 6px;
  }

  input[type="date"] {
    letter-spacing: 25px;
    padding-right: 0;
  }

  .pdf-gray-bg {
    background-color: #AAA
  }

  .pdf-page {
    border-bottom: 1px solid #AAA
  }

  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #AAA
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: flex;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-inner img {
    width: 100%
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%;
    position: absolute
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    margin: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page-1 {
    width: 1200px;
    height: 1697px;
    background-image: url(page0.jpg);
  }

  .pdf-obj-0-1 {
    margin: 0px 0px 0px 0px;
    left: 95.25%;
    top: 6.836%;
    width: 1.75%;
    height: 1.12%;
  }

  .pdf-obj-0-2 {
    font-size: 12.000000px;
    left: 69%;
    top: 24.16%;
    width: 28%;
    height: 2.711%;
    text-align: right;
  }

  .pdf-obj-0-3 {
    font-size: 12.000000px;
    left: 69%;
    top: 26.93%;
    width: 28%;
    height: 2.18%;
    text-align: right;
  }

  .pdf-obj-0-4 {
    font-size: 12.000000px;
    left: 69%;
    top: 29.17%;
    width: 28%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-5 {
    font-size: 12.000000px;
    left: 69%;
    top: 31.41%;
    width: 28%;
    height: 2.121%;
    text-align: right;
  }

  .pdf-obj-0-6 {
    font-size: 12.000000px;
    left: 69%;
    top: 33.71%;
    width: 28%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-7 {
    font-size: 12.000000px;
    left: 69%;
    top: 38.19%;
    width: 28%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-8 {
    font-size: 12.000000px;
    left: 69%;
    top: 40.31%;
    width: 28%;
    height: 2.239%;
    text-align: right;
  }

  .pdf-obj-0-9 {
    font-size: 12.000000px;
    left: 69%;
    top: 42.6%;
    width: 28%;
    height: 2.18%;
    text-align: right;
  }

  .pdf-obj-0-10 {
    font-size: 12.000000px;
    left: 69%;
    top: 44.84%;
    width: 28%;
    height: 3.3%;
    text-align: right;
  }

  .pdf-obj-0-11 {
    font-size: 12.000000px;
    left: 69%;
    top: 48.32%;
    width: 28%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-12 {
    font-size: 12.000000px;
    left: 69%;
    top: 50.56%;
    width: 28%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-13 {
    font-size: 12.000000px;
    left: 69%;
    top: 52.8%;
    width: 28%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-14 {
    font-size: 12.000000px;
    left: 69%;
    top: 54.92%;
    width: 28%;
    height: 2.475%;
    text-align: right;
  }

  .pdf-obj-0-15 {
    font-size: 12.000000px;
    left: 69%;
    top: 57.45%;
    width: 28%;
    height: 4.125%;
    text-align: right;
  }

  .pdf-obj-0-16 {
    font-size: 12.000000px;
    left: 69%;
    top: 61.76%;
    width: 28%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-17 {
    font-size: 12.000000px;
    left: 69%;
    top: 68.36%;
    width: 28%;
    height: 2.239%;
    text-align: right;
  }

  .pdf-obj-0-18 {
    font-size: 12.000000px;
    left: 69%;
    top: 63.88%;
    width: 28%;
    height: 2.18%;
    text-align: right;
  }

  .pdf-obj-0-19 {
    font-size: 12.000000px;
    left: 69%;
    top: 72.54%;
    width: 28%;
    height: 2.534%;
    text-align: right;
  }

  .pdf-obj-0-20 {
    margin: 0px 0px 0px 0px;
    left: 46.67%;
    top: 80.26%;
    width: 2.417%;
    height: 1.827%;
  }

  .pdf-obj-0-21 {
    font-size: 12.000000px;
    left: 70.17%;
    top: 82.14%;
    width: 26.67%;
    height: 1.827%;
    text-align: right;
  }

  .pdf-obj-0-22 {
    font-size: 12.000000px;
    left: 70.17%;
    top: 84.15%;
    width: 26.67%;
    height: 1.709%;
    text-align: right;
  }

  .pdf-obj-0-23 {
    font-size: 12.000000px;
    left: 39.08%;
    top: 86.39%;
    width: 30.5%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-24 {
    font-size: 12.000000px;
    left: 69.5%;
    top: 88.27%;
    width: 30.5%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-25 {
    font-size: 12.000000px;
    left: 69.5%;
    top: 86.45%;
    width: 30.5%;
    height: 2.004%;
    text-align: right;
  }

  .obj_26 {
    left: 21.83%;
    top: 17.62%;
    width: 16.83%;
    height: 1.768%;
  }

  .obj_27 {
    left: 45.33%;
    top: 17.62%;
    width: 49.92%;
    height: 1.768%;
  }

  .obj_28 {
    left: 28.5%;
    top: 16.09%;
    width: 4.083%;
    height: 1.414%;
    font-size: 12.000000px;
  }

  .obj_29 {
    left: 32.5%;
    top: 16.09%;
    width: 8.583%;
    height: 1.414%;
  }

  .obj_30 {
    left: 41.08%;
    top: 16.09%;
    width: 18.58%;
    height: 1.414%;
  }

  .obj_31 {
    left: 42.5%;
    top: 13.79%;
    width: 52.92%;
    height: 1.65%;
    font-size: 12.000000px;
  }

  .obj_32 {
    left: 67.17%;
    top: 11.61%;
    width: 28.33%;
    height: 1.532%;
  }

  .obj_33 {
    left: 63%;
    top: 20.27%;
    width: 14.5%;
    height: 1.827%;
  }

  .obj_34 {
    left: 83.08%;
    top: 20.27%;
    width: 13.83%;
    height: 1.827%;
  }

  .pdf-page input {
    text-align: right;
    padding-right: 7px;
  }

  .pdf-page input.pde-form-field-text {
    text-align: left;
    padding-left: 7px;
  }
}
