@import "assets/colors/colors.scss"; //TODO: Load colors for all

.entryArray__tableCell {
  &-alignRight {
    text-align: right;
  }
}
.entryArray__row {
  // background-color: $light-grey; //TODO: See with candice if white is fine
}

.entryArray__tableCell_numberContainer {
  border: solid 1px $color-primary;
}

.entryArray__iconPlus {
  font-size: 10px;
  background-color: #d8d8d8;
  border-radius: 50%
}
