@import "assets/colors/colors.scss";

.container {
    height: 60px;
    margin: 0 20px 0 20px;
    background-color: $light-grey;
    display: flex;
    align-items: center;
    font-size: 14px;

    .toolbar {
        margin-right: 10px;
    }

    div:first-child {
        margin-left: 20px;
        font-weight: 600;
    }
}

.checkbox {
    color: #f6c344 !important;
}