
.currentEditionsFilters {
  display: flex;

  .currentEditionsFiltersAutocomplete {
    margin-right: 20px;
  }

  .currentEditionsFiltersResetButton {
    align-self: center;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    outline: 0;
    font-size: 14px;
  }

  .currentEditionsFiltersSituationWrites {
    align-self: center;
  }

  .currentEditionsFiltersSaveButton {
    align-self: center;
    padding: 8px;
    min-width: initial;
    margin-right: 30px;
  }
}