@import "assets/colors/colors.scss";

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  & > div, & > button {
    margin-right: 10px;
  }
}

.container {
  height: auto;
  border-radius: 0px 2px 2px 2px;
  box-shadow: 2px 2px 4px 0 $box-shadow;
  background-color: $white;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
  background-color: $white;
}

.buttons {
  min-width: 95px;
}

.mainContent {
  width: 100%;
}

.stepperTabs {
  margin-right: 40px;
  cursor: pointer;
}

.stepperTabsSelected {
  border-bottom: 2px solid $color-primary;
  margin-top: 12px;
  transition: 0.3s ease all;
}

.stepperTabsNotSelected {
  border-bottom: 2px solid $white;
  margin-top: 12px;
}
