@import "assets/colors/colors.scss";

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  padding: 20px;
  background-color: $white;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  button {
      margin-bottom: 8px;
    }

    & > div, & > button {
        margin-right: 10px;
    }
}

.loader {
  margin: 10px
}

.textDate {
  margin: 12px;
}

.month {
    width: 40px;
}

.year {
    width: 52px;
}

.bank {
    width: 80px;
}

.accountNumber {
    width: 100px;
}

.countSold {
    width: 150px;
}

.datePicker {
  margin-bottom: 8px;
  min-width: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gap {
    width: 150px;
}

.filterButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 30px;
}
