@import 'assets/colors/colors.scss';

.container {
  height: 100%;

  display: flex;

  .leftContainer {
    display: flex;
    flex-direction: column;

    flex: 6;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-bottom: 8px;

      padding-left: 20px;
      padding-right: 20px;
    }

    .loader {
      flex: 1;
    }

    .comments {
      overflow-y: auto;

      .comment {
        padding-left: 16px;

        .subHeader {
          display: flex;

          padding: 4px 8px;

          &:hover {
            background-color: rgba(0, 0, 0, .05);
          }

          > h4 {
            margin-top: auto;
            margin-bottom: auto;
          }

          > button {
            margin: -4px 2px -4px -4px;
            padding: 8px
          }
        }
      }
    }
  }

  .rightContainer {
    min-width: 470px;
    flex: 4;

    margin-top: 44.5px;
    padding-left: 20px;

    border-left: 1px $grey solid;
    overflow: auto;

    > *:not(:first-child) {
      margin-top: 20px;
    }
  }
}

.grow {
  flex: 1;
}

.addEditor {
  width: calc(100% - 24px);
  margin: 0 12px;
}

button.addButton {
  color: black;
}
