.form-tax-declaration-2033d {
  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: block;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page input {
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    padding: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page-0 {
    width: 1200px;
    height: 1552px;
    background-image: url(page0.jpg);
  }

  .obj_1 {
    left: 90.92%;
    top: 11.15%;
    width: 2.083%;
    height: 1.482%;
    margin: 0px 0px 0px 0px;
  }

  .obj_2 {
    left: 35.58%;
    top: 21.07%;
    width: 12.67%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_3 {
    left: 51.08%;
    top: 21.07%;
    width: 12.5%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_4 {
    left: 66.5%;
    top: 21.07%;
    width: 12.58%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_5 {
    left: 82%;
    top: 21.07%;
    width: 12.67%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_6 {
    left: 35.58%;
    top: 23.2%;
    width: 12.67%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_7 {
    left: 51.08%;
    top: 23.2%;
    width: 12.5%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_8 {
    left: 66.5%;
    top: 23.2%;
    width: 12.58%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_9 {
    left: 82%;
    top: 23.2%;
    width: 12.67%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_10 {
    left: 35.58%;
    top: 25.32%;
    width: 12.67%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_11 {
    left: 51.08%;
    top: 25.32%;
    width: 12.5%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_12 {
    left: 66.5%;
    top: 25.32%;
    width: 12.58%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_13 {
    left: 82%;
    top: 25.32%;
    width: 12.67%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_14 {
    left: 35.58%;
    top: 27.38%;
    width: 12.67%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_15 {
    left: 51.08%;
    top: 27.38%;
    width: 12.5%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_16 {
    left: 66.5%;
    top: 27.38%;
    width: 12.58%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_17 {
    left: 82%;
    top: 27.38%;
    width: 12.67%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_18 {
    left: 35.58%;
    top: 29.64%;
    width: 12.67%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_19 {
    left: 51.08%;
    top: 29.64%;
    width: 12.5%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_20 {
    left: 66.5%;
    top: 29.64%;
    width: 12.58%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_21 {
    left: 82%;
    top: 29.64%;
    width: 12.67%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_22 {
    left: 35.58%;
    top: 31.77%;
    width: 12.67%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_23 {
    left: 51.08%;
    top: 31.77%;
    width: 12.5%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_24 {
    left: 66.5%;
    top: 31.77%;
    width: 12.58%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_25 {
    left: 82%;
    top: 31.77%;
    width: 12.67%;
    height: 1.869%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_26 {
    left: 35.58%;
    top: 33.83%;
    width: 12.67%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_27 {
    left: 51.08%;
    top: 33.83%;
    width: 12.5%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_28 {
    left: 66.5%;
    top: 33.83%;
    width: 12.58%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_29 {
    left: 82%;
    top: 33.83%;
    width: 12.67%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_30 {
    left: 35.58%;
    top: 36.08%;
    width: 12.67%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_31 {
    left: 51.08%;
    top: 36.08%;
    width: 12.5%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_32 {
    left: 66.5%;
    top: 36.08%;
    width: 12.58%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_33 {
    left: 82%;
    top: 36.08%;
    width: 12.67%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_34 {
    left: 35.58%;
    top: 38.08%;
    width: 12.67%;
    height: 1.997%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_35 {
    left: 51.08%;
    top: 38.08%;
    width: 12.5%;
    height: 1.997%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_36 {
    left: 66.5%;
    top: 38.08%;
    width: 12.58%;
    height: 1.997%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_37 {
    left: 82%;
    top: 38.08%;
    width: 12.67%;
    height: 1.997%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_38 {
    left: 21.25%;
    top: 44.52%;
    width: 12.75%;
    height: 1.997%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_39 {
    left: 36.58%;
    top: 44.52%;
    width: 13%;
    height: 1.997%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_40 {
    left: 21.25%;
    top: 46.71%;
    width: 12.75%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_41 {
    left: 36.58%;
    top: 46.71%;
    width: 13%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_42 {
    left: 21.25%;
    top: 48.84%;
    width: 12.75%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_43 {
    left: 36.58%;
    top: 48.84%;
    width: 13%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_44 {
    left: 21.25%;
    top: 50.97%;
    width: 12.75%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_45 {
    left: 36.58%;
    top: 50.97%;
    width: 13%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_46 {
    left: 21.25%;
    top: 53.09%;
    width: 12.75%;
    height: 1.997%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_47 {
    left: 36.58%;
    top: 53.09%;
    width: 13%;
    height: 1.997%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_48 {
    left: 21.25%;
    top: 55.28%;
    width: 12.75%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_49 {
    left: 36.58%;
    top: 55.28%;
    width: 13%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_50 {
    left: 21.25%;
    top: 57.41%;
    width: 12.75%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_51 {
    left: 36.58%;
    top: 57.41%;
    width: 13%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_52 {
    left: 21.25%;
    top: 59.41%;
    width: 12.75%;
    height: 2.126%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_53 {
    left: 36.58%;
    top: 59.41%;
    width: 13%;
    height: 2.126%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_54 {
    left: 54.25%;
    top: 46.71%;
    width: 27.17%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_55 {
    left: 54.25%;
    top: 48.84%;
    width: 27.17%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_56 {
    left: 54.25%;
    top: 50.97%;
    width: 27.17%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_57 {
    left: 54.25%;
    top: 52.96%;
    width: 27.17%;
    height: 2.126%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_58 {
    left: 54.25%;
    top: 55.28%;
    width: 27.17%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_59 {
    left: 54.25%;
    top: 57.41%;
    width: 27.17%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_60 {
    left: 81.67%;
    top: 44.52%;
    width: 13%;
    height: 2.126%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_61 {
    left: 81.67%;
    top: 46.71%;
    width: 13%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_62 {
    left: 81.67%;
    top: 48.84%;
    width: 13%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_63 {
    left: 81.67%;
    top: 50.97%;
    width: 13%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_64 {
    left: 81.67%;
    top: 52.96%;
    width: 13%;
    height: 2.126%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_65 {
    left: 81.67%;
    top: 55.28%;
    width: 13%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_66 {
    left: 81.67%;
    top: 57.41%;
    width: 13%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_67 {
    left: 81.67%;
    top: 59.41%;
    width: 13%;
    height: 2.126%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_68 {
    left: 42.08%;
    top: 64.76%;
    width: 8.417%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_69 {
    left: 42.08%;
    top: 68.81%;
    width: 8.417%;
    height: 2.964%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_70 {
    left: 42.08%;
    top: 66.75%;
    width: 8.417%;
    height: 1.997%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_71 {
    left: 42.08%;
    top: 71.84%;
    width: 8.417%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_72 {
    left: 87.33%;
    top: 64.76%;
    width: 7.333%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_73 {
    left: 42.08%;
    top: 73.97%;
    width: 8.417%;
    height: 2.964%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_74 {
    left: 87.33%;
    top: 66.75%;
    width: 7.333%;
    height: 1.997%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_75 {
    left: 79.83%;
    top: 80.15%;
    width: 14.83%;
    height: 1.997%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_76 {
    left: 79.83%;
    top: 82.28%;
    width: 14.83%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_77 {
    left: 79.83%;
    top: 86.6%;
    width: 14.83%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_78 {
    left: 79.67%;
    top: 84.41%;
    width: 15.17%;
    height: 2.126%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_79 {
    left: 79.83%;
    top: 88.72%;
    width: 14.83%;
    height: 1.933%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_80 {
    left: 79.83%;
    top: 90.85%;
    width: 14.83%;
    height: 1.997%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_81 {
    left: 79.83%;
    top: 92.91%;
    width: 14.83%;
    height: 2.062%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_82 {
    left: 79.83%;
    top: 95.17%;
    width: 14.83%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_83 {
    left: 26.33%;
    top: 11.21%;
    width: 59.25%;
    height: 1.289%;
    font-size: 12.000000px;
  }

  .pdf-page input {
    text-align: right;
    padding-right: 7px;
  }

  .pdf-page input.pde-form-field-text {
    text-align: left;
    padding-left: 7px;
  }
}