@import "assets/colors/colors.scss";

.headerContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.btnControlContainer {
  display: flex;
  align-items: center;
}

.container {
  padding: 20px;
  background-color: $white;
}

.headerButtonContainer {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}
