
.container {
  position: relative;
}

.reduxError {
  width: 200px;
}

.fullWidth {
  width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}
input[type="date"]::-webkit-datetime-edit:invalid {
  color: rgba(0, 0, 0, 0.54);
}


input[type="date"]::-webkit-datetime-edit{ color: transparent; }
input[type="date"]:valid::-webkit-datetime-edit{ color: #000; }
input[type="date"]:focus::-webkit-datetime-edit{ color: #000; }

