 .container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.dropperContainer {
  width: 556px;
  height: 120px;
}

.tableContainer {
  margin-right: 20px;
}