// fixed in-messages html styles


.messageImage {
  width: 100%;
}

.messageSmileImage {
  width: 1em;
  text-align: right; /* to show cursor */
  color: rgba(0, 0, 0, 0); /* don't show text smile */
  background-repeat: no-repeat;
  background-size: contain;
  /* vertical-align: middle; */
  display: inline-block; /* make icons like ♥ full-sized */
}
