@import "assets/colors/colors.scss";

.document {
  height: 200px;
  width: 150px;

  display: flex;
  flex-direction: column;

  .thumbnail {
    height: 158px;
    width: 118px;

    margin: auto;
    padding: 5px;

    border: 1px solid $grey;
    border-radius: 4px;
  }

  .name {
    margin-top: 5px;
  }
}
