@import 'assets/colors/colors.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  :global .icon-check {
    color: $color-primary;
  }

  :global .icon-progress {
    color: $color-tertiary;
  }

  :global .icon-close {
    color: $color-error;
  }
}
