.form-tax-declaration-2033b {
  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: block;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page input {
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    padding: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page-0 {
    width: 1200px;
    height: 1697px;
    background-image: url(page0.jpg);
  }

  .obj_1 {
    left: 89.58%;
    top: 9.252%;
    width: 2.083%;
    height: 1.061%;
    margin: 0px 0px 0px 0px;
  }

  .obj_2 {
    left: 69.17%;
    top: 90.51%;
    width: 10.33%;
    height: 1.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_3 {
    left: 82.17%;
    top: 90.51%;
    width: 9.917%;
    height: 1.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_4 {
    left: 82.17%;
    top: 88.92%;
    width: 9.917%;
    height: 1.473%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_5 {
    left: 69.17%;
    top: 87.39%;
    width: 10.33%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_6 {
    left: 69.17%;
    top: 85.56%;
    width: 10.33%;
    height: 1.65%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_7 {
    left: 82.17%;
    top: 85.56%;
    width: 9.917%;
    height: 1.65%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_8 {
    left: 81.92%;
    top: 82.73%;
    width: 10.17%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_9 {
    left: 58.25%;
    top: 84.15%;
    width: 8.333%;
    height: 1.296%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_10 {
    left: 58.25%;
    top: 82.73%;
    width: 8.333%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_11 {
    left: 58.25%;
    top: 81.2%;
    width: 8.333%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_12 {
    left: 58.25%;
    top: 79.79%;
    width: 8.333%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_13 {
    left: 58.25%;
    top: 78.14%;
    width: 8.333%;
    height: 1.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_14 {
    left: 58.25%;
    top: 76.66%;
    width: 8.333%;
    height: 1.296%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_15 {
    left: 58.25%;
    top: 75.25%;
    width: 8.333%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_16 {
    left: 58.25%;
    top: 73.72%;
    width: 8.333%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_17 {
    left: 32.25%;
    top: 79.79%;
    width: 8.5%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_18 {
    left: 32.25%;
    top: 78.14%;
    width: 8.5%;
    height: 1.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_19 {
    left: 32.25%;
    top: 76.66%;
    width: 8.5%;
    height: 1.296%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_20 {
    left: 32.25%;
    top: 75.25%;
    width: 8.5%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_21 {
    left: 32.25%;
    top: 73.72%;
    width: 8.5%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_22 {
    left: 81.92%;
    top: 73.72%;
    width: 10.17%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_23 {
    left: 81.92%;
    top: 72.07%;
    width: 10.17%;
    height: 1.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_24 {
    left: 69.17%;
    top: 70.42%;
    width: 10.33%;
    height: 1.473%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_25 {
    left: 69.17%;
    top: 68.89%;
    width: 10.33%;
    height: 1.473%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_26 {
    left: 69.17%;
    top: 67.06%;
    width: 10.33%;
    height: 1.65%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_27 {
    left: 69.17%;
    top: 65.41%;
    width: 10.33%;
    height: 1.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_28 {
    left: 69.17%;
    top: 63.88%;
    width: 10.33%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_29 {
    left: 69.17%;
    top: 62.17%;
    width: 10.33%;
    height: 1.532%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_30 {
    left: 69.17%;
    top: 60.64%;
    width: 10.33%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_31 {
    left: 58.25%;
    top: 67.06%;
    width: 7.083%;
    height: 1.65%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_32 {
    left: 58.25%;
    top: 65.41%;
    width: 8.333%;
    height: 1.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_33 {
    left: 32.25%;
    top: 65.41%;
    width: 8.5%;
    height: 1.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_34 {
    left: 69.17%;
    top: 59.1%;
    width: 10.33%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_35 {
    left: 69.17%;
    top: 57.34%;
    width: 10.33%;
    height: 1.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_36 {
    left: 81.92%;
    top: 57.34%;
    width: 10.17%;
    height: 1.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_37 {
    left: 81.92%;
    top: 56.04%;
    width: 10.17%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_38 {
    left: 81.92%;
    top: 54.39%;
    width: 10.17%;
    height: 1.473%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_39 {
    left: 81.92%;
    top: 51.27%;
    width: 10.17%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_40 {
    left: 81.92%;
    top: 49.62%;
    width: 10.17%;
    height: 1.473%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_41 {
    left: 81.92%;
    top: 48.08%;
    width: 10.17%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_42 {
    left: 81.92%;
    top: 46.49%;
    width: 10.17%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_43 {
    left: 81.92%;
    top: 44.73%;
    width: 10.17%;
    height: 1.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_44 {
    left: 60.58%;
    top: 52.8%;
    width: 15.17%;
    height: 1.532%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_45 {
    left: 60.58%;
    top: 51.27%;
    width: 15.17%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_46 {
    left: 40.83%;
    top: 48.08%;
    width: 9.583%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_47 {
    left: 67.33%;
    top: 43.19%;
    width: 9.833%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_48 {
    left: 67.33%;
    top: 41.66%;
    width: 9.833%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_49 {
    left: 81.92%;
    top: 41.66%;
    width: 10.17%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_50 {
    left: 81.92%;
    top: 40.01%;
    width: 10.17%;
    height: 1.473%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_51 {
    left: 81.92%;
    top: 38.42%;
    width: 10.17%;
    height: 1.532%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_52 {
    left: 81.92%;
    top: 36.89%;
    width: 10.17%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_53 {
    left: 81.92%;
    top: 35.24%;
    width: 10.17%;
    height: 1.473%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_54 {
    left: 81.92%;
    top: 33.59%;
    width: 10.17%;
    height: 1.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_55 {
    left: 67.33%;
    top: 33.59%;
    width: 10.83%;
    height: 1.473%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_56 {
    left: 81.92%;
    top: 31.76%;
    width: 10.17%;
    height: 1.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_57 {
    left: 81.92%;
    top: 30.23%;
    width: 10.17%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_58 {
    left: 81.92%;
    top: 28.7%;
    width: 10.17%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_59 {
    left: 81.92%;
    top: 27.05%;
    width: 10.17%;
    height: 1.473%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_60 {
    left: 81.92%;
    top: 25.52%;
    width: 10.17%;
    height: 1.473%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_61 {
    left: 81.92%;
    top: 23.92%;
    width: 10.17%;
    height: 1.414%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_62 {
    left: 81.92%;
    top: 22.27%;
    width: 10.17%;
    height: 1.473%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_63 {
    left: 81.92%;
    top: 20.74%;
    width: 10.17%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_64 {
    left: 81.92%;
    top: 19.21%;
    width: 10.17%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_65 {
    left: 81.92%;
    top: 17.56%;
    width: 10.17%;
    height: 1.473%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_66 {
    left: 81.92%;
    top: 16.03%;
    width: 10.17%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_67 {
    left: 81.92%;
    top: 14.44%;
    width: 10.17%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_68 {
    left: 81.92%;
    top: 12.79%;
    width: 10.17%;
    height: 1.473%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_69 {
    left: 67.67%;
    top: 16.03%;
    width: 11.83%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_70 {
    left: 67.67%;
    top: 14.44%;
    width: 11.83%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_71 {
    left: 67.75%;
    top: 12.73%;
    width: 11.75%;
    height: 1.473%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_72 {
    left: 68.75%;
    top: 31.82%;
    width: 10%;
    height: 1.532%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_73 {
    left: 53.08%;
    top: 31.76%;
    width: 9.417%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_74 {
    left: 41.42%;
    top: 9.075%;
    width: 44.92%;
    height: 1.179%;
    font-size: 12.000000px;
  }

  .obj_75 {
    left: 80.08%;
    top: 11.2%;
    width: 11.58%;
    height: 1.12%;
    font-size: 12.000000px;
  }

  .obj_76 {
    left: 31.58%;
    top: 88.92%;
    width: 13.25%;
    height: 1.12%;
    text-align: right;
    font-size: 12.000000px;
  }

  .pdf-page input {
    text-align: right;
    padding-right: 7px;
  }

  .pdf-page input.pde-form-field-text {
    text-align: left;
    padding-left: 7px;
  }
}
