.avatarContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.separator {
    height: 20px;

    &__large {
        height: 22px;
    }
}