@import "assets/colors/colors.scss";

.document {
  position: relative;
  height: 196px;
  min-width: 140px;
  max-width: 50%;

  padding: 2px 5px;

  display: flex;
  flex-direction: column;

  .thumbnails {
    max-width: 100%;
    flex: 1;

    transition: width ease 250ms;

    .thumbnail {
      position: relative;
      top: 0; right: 0;

      margin: 0 5px;

      transition: top ease 250ms, right ease 250ms;

      .image {
        height: 120px;
        width: 90px;

        padding: 4px;

        border: 1px solid $grey;
        border-radius: 4px;

        background-color: white;
      }

      .name {
        width: 90px;

        opacity: 1;

        transition: opacity ease 250ms;
      }

      &:first-child {
        z-index: 3;
        margin-left: 0;
      }

      &:nth-child(2) {
        z-index: 2;
      }

      &:nth-child(3) {
        z-index: 1;
      }
    }

    &.collapsed {
      width: 140px !important;

      .thumbnail {
        .name {
          opacity: 0;
        }

        &:first-child {
          top: 40px;
        }

        &:nth-child(2) {
          top: 20px; right: 90px !important;
        }
      }
    }

    &:not(.collapsed) {
      overflow: auto hidden;
    }

    .badge {
      z-index: 10;
    }
  }

  .name {
    width: 100%;

    margin-top: 5px;

    transition: width ease 250ms;
  }

  .expandBtn {
    position: absolute;
    bottom: 15px; right: -7px;
    z-index: 10;
    color: $color-primary;
  }
}
