@import "assets/colors/colors.scss";

.container {
    border: 1px solid $grey;
    min-height: 120px;
    max-height: 120px;
    width: 100%;
    flex: 1;

    &.isChecked {
        border-color: $color-primary;
    }
}

.error {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
    min-height: 120px;
    width: 90px;
    border: 1px solid $grey;
}

.errorIcon {
    width: 34px;
    height: 34px;
    color: $color-error;
    text-align: center;
}

.errorLabel {
    width: 61px;
    height: 22px;
    font-family: BasierCircle-Regular;
    font-size: 10px;
    text-align: center;
    color: $light-500-grey;
    margin-top: 10px;
}
