@import "assets/colors/colors.scss";

.consulting {
  border-radius: 0px 2px 2px 2px;
  box-shadow: 2px 2px 4px 0 $box-shadow;
  background-color: $white;
  padding: 20px;

  margin-bottom: 20px;
}

.commentContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.accountContainer {
  margin: 10px;
  padding: 20px;
}

.header {
  display: flex;

  margin-bottom: 1rem;

  .title {
    flex: 1;

    margin-top: auto;
    margin-bottom: auto;
  }
}

.consulting_warning {
  margin-left: 20px;
  margin-top: 10px
}

.checkingContainer {
  border: 1px solid $grey;
  margin: 10px;
  padding: 20px;
}
