.TVACA3 {
  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: block;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page input {
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    padding: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page-0 {
    width: 1200px;
    height: 1698px;
    background-image: url(page0.jpg);
  }

  .obj_1 {
    left: 87.33%;
    top: 46.76%;
    width: 10.25%;
    height: 1.531%;
    text-align: right;
  }

  .obj_2 {
    left: 77%;
    top: 43.46%;
    width: 10.08%;
    height: 1.472%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_3 {
    left: 77%;
    top: 30.62%;
    width: 10.08%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_4 {
    left: 87.33%;
    top: 7.656%;
    width: 10.25%;
    height: 2.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_5 {
    left: 87.33%;
    top: 50.47%;
    width: 10.25%;
    height: 1.413%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_6 {
    left: 87.33%;
    top: 52%;
    width: 10.25%;
    height: 1.943%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_7 {
    left: 87.5%;
    top: 57.89%;
    width: 9.833%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_8 {
    left: 88.75%;
    top: 66.25%;
    width: 7.25%;
    height: 1.826%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_9 {
    left: 39.67%;
    top: 77.97%;
    width: 10.08%;
    height: 3.887%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_10 {
    left: 39.67%;
    top: 5.006%;
    width: 10.33%;
    height: 1.413%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_11 {
    left: 39.67%;
    top: 18.49%;
    width: 10.08%;
    height: 2.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_12 {
    left: 39.67%;
    top: 21.5%;
    width: 10.08%;
    height: 2.532%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_13 {
    left: 87.42%;
    top: 5.065%;
    width: 9.833%;
    height: 1.06%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_14 {
    left: 87.33%;
    top: 10.31%;
    width: 10.25%;
    height: 3.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_15 {
    left: 87.33%;
    top: 13.37%;
    width: 10.25%;
    height: 2.473%;
    text-align: right;
  }

  .obj_16 {
    left: 87.33%;
    top: 54%;
    width: 10.25%;
    height: 1.649%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_17 {
    left: 87.33%;
    top: 59.25%;
    width: 10.25%;
    height: 1.296%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_18 {
    left: 87.33%;
    top: 62.6%;
    width: 10.25%;
    height: 2.061%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_19 {
    left: 39.67%;
    top: 72.91%;
    width: 10.08%;
    height: 1.943%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_20 {
    left: 87.33%;
    top: 71.85%;
    width: 10.25%;
    height: 1.472%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_21 {
    left: 87.33%;
    top: 74.91%;
    width: 10.25%;
    height: 3.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_22 {
    left: 39.67%;
    top: 15.9%;
    width: 10.08%;
    height: 2.532%;
    text-align: right;
  }

  .obj_23 {
    left: 39.75%;
    top: 6.478%;
    width: 10.08%;
    height: 1.472%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_24 {
    left: 39.67%;
    top: 7.951%;
    width: 10.08%;
    height: 2.297%;
    text-align: right;
  }

  .obj_25 {
    left: 39.67%;
    top: 13.84%;
    width: 10.08%;
    height: 2.002%;
    text-align: right;
  }

  .obj_26 {
    left: 87.33%;
    top: 43.46%;
    width: 10.25%;
    height: 1.472%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_27 {
    left: 87.33%;
    top: 32.27%;
    width: 10.25%;
    height: 1.531%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_28 {
    left: 87.33%;
    top: 30.62%;
    width: 10.25%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_29 {
    left: 77%;
    top: 35.51%;
    width: 10.08%;
    height: 1.531%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_30 {
    left: 87.33%;
    top: 6.125%;
    width: 10.25%;
    height: 1.531%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_31 {
    left: 87.33%;
    top: 15.9%;
    width: 10.25%;
    height: 2.532%;
    text-align: right;
  }

  .obj_32 {
    left: 87.33%;
    top: 21.5%;
    width: 10.25%;
    height: 2.532%;
    text-align: right;
  }

  .obj_33 {
    left: 87.33%;
    top: 60.54%;
    width: 10.25%;
    height: 1.943%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_34 {
    left: 40.67%;
    top: 67.67%;
    width: 6.833%;
    height: 1.531%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_35 {
    left: 39.67%;
    top: 10.31%;
    width: 10.08%;
    height: 3.475%;
    text-align: right;
  }

  .obj_36 {
    left: 87.08%;
    top: 45.47%;
    width: 10.5%;
    height: 1.237%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_37 {
    left: 87.33%;
    top: 41.93%;
    width: 10.25%;
    height: 1.531%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_38 {
    left: 87.33%;
    top: 37.1%;
    width: 10.25%;
    height: 1.531%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_39 {
    left: 87.33%;
    top: 35.51%;
    width: 10.25%;
    height: 1.531%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_40 {
    left: 77%;
    top: 41.93%;
    width: 10.08%;
    height: 1.531%;
    text-align: right;
  }

  .obj_41 {
    left: 77%;
    top: 32.27%;
    width: 10.08%;
    height: 1.531%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_42 {
    left: 87.33%;
    top: 18.49%;
    width: 10.25%;
    height: 2.886%;
    text-align: right;
  }

  .obj_43 {
    left: 87.33%;
    top: 64.72%;
    width: 10.25%;
    height: 1.472%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_44 {
    left: 87.33%;
    top: 68.14%;
    width: 10.25%;
    height: 2.002%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_45 {
    left: 39.67%;
    top: 74.91%;
    width: 10.08%;
    height: 3.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_46 {
    left: 39.75%;
    top: 71.85%;
    width: 10%;
    height: 1.001%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_47 {
    left: 87.33%;
    top: 73.5%;
    width: 10.25%;
    height: 1.355%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_48 {
    left: 85.33%;
    top: 81.57%;
    width: 9.833%;
    height: 2.415%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_49 {
    left: 87.33%;
    top: 48.41%;
    width: 10.25%;
    height: 1.531%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_50 {
    left: 77%;
    top: 37.1%;
    width: 10.08%;
    height: 1.531%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_51 {
    left: 77%;
    top: 28.92%;
    width: 10.17%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_52 {
    left: 87.42%;
    top: 28.92%;
    width: 10.17%;
    height: 1.59%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_53 {
    left: 39.58%;
    top: 61.54%;
    width: 10.08%;
    height: 1.531%;
    text-align: right;
    font-size: 12.000000px;
  }

  .pdf-page-1 {
    width: 1200px;
    height: 1698px;
    background-image: url(page1.jpg);
  }

  .obj_55 {
    left: 19.67%;
    top: 12.01%;
    width: 12.92%;
    height: 1.119%;
  }

  .obj_56 {
    left: 24.75%;
    top: 58.3%;
    width: 10.42%;
    height: 1.001%;
  }

  .obj_57 {
    left: 26.25%;
    top: 2.532%;
    width: 2.167%;
    height: 1.355%;
    margin: 0px 0px 0px 0px;
  }

  .obj_58 {
    left: 2.417%;
    top: 6.419%;
    width: 95.25%;
    height: 4.24%;
    font-size: 12.000000px;
    text-align: left !important;
  }

  .obj_59 {
    left: 2.5%;
    top: 10.6%;
    width: 95.25%;
    height: 4.299%;
    font-size: 12.000000px;
    text-align: left !important;
  }

  .obj_60 {
    left: 2.5%;
    top: 14.78%;
    width: 95.25%;
    height: 4.24%;
    font-size: 12.000000px;
    text-align: left !important;
  }

  .obj_61 {
    left: 2.5%;
    top: 19.02%;
    width: 95.25%;
    height: 4.24%;
    font-size: 12.000000px;
    text-align: left !important;
  }

  .obj_62 {
    left: 2.5%;
    top: 23.2%;
    width: 95.25%;
    height: 4.24%;
    font-size: 12.000000px;
    text-align: left !important;
  }

  .pdf-page input {
    text-align: right;
    padding-right: 7px;
  }
}
