.tax2057 {
  .pdf-gray-bg {
    background-color: #AAA
  }

  .pdf-page {
    border-bottom: 1px solid #AAA
  }

  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #AAA
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: flex;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page input {
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-inner img {
    width: 100%
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%;
    position: absolute
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    margin: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page-1 {
    width: 1200px;
    height: 1697px;
    background-image: url(page0.jpg);
  }

  .pdf-obj-0-1 {
    margin: 0px 0px 0px 0px;
    left: 95.25%;
    top: 7.661%;
    width: 1.583%;
    height: 1.12%;
  }

  .pdf-obj-0-2 {
    font-size: 12.000000px;
    left: 37.58%;
    top: 94.76%;
    width: 15.17%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-3 {
    font-size: 12.000000px;
    left: 37.58%;
    top: 92.63%;
    width: 15.17%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-4 {
    font-size: 12.000000px;
    left: 37.58%;
    top: 90.51%;
    width: 15.33%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-5 {
    font-size: 12.000000px;
    left: 55.58%;
    top: 90.51%;
    width: 13%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-6 {
    font-size: 12.000000px;
    left: 68.67%;
    top: 90.51%;
    width: 15.58%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-7 {
    font-size: 12.000000px;
    left: 84.33%;
    top: 90.51%;
    width: 13.67%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-8 {
    font-size: 12.000000px;
    left: 82.33%;
    top: 92.63%;
    width: 15.67%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-9 {
    font-size: 12.000000px;
    left: 37.58%;
    top: 88.33%;
    width: 15.17%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-10 {
    font-size: 12.000000px;
    left: 37.58%;
    top: 86.33%;
    width: 15.17%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-11 {
    font-size: 12.000000px;
    left: 37.58%;
    top: 84.15%;
    width: 15.17%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-12 {
    font-size: 12.000000px;
    left: 37.58%;
    top: 82.03%;
    width: 15.17%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-13 {
    font-size: 12.000000px;
    left: 37.58%;
    top: 79.91%;
    width: 15.17%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-14 {
    font-size: 12.000000px;
    left: 37.58%;
    top: 77.78%;
    width: 15.17%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-15 {
    font-size: 12.000000px;
    left: 37.58%;
    top: 75.6%;
    width: 15.17%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-16 {
    font-size: 12.000000px;
    left: 37.58%;
    top: 73.48%;
    width: 15.17%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-17 {
    font-size: 12.000000px;
    left: 37.58%;
    top: 71.3%;
    width: 15.17%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-18 {
    font-size: 12.000000px;
    left: 37.58%;
    top: 69.18%;
    width: 15.17%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-19 {
    font-size: 12.000000px;
    left: 37.58%;
    top: 67.06%;
    width: 15.17%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-20 {
    font-size: 12.000000px;
    left: 37.58%;
    top: 64.94%;
    width: 15.17%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-21 {
    font-size: 12.000000px;
    left: 37.58%;
    top: 62.82%;
    width: 15.17%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-22 {
    font-size: 12.000000px;
    left: 37.58%;
    top: 60.75%;
    width: 15.17%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-23 {
    font-size: 12.000000px;
    left: 37.58%;
    top: 58.63%;
    width: 15.17%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-24 {
    font-size: 12.000000px;
    left: 37.58%;
    top: 56.51%;
    width: 15.17%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-25 {
    font-size: 12.000000px;
    left: 37.58%;
    top: 54.39%;
    width: 15.17%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-26 {
    font-size: 12.000000px;
    left: 53.08%;
    top: 88.33%;
    width: 15.5%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-27 {
    font-size: 12.000000px;
    left: 53.08%;
    top: 86.33%;
    width: 15.5%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-28 {
    font-size: 12.000000px;
    left: 53.08%;
    top: 84.15%;
    width: 15.5%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-29 {
    font-size: 12.000000px;
    left: 53.08%;
    top: 82.03%;
    width: 15.5%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-30 {
    font-size: 12.000000px;
    left: 53.08%;
    top: 79.91%;
    width: 15.5%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-31 {
    font-size: 12.000000px;
    left: 53.08%;
    top: 77.78%;
    width: 15.5%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-32 {
    font-size: 12.000000px;
    left: 53.08%;
    top: 75.6%;
    width: 15.5%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-33 {
    font-size: 12.000000px;
    left: 53.08%;
    top: 73.48%;
    width: 15.5%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-34 {
    font-size: 12.000000px;
    left: 53.08%;
    top: 71.3%;
    width: 15.5%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-35 {
    font-size: 12.000000px;
    left: 53.08%;
    top: 69.18%;
    width: 15.5%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-36 {
    font-size: 12.000000px;
    left: 53.08%;
    top: 67.06%;
    width: 15.5%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-37 {
    font-size: 12.000000px;
    left: 53.08%;
    top: 64.94%;
    width: 15.5%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-38 {
    font-size: 12.000000px;
    left: 53.08%;
    top: 62.82%;
    width: 15.5%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-39 {
    font-size: 12.000000px;
    left: 53.08%;
    top: 60.75%;
    width: 15.5%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-40 {
    font-size: 12.000000px;
    left: 53.08%;
    top: 58.63%;
    width: 15.5%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-41 {
    font-size: 12.000000px;
    left: 53.08%;
    top: 56.51%;
    width: 15.5%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-42 {
    font-size: 12.000000px;
    left: 53.08%;
    top: 54.39%;
    width: 15.5%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-43 {
    font-size: 12.000000px;
    left: 68.67%;
    top: 88.33%;
    width: 15.58%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-44 {
    font-size: 12.000000px;
    left: 68.67%;
    top: 86.33%;
    width: 15.58%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-45 {
    font-size: 12.000000px;
    left: 68.67%;
    top: 84.15%;
    width: 15.58%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-46 {
    font-size: 12.000000px;
    left: 68.67%;
    top: 82.03%;
    width: 15.58%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-47 {
    font-size: 12.000000px;
    left: 68.67%;
    top: 79.91%;
    width: 15.58%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-48 {
    font-size: 12.000000px;
    left: 68.67%;
    top: 77.78%;
    width: 15.58%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-49 {
    font-size: 12.000000px;
    left: 68.67%;
    top: 75.6%;
    width: 15.58%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-50 {
    font-size: 12.000000px;
    left: 68.67%;
    top: 73.48%;
    width: 15.58%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-51 {
    font-size: 12.000000px;
    left: 68.67%;
    top: 71.3%;
    width: 15.58%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-52 {
    font-size: 12.000000px;
    left: 68.67%;
    top: 69.18%;
    width: 15.58%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-53 {
    font-size: 12.000000px;
    left: 68.67%;
    top: 67.06%;
    width: 15.58%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-54 {
    font-size: 12.000000px;
    left: 68.67%;
    top: 64.94%;
    width: 15.58%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-55 {
    font-size: 12.000000px;
    left: 68.67%;
    top: 62.82%;
    width: 15.58%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-56 {
    font-size: 12.000000px;
    left: 68.67%;
    top: 60.75%;
    width: 15.58%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-57 {
    font-size: 12.000000px;
    left: 68.67%;
    top: 58.63%;
    width: 15.58%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-58 {
    font-size: 12.000000px;
    left: 68.67%;
    top: 56.51%;
    width: 15.58%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-59 {
    font-size: 12.000000px;
    left: 68.67%;
    top: 54.39%;
    width: 15.58%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-60 {
    font-size: 12.000000px;
    left: 84.33%;
    top: 88.33%;
    width: 13.67%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-61 {
    font-size: 12.000000px;
    left: 84.33%;
    top: 86.33%;
    width: 13.67%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-62 {
    font-size: 12.000000px;
    left: 84.33%;
    top: 84.15%;
    width: 13.67%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-63 {
    font-size: 12.000000px;
    left: 84.33%;
    top: 82.03%;
    width: 13.67%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-64 {
    font-size: 12.000000px;
    left: 84.33%;
    top: 79.91%;
    width: 13.67%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-65 {
    font-size: 12.000000px;
    left: 84.33%;
    top: 77.78%;
    width: 13.67%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-66 {
    font-size: 12.000000px;
    left: 84.33%;
    top: 75.6%;
    width: 13.67%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-67 {
    font-size: 12.000000px;
    left: 84.33%;
    top: 73.48%;
    width: 13.67%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-68 {
    font-size: 12.000000px;
    left: 84.33%;
    top: 71.3%;
    width: 13.67%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-69 {
    font-size: 12.000000px;
    left: 84.33%;
    top: 69.18%;
    width: 13.67%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-70 {
    font-size: 12.000000px;
    left: 84.33%;
    top: 67.06%;
    width: 13.67%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-71 {
    font-size: 12.000000px;
    left: 84.33%;
    top: 64.94%;
    width: 13.67%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-72 {
    font-size: 12.000000px;
    left: 84.33%;
    top: 62.82%;
    width: 13.67%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-73 {
    font-size: 12.000000px;
    left: 84.33%;
    top: 60.75%;
    width: 13.67%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-74 {
    font-size: 12.000000px;
    left: 84.33%;
    top: 58.63%;
    width: 13.67%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-75 {
    font-size: 12.000000px;
    left: 84.33%;
    top: 56.51%;
    width: 13.67%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-76 {
    font-size: 12.000000px;
    left: 84.33%;
    top: 54.39%;
    width: 13.67%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-77 {
    font-size: 12.000000px;
    left: 50.17%;
    top: 50.09%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-78 {
    font-size: 12.000000px;
    left: 50.17%;
    top: 47.91%;
    width: 14.67%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-79 {
    font-size: 12.000000px;
    left: 50.17%;
    top: 45.79%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-80 {
    font-size: 12.000000px;
    left: 50.17%;
    top: 43.67%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-81 {
    font-size: 12.000000px;
    left: 50.17%;
    top: 41.66%;
    width: 14.67%;
    height: 1.827%;
    text-align: right;
  }

  .pdf-obj-0-82 {
    font-size: 12.000000px;
    left: 50.17%;
    top: 39.54%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-83 {
    font-size: 12.000000px;
    left: 50.17%;
    top: 37.36%;
    width: 14.67%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-84 {
    font-size: 12.000000px;
    left: 50.17%;
    top: 35.3%;
    width: 14.67%;
    height: 1.886%;
    text-align: right;
  }

  .pdf-obj-0-85 {
    font-size: 12.000000px;
    left: 50.17%;
    top: 33.06%;
    width: 14.67%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-86 {
    font-size: 12.000000px;
    left: 50.17%;
    top: 30.94%;
    width: 14.67%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-87 {
    font-size: 12.000000px;
    left: 50.17%;
    top: 28.82%;
    width: 14.67%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-88 {
    font-size: 12.000000px;
    left: 50.17%;
    top: 26.69%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-89 {
    font-size: 12.000000px;
    left: 50.17%;
    top: 24.51%;
    width: 14.67%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-90 {
    font-size: 12.000000px;
    left: 50.17%;
    top: 22.39%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-91 {
    font-size: 12.000000px;
    left: 50.17%;
    top: 20.27%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-92 {
    font-size: 12.000000px;
    left: 50.17%;
    top: 18.15%;
    width: 14.67%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-93 {
    font-size: 12.000000px;
    left: 50.17%;
    top: 16.15%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-94 {
    font-size: 12.000000px;
    left: 50.17%;
    top: 13.97%;
    width: 14.67%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-95 {
    font-size: 12.000000px;
    left: 50.17%;
    top: 11.84%;
    width: 14.67%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-96 {
    font-size: 12.000000px;
    left: 67.67%;
    top: 43.67%;
    width: 13.33%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-97 {
    font-size: 12.000000px;
    left: 65.08%;
    top: 41.66%;
    width: 15.75%;
    height: 1.827%;
    text-align: right;
  }

  .pdf-obj-0-98 {
    font-size: 12.000000px;
    left: 65.08%;
    top: 39.54%;
    width: 15.75%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-99 {
    font-size: 12.000000px;
    left: 65.08%;
    top: 37.36%;
    width: 15.75%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-100 {
    font-size: 12.000000px;
    left: 65.08%;
    top: 35.24%;
    width: 15.75%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-101 {
    font-size: 12.000000px;
    left: 65.08%;
    top: 33.06%;
    width: 15.75%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-102 {
    font-size: 12.000000px;
    left: 65.08%;
    top: 30.94%;
    width: 15.75%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-103 {
    font-size: 12.000000px;
    left: 65.08%;
    top: 28.82%;
    width: 15.75%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-104 {
    font-size: 12.000000px;
    left: 65.08%;
    top: 26.69%;
    width: 15.75%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-105 {
    font-size: 12.000000px;
    left: 65.08%;
    top: 24.51%;
    width: 15.75%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-106 {
    font-size: 12.000000px;
    left: 65.08%;
    top: 22.39%;
    width: 15.75%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-107 {
    font-size: 12.000000px;
    left: 65.08%;
    top: 20.27%;
    width: 15.75%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-108 {
    font-size: 12.000000px;
    left: 65.08%;
    top: 18.15%;
    width: 15.75%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-109 {
    font-size: 12.000000px;
    left: 67.5%;
    top: 16.15%;
    width: 13.33%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-110 {
    font-size: 12.000000px;
    left: 67.5%;
    top: 13.97%;
    width: 13.33%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-111 {
    font-size: 12.000000px;
    left: 67.5%;
    top: 11.84%;
    width: 13.33%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-112 {
    font-size: 12.000000px;
    left: 83.58%;
    top: 43.67%;
    width: 14.42%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-113 {
    font-size: 12.000000px;
    left: 81.08%;
    top: 41.66%;
    width: 16.92%;
    height: 1.827%;
    text-align: right;
  }

  .pdf-obj-0-114 {
    font-size: 12.000000px;
    left: 81.08%;
    top: 39.54%;
    width: 16.92%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-115 {
    font-size: 12.000000px;
    left: 81.08%;
    top: 37.36%;
    width: 16.92%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-116 {
    font-size: 12.000000px;
    left: 81.08%;
    top: 35.24%;
    width: 16.92%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-117 {
    font-size: 12.000000px;
    left: 81.08%;
    top: 33.06%;
    width: 16.92%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-118 {
    font-size: 12.000000px;
    left: 81.08%;
    top: 30.94%;
    width: 16.92%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-119 {
    font-size: 12.000000px;
    left: 81.08%;
    top: 26.75%;
    width: 16.92%;
    height: 1.886%;
    text-align: right;
  }

  .pdf-obj-0-120 {
    font-size: 12.000000px;
    left: 81.08%;
    top: 28.82%;
    width: 16.92%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-121 {
    font-size: 12.000000px;
    left: 81.08%;
    top: 24.51%;
    width: 16.92%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-122 {
    font-size: 12.000000px;
    left: 81.08%;
    top: 22.39%;
    width: 16.92%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-123 {
    font-size: 12.000000px;
    left: 81.08%;
    top: 20.33%;
    width: 16.92%;
    height: 1.886%;
    text-align: right;
  }

  .pdf-obj-0-124 {
    font-size: 12.000000px;
    left: 81.08%;
    top: 18.15%;
    width: 16.92%;
    height: 2.062%;
    text-align: right;
  }

  .pdf-obj-0-125 {
    font-size: 12.000000px;
    left: 83.58%;
    top: 16.15%;
    width: 14.42%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-126 {
    font-size: 12.000000px;
    left: 83.58%;
    top: 13.97%;
    width: 14.42%;
    height: 2.004%;
    text-align: right;
  }

  .pdf-obj-0-127 {
    font-size: 12.000000px;
    left: 83.58%;
    top: 11.84%;
    width: 14.42%;
    height: 1.945%;
    text-align: right;
  }

  .pdf-obj-0-128 {
    font-size: 12.000000px;
    left: 33.08%;
    top: 22.39%;
    width: 13.5%;
    height: 1.945%;
    text-align: right;
  }

  .obj_129 {
    left: 20.5%;
    top: 7.248%;
    width: 69.58%;
    height: 1.532%;
    font-size: 12.000000px;
  }

  .pdf-page input {
    padding-right: 7px;
  }

  .pdf-page input.pde-form-field-text {
    text-align: left;
    padding-left: 7px;
  }
}
