@import "assets/colors/colors.scss";

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  padding: 20px 20px 0;
  background-color: $white;
}

.headerButtons{
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: 15px;
  & > div, & > button {
      margin-right: 10px;
  }
}

.error {
  position: absolute;
  bottom: -10px;
}

.date_period {
  display: flex;
  &__from {
    margin-right: 20px;
  }
}

.ged_filter__bottom {
  justify-content: flex-start;
  display: flex;
  align-items: flex-end;
  width: 66%;
  & > div {
    margin-right: 20px;
  }
  &_buttons {
    width: 34%;
    display: flex;
    justify-content: flex-end;
    & button {
      box-shadow: none;
    }
  }
}

.linkedTo_wrap {
  min-width: 256px;
  margin-top:29px;
  span, p {
    color: $color-secondary;
  }
}

.amount {
  &__inputs {
    display: flex;
    align-items: center;
  }
  &__range {
    margin-bottom: -10px;
  }
}

.format, .date, .society, .search, .amountRange {
  width: 150px;
}
.exerciceDate {
  width: 140px;
}

.exerciceField {
  > div {
    min-width: 180px;
  }
}

.stepperTabs {
  margin-right: 40px;
  cursor: pointer;
}

.stepperTabsSelected {
  border-bottom: 2px solid $color-primary;
  margin-top: 12px;
  transition: 0.3s ease all;
}

.stepperTabsNotSelected {
  border-bottom: 2px solid $white;
  margin-top: 12px;
}


.timeFrame {
  & label:first-of-type {
    & > span {
      padding-left: 0;
    }
  }
  & label{
    margin-top: 10px;
    margin-right: 0;
   & > span {
     padding-bottom: 0;
     padding-top: 0;
   }
  }
}

.linkedTo {
  pointer-events: none;
}

.amount {

}
