.avatarContainer {
    position: relative;
}

.basicContainer {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-upperPart {
        border-radius: 5;
        background-color: white;
        height: 130px;
        width: 80px;
    }

    &__photo {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
        border-radius: 50px;
        border: 1px solid; 
        padding: 2px; 
        background-color: white;
        margin-bottom: 6px;    
    }

    &__text {
        color: black;

        &-small {
            font-size: 12px;
        }

        &-medium {
            font-size: 14px;
        }
    }
}

.iconContainer {
    position: absolute;
    right: 5px;
    top: 0px;

    &__icon {
        display: flex; 
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        background-color: white;
        height: 20px;
        width: 20px;
    }
}

