.container {
  // padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title {
  // margin-bottom: 20px;
  padding: 20px;
  background-color: white;
}

.header {
  display: flex;
  flex-direction: row;
  height: 34px;
  align-items: center;
  justify-content: space-between;
}

.editContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
}

.editor {
  padding: 20px;
  background-color: white;
  margin-right: 12px;
  height: 903px;
  width: 620px;
}

.editTools {
  flex: 1;
  max-width: 428px;
  background-color: white;
  height: fit-content;
  padding: 20px;
}

.toolsButtons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 32px;
}