.form-tax-declaration-2059a {
  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: block;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page input {
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    padding: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page-0 {
    width: 1200px;
    height: 1697px;
    background-image: url(page0.jpg);
  }

  .obj_1 {
    left: 95.42%;
    top: 9.664%;
    width: 2.25%;
    height: 1.179%;
    margin: 0px 0px 0px 0px;
  }

  .obj_2 {
    left: 11.42%;
    top: 15.5%;
    width: 9.167%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_3 {
    left: 11.42%;
    top: 17.56%;
    width: 9%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_4 {
    left: 11.42%;
    top: 19.56%;
    width: 9%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_5 {
    left: 11.42%;
    top: 21.57%;
    width: 9%;
    height: 2.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_6 {
    left: 11.42%;
    top: 23.63%;
    width: 8.917%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_7 {
    left: 11.42%;
    top: 25.63%;
    width: 9%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_8 {
    left: 11.42%;
    top: 27.75%;
    width: 9%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_9 {
    left: 11.42%;
    top: 29.76%;
    width: 9%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_10 {
    left: 11.42%;
    top: 31.76%;
    width: 9%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_11 {
    left: 11.42%;
    top: 33.82%;
    width: 9%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_12 {
    left: 11.42%;
    top: 35.83%;
    width: 9%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_13 {
    left: 11.42%;
    top: 37.89%;
    width: 9.083%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_14 {
    left: 20.33%;
    top: 15.5%;
    width: 9.083%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_15 {
    left: 20.33%;
    top: 17.56%;
    width: 8.917%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_16 {
    left: 20.33%;
    top: 19.56%;
    width: 9%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_17 {
    left: 20.33%;
    top: 21.57%;
    width: 8.917%;
    height: 2.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_18 {
    left: 20.33%;
    top: 23.63%;
    width: 8.917%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_19 {
    left: 20.33%;
    top: 25.63%;
    width: 9%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_20 {
    left: 20.33%;
    top: 27.75%;
    width: 8.917%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_21 {
    left: 20.33%;
    top: 29.76%;
    width: 9%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_22 {
    left: 20.33%;
    top: 31.76%;
    width: 9%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_23 {
    left: 20.33%;
    top: 33.82%;
    width: 9%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_24 {
    left: 20.33%;
    top: 35.83%;
    width: 9%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_25 {
    left: 20.33%;
    top: 37.89%;
    width: 9.083%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_26 {
    left: 29.67%;
    top: 17.56%;
    width: 13.58%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_27 {
    left: 29.67%;
    top: 15.5%;
    width: 13.58%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_28 {
    left: 29.67%;
    top: 19.56%;
    width: 13.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_29 {
    left: 29.67%;
    top: 21.57%;
    width: 13.58%;
    height: 2.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_30 {
    left: 29.67%;
    top: 23.63%;
    width: 13.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_31 {
    left: 29.67%;
    top: 25.63%;
    width: 13.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_32 {
    left: 29.67%;
    top: 27.75%;
    width: 13.58%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_33 {
    left: 29.67%;
    top: 29.76%;
    width: 13.58%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_34 {
    left: 29.67%;
    top: 31.76%;
    width: 13.58%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_35 {
    left: 29.67%;
    top: 33.82%;
    width: 13.58%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_36 {
    left: 29.67%;
    top: 35.83%;
    width: 13.58%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_37 {
    left: 29.67%;
    top: 37.89%;
    width: 13.58%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_38 {
    left: 43.5%;
    top: 15.5%;
    width: 13.5%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_39 {
    left: 43.5%;
    top: 17.56%;
    width: 13.5%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_40 {
    left: 43.5%;
    top: 19.56%;
    width: 13.5%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_41 {
    left: 43.5%;
    top: 21.57%;
    width: 13.5%;
    height: 2.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_42 {
    left: 43.5%;
    top: 25.63%;
    width: 13.5%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_43 {
    left: 43.5%;
    top: 27.75%;
    width: 13.5%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_44 {
    left: 43.5%;
    top: 23.63%;
    width: 13.5%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_45 {
    left: 43.5%;
    top: 29.76%;
    width: 13.5%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_46 {
    left: 43.5%;
    top: 31.76%;
    width: 13.5%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_47 {
    left: 43.5%;
    top: 33.82%;
    width: 13.5%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_48 {
    left: 43.5%;
    top: 35.83%;
    width: 13.5%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_49 {
    left: 43.5%;
    top: 37.89%;
    width: 13.5%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_50 {
    left: 57.25%;
    top: 15.5%;
    width: 13.5%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_51 {
    left: 57.25%;
    top: 17.56%;
    width: 13.5%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_52 {
    left: 57.25%;
    top: 19.56%;
    width: 13.5%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_53 {
    left: 57.25%;
    top: 21.57%;
    width: 13.5%;
    height: 2.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_54 {
    left: 57.25%;
    top: 23.63%;
    width: 13.5%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_55 {
    left: 57.25%;
    top: 27.75%;
    width: 13.5%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_56 {
    left: 57.25%;
    top: 25.63%;
    width: 13.5%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_57 {
    left: 57.25%;
    top: 29.76%;
    width: 13.5%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_58 {
    left: 57.25%;
    top: 31.76%;
    width: 13.5%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_59 {
    left: 57.25%;
    top: 33.82%;
    width: 13.5%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_60 {
    left: 57.25%;
    top: 35.83%;
    width: 13.5%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_61 {
    left: 57.25%;
    top: 37.89%;
    width: 13.5%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_62 {
    left: 71%;
    top: 15.5%;
    width: 13.58%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_63 {
    left: 71%;
    top: 17.56%;
    width: 13.58%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_64 {
    left: 71%;
    top: 19.56%;
    width: 13.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_65 {
    left: 71%;
    top: 21.57%;
    width: 13.58%;
    height: 2.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_66 {
    left: 71%;
    top: 23.63%;
    width: 13.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_67 {
    left: 71%;
    top: 25.63%;
    width: 13.58%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_68 {
    left: 71%;
    top: 27.75%;
    width: 13.58%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_69 {
    left: 71%;
    top: 29.76%;
    width: 13.58%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_70 {
    left: 71%;
    top: 31.76%;
    width: 13.58%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_71 {
    left: 71%;
    top: 33.82%;
    width: 13.58%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_72 {
    left: 71%;
    top: 35.83%;
    width: 13.58%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_73 {
    left: 71%;
    top: 37.89%;
    width: 13.58%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_74 {
    left: 84.83%;
    top: 15.5%;
    width: 13.5%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_75 {
    left: 84.83%;
    top: 17.56%;
    width: 13.5%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_76 {
    left: 84.83%;
    top: 19.56%;
    width: 13.5%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_77 {
    left: 84.83%;
    top: 23.63%;
    width: 13.5%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_78 {
    left: 84.83%;
    top: 21.57%;
    width: 13.5%;
    height: 2.004%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_79 {
    left: 84.83%;
    top: 25.63%;
    width: 13.5%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_80 {
    left: 84.83%;
    top: 27.75%;
    width: 13.5%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_81 {
    left: 84.83%;
    top: 29.76%;
    width: 13.5%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_82 {
    left: 84.83%;
    top: 31.76%;
    width: 13.5%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_83 {
    left: 84.83%;
    top: 33.82%;
    width: 13.5%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_84 {
    left: 84.83%;
    top: 35.83%;
    width: 13.5%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_85 {
    left: 84.83%;
    top: 37.89%;
    width: 13.5%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_86 {
    left: 11.42%;
    top: 45.67%;
    width: 21.25%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_87 {
    left: 11.5%;
    top: 47.67%;
    width: 21.17%;
    height: 1.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_88 {
    left: 11.42%;
    top: 49.62%;
    width: 21.25%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_89 {
    left: 11.42%;
    top: 51.5%;
    width: 21.25%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_90 {
    left: 11.42%;
    top: 53.51%;
    width: 21.25%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_91 {
    left: 11.42%;
    top: 55.45%;
    width: 21.25%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_92 {
    left: 11.42%;
    top: 57.45%;
    width: 21.25%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_93 {
    left: 11.42%;
    top: 59.34%;
    width: 21.25%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_94 {
    left: 11.42%;
    top: 61.28%;
    width: 21.25%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_95 {
    left: 11.42%;
    top: 63.29%;
    width: 21.25%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_96 {
    left: 11.42%;
    top: 65.17%;
    width: 21.25%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_97 {
    left: 11.42%;
    top: 67.06%;
    width: 21.25%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_98 {
    left: 32.75%;
    top: 45.67%;
    width: 20.58%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_99 {
    left: 32.75%;
    top: 47.67%;
    width: 20.58%;
    height: 1.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_100 {
    left: 32.75%;
    top: 49.62%;
    width: 20.58%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_101 {
    left: 32.75%;
    top: 51.5%;
    width: 20.58%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_102 {
    left: 32.75%;
    top: 53.51%;
    width: 20.58%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_103 {
    left: 32.75%;
    top: 55.45%;
    width: 20.58%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_104 {
    left: 32.75%;
    top: 57.45%;
    width: 20.58%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_105 {
    left: 32.75%;
    top: 59.34%;
    width: 20.58%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_106 {
    left: 32.75%;
    top: 61.28%;
    width: 20.58%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_107 {
    left: 32.75%;
    top: 63.29%;
    width: 20.58%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_108 {
    left: 32.75%;
    top: 65.17%;
    width: 20.58%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_109 {
    left: 32.75%;
    top: 67.06%;
    width: 20.58%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_110 {
    left: 53.42%;
    top: 45.67%;
    width: 8.917%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_111 {
    left: 53.42%;
    top: 47.67%;
    width: 8.917%;
    height: 1.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_112 {
    left: 53.42%;
    top: 49.62%;
    width: 8.917%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_113 {
    left: 53.42%;
    top: 51.5%;
    width: 8.917%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_114 {
    left: 53.42%;
    top: 53.51%;
    width: 8.917%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_115 {
    left: 53.42%;
    top: 55.45%;
    width: 8.917%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_116 {
    left: 53.42%;
    top: 57.45%;
    width: 8.917%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_117 {
    left: 53.42%;
    top: 59.34%;
    width: 8.917%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_118 {
    left: 53.42%;
    top: 61.28%;
    width: 8.917%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_119 {
    left: 53.42%;
    top: 63.29%;
    width: 8.917%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_120 {
    left: 53.42%;
    top: 65.17%;
    width: 8.917%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_121 {
    left: 53.42%;
    top: 67.06%;
    width: 8.917%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_122 {
    left: 62.42%;
    top: 45.67%;
    width: 9%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_123 {
    left: 62.42%;
    top: 47.67%;
    width: 9%;
    height: 1.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_124 {
    left: 62.42%;
    top: 49.62%;
    width: 9%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_125 {
    left: 62.42%;
    top: 51.5%;
    width: 9%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_126 {
    left: 62.42%;
    top: 53.51%;
    width: 9%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_127 {
    left: 62.42%;
    top: 55.45%;
    width: 9%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_128 {
    left: 62.42%;
    top: 57.45%;
    width: 9%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_129 {
    left: 62.42%;
    top: 59.34%;
    width: 9%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_130 {
    left: 62.42%;
    top: 61.28%;
    width: 9%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_131 {
    left: 62.42%;
    top: 63.29%;
    width: 9%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_132 {
    left: 62.42%;
    top: 65.17%;
    width: 9%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_133 {
    left: 62.42%;
    top: 67.06%;
    width: 9%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_134 {
    left: 71.5%;
    top: 45.67%;
    width: 8.833%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_135 {
    left: 71.5%;
    top: 47.67%;
    width: 8.833%;
    height: 1.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_136 {
    left: 71.5%;
    top: 49.62%;
    width: 8.833%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_137 {
    left: 71.5%;
    top: 51.5%;
    width: 8.833%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_138 {
    left: 71.5%;
    top: 53.51%;
    width: 8.833%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_139 {
    left: 71.5%;
    top: 55.45%;
    width: 8.833%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_140 {
    left: 71.5%;
    top: 57.45%;
    width: 8.833%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_141 {
    left: 71.5%;
    top: 59.34%;
    width: 8.833%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_142 {
    left: 71.5%;
    top: 61.28%;
    width: 8.833%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_143 {
    left: 71.5%;
    top: 63.29%;
    width: 8.833%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_144 {
    left: 71.5%;
    top: 65.17%;
    width: 8.833%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_145 {
    left: 71.5%;
    top: 67.06%;
    width: 8.833%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_146 {
    left: 80.58%;
    top: 45.67%;
    width: 8.833%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_147 {
    left: 80.58%;
    top: 47.67%;
    width: 8.833%;
    height: 1.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_148 {
    left: 80.58%;
    top: 49.62%;
    width: 8.833%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_149 {
    left: 80.58%;
    top: 51.5%;
    width: 8.833%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_150 {
    left: 80.58%;
    top: 53.51%;
    width: 8.833%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_151 {
    left: 80.58%;
    top: 55.45%;
    width: 8.833%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_152 {
    left: 80.58%;
    top: 57.45%;
    width: 8.833%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_153 {
    left: 80.58%;
    top: 59.34%;
    width: 8.833%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_154 {
    left: 80.58%;
    top: 61.28%;
    width: 8.833%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_155 {
    left: 80.58%;
    top: 63.29%;
    width: 8.833%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_156 {
    left: 80.58%;
    top: 65.17%;
    width: 8.833%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_157 {
    left: 80.58%;
    top: 67.06%;
    width: 8.833%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_158 {
    left: 89.5%;
    top: 45.67%;
    width: 8.833%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_159 {
    left: 89.5%;
    top: 47.67%;
    width: 8.833%;
    height: 1.768%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_160 {
    left: 89.5%;
    top: 49.62%;
    width: 8.833%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_161 {
    left: 89.5%;
    top: 51.5%;
    width: 8.833%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_162 {
    left: 89.5%;
    top: 53.51%;
    width: 8.833%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_163 {
    left: 89.5%;
    top: 55.45%;
    width: 8.833%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_164 {
    left: 89.5%;
    top: 57.45%;
    width: 8.833%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_165 {
    left: 89.5%;
    top: 59.34%;
    width: 8.833%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_166 {
    left: 89.5%;
    top: 61.28%;
    width: 8.833%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_167 {
    left: 89.5%;
    top: 63.29%;
    width: 8.833%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_168 {
    left: 89.5%;
    top: 65.17%;
    width: 8.833%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_169 {
    left: 89.5%;
    top: 67.06%;
    width: 8.833%;
    height: 1.886%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_170 {
    left: 55%;
    top: 69.06%;
    width: 7.333%;
    height: 1.65%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_171 {
    left: 55.08%;
    top: 70.89%;
    width: 7.25%;
    height: 1.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_172 {
    left: 55.17%;
    top: 72.66%;
    width: 7.167%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_173 {
    left: 55.17%;
    top: 74.78%;
    width: 7.167%;
    height: 2.416%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_174 {
    left: 89.5%;
    top: 69.06%;
    width: 8.833%;
    height: 1.65%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_175 {
    left: 89.5%;
    top: 70.89%;
    width: 8.833%;
    height: 1.591%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_176 {
    left: 89.5%;
    top: 72.66%;
    width: 8.833%;
    height: 1.945%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_177 {
    left: 89.5%;
    top: 74.78%;
    width: 8.833%;
    height: 2.416%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_178 {
    left: 71.5%;
    top: 77.43%;
    width: 8.833%;
    height: 2.298%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_179 {
    left: 62.42%;
    top: 79.91%;
    width: 9%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_180 {
    left: 71.5%;
    top: 79.91%;
    width: 8.833%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_181 {
    left: 80.58%;
    top: 79.91%;
    width: 8.833%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_182 {
    left: 62.42%;
    top: 81.91%;
    width: 9%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_183 {
    left: 71.5%;
    top: 81.91%;
    width: 8.833%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_184 {
    left: 80.58%;
    top: 81.91%;
    width: 8.833%;
    height: 1.709%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_185 {
    left: 53.42%;
    top: 83.79%;
    width: 8.917%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_186 {
    left: 62.42%;
    top: 83.79%;
    width: 9%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_187 {
    left: 71.5%;
    top: 83.79%;
    width: 8.833%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_188 {
    left: 80.58%;
    top: 83.79%;
    width: 8.833%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_189 {
    left: 89.5%;
    top: 83.79%;
    width: 8.833%;
    height: 1.827%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_190 {
    left: 53.42%;
    top: 85.68%;
    width: 8.917%;
    height: 2.475%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_191 {
    left: 62.42%;
    top: 85.68%;
    width: 9%;
    height: 2.475%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_192 {
    left: 71.5%;
    top: 85.68%;
    width: 8.833%;
    height: 2.475%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_193 {
    left: 80.58%;
    top: 85.68%;
    width: 8.833%;
    height: 2.475%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_194 {
    left: 89.5%;
    top: 85.68%;
    width: 8.833%;
    height: 2.475%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_195 {
    left: 22.42%;
    top: 9.369%;
    width: 68.33%;
    height: 1.532%;
    font-size: 12.000000px;
  }

  .pdf-page input {
    text-align: right;
    padding-right: 7px;
  }

  .pdf-page input.pde-form-field-text {
    text-align: left;
    padding-left: 7px;
  }
}
