.content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.footer {
  justify-content: center;
  display: flex;
  margin: 15px 20px;
}

.header {
  display: flex;
  justify-content: flex-end;
  margin: 15px;
}

.dialogContent {
  padding: 0 35px 35px;
}
