@import "assets/colors/colors.scss";

.switchContainer {
  display: flex;
  align-items: center;

  margin-right: 20px;

  .paddings {
    padding-left:  5px;
  }

  .bar {
    background-color: $grey;
  }

  .switch {
    color: $grey;

    &.checked {
      color: $color-primary;

      + .bar {
        background-color: $color-primary;
      }
    }
  }
}
