.societyField {
  width: 180px;
}

.softwareField {
  width: 180px;
}

.softwareFieldContainer {
  margin-left: 20px;
}

.codeField {
  width: 180px;
}

.informationField {
  width: 380px;
}

.row {
  display: flex;
  flex-direction: row;
}