@import 'assets/colors/colors.scss';

.files-informations {

  .files-informations__title {
    font-weight: 500;
    margin-bottom: 28px;
    color: $black;
  }

  .files-informations__table {
    margin-bottom: 27px;

    .files-informations__table__body-row__cell-status {
      min-width: 280px;
    }

    .files-informations__table__body-row_error {
      background-color: $light-red;

      .files-informations__table__body-row__cell-status {
        color: $color-error;
      }
    }

    .files-informations__table__body-row__send-back-link {
      color: $color-error;
      cursor: pointer;
      text-decoration: underline;
    }

    .files-informations__table__body-row__delete-icon {
      cursor: pointer;
    }
  }

  .files-information__buttons {
    display: flex;
    justify-content: flex-end;

    .files-information__buttons__item:first-child {
      margin-right: 10px;
    }
  }
}
