@import 'assets/colors/colors.scss';

.fixedAssets {
  th {
    position: sticky;
    background-color: $white;
    top: 0;
    z-index: 1;
  }

  div {
    box-sizing: border-box;
  }

  .row {
    cursor: pointer;
  }

  .green {
    color: $color-primary;
  }

  .form {
    display: flex;
    margin-top: 20px;
  }

  .dates {
    display: flex;
    color: $grey;
    margin-right: 16px;

    > * {
      color: $grey;
      border-bottom-color: $grey;
    }
  }

  .dateGroup {
    width: 130px;

    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  .showLabel {
    padding: 0 20px;
  }

  .radioGroup {
    display: inline-block;
    background: none;
    font-size: inherit;
    border: 0;

    &:focus {
      outline: none;
    }
  }

  .headerRow {
    p {
      font-weight: bold;
    }
  }

  .accounts {
    max-height: 216px;
    overflow-y: auto;
  }

  .accountTable {
    position: relative;
  }

  .immoTable {
    position: relative;
    width: 2000px;
    scroll-behavior: smooth;
    border-collapse: initial;

    tr td:not(:first-child) {
      min-width: 130px;
    }
  }

  .immos {
    max-height: 500px;
    overflow: auto;
  }

  .dotations {
    display: inline-block;
  }

  .checkCell {
    > div {
      width: 36px;
    }
  }

  .dotationsTable {
    width: auto;

    th,
    td {
      min-width: 100px;
    }
  }

  .selectionManager {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 20px;
    background: $light-grey;
    padding: 10px 10px 8px 20px;
  }

  .container {
    background: white;
    padding: 16px 20px 40px;
    margin-bottom: 12px;
  }

  .gaps {
    font-size: 12px;
  }

  .gapLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .gapLineTitle {
    font-size: 14px;
    font-weight: bold;
    flex: 1;
  }

  .gap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .gapLabel {
    flex: 1;
    text-align: right;
    font-weight: bold;
    margin-right: 4px;
  }

  .gapValue {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid $lightDividerColor;
    padding: 0 10px;
    width: 120px;
    height: 32px;
  }
}
