@import "assets/colors/colors.scss"; //TODO: Load colors for all
@import "assets/theme/metrics.scss";
@import "assets/constants/messages.scss";
@import "assets/fonts/BasierCircle/Basier-Circle-bold-webfont/stylesheet.css";
@import "assets/fonts/BasierCircle/Basier-Circle-bolditalic-webfont/stylesheet.css";
@import "assets/fonts/BasierCircle/Basier-Circle-medium-webfont/stylesheet.css";
@import "assets/fonts/BasierCircle/Basier-Circle-mediumitalic-webfont/stylesheet.css";
@import "assets/fonts/BasierCircle/Basier-Circle-regular-webfont/stylesheet.css";
@import "assets/fonts/BasierCircle/Basier-Circle-regularitalic-webfont/stylesheet.css";
@import "assets/fonts/BasierCircle/Basier-Circle-semibold-webfont/stylesheet.css";
@import "assets/fonts/BasierCircle/Basier-Circle-semibolditalic-webfont/stylesheet.css";
@import "assets/fonts/MyUnicons/style.css";

@include mainScrollBar();

table {
  tfoot {
    tr {
      height: fit-content !important;
    }
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "basier_circleregular", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

[tabindex="-1"]:focus {
  outline: none;
}
