@import "assets/colors/colors.scss";

.commentContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.accountContainer {
  margin: 10px;
  padding: 20px;
}
.checkingContainer {
  border: 1px solid $grey;
  margin: 10px;
  padding: 20px;
  width: 130px;
}
.supervisorContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.checkingMonitor {
  height: 10px;
  width: 10px;
  margin-right: 4px;
}
.commentTypeContainer {
  width: 246px;
}
.noCommentContainer {
  border: 1px solid $grey;
  margin: 10px;
  padding: 20px;
  width: 600px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}