@import "assets/colors/colors.scss";

.dialog {
  display: flex;
  flex-direction: column;

  padding: 0 !important;

  .dropzone {
    min-height: 200px;
    width: calc(100% - 48px);
    min-width: 600px;
    box-sizing: border-box;

    flex: 0 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px dashed $light-500-grey;

    margin: 24px;
    padding: 10px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    .title {
      margin: 10px 0;

      font-size: 24px;
      text-align: center;
    }

    .icon {
      margin: 10px 0 20px;

      color: $color-primary;
      font-size: 60px;
    }
  }

  .files {
    flex: 1;

    overflow-y: auto;

    .removeBtn {
      color: $color-error;
    }
  }
}
