@import "assets/theme/metrics.scss";


.consultingFilter {
  display: flex;
  align-items: flex-end;
  @include flex-row-spacing(15px);

  > .account {
    max-width: 400px;

    flex: 1 0;
  }

  > .date {
    flex: 0 0 auto;
    width: 150px;
  }

  > button:not(.export) {
    flex: 0 0 auto;

    margin-top: auto;
    margin-bottom: 10px;
    padding: 0;
  }
}
