@import "assets/colors/colors.scss";

.navBarInnerContainer {
  display: flex;
  flex-direction: column; // flex used by DADP (to fill screen height)

  flex-grow: 1;

  padding: 10px 20px 20px 20px;

  > :not(.navBar):not(:last-child) {
    margin-bottom: 20px;
    /* overflow-y: auto; disable for discussions  */
  }
}

.navBar {
  display: flex;
  height: 36px;

  flex-direction: row;
  justify-content: space-between;

  padding-top: 10px;
  background-color: #f5f5f5;
  z-index: 1;

  /* stick forms header*/
  &__sticky {
    position: sticky;
    top: 0;
  }

  &__toolBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    // margin-bottom: 9px;

    &__textField {
      margin: 0px !important;
    }
  }
}

.toolBar__icon {
  color: black;
}
.search__icon {
  color: rgba(0, 0, 0, 0.87);
  margin-right: 5px;
}

.buttonWithLabels {
  minHeight: 0;
  minWidth: 0;
}

.navBarButtonSuffixes {
  display: flex;
  flex-direction: column;
  transform: translateX(-12px);
  bottom: 0px;

  & .button  {
    border-radius: 50%;

    width: 20px;
    height: 20px;
    line-height: 20px;

    text-align: center;
    font-family: basier_circleregular;
    font-size: 12px;

    cursor: pointer;
  }

  & .top {
    color: #ffffff;
    background-color: #0bd1c4;
  }

  & .bottom {
    margin-top: 2px;
    color: #ffffff;
    background-color: #000000
  }

  & .hidden {
    visibility: hidden;
  }
}

// TODO should not be there will be refactoring when navBar will be splitted
.page {
  display: flex;
}

.pageContent {
  flex-grow: 1;
  padding: 0 20px 0;
  box-sizing: border-box;
  min-height: 100vh;
  flex: 1 1;

  /*stick realize*/
  //overflow-x: auto;
  // TODO temp way to fix horizontal scrollbar
  min-width: 0;
}
