.tax2069A {
  .pdf-page input::-webkit-outer-spin-button,
  .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
  }
  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3);
  }
  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3);
  }
  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden;
  }
  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
  }
  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none;
  }
  .pdf-page-text div {
    position: absolute;
    display: block;
  }
  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none;
  }
  .pdf-page .pdf-obj-fixed {
    display: block;
    position: absolute;
    box-sizing: border-box;
  }
  .pdf-page .ff-ss {
    font-family: sans-serif;
  }
  .pdf-page .ff-s {
    font-family: serif;
  }
  .pdf-page .ff-m {
    font-family: monospace;
  }
  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto;
  }
  .pdf-page .pdf-annot {
    pointer-events: auto;
  }
  .pdf-page textarea {
    resize: none;
    padding: 0;
  }
  .pdf-page input {
    padding: 0;
  }
  .pdf-page select {
    padding: 0;
  }
  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px;
  }
  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px;
  }
  .pdf-page.responsive input[type="checkbox"] {
    min-width: 20px;
  }
  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px;
  }
  .pdf-page.responsive {
    text-align: left;
  }
  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
  }
  .pdf-page.responsive .aleft {
    text-align: left;
  }
  .pdf-page.responsive .aright {
    text-align: right;
  }
  .pdf-page.responsive .acenter {
    text-align: center;
  }
  .pdf-page.responsive .atop {
    vertical-align: top;
  }
  .pdf-page.responsive .abottom {
    vertical-align: bottom;
  }
  .pdf-page.responsive .amiddle {
    vertical-align: middle;
  }
  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: 0.3em 0 0.7em 0;
    padding-right: 1px;
    max-width: 100%;
  }
  .pdf-page.responsive .pde-text {
    margin: 0.3em 0 0.7em 0;
  }
  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px;
  }
  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid;
  }
  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid;
  }
  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid;
  }
  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top;
  }
  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2;
  }
  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000;
  }
  .pdf-page.responsive .title {
    font-size: 250%;
  }
  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px;
  }
  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px;
  }
  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: 0.3em 0 0.7em 0;
  }
  .pdf-page.responsive table {
    font-size: 90%;
  }
  .pdf-page.responsive table p {
    font-size: inherit;
  }
  .pdf-page.responsive table .pde-text {
    margin: 0;
  }
  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%;
  }
  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain;
  }
  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%;
  }
  .pdf-page.responsive .pde-image img {
    max-width: 100%;
  }
  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .pdf-page.responsive .pde-rect-inner {
    padding: 5px;
  }
  .pdf-page h1,
  .pdf-page h2,
  .pdf-page h3,
  .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2;
  }
  .pdf-page.responsive h1 {
    font-size: 210%;
  }
  .pdf-page.responsive h2 {
    font-size: 180%;
  }
  .pdf-page.responsive h3 {
    font-size: 130%;
  }
  .pdf-page.responsive h4 {
    font-size: 120%;
  }
  .pdf-page.responsive small,
  .font_small {
    font-size: 80%;
  }
  .pdf-page.responsive.table h1,
  .pdf-page.responsive.table h2,
  .pdf-page.responsive.table h3,
  .pdf-page.responsive.table h4 {
    margin: 0;
  }
  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .pde-image-float {
    float: left;
    margin-right: 10px;
  }
  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
  .pdf-page-0 {
    width: 1200px;
    height: 1697px;
    background-image: url(page0.jpg);
  }
  .obj_1 {
    left: 89.17%;
    top: 26.52%;
    width: 7.083%;
    height: 1.179%;
    text-align: right;
    font-size: 12px;
  }
  .obj_2 {
    left: 80.08%;
    top: 41.54%;
    width: 16.17%;
    height: 3.654%;
    text-align: right;
    font-size: 12px;
  }
  .obj_3 {
    left: 52.42%;
    top: 33.94%;
    width: 44%;
    height: 2.357%;
    text-align: right;
    font-size: 12px;
  }
  .obj_4 {
    left: 80.08%;
    top: 45.26%;
    width: 16.17%;
    height: 3.477%;
    text-align: right;
    font-size: 12px;
  }
  .obj_5 {
    left: 73%;
    top: 52.5%;
    width: 23.25%;
    height: 3.241%;
    text-align: right;
    font-size: 12px;
  }
  .obj_6 {
    left: 30.08%;
    top: 59.22%;
    width: 66.17%;
    height: 3.359%;
    text-align: right;
    font-size: 12px;
  }
  .obj_7 {
    left: 30.08%;
    top: 62.7%;
    width: 7.75%;
    height: 4.066%;
    text-align: right;
    font-size: 12px;
  }
  .obj_8 {
    left: 53.92%;
    top: 62.7%;
    width: 6.917%;
    height: 4.066%;
    text-align: right;
    font-size: 12px;
  }
  .obj_9 {
    left: 91.5%;
    top: 62.7%;
    width: 4.75%;
    height: 4.066%;
    text-align: right;
    font-size: 12px;
  }
  .obj_10 {
    left: 84.5%;
    top: 74.31%;
    width: 11.75%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_11 {
    left: 84.5%;
    top: 75.72%;
    width: 11.75%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_12 {
    left: 84.5%;
    top: 77.14%;
    width: 11.75%;
    height: 2.711%;
    text-align: right;
    font-size: 12px;
  }
  .obj_13 {
    left: 84.5%;
    top: 79.91%;
    width: 11.75%;
    height: 2.652%;
    text-align: right;
    font-size: 12px;
  }
  .obj_14 {
    left: 84.5%;
    top: 82.73%;
    width: 11.75%;
    height: 2.593%;
    text-align: right;
    font-size: 12px;
  }
  .obj_15 {
    left: 84.5%;
    top: 85.39%;
    width: 11.75%;
    height: 2.652%;
    text-align: right;
    font-size: 12px;
  }
  .obj_16 {
    left: 32.5%;
    top: 52.68%;
    width: 2.917%;
    height: 1.827%;
    margin: 0px 0px 0px 0px;
  }
  .obj_17 {
    left: 86.75%;
    top: 37.18%;
    width: 2.917%;
    height: 1.886%;
    margin: 0px 0px 0px 0px;
  }
  .obj_18 {
    left: 91.25%;
    top: 29.76%;
    width: 2.917%;
    height: 1.886%;
    margin: 0px 0px 0px 0px;
  }
  .obj_19 {
    left: 86.92%;
    top: 49.56%;
    width: 2.917%;
    height: 1.827%;
    margin: 0px 0px 0px 0px;
  }
  .obj_20 {
    left: 32.58%;
    top: 56.33%;
    width: 2.833%;
    height: 1.827%;
    margin: 0px 0px 0px 0px;
  }
  .obj_21 {
    left: 89.08%;
    top: 55.69%;
    width: 2.917%;
    height: 1.886%;
    margin: 0px 0px 0px 0px;
  }
  .obj_22 {
    left: 32.5%;
    top: 67.53%;
    width: 2.917%;
    height: 1.827%;
    margin: 0px 0px 0px 0px;
  }
  .obj_23 {
    left: 92.5%;
    top: 67.65%;
    width: 2.917%;
    height: 1.827%;
    margin: 0px 0px 0px 0px;
  }
  .obj_24 {
    left: 52.58%;
    top: 30.35%;
    width: 20.92%;
    height: 2.004%;
  }
  .obj_25 {
    left: 21.92%;
    top: 30.23%;
    width: 30%;
    height: 1.709%;
    text-align: right;
    font-size: 12px;
  }
  .obj_26 {
    left: 21.58%;
    top: 32.41%;
    width: 2.5%;
    height: 1.709%;
    text-align: right;
    font-size: 12px;
  }
  .obj_27 {
    left: 24%;
    top: 32.41%;
    width: 2.583%;
    height: 1.709%;
    text-align: right;
    font-size: 12px;
  }
  .obj_28 {
    left: 26.5%;
    top: 32.41%;
    width: 8.917%;
    height: 1.709%;
    text-align: right;
    font-size: 12px;
  }
  .obj_29 {
    left: 35.33%;
    top: 32.41%;
    width: 17%;
    height: 1.709%;
    text-align: right;
    font-size: 12px;
  }
  .obj_30 {
    left: 21.58%;
    top: 34.06%;
    width: 9.583%;
    height: 1.709%;
    text-align: right;
    font-size: 12px;
  }
  .obj_31 {
    left: 31.17%;
    top: 34.06%;
    width: 21.17%;
    height: 1.768%;
    text-align: right;
    font-size: 12px;
  }
  .obj_32 {
    left: 39.25%;
    top: 23.57%;
    width: 13.25%;
    height: 2.239%;
    font-size: 12px;
  }
  .obj_33 {
    left: 59.5%;
    top: 23.57%;
    width: 15.42%;
    height: 2.239%;
    font-size: 12px;
  }
  .pdf-page-1 {
    width: 1200px;
    height: 1697px;
    background-image: url(page1.jpg);
  }
  .obj_35 {
    left: 84.33%;
    top: 1.886%;
    width: 11.83%;
    height: 2.652%;
    text-align: right;
    font-size: 12px;
  }
  .obj_36 {
    left: 84.33%;
    top: 4.714%;
    width: 11.83%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_37 {
    left: 84.33%;
    top: 6.128%;
    width: 11.83%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_38 {
    left: 84.33%;
    top: 7.543%;
    width: 11.83%;
    height: 2.711%;
    text-align: right;
    font-size: 12px;
  }
  .obj_39 {
    left: 84.33%;
    top: 10.31%;
    width: 11.83%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_40 {
    left: 84.33%;
    top: 11.73%;
    width: 11.83%;
    height: 5.421%;
    text-align: right;
    font-size: 12px;
  }
  .obj_41 {
    left: 84.33%;
    top: 17.32%;
    width: 11.83%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_42 {
    left: 84.33%;
    top: 18.74%;
    width: 11.83%;
    height: 2.652%;
    text-align: right;
    font-size: 12px;
  }
  .obj_43 {
    left: 84.33%;
    top: 26.46%;
    width: 11.83%;
    height: 13.61%;
    text-align: right;
    font-size: 12px;
  }
  .obj_44 {
    left: 84.33%;
    top: 40.13%;
    width: 11.83%;
    height: 1.827%;
    text-align: right;
    font-size: 12px;
  }
  .obj_45 {
    left: 84.33%;
    top: 42.13%;
    width: 11.83%;
    height: 13.61%;
    text-align: right;
    font-size: 12px;
  }
  .obj_46 {
    left: 84.33%;
    top: 55.8%;
    width: 11.83%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_47 {
    left: 84.33%;
    top: 57.22%;
    width: 11.83%;
    height: 2.652%;
    text-align: right;
    font-size: 12px;
  }
  .obj_48 {
    left: 84.33%;
    top: 61.52%;
    width: 11.83%;
    height: 3.948%;
    text-align: right;
    font-size: 12px;
  }
  .obj_49 {
    left: 84.33%;
    top: 65.65%;
    width: 11.83%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_50 {
    left: 84.33%;
    top: 67.06%;
    width: 11.83%;
    height: 4.007%;
    text-align: right;
    font-size: 12px;
  }
  .obj_51 {
    left: 84.33%;
    top: 71.18%;
    width: 11.83%;
    height: 1.65%;
    text-align: right;
    font-size: 12px;
  }
  .obj_52 {
    left: 84.33%;
    top: 72.89%;
    width: 11.83%;
    height: 2.77%;
    text-align: right;
    font-size: 12px;
  }
  .obj_53 {
    left: 84.33%;
    top: 75.72%;
    width: 11.83%;
    height: 5.421%;
    text-align: right;
    font-size: 12px;
  }
  .obj_54 {
    left: 84.33%;
    top: 82.73%;
    width: 11.83%;
    height: 2.004%;
    text-align: right;
    font-size: 12px;
  }
  .pdf-page-2 {
    width: 1200px;
    height: 1697px;
    background-image: url(page2.jpg);
  }
  .obj_56 {
    left: 84.33%;
    top: 1.945%;
    width: 11.92%;
    height: 9.546%;
    text-align: right;
    font-size: 12px;
  }
  .obj_57 {
    left: 84.33%;
    top: 11.55%;
    width: 11.92%;
    height: 5.775%;
    text-align: right;
    font-size: 12px;
  }
  .obj_58 {
    left: 84.33%;
    top: 17.5%;
    width: 11.92%;
    height: 11.2%;
    text-align: right;
    font-size: 12px;
  }
  .obj_59 {
    left: 84.33%;
    top: 28.76%;
    width: 11.92%;
    height: 5.303%;
    text-align: right;
    font-size: 12px;
  }
  .obj_60 {
    left: 84.33%;
    top: 36.71%;
    width: 11.92%;
    height: 1.473%;
    text-align: right;
    font-size: 12px;
  }
  .obj_61 {
    left: 84.33%;
    top: 38.24%;
    width: 11.92%;
    height: 1.886%;
    text-align: right;
    font-size: 12px;
  }
  .obj_62 {
    left: 84.33%;
    top: 40.31%;
    width: 11.92%;
    height: 2.652%;
    text-align: right;
    font-size: 12px;
  }
  .obj_63 {
    left: 84.33%;
    top: 43.13%;
    width: 11.92%;
    height: 2.652%;
    text-align: right;
    font-size: 12px;
  }
  .obj_64 {
    left: 84.33%;
    top: 45.79%;
    width: 11.92%;
    height: 2.004%;
    text-align: right;
    font-size: 12px;
  }
  .obj_65 {
    left: 84.33%;
    top: 47.85%;
    width: 11.92%;
    height: 2.652%;
    text-align: right;
    font-size: 12px;
  }
  .obj_66 {
    left: 84.33%;
    top: 50.56%;
    width: 11.92%;
    height: 2.77%;
    text-align: right;
    font-size: 12px;
  }
  .obj_67 {
    left: 84.33%;
    top: 55.75%;
    width: 11.92%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_68 {
    left: 84.33%;
    top: 57.16%;
    width: 11.92%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_69 {
    left: 84.33%;
    top: 58.57%;
    width: 11.92%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_70 {
    left: 84.33%;
    top: 59.99%;
    width: 11.92%;
    height: 2.298%;
    text-align: right;
    font-size: 12px;
  }
  .obj_71 {
    left: 84.33%;
    top: 62.35%;
    width: 11.92%;
    height: 2.652%;
    text-align: right;
    font-size: 12px;
  }
  .obj_72 {
    left: 84.33%;
    top: 65.17%;
    width: 11.92%;
    height: 2.18%;
    text-align: right;
    font-size: 12px;
  }
  .obj_73 {
    left: 84.33%;
    top: 67.53%;
    width: 11.92%;
    height: 2.239%;
    text-align: right;
    font-size: 12px;
  }
  .obj_74 {
    left: 84.33%;
    top: 69.89%;
    width: 11.92%;
    height: 2.711%;
    text-align: right;
    font-size: 12px;
  }
  .obj_75 {
    left: 84.33%;
    top: 73.48%;
    width: 11.92%;
    height: 2.887%;
    text-align: right;
    font-size: 12px;
  }
  .obj_76 {
    left: 84.33%;
    top: 76.49%;
    width: 11.92%;
    height: 2.652%;
    text-align: right;
    font-size: 12px;
  }
  .pdf-page-3 {
    width: 1200px;
    height: 1697px;
    background-image: url(page3.jpg);
  }
  .obj_78 {
    left: 84.5%;
    top: 1.591%;
    width: 11.83%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_79 {
    left: 84.5%;
    top: 3.005%;
    width: 11.83%;
    height: 2.711%;
    text-align: right;
    font-size: 12px;
  }
  .obj_80 {
    left: 84.5%;
    top: 5.893%;
    width: 11.83%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_81 {
    left: 84.5%;
    top: 7.307%;
    width: 11.83%;
    height: 2.652%;
    text-align: right;
    font-size: 12px;
  }
  .obj_82 {
    left: 84.5%;
    top: 10.02%;
    width: 11.83%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_83 {
    left: 84.5%;
    top: 11.43%;
    width: 11.83%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_84 {
    left: 84.5%;
    top: 14.97%;
    width: 11.83%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_85 {
    left: 84.5%;
    top: 16.38%;
    width: 11.83%;
    height: 2.887%;
    text-align: right;
    font-size: 12px;
  }
  .obj_86 {
    left: 84.5%;
    top: 19.33%;
    width: 11.83%;
    height: 2.652%;
    text-align: right;
    font-size: 12px;
  }
  .obj_87 {
    left: 84.5%;
    top: 21.98%;
    width: 11.83%;
    height: 2.77%;
    text-align: right;
    font-size: 12px;
  }
  .obj_88 {
    left: 84.5%;
    top: 24.81%;
    width: 11.83%;
    height: 2.77%;
    text-align: right;
    font-size: 12px;
  }
  .obj_89 {
    left: 84.5%;
    top: 27.64%;
    width: 11.83%;
    height: 2.77%;
    text-align: right;
    font-size: 12px;
  }
  .obj_90 {
    left: 84.5%;
    top: 30.41%;
    width: 11.83%;
    height: 4.184%;
    text-align: right;
    font-size: 12px;
  }
  .obj_91 {
    left: 84.5%;
    top: 34.65%;
    width: 11.83%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_92 {
    left: 84.5%;
    top: 36.06%;
    width: 11.83%;
    height: 8.073%;
    text-align: right;
    font-size: 12px;
  }
  .obj_93 {
    left: 84.5%;
    top: 44.25%;
    width: 11.83%;
    height: 2.77%;
    text-align: right;
    font-size: 12px;
  }
  .obj_94 {
    left: 84.5%;
    top: 47.97%;
    width: 11.83%;
    height: 2.652%;
    text-align: right;
    font-size: 12px;
  }
  .obj_95 {
    left: 84.5%;
    top: 50.85%;
    width: 11.83%;
    height: 2.652%;
    text-align: right;
    font-size: 12px;
  }
  .obj_96 {
    left: 84.5%;
    top: 58.46%;
    width: 12%;
    height: 2.77%;
    text-align: right;
    font-size: 12px;
  }
  .obj_97 {
    left: 84.5%;
    top: 61.23%;
    width: 12%;
    height: 2.652%;
    text-align: right;
    font-size: 12px;
  }
  .obj_98 {
    left: 84.5%;
    top: 64.05%;
    width: 12%;
    height: 2.652%;
    text-align: right;
    font-size: 12px;
  }
  .obj_99 {
    left: 84.5%;
    top: 66.76%;
    width: 12%;
    height: 2.652%;
    text-align: right;
    font-size: 12px;
  }
  .obj_100 {
    left: 84.5%;
    top: 69.65%;
    width: 12%;
    height: 2.652%;
    text-align: right;
    font-size: 12px;
  }
  .obj_101 {
    left: 84.5%;
    top: 72.36%;
    width: 12%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_102 {
    left: 84.5%;
    top: 73.78%;
    width: 12%;
    height: 2.652%;
    text-align: right;
    font-size: 12px;
  }
  .obj_103 {
    left: 84.5%;
    top: 76.61%;
    width: 12%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_104 {
    left: 84.5%;
    top: 78.14%;
    width: 12%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_105 {
    left: 84.5%;
    top: 81.67%;
    width: 12%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_106 {
    left: 84.5%;
    top: 83.09%;
    width: 12%;
    height: 2.652%;
    text-align: right;
    font-size: 12px;
  }
  .obj_107 {
    left: 84.5%;
    top: 85.92%;
    width: 12%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_108 {
    left: 84.5%;
    top: 87.39%;
    width: 12%;
    height: 3.948%;
    text-align: right;
    font-size: 12px;
  }
  .obj_109 {
    left: 84.5%;
    top: 91.51%;
    width: 12%;
    height: 2.652%;
    text-align: right;
    font-size: 12px;
  }
  .pdf-page-4 {
    width: 1200px;
    height: 1697px;
    background-image: url(page4.jpg);
  }
  .obj_111 {
    left: 84.5%;
    top: 1.709%;
    width: 12%;
    height: 2.652%;
    text-align: right;
    font-size: 12px;
  }
  .obj_112 {
    left: 84.5%;
    top: 4.478%;
    width: 12%;
    height: 2.652%;
    text-align: right;
    font-size: 12px;
  }
  .obj_113 {
    left: 84.5%;
    top: 7.189%;
    width: 12%;
    height: 1.473%;
    text-align: right;
    font-size: 12px;
  }
  .obj_114 {
    left: 84.5%;
    top: 8.721%;
    width: 12%;
    height: 4.066%;
    text-align: right;
    font-size: 12px;
  }
  .obj_115 {
    left: 84.5%;
    top: 12.85%;
    width: 12%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_116 {
    left: 84.5%;
    top: 14.2%;
    width: 12%;
    height: 8.191%;
    text-align: right;
    font-size: 12px;
  }
  .obj_117 {
    left: 84.5%;
    top: 22.57%;
    width: 12%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_118 {
    left: 84.67%;
    top: 25.16%;
    width: 11.83%;
    height: 3.064%;
    text-align: right;
    font-size: 12px;
  }
  .obj_119 {
    left: 84.67%;
    top: 28.4%;
    width: 11.83%;
    height: 3.064%;
    text-align: right;
    font-size: 12px;
  }
  .obj_120 {
    left: 84.5%;
    top: 38.54%;
    width: 11.92%;
    height: 2.77%;
    text-align: right;
    font-size: 12px;
  }
  .obj_121 {
    left: 84.5%;
    top: 41.37%;
    width: 11.92%;
    height: 2.77%;
    text-align: right;
    font-size: 12px;
  }
  .obj_122 {
    left: 84.5%;
    top: 44.2%;
    width: 11.92%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_123 {
    left: 84.5%;
    top: 45.67%;
    width: 11.92%;
    height: 2.77%;
    text-align: right;
    font-size: 12px;
  }
  .obj_124 {
    left: 84.5%;
    top: 48.5%;
    width: 11.92%;
    height: 1.473%;
    text-align: right;
    font-size: 12px;
  }
  .obj_125 {
    left: 84.5%;
    top: 50.03%;
    width: 11.92%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_126 {
    left: 84.5%;
    top: 51.5%;
    width: 11.92%;
    height: 2.77%;
    text-align: right;
    font-size: 12px;
  }
  .obj_127 {
    left: 84.5%;
    top: 54.33%;
    width: 11.92%;
    height: 1.473%;
    text-align: right;
    font-size: 12px;
  }
  .obj_128 {
    left: 84.5%;
    top: 55.86%;
    width: 11.92%;
    height: 1.473%;
    text-align: right;
    font-size: 12px;
  }
  .obj_129 {
    left: 84.5%;
    top: 57.34%;
    width: 11.92%;
    height: 2.711%;
    text-align: right;
    font-size: 12px;
  }
  .obj_130 {
    left: 84.5%;
    top: 60.05%;
    width: 11.92%;
    height: 2.887%;
    text-align: right;
    font-size: 12px;
  }
  .obj_131 {
    left: 84.5%;
    top: 62.99%;
    width: 11.92%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_132 {
    left: 84.5%;
    top: 64.53%;
    width: 11.92%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_133 {
    left: 84.5%;
    top: 66%;
    width: 11.92%;
    height: 2.77%;
    text-align: right;
    font-size: 12px;
  }
  .obj_134 {
    left: 84.5%;
    top: 68.83%;
    width: 11.92%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_135 {
    left: 84.5%;
    top: 70.36%;
    width: 11.92%;
    height: 2.652%;
    text-align: right;
    font-size: 12px;
  }
  .obj_136 {
    left: 84.5%;
    top: 73.07%;
    width: 11.92%;
    height: 1.414%;
    text-align: right;
    font-size: 12px;
  }
  .obj_137 {
    left: 84.5%;
    top: 74.66%;
    width: 11.92%;
    height: 1.473%;
    text-align: right;
    font-size: 12px;
  }
  .obj_138 {
    left: 84.5%;
    top: 77.49%;
    width: 12%;
    height: 2.946%;
    text-align: right;
    font-size: 12px;
  }
  .obj_139 {
    left: 84.5%;
    top: 80.73%;
    width: 12%;
    height: 2.946%;
    text-align: right;
    font-size: 12px;
  }
  .pdf-page-5 {
    width: 1200px;
    height: 1697px;
    background-image: url(page5.jpg);
  }
  .obj_141 {
    left: 4.833%;
    top: 10.78%;
    width: 35.58%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_142 {
    left: 4.833%;
    top: 12.2%;
    width: 35.58%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_143 {
    left: 4.833%;
    top: 13.55%;
    width: 35.58%;
    height: 1.296%;
    text-align: right;
    font-size: 12px;
  }
  .obj_144 {
    left: 4.833%;
    top: 15.09%;
    width: 35.58%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_145 {
    left: 40.5%;
    top: 10.78%;
    width: 11.83%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_146 {
    left: 40.5%;
    top: 12.2%;
    width: 11.83%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_147 {
    left: 40.5%;
    top: 13.55%;
    width: 11.83%;
    height: 1.296%;
    text-align: right;
    font-size: 12px;
  }
  .obj_148 {
    left: 40.5%;
    top: 15.09%;
    width: 11.83%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_149 {
    left: 52.42%;
    top: 10.78%;
    width: 14.25%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_150 {
    left: 52.42%;
    top: 12.2%;
    width: 14.25%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_151 {
    left: 52.42%;
    top: 13.55%;
    width: 14.25%;
    height: 1.296%;
    text-align: right;
    font-size: 12px;
  }
  .obj_152 {
    left: 52.42%;
    top: 15.09%;
    width: 14.25%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_153 {
    left: 66.75%;
    top: 10.78%;
    width: 14.17%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_154 {
    left: 66.75%;
    top: 12.2%;
    width: 14.17%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_155 {
    left: 66.75%;
    top: 13.55%;
    width: 14.17%;
    height: 1.296%;
    text-align: right;
    font-size: 12px;
  }
  .obj_156 {
    left: 66.75%;
    top: 15.09%;
    width: 14.17%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_157 {
    left: 81.17%;
    top: 10.78%;
    width: 15.33%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_158 {
    left: 81.17%;
    top: 12.2%;
    width: 15.33%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_159 {
    left: 81.17%;
    top: 13.55%;
    width: 15.33%;
    height: 1.296%;
    text-align: right;
    font-size: 12px;
  }
  .obj_160 {
    left: 81.17%;
    top: 15.09%;
    width: 15.33%;
    height: 1.237%;
    text-align: right;
    font-size: 12px;
  }
  .obj_161 {
    left: 57.33%;
    top: 16.5%;
    width: 9.333%;
    height: 1.591%;
    text-align: right;
    font-size: 12px;
  }
  .obj_162 {
    left: 71.5%;
    top: 16.5%;
    width: 9.417%;
    height: 1.591%;
    text-align: right;
    font-size: 12px;
  }
  .obj_163 {
    left: 85.92%;
    top: 16.5%;
    width: 10.58%;
    height: 1.591%;
    text-align: right;
    font-size: 12px;
  }
  .obj_164 {
    left: 4.833%;
    top: 28.05%;
    width: 35.58%;
    height: 1.473%;
    text-align: right;
    font-size: 12px;
  }
  .obj_165 {
    left: 4.833%;
    top: 29.58%;
    width: 35.58%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_166 {
    left: 4.833%;
    top: 31%;
    width: 35.58%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_167 {
    left: 4.833%;
    top: 32.41%;
    width: 35.58%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_168 {
    left: 40.5%;
    top: 28.05%;
    width: 11.83%;
    height: 1.473%;
    text-align: right;
    font-size: 12px;
  }
  .obj_169 {
    left: 40.5%;
    top: 29.58%;
    width: 11.83%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_170 {
    left: 40.5%;
    top: 31%;
    width: 11.83%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_171 {
    left: 40.5%;
    top: 32.41%;
    width: 11.83%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_172 {
    left: 52.42%;
    top: 28.05%;
    width: 14.25%;
    height: 1.473%;
    text-align: right;
    font-size: 12px;
  }
  .obj_173 {
    left: 52.42%;
    top: 29.58%;
    width: 14.25%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_174 {
    left: 52.42%;
    top: 31%;
    width: 14.25%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_175 {
    left: 52.42%;
    top: 32.41%;
    width: 14.25%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_176 {
    left: 66.75%;
    top: 28.05%;
    width: 14.17%;
    height: 1.473%;
    text-align: right;
    font-size: 12px;
  }
  .obj_177 {
    left: 66.75%;
    top: 29.58%;
    width: 14.17%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_178 {
    left: 66.75%;
    top: 31%;
    width: 14.17%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_179 {
    left: 66.75%;
    top: 32.41%;
    width: 14.17%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_180 {
    left: 81.17%;
    top: 28.05%;
    width: 15.33%;
    height: 1.473%;
    text-align: right;
    font-size: 12px;
  }
  .obj_181 {
    left: 81.17%;
    top: 29.58%;
    width: 15.33%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_182 {
    left: 81.17%;
    top: 31%;
    width: 15.33%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_183 {
    left: 81.17%;
    top: 32.41%;
    width: 15.33%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
  .obj_184 {
    left: 55.58%;
    top: 33.82%;
    width: 11.08%;
    height: 2.062%;
    text-align: right;
    font-size: 12px;
  }
  .obj_185 {
    left: 70%;
    top: 33.82%;
    width: 10.92%;
    height: 2.062%;
    text-align: right;
    font-size: 12px;
  }
  .obj_186 {
    left: 84.25%;
    top: 33.82%;
    width: 12.25%;
    height: 2.062%;
    text-align: right;
    font-size: 12px;
  }
  .obj_187 {
    left: 84.67%;
    top: 50.97%;
    width: 11.83%;
    height: 1.355%;
    text-align: right;
    font-size: 12px;
  }
}
