.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.accountClassFilter {
  width: 30%;
  margin-left: 18px;
  z-index: 2;
}

.accountClassFilterLabel {
  margin-left: 4px;
  margin-top: 5px;
}

.headerRightButton {
  display: flex;
  height: 34px;
  margin-right: 26px;
  margin-bottom: 0px;
}