@import "assets/colors/colors.scss";

.trackingOcr__container {
  height: auto;
  overflow: hidden;
  border-radius: 0px 2px 2px 2px;
  box-shadow: 2px 2px 4px 0 $box-shadow;
  background-color: $white;
}

.trackingOcr__headerUp {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.trackingOcr__headerU-title {
  margin-top:20px;
  margin-left: 15px;
}

.trackingOcr__headerUp-button {
  margin-top: 8px;
  margin-right: 20px;
  font-size: 10px;
}

.trackingOcr__headerDown {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.trackingOcr__headerDown-search {
  display: flex;
  flex-direction: row;
  width: 200px;
  margin-left: 15px;
  margin-top: 20px;
  color: $black;
}
.trackingOcr__headerDown-search-icon {
  position: relative;
  right: 18px;
  bottom: -22px;
}

.trackingOcr__headerDown-date {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 20px;
}

.trackingOcr__headerDown-date-from {
  width: 160px;
  margin-right: 15px;
}

.trackingOcr__headerDown-date-to {
  width: 160px;
  margin-right: 20px;
}

.trackingOcr__headerDown-society {
  width: 256px;
  margin-right: 20px;
  margin-top:29px;
}

.trackingOcr__headerDown-radioButtons-title {
  color: $light-500-grey;
  font-size: 14px;
}

.trackingOcr__headerDown-docSent {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  margin-top: 16px;
}

.trackingOcr__headerDown-radioButton {
  display: flex;
  flex-direction: row;
}

.trackingOcr__headerDown-radioButton-label {
  color: $black;
  font-size: 14px;
  margin-top:14px;
}

.trackingOcr__headerDown-ButtonContainer {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-right: 10px;
}

.trackingOcr__table {
  height: 620px;
  margin : 26px 29px 20px 20px;
  overflow: auto;
}

.trackingOcr__table-header {
  position: sticky;
  top: 0;
  background-color: $white;
}

.trackingOcr__table-body {
  overflow: auto;
}

.trackingOcr__table-footer {
  position: sticky;
  bottom: 0;
  background-color: $white;
}

.trackingOcr__table-title {
  font-family: "basier_circlemedium";
  color: $black;
}

.trackingOcr__table-label {
  display: flex;
  flex-direction: row;
  font-family: "basier_circleregular";
  font-size: 12px;
  color: $white;
}

.trackingOcr__table-amount {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: "basier_circleregular";
  font-size: 14px;
  color: $black;
}

.trackingOcr__table-sendBy {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

.trackingOcr__table-status {
  display: flex;
  flex-direction: row;

}

.trackingOcr__table-status-string {
  padding-left: 12px;
  font-size: 14px;
}

.trackingOcr__table-status-label {
  font-family: "basier_circlemedium";
  margin: 0px;
  color: $black;
}

.trackingOcr__table-status-icon-error {
  width: 24px;
  height: 24px;
  color: $color-error;
}

.trackingOcr__table-status-icon-notRecognized {
  width: 24px;
  height: 24px;
  color: $color-error;
}

.trackingOcr__table-status-icon-ocrRunning {
  width: 24px;
  height: 24px;
  color: $color-tertiary;
}

.trackingOcr__table-status-icon-done {
  width: 24px;
  height: 24px;
  color: $color-primary;
}

.trackingOcr__table-date {
  font-size: 10px;
  color: $light-500-grey;
  margin: 0px;
}

.trackingOcr__table-sendByName {
  font-size: 14px;
  color: $black;
  margin: 0px;
}
