.form-tax-declaration-2033e {
  .pdf-page input::-webkit-outer-spin-button, .pdf-page input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0
  }

  .pdf-page ::selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page ::-moz-selection {
    background: rgba(0, 100, 255, 0.3)
  }

  .pdf-page {
    background-color: white;
    display: block;
    width: 100%;
    overflow: hidden
  }

  .pdf-page .pdf-page-inner {
    transform-origin: 0 0;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page-text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute
  }

  .pdf-page-annots {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    pointer-events: none
  }

  .pdf-page-text div {
    position: absolute;
    display: block
  }

  .pdf-obj-fixed span {
    padding: 0;
    margin: 0;
    cursor: text;
    color: transparent;
    font-family: sans-serif;
    direction: ltr;
    white-space: nowrap;
    text-shadow: none
  }

  .pdf-page .pdf-obj-fixed {
    display: block;
    position: absolute;
    box-sizing: border-box
  }

  .pdf-page .ff-ss {
    font-family: sans-serif
  }

  .pdf-page .ff-s {
    font-family: serif
  }

  .pdf-page .ff-m {
    font-family: monospace
  }

  .pdf-page .acroform-field {
    background-color: rgba(210, 230, 250, 0.29);
    border: 0;
    pointer-events: auto
  }

  .pdf-page .pdf-annot {
    pointer-events: auto
  }

  .pdf-page textarea {
    resize: none;
    padding: 0
  }

  .pdf-page input {
    padding: 0
  }

  .pdf-page select {
    padding: 0
  }

  .pdf-page.responsive select {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive input[type=checkbox] {
    min-width: 20px
  }

  .pdf-page.responsive textarea {
    padding: 0 1px;
    min-width: 100px
  }

  .pdf-page.responsive {
    text-align: left
  }

  .pdf-page.responsive p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0
  }

  .pdf-page.responsive .aleft {
    text-align: left
  }

  .pdf-page.responsive .aright {
    text-align: right
  }

  .pdf-page.responsive .acenter {
    text-align: center
  }

  .pdf-page.responsive .atop {
    vertical-align: top
  }

  .pdf-page.responsive .abottom {
    vertical-align: bottom
  }

  .pdf-page.responsive .amiddle {
    vertical-align: middle
  }

  .pdf-page.responsive .pde-table {
    overflow-x: auto;
    margin: .3em 0 .7em 0;
    padding-right: 1px;
    max-width: 100%
  }

  .pdf-page.responsive .pde-text {
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 1px
  }

  .pdf-page.responsive td.bl {
    border-left-width: 1px;
    border-left-style: solid
  }

  .pdf-page.responsive td.br {
    border-right-width: 1px;
    border-right-style: solid
  }

  .pdf-page.responsive td.bt {
    border-top-width: 1px;
    border-top-style: solid
  }

  .pdf-page.responsive td.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid
  }

  .pdf-page.responsive td {
    padding: 5px;
    vertical-align: top
  }

  .pdf-page.responsive {
    font-size: 14px;
    line-height: 1.2
  }

  .pdf-page.responsive {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #000
  }

  .pdf-page.responsive .title {
    font-size: 250%
  }

  .pdf-page.responsive .pde-table-form td {
    padding: 0 1px
  }

  .pdf-page.responsive .dropcap {
    float: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 2px
  }

  .pdf-page.responsive .pde-line {
    display: block;
    height: 1px;
    margin: .3em 0 .7em 0
  }

  .pdf-page.responsive table {
    font-size: 90%
  }

  .pdf-page.responsive table p {
    font-size: inherit
  }

  .pdf-page.responsive table .pde-text {
    margin: 0
  }

  .pdf-page.responsive table .pde-image {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%
  }

  .pdf-page.responsive .pde-image {
    max-width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pdf-page.responsive .pde-image-inner {
    background-repeat: no-repeat;
    background-size: contain
  }

  .pdf-page.responsive .pde-image-childs {
    width: 100%;
    height: 100%
  }

  .pdf-page.responsive .pde-image img {
    max-width: 100%
  }

  .pdf-page.responsive .pde-rect {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .pdf-page.responsive .pde-rect-inner {
    padding: 5px
  }

  .pdf-page h1, .pdf-page h2, .pdf-page h3, .pdf-page h4 {
    font-weight: inherit;
    line-height: 1.2
  }

  .pdf-page.responsive h1 {
    font-size: 210%
  }

  .pdf-page.responsive h2 {
    font-size: 180%
  }

  .pdf-page.responsive h3 {
    font-size: 130%
  }

  .pdf-page.responsive h4 {
    font-size: 120%
  }

  .pdf-page.responsive small, .font_small {
    font-size: 80%
  }

  .pdf-page.responsive.table h1, .pdf-page.responsive.table h2, .pdf-page.responsive.table h3, .pdf-page.responsive.table h4 {
    margin: 0
  }

  .pdf-page.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  .pde-image-float {
    float: left;
    margin-right: 10px
  }

  .pdf-clear-float {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
  }

  .pdf-page-0 {
    width: 1200px;
    height: 1552px;
    background-image: url(page0.jpg);
  }

  .obj_1 {
    left: 86.75%;
    top: 8.376%;
    width: 1.917%;
    height: 1.353%;
    margin: 0px 0px 0px 0px;
  }

  .obj_2 {
    left: 82.42%;
    top: 73.58%;
    width: 8.917%;
    height: 2.706%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_3 {
    left: 53.58%;
    top: 81.12%;
    width: 3.083%;
    height: 1.869%;
    margin: 0px 0px 0px 0px;
  }

  .obj_4 {
    left: 47.33%;
    top: 82.93%;
    width: 14.17%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_5 {
    left: 82.42%;
    top: 82.93%;
    width: 8.917%;
    height: 1.804%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_6 {
    left: 43.33%;
    top: 86.6%;
    width: 22.5%;
    height: 1.997%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_7 {
    left: 68.92%;
    top: 86.47%;
    width: 22.42%;
    height: 2.126%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_8 {
    left: 69.08%;
    top: 88.6%;
    width: 22.42%;
    height: 2.126%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_9 {
    left: 82.58%;
    top: 84.92%;
    width: 8.75%;
    height: 1.611%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_10 {
    left: 82.42%;
    top: 70.04%;
    width: 8.917%;
    height: 1.611%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_11 {
    left: 82.42%;
    top: 66.62%;
    width: 8.917%;
    height: 1.611%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_12 {
    left: 82.42%;
    top: 64.88%;
    width: 8.917%;
    height: 1.546%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_13 {
    left: 82.42%;
    top: 62.18%;
    width: 8.917%;
    height: 2.513%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_14 {
    left: 82.42%;
    top: 60.44%;
    width: 8.917%;
    height: 1.611%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_15 {
    left: 82.42%;
    top: 58.7%;
    width: 8.917%;
    height: 1.546%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_16 {
    left: 82.42%;
    top: 56.89%;
    width: 8.917%;
    height: 1.611%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_17 {
    left: 82.42%;
    top: 52.32%;
    width: 8.917%;
    height: 1.611%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_18 {
    left: 82.42%;
    top: 54.12%;
    width: 8.917%;
    height: 2.577%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_19 {
    left: 82.42%;
    top: 50.58%;
    width: 8.917%;
    height: 1.611%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_20 {
    left: 82.42%;
    top: 48.84%;
    width: 8.917%;
    height: 1.546%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_21 {
    left: 82.42%;
    top: 45.04%;
    width: 8.917%;
    height: 1.611%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_22 {
    left: 82.42%;
    top: 43.43%;
    width: 8.917%;
    height: 1.418%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_23 {
    left: 82.42%;
    top: 41.62%;
    width: 8.917%;
    height: 1.611%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_24 {
    left: 82.42%;
    top: 39.88%;
    width: 8.917%;
    height: 1.546%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_25 {
    left: 82.42%;
    top: 38.08%;
    width: 8.917%;
    height: 1.611%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_26 {
    left: 82.42%;
    top: 36.34%;
    width: 8.917%;
    height: 1.546%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_27 {
    left: 82.42%;
    top: 34.54%;
    width: 8.917%;
    height: 1.611%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_28 {
    left: 82.42%;
    top: 31.06%;
    width: 8.917%;
    height: 1.675%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_29 {
    left: 82.42%;
    top: 29.25%;
    width: 8.917%;
    height: 1.611%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_30 {
    left: 82.42%;
    top: 27.64%;
    width: 8.917%;
    height: 1.546%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_31 {
    left: 82.42%;
    top: 25.84%;
    width: 8.917%;
    height: 1.611%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_32 {
    left: 82.42%;
    top: 24.1%;
    width: 8.917%;
    height: 1.546%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_33 {
    left: 82.42%;
    top: 18.75%;
    width: 8.917%;
    height: 1.611%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_34 {
    left: 82.42%;
    top: 17.14%;
    width: 8.917%;
    height: 1.546%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_35 {
    left: 82.42%;
    top: 15.4%;
    width: 8.917%;
    height: 1.546%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_36 {
    left: 82.42%;
    top: 13.6%;
    width: 8.917%;
    height: 1.611%;
    text-align: right;
    font-size: 12.000000px;
  }

  .obj_37 {
    left: 23.75%;
    top: 7.99%;
    width: 39.5%;
    height: 1.289%;
    font-size: 12.000000px;
  }

  .obj_38 {
    left: 19%;
    top: 10.12%;
    width: 10.25%;
    height: 1.095%;
    font-size: 12.000000px;
  }

  .obj_39 {
    left: 35.17%;
    top: 10.12%;
    width: 10%;
    height: 1.16%;
    font-size: 12.000000px;
  }

  .obj_40 {
    left: 85.83%;
    top: 10.18%;
    width: 5.333%;
    height: 1.546%;
    font-size: 12.000000px;
  }

  .pdf-page input {
    text-align: right;
    padding-right: 7px;
  }

  .pdf-page input.pde-form-field-text {
    text-align: left;
    padding-left: 7px;
  }
  //date picker input
  .date-picker-input_style input {
    letter-spacing: 1.1em;
    font-weight: bold;
  }

}
