@import "assets/colors/colors.scss";

td, th {
  &.isAmount {
    padding-right: 10px;

    text-align: right;
  }

  &.isCentered {
    text-align: center;
  }

  &.paddingLeft {
    padding-left: 10px;
  }
}
