.column {
  background-color: #0bd1d1;
  div {
    display: inline-block;
    max-width: 140px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    background-color: #0bd1d1;
  }
}