@import "assets/colors/colors.scss";

button {
  &.button {
    width: 100%;
    min-height: 40px;
  }

  &.modify {
    border-style: none;
  
    background-color: white;
    color: $color-primary;
  
    text-decoration: underline;
  }

  &.isAmount {
    justify-content: flex-end;
  }
}

.isAmount {
  padding-right: 10px;
  text-align: right;
}

.paddingLeft {
  padding-left: 10px;
}
.inlineFlex {
  display: inline-flex;
  vertical-align: middle;
}
