@import 'assets/colors/colors.scss';

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: flex-start;
}

.button {
  padding: 5px 10.8px;
  min-width: initial;
}

.formControl {
  margin-right: 30px;
}

.selectorContainer {
  display: flex;
}

.selectFieldContainer {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: space-between;

  > :not(:last-child) {
    margin-right: 20px;
  }

  .field {
    width: 200px;
    margin-top: 0 !important;
  }

  .splitToolbar {
    margin-left: auto;
  }
}

.dateFieldContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
}

.periodContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.newContainer {
  display: flex;
  flex-direction: column;
}

.newRow {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.selectField {
  width: 150px;
  margin-left: 22px;
}

.exercice {
  margin-left: 20px;
}

.inlineButtonsContainer {
  width: 200px;
  margin-top: 18px;
}
