@import "assets/colors/colors.scss";

.textFieldDialog {
  padding: 35px;
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.textFieldDialog__title {
  font-family: basier_circlemedium;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $black;
}

.textFieldDialog__dialog {
  display: flex;
  justify-content: center;
}
.textFieldDialog__button {
  display: flex;
  justify-content: center;
  margin-top:50px;
  margin-bottom:50px;
}

.textFieldDialog__buttonValidate {
  margin-left: 5px;
}

.textFieldDialog__buttonCancel {
  margin-right: 5px;
}
