.row {
  max-width: 360px;
  margin-bottom: 34px;
  &_ib {
    display: flex;
    align-items: flex-end;
    > label {
      margin-right: 0;
    }
  }
}
.menuItems {
  width: 100%;
  margin-right: 16px;
  [class*="MuiListItem"][class*="button"] {
    white-space: pre-wrap;
    height: auto;
  }
  [class*="AutoComplete-valueContainer"] {
    max-width: 100%;
  }

  &_disabled {
    pointer-events: none;
  }
}

.paramsBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.param {
  margin: 10px 0;
}
