@import "assets/colors/colors.scss";

.container {
  overflow: auto;
  border-radius: 0 2px 2px 2px;
  box-shadow: 2px 2px 4px 0 $box-shadow;
  background-color: $white;
  padding: 10px;
  height: 90%;
}

.typeField {
  width: 220px;
  margin-right: 20px;
}

.filtersRow {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 20px;
}

.headerTitle {
  margin-top:15px;
  margin-left: 10px;
  margin-bottom: 20px;
}
