@import "assets/theme/scrollbtns.scss";

.container {
  position: relative
}

.pdfContainer {
  overflow-x: auto;

  .pdf {
    transform-origin: top left;
    min-width: 1200px;
  }
}

.ciRefundHeaderWrap {
  position: sticky;
  top: 46px;
  z-index: 1;
}

.tabs {
  background-color: #f5f5f5;
}

.tab {
  padding: 6px 0;
  width: fit-content !important;
  min-width: 70px!important;
  margin: 0 10px!important;
  span {
    padding: 0;
    width: fit-content;
  }
}
