@import 'assets/colors/colors.scss';

.container {
  .controls {
    display: flex;
    justify-content: flex-end;
  }

  .valueCell {
    padding: 8px 4px;
  }

  .resultCell {
    font-size: 14px;
    font-weight: 500;
    border: 1px solid $color-primary;
    border-radius: 2px;
    text-align: right;
    padding: 7px 13px;
  }

  .noBorderCell {
    border: none;
  }

  .resultLabelCell {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: right;
    padding-right: 20px;
    border: none;
  }

  .alignRight {
    text-align: right;
  }

  .scrollable {
    overflow-x: auto;
    // padding: 1px;
  }

  .splitSelected {
    box-shadow: $color-primary 0 0 8px inset;
  }
}
