@import 'assets/colors/colors.scss';

.globalContainer {
  background-color: $white;
}

.bodyContainer {
  margin-top: 10px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  margin-top: 10px 20px;
  justify-content: space-between;
  background-color: $white;
  padding: 20px;
}

.row {
  background-color: $white;
  align-items: flex-end;
  display: flex;
  margin: 20px 0;

  > div {
    margin-right: 20px;
  }
}

.select {
  display: flex;
  justify-content: space-between;
}

.ownerCompanyRow {
  margin: 20px 14px;
  padding: 10px;
  display: flex;
}

.associates {
  padding: 20px;
}

.error {
  padding-left: 20px;
}

.comingSoon {
  padding-left: 20px;
}

.autocomplete {
  background-color: $white;
  align-items: flex-end;
  display: flex;
  margin: 20px 0;

  > div {
    margin-right: 20px;
    width: 250px;
  }
}
